<% registro = camposDP.find(n => n.nombreDelCampo == campo) %>
<section class="label-input">
	<label><%= registro.titulo %></label>
	<div class="input-error">
		<!-- Input -->
		<select name="<%= campo %>" class="input <%- registro.angosto ? 'angosto' : '' %>" autofocus>
			<option value="" class="ocultar" <% if (!dataEntry[campo]) { %>selected<% } %>>Elegí<%- !registro.angosto ? ' una opción' : '' %></option>
			<% for (let valor of registro.valores) { %>
				<option value="<%= valor.id %>" 
					class="
						<% // Si es una sub-categoría, coloca la categoría_id en la clase %> 
						<% if (campo == "subcategoria_id") { %><%= (valor.cfc ? 'CFC ' : '') + (valor.vpc ? 'VPC ' : '')  %><% } %>
						<% // Si es una colección, quita el 'parcial' para las películas %>
						<% if ((campo == "en_castellano_id" || campo == "en_color_id") && dataEntry.entidad == "peliculas"  && valor.id == 2) { %><%= 'ocultar' %><% } %>
					"
					<% // Agregar como selected si el valor de la opción coincide con el data-entry %> 
					<% if (dataEntry[campo] == valor.id) { %>selected<% } %>
				>
					<%= valor[nombre] %>
				</option>
			<% } %>
		</select>
		<!-- Ayuda -->
		<i class="fa-solid fa-circle-question"></i>
		<ul type="dots" class="mensajeAyuda ocultar">
			<% if (!registro.mensajes) {registro.mensajes = (dataEntry.entidad == "peliculas") ? registro.mensajePeli : registro.mensajeColec} %>
			<% for (let mensaje of registro.mensajes) { %><li><%= mensaje %></li><% } %> 
		</ul>
		<!-- Errores -->
		<i class="fa-solid fa-circle-xmark ocultar">
			<span class="mensajeError"></span>
		</i>
		<i class="fa-solid fa-circle-check ocultar" style="display: none;"></i>
	</div>
</section>
