<% registro = camposDP.find(n => n.nombreDelCampo == campo) %>
<section class="label-input<% if (registro.grupo=="RCLV") { %> ocultar RCLV<% } %>">
	<label><%= registro.titulo %></label>
	<div class="input-error">
		<!-- Input -->
		<select name="<%= campo %>" class="input <%- registro.angosto ? 'angosto' : '' %> <%- registro.grupo=="RCLV" ? 'RCLV' : '' %>" <% if (dataEntry[campo] && !errores[campo]) { %>disabled<% } else { %>autofocus<% } %>>
			<option value="" class="ocultar" <% if (!dataEntry[campo]) { %>selected<% } %>>Elegí<%- !registro.angosto ? ' una opción' : '' %></option>
			<% for (let valor of registro.valores) { %>
				<option value="<%= valor.id %>" 
					class="
						<% // Si es una sub-categoría, coloca la categoría_id en la clase %> 
						<% if (campo == "subcategoria_id") { %><%= valor.categoria_id %>
						<% // Si es una colección, quita el 'parcial' para las películas %>
						<% } else if ((campo == "en_castellano_id" || campo == "en_color_id") && dataEntry.entidad == "peliculas"  && valor.id == 2) { %><%= 'ocultar' %>
						<% // Si es un RCLV, toma acciones  %> 
						<% } else if (registro.grupo == "RCLV") { %>
							<%= 'RCLV ' %>
							<% // Ocultar la opción de 'Ninguno', y si no es una colección 'Varios (colección)' %>
							<% if (valor.id == 1 || (dataEntry.entidad != "colecciones" && valor.id == 2)) { %><%= "ocultar" %>
							<% } else { %><%= 'cfc' + valor.subcat_cfc_id + ' vpc' + valor.subcat_vpc_id %>
							<% } %>
						<% } %>
					"
					<% if (dataEntry[campo] == valor.id) { %>selected<% } %>
				>
					<%= valor[nombre] %>
				</option>
				<!-- Agregar como selected si el valor de la opción coincide con el data-entry -->
				<!-- Agregar el valor de la categoría como clase -->
				<!-- Ocultar casos de parcial para idioma y color de películas -->
			<% } %>
		</select>
		<!-- Ayuda -->
		<i class="fa-solid fa-circle-question"></i>
		<ul type="dots" class="mensajeAyuda ocultar">
			<% if (registro.mensajePeli) {registro.mensajes = (dataEntry.entidad == "peliculas") ? registro.mensajePeli : registro.mensajeColec} %>
			<% for (let mensaje of registro.mensajes) { %><li><%= mensaje %></li><% } %> 
		</ul>
		<!-- Errores -->
		<i class="fa-solid fa-circle-xmark<%- !errores[campo] ? ' ocultar' : '' %>">
			<span class="mensajeError"><%= errores[campo] %></span>
		</i>
		<i class="fa-solid fa-circle-check ocultar" style="display: none;"></i>
		<!-- Link a Relación con la vida -->
		<% if (registro.grupo=="RCLV") { %>
			<i class="linkRCLV fa-solid fa-circle-plus alta <%= campo %>" title='Agregar "<%= registro.titulo.toLowerCase() %>"'></i>
			<i class="linkRCLV fa-solid fa-square-pen edicion inactivo <%= campo %>" title='Editar "<%= registro.titulo.toLowerCase() %>"'></i>
		<% } %>
	</div>
</section>
