<%- include('0-Head') %>
<body>
  <%- include('1-Header') %>
  <main class="flex-row">
    <%- include('ImagenDerecha') %>
    <section id="main-y-footer" class="flex-col grow">
      <%- include('3-Footer') %>
<!--**************************** CUERPO ******************************-->
  <% console.log(nombre) %>     
  <%- include( '1-Acerca-de-Nosotros' ) %>
<!--****************************** FIN *******************************-->
    </section>
  </main>
</body>
</html>