<!-- Inicio -->
<% if (codigo == "inicio") { %><!-- Inicio --><%- include("IN-Inicio") %>

<!-- Institucional -->
<% } else { %>
    <div id="tituloPrincipal">
        <h1 id="titulo"><%= titulo %></h1>
    </div>
    <div id="cuadro-de-texto">
        <% if (codigo == "quienesSomos")    { %><%- include("IN1-QuienesSomos")  %><% } %>
        <% if (codigo == "misionVision")    { %><%- include("IN2-MisionVision")  %><% } %>
        <% if (codigo == "enQueConsiste")   { %><%- include("IN3-EnQueConsiste")       %><% } %>
        <% if (codigo == "nuestrosValores") { %><%- include("IN4-Valores")       %><% } %>
        <% if (codigo == "derechosAutor")   { %><%- include("IN5-DerechosAutor") %><% } %>
        <% if (codigo == "dataEntry")       { %><%- include("IN6-DataEntry")     %><% } %>
    </div>
<% } %>
