<div id="menu-pelis" class="dropdown-content">
  <a href="/peliculas/detalle/informacion/<%= IDpeli %>">Información General</a>
  <a href="/peliculas/detalle/mirar/<%= IDpeli %>">Mirar la Película</a>
  <a href="/peliculas/detalle/trailer/<%= IDpeli %>">Mirar el Trailer</a>
  <a href="/peliculas/detalle/calificar/<%= IDpeli %>">Calificala</a>
  <hr class="linea_divisoria">
  <a href="/peliculas/detalle/editar/<%= IDpeli %>">Editar</a>
  <a href="/peliculas/detalle/eliminar/<%= IDpeli %>">Eliminar</a>
</div>