<!-- Muestra la Imagen -->
<% let ruta, titulo, destino, cartelRCLV, hoyLocal, RCLV_entidad %>
<div id="imgDerecha">
	<% if (locals.tema == "institucional") { %>
		<!-- Imagen Institucional -->
		<% ruta = imgInstitucional %>
		<% titulo = "ELC-Películas" %>
	<% } %>
	<% if (!ruta && locals.imgDerPers) { %>
		<!-- Imagen personalizada -->
		<% ruta = imgDerPers %>
	<% } %>
	<% if (!ruta) { %>
		<!-- Imagen Diaria -->
		<% const ahora = new Date() %>
		<% const diaLocal = ("0" + ahora.getDate()).slice(-2) %>
		<% const mesLocal = mesesAbrev[ahora.getMonth()] %>
		<% const anoLocal = ahora.getFullYear().toString().slice(-2) %>
		<% hoyLocal = diaLocal + "-" + mesLocal + "-" + anoLocal %>
		<% const RCLV_id = ImagenesDerecha[hoyLocal].id %>
		<% RCLV_entidad = ImagenesDerecha[hoyLocal].entidad %>
		<% destino = RCLV_entidad && RCLV_id ? ("/rclv/detalle/?entidad=" + RCLV_entidad + "&id=" + RCLV_id) : null %>
		<% if (destino && locals.tema == "consultas" && locals.codigo == "tableroControl") cartelRCLV = true %>
		<% ruta = "/publico/imagenes/ImagenDerecha/" + hoyLocal + ".jpg" %>
		<% titulo = ImagenesDerecha[hoyLocal].titulo %>
	<% } %>

	<% if (destino && !cartelRCLV) { %>
		<!-- Publica la imagen con RCLV -->
		<a href="<%= destino %>" tabindex="-1">
			<img src="<%= ruta %>" title="Hoy se recuerda a <%= titulo %>">
		</a>
	<% } else { %>
		<!-- Publica la imagen sin RCLV -->
		<img src="<%= ruta %>" title="<%= titulo %>">
	<% } %>

	<!-- Accesorios -->
	<% if (locals.tema == "prodRud" && codigo == "detalle") { %>
		<%- include('PR1-Detalle-2Links') %>
	<% } %>
	<% if (cartelRCLV) { %>
		<%- include("CN-CartelRCLV", {hoyLocal, destino, RCLV_entidad}) %>
	<% } %>
	<% if (locals.iconosMobile) { %>
		<div id="sectorIconos">
			<%- include("Iconos-5Mobile") %>
		</div>
	<% } %>
</div>
