<%- include('0-Head') %>
<body>
  <%- include('1-Header') %>
  <main class="flex-row">
    <%- include('9-ImagenDerecha') %>
    <section id="main-y-footer" class="flex-col grow">
      <%- include('3-Footer') %>
<!--**************************** CUERPO ******************************-->
      <%- titulo == "Login"              ? include('1-5LoginForm') : "" %>
      <%- titulo == "Registro de Mail"   ? include('1-1RegistroMailForm') : "" %>
      <%- titulo == "Registro de Nombre" ? include('1-2RegistroNombreForm') : "" %>
<!--****************************** FIN *******************************-->
    </section>
  </main>
</body>
</html>