<%- include('0-Head') %>
<body>
  <%- include('1-Header') %>
  <main class="flex-row">
    <%- include('9-ImagenDerecha') %>
    <section id="main-y-footer" class="flex-col grow">
      <%- include('3-Footer') %>
<!--**************************** CUERPO ******************************-->
      <section id="usuariosForm" class="flex-col">
        <p id="tapar-el-fondo"></p>
        <%- titulo == "Login"              ? include('1-5LoginForm') : "" %>
        <%- titulo == "Registro de Mail"   ? include('1-1RegistroMailForm') : "" %>
        <%- titulo == "Registro de Nombre" ? include('1-2RegistroNombreForm') : "" %>
        <%- titulo == "Registro de Sobrenombre" ? include('1-3RegistroSobrenombreForm') : "" %>
      </section>
      <!--****************************** FIN *******************************-->
    </section>
  </main>
</body>
</html>

<script>

  function mostrar(n) {
      var cambio = document.getElementById(n);
      if(cambio.type == "password"){
          cambio.type = "text";$('#eye').removeClass('fa-eye-slash').addClass('fa-eye');
      }else{
          cambio.type = "password";$('#eye').removeClass('fa-eye').addClass('fa-eye-slash');
      }
  }

  function retroceder() {
      window.history.back();
  }

  function fileName() {
    let n = document.getElementById("imagen").value;
    n = n.slice(n.lastIndexOf('\\')+1);
    document.getElementById("filename").innerHTML = n;
  }

</script>
