<%- include('0-Head') %>
<body>
<%- include('1-Header') %>
<main class="flex-row">
	<%- include('ImagenDerecha') %>
	<section id="main-y-footer" class="flex-col grow">
	<%- include('3-Footer') %>
<!--**************************** CUERPO ******************************-->
	<section id="usuariosForm" class="flex-col">
		<p id="tapar-el-fondo"></p>
		<%- titulo == "Login"              ? include('LoginForm') : "" %>
		<%- titulo == "Registro de Mail"   ? include('1-RegistroMailForm') : "" %>
		<%- titulo == "Registro de Nombre" ? include('2-RegistroNombreForm') : "" %>
		<%- titulo == "Registro de Sobrenombre" ? include('3-RegistroSobrenombreForm') : "" %>
	</section>
	<!--****************************** FIN *******************************-->
	</section>
</main>
</body>
</html>