<form action="<%= link %>" method="POST">
    <h1><%= titulo %></h1>
    <!--Mail y Contraseña-->
    <section class="flex-row">  <!--Mail-->
        <label for="email">E-Mail</label>
        <div class="formulario-grupo">
            <input type="text" class="input" name="email" placeholder="Correo Electrónico"
                value="<%= locals.data_entry ? data_entry.email : null %>">
            <% if (locals.errores && errores.email || usuarioEnBD) { %><i class="fas fa-times-circle"></i><% } %>
            <% if (locals.errores && !errores.email && !usuarioEnBD) { %><i class="fas fa-check-circle"></i><% } %>
        </div>
    </section>
    <div class="criterio flex-col">  <!--Error en el mail-->
        <% if (locals.errores && errores.email) { %>
            <p class="error"><%= errores.email.msg %></p>
        <% } else { %>
            <% if (usuarioEnBD) { %>
                <p class="error">Este mail ya figura en nuestra base de datos</p>
            <% } %>
        <% } %>    
    </div>
    <section class="flex-row">  <!--Contraseña-->
        <label for="contrasena">Contraseña</label>
        <div class="formulario-grupo">
            <input type="password" class="input" name="contrasena" id="contrasena"
                value="<%= locals.data_entry ? data_entry.contrasena : null %>" placeholder="Contraseña">
            <i onclick="mostrar('contrasena')" class="fas fa-eye-slash" id="eye"></i>
            <% if (locals.errores && errores.contrasena) { %><i class="fas fa-times-circle"></i><% } %>
            <% if (locals.errores && !errores.contrasena) { %><i class="fas fa-check-circle"></i><% } %>
        </div>
    </section>
    <div class="criterio flex-col">  <!--Error en la contraseña-->
        <% if (locals.errores && errores.contrasena) { %>
            <p class="error"><%= errores.contrasena.msg %></p>
        <% } else { %>
            <% if (!locals.errores) { %>
                <p>Debe tener de 6 a 12 caracteres</p>
            <% } %>
        <% } %>
    </div>
    <section id="buttons" class="flex-row"><!--Botones-->
        <button type="submit">Aceptar</button>
        <button onclick="retroceder()" type="button">Cancelar</button>
    </section>
</form>   
