<form action="<%= link %>" method="POST">
    <h1><%= titulo %></h1>
    <!--Formulario a completar-->
    <div class="label-input flex-row"><!--Sobrenombre-->
        <label for="sobrenombre">¿Cómo querés <br>que te llamemos?</label>
        <% let sobrenombre=""; if (locals.data_entry) {sobrenombre = data_entry.sobrenombre} else {if (usuario.formSobrenombre) {sobrenombre = usuario.sobrenombre}}%>
        <input type="text" class="input" name="sobrenombre" placeholder="Sobrenombre" value="<%= sobrenombre %>">
    </div>
    <div class="flex-col">  <!--Error en el Sobrenombre-->
        <% if (locals.errores && errores.sobrenombre) { %>
            <p class="criterio error"><%= errores.sobrenombre.msg %></p>
        <% } %>
    </div>
    <div class="label-input flex-row"><!--Pais-->
        <label for="pais">País</label>
        <% let pais=""; if (locals.data_entry) {pais = data_entry.pais} else {if (usuario.formNombre) {pais = usuario.pais}}%>
        <select name="pais" class="input">
            <option value="" <% if (pais=="") {%> selected <%}%>>Elejí un país</option>
            <% for (n of paises) { %>
                <option value="<%= n.sigla %>" <% if (pais==n.sigla) { %> selected <% } %>><%= n.nombre %></option>
            <% } %> 
        </select>
    </div>
    <div class="flex-col">  <!--Error en el Pais-->
        <% if (locals.errores && errores.pais) { %>
            <p class="criterio error"><%= errores.pais.msg %></p>
        <% } %>
    </div>
    <div class="label-input flex-row"><!--Estado eclesial-->
        <label for="estado">Estado eclesial</label>
        <% let estado=""; if (locals.data_entry) {estado = data_entry.estado} else {if (usuario.formNombre) {estado = usuario.estado}}%>
        <select name="estado" class="input">
            <option value="" <% if (estado=="") {%> selected <%}%>>Elejí un estado</option>
            <option value="LA" <% if (pais=="LA") {%> selected <%}%>>Laico</option>
            <option value="LC" <% if (pais=="LC") {%> selected <%}%>>Laico consagrado</option>
            <option value="RC" <% if (pais=="AF") {%> selected <%}%>>Religioso consagrado</option>
            <option value="DP" <% if (pais=="DP") {%> selected <%}%>>Diácono permanente</option>
            <option value="DI" <% if (pais=="DI") {%> selected <%}%>>Diácono</option>
            <option value="SC" <% if (pais=="SC") {%> selected <%}%>>Sacerdote</option>
            <option value="OB" <% if (pais=="OB") {%> selected <%}%>>Obispo</option>
            <option value="CD" <% if (pais=="CD") {%> selected <%}%>>Cardenal</option>
        </select>
    </div>
    <div class="flex-col">  <!--Error en el Estado eclesial-->
        <% if (locals.errores && errores.estado) { %>
            <p class="criterio error"><%= errores.estado.msg %></p>
        <% } %>
    </div>
    <div class="label-input flex-row"><!--Avatar-->
        <label for="avatar">Imagen personal <br>(opcional)</label>

    </div>
    <div class="flex-col">  <!--Error en el Avatar-->
    </div>
    <section id="buttons" class="flex-row"><!--Buttons-->
        <button type="submit">Aceptar</button>
        <button onclick="retroceder()" type="button">Cancelar</button>
    </section>
</form>
