<%- include('0-Head', {titulo: "Registro de Mail"}) %>
<link rel="stylesheet" href="/stylesheets/2-Usuarios/0-General.css">
<link rel="stylesheet" href="/stylesheets/2-Usuarios/1-FormMail.css">
<script src="/javascript/ojitoContrasena.js"></script>
<%- include('0-AntesUS', {titulo: "Registro de Mail"}) %>

<!--**************************** CUERPO ******************************-->
<section id="Form" class="flex-col">
	<p id="tapar-el-fondo"></p>
	<form action="<%= link %>" method="POST">
		<h1>Registro de Mail</h1>
		<section class="label-input flex-row">  <!--E-Mail-->
			<div class="form-grupo">
				<input type="text" class="input" name="email" placeholder="Ingresá tu Correo Electrónico" value="">
				<% if (locals.errores && errores.email) { %><i class="fas fa-times-circle"><span class="mensajeError"><%= errores.email.msg %> </span></i><% } %>
			</div>
		</section>
		<section id="buttons" class="flex-row"><!--Botones-->
			<button type="submit">Aceptar</button>
			<a href="<%= locals.urlReferencia %>"><button type="button">Cancelar</button></a>
		</section>
	</form>
</section>
<!--****************************** FIN *******************************-->
<%- include('0-DespuesUS') %>
