<%- include('0-Head') %>
<body>
  <%- include('1-Header') %>
  <main class="flex-row">
    <%- include('9-ImagenDerecha') %>
    <section id="main-y-footer" class="flex-col grow">
      <%- include('3-Footer') %>
<!--**************************** CUERPO ******************************-->
      <%- include('Partials-Registro-Form') %>
<!--****************************** FIN *******************************-->
    </section>
  </main>
</body>
</html>