<%- include('0-Head') %>
<body>
  <%- include('1-Header') %>
  <main class="flex-row">
    <%- include('4-ImagenDerecha') %>
    <section id="main-y-footer" class="flex-col grow">
      <%- include('3-Footer') %>
<!--**************************** CUERPO ******************************-->
      <%- titulo == "Login"         ? include('2-Login-form')         : "" %>
      <%- titulo == "Registro"      ? include('3-ABM-usuarios')      : "" %>
<!--****************************** FIN *******************************-->
    </section>
  </main>
</body>
</html>