<form action="<%= link %>" method="POST">
    <h1><%= titulo %></h1>
    <!--Formulario a completar-->
    <div class="label-input flex-row"><!--Nombre-->
        <label for="nombre">Nombre</label>
        <% let nombre=""; if (locals.data_entry) {nombre = data_entry.nombre} else {if (usuario.formNombre) {nombre = usuario.nombre}}%>
        <input type="text" class="input" name="nombre" placeholder="Nombre" value="<%= nombre %>">
    </div>
    <div class="flex-col">  <!--Error en el Nombre-->
        <% if (locals.errores && errores.nombre) { %>
            <p class="criterio error"><%= errores.nombre.msg %></p>
        <% } %>
    </div>
    <div class="label-input flex-row"><!--Apellido-->
        <label for="apellido">Apellido</label>
        <% let apellido=""; if (locals.data_entry) {apellido = data_entry.apellido} else {if (usuario.formNombre) {apellido = usuario.apellido}}%>
        <input type="text" class="input" name="apellido" placeholder="Apellido" value="<%= apellido %>">
    </div>
    <div class="flex-col">  <!--Error en el Apellido-->
        <% if (locals.errores && errores.apellido) { %>
            <p class="criterio error"><%= errores.apellido.msg %></p>
        <% } %>
    </div>
    <div class="label-input flex-row"><!--Genero-->
        <label for="genero">Género</label>
        <% let genero=""; if (locals.data_entry) {genero = data_entry.genero} else {if (usuario.formNombre) {genero = usuario.genero}}%>
        <select name="genero" class="input">
            <option value="" <% if (genero=="") {%> selected <%}%> style="font-style: italic;">Elegí una opción</option>
            <option value="femenino" <% if (genero=="femenino") {%> selected <%}%>>Femenino</option>
            <option value="masculino" <% if (genero=="masculino") {%> selected <%}%>>Masculino</option>
        </select>        
    </div>
    <div class="label-input flex-row"><!--Fecha de Nacimiento-->
        <label for="fechaNacimiento">Fecha de Nacimiento</label>
        <% let fecha=""; if (locals.data_entry) {fecha = data_entry.fechaNacimiento} else {if (usuario.formNombre) {fecha = usuario.fechaNacimiento}}%>
        <input type="date" name="fechaNacimiento" class="input" value="<%= fecha %>">
    </div>
    <div class="flex-col">  <!--Error en la Fecha-->
        <% if (locals.errores && errores.fechaNacimiento) { %>
            <p class="criterio error"><%= errores.fechaNacimiento.msg %></p>
        <% } else { %>
            <% if (!!errorDeAno) { %>
                <p class="criterio error"><%= errorDeAno %></p>
                <% } %>
        <% } %>
    </div>
    <p><%= errorDeAno %> </p>
    <section id="buttons" class="flex-row"><!--Buttons-->
        <button type="submit">Aceptar</button>
        <button onclick="retroceder()" type="button">Cancelar</button>
    </section>
</form>
