<%- include('0-Head', {titulo: "Registro de Datos Editables"}) %>
<link rel="stylesheet" href="/stylesheets/2-Usuarios/0-General.css">
<link rel="stylesheet" href="/stylesheets/2-Usuarios/3-FormEditables.css">
<script src="/javascript/subirImagen.js"></script>
<%- include('0-AntesUS', {titulo: "Registro de Datos Editables"}) %>

<!--***********************************************************-->
<form action="<%= link %>" method="POST" enctype="multipart/form-data">
	<h1>Registro de Datos Editables</h1>
	<!--Formulario a completar-->
	<section class="label-input flex-row"><!--Apodo-->
		<label for="apodo">¿Cómo querés <br>que te llamemos?</label>
		<div class="form-grupo">
			<% let apodo=""; if (locals.data_entry) {apodo = data_entry.apodo} else {if (usuario.formSobrenombre) {apodo = usuario.apodo}}%>
			<input type="text" class="input" name="apodo" placeholder="Sobrenombre" value="<%= apodo %>">
			<% if (locals.errores && errores.apodo) { %><i class="fas fa-times-circle"><span class="mensajeError"><%= errores.apodo.msg %> </span></i><% } %>
			<% if (locals.errores && !errores.apodo) { %><i class="fas fa-check-circle"></i><% } %>	
		</div>
	</section>
	<section class="label-input flex-row"><!--Pais de residencia-->
		<label for="pais">País de residencia</label>
		<div class="form-grupo">
			<% let pais=""; if (locals.data_entry) {pais = data_entry.pais} else {if (usuario.formNombre) {pais = usuario.pais}}%>
			<select name="pais" class="input">
				<option value="" <% if (pais=="") {%> selected <%}%> class="ocultar">Elejí un país</option>
				<% for (n of paises) { %>
					<option value="<%= n.iso_id %>" <% if (pais==n.iso_id) { %> selected <% } %>><%= n.nombre %></option>
				<% } %> 
			</select>
			<% if (locals.errores && errores.pais) { %><i class="fas fa-times-circle"><span class="mensajeError"><%= errores.pais.msg %> </span></i><% } %>
			<% if (locals.errores && !errores.pais) { %><i class="fas fa-check-circle"></i><% } %>
		</div>
	</section>
	<section class="label-input flex-row"><!--Estado de vida en la iglesia-->
		<label for="estado_eclesial">Estado de vida <br>en la iglesia</label>
		<div class="form-grupo">
			<% let estado_eclesial=""; if (locals.data_entry) {estado_eclesial = data_entry.estado_eclesial} else {if (usuario.formNombre) {estado_eclesial = usuario.estado_eclesial}}%>
			<select name="estado_eclesial" class="input">
				<option value="" <% if (estado_eclesial=="") {%> selected <%}%> class="ocultar">Elejí un estado_eclesial</option>
				<% for (n of estados_eclesiales) { %>
					<option value="<%= n.id %>" <% if (estado_eclesial==n.id) { %> selected <% } %>><%= n.nombre %></option>
				<% } %> 
			</select>
			<% if (locals.errores && errores.estado_eclesial) { %><i class="fas fa-times-circle"><span class="mensajeError"><%= errores.estado_eclesial.msg %> </span></i><% } %>
			<% if (locals.errores && !errores.estado_eclesial) { %><i class="fas fa-check-circle"></i><% } %>
				
		</div>
	</section>
	<section class="label-input flex-row"><!--Imagen de perfil-->
		<label>Imagen personal <br>(opcional)</label>
		<div class="form-grupo flex-col" id="divImagen">
			<label for="inputImagen" id="preview"></label>
			<label for="inputImagen" class="input" id="labelImagen">Subí una imagen</label>
			<input name="avatar" type="file" id="inputImagen" accept="image/*">
			<div id="iconoImagenRojo"><% if (locals.errores && errores.avatar) { %><i class="fas fa-times-circle"><span class="mensajeError"><%= errores.avatar.msg %> </span></i><% } %></div>
			<div id="iconoImagenVerde" class="ocultar"><i class="fas fa-check-circle"></i></div>
		</div>
	</section>
	<section id="buttons" class="flex-row"><!--Buttons-->
		<button type="submit">Aceptar</button>
		<button onclick="retroceder()" type="button">Cancelar</button>
	</section>
</form>
<%- include('0-DespuesUS') %>
