<section id="login" class="flex-col">
    <p id="tapar-el-fondo"></p>
    <form action="<%= proximolink %>" method="POST" class="flex-col">
        <h1><%= titulo %></h1>
         <!--Mail y Contraseña-->
        <section class="flex-col">  <!--Mail-->
            <div class="formulario-grupo flex-col">
                <input type="text" class="input" name="email" placeholder="Correo Electrónico"
                    value="<%= locals.data_entry ? data_entry.email : null %>">
                <% if (locals.errores && errores.email || usuarioEnBD) { %><i class="fas fa-times-circle"></i><% } %>
                <% if (locals.errores && !errores.email && !usuarioEnBD) { %><i class="fas fa-check-circle"></i><% } %>
            </div>
            <% if (locals.errores && errores.email) { %>
                <p class="criterio input-error"><%= errores.email.msg %></p>
            <% } else { %>
                <% if (usuarioEnBD) { %>
                    <p class="criterio input-error">Este mail ya figura en nuestra base de datos</p>
                <% } else { %>
                    <br>
                <% } %>
            <% } %>
        </section>
        <section class="flex-col">  <!--Contraseña-->
            <div class="formulario-grupo flex-col">
                <input type="password" class="input" name="contrasena" id="contrasena"
                    value="<%= locals.data_entry ? data_entry.contrasena : null %>" placeholder="Contraseña">
                <i onclick="mostrar('contrasena')" class="fas fa-eye-slash" id="eye"></i>
                <% if (locals.errores && errores.contrasena) { %><i class="fas fa-times-circle"></i><% } %>
                <% if (locals.errores && !errores.contrasena) { %><i class="fas fa-check-circle"></i><% } %>
            </div>
            <% if (locals.errores && errores.contrasena) { %>
                <p class="criterio input-error"><%= errores.contrasena.msg %></p>
            <% } else { %>
                <% if (!locals.errores) { %>
                    <p class="criterio">La contraseña debe tener de 6 a 12 caracteres</p>
                <% } else { %>
                    <br>
                <% } %>
            <% } %>
            </div>
        </section>
        <section id="buttons"><!--Botones-->
            <div class="flex-row">
                <button type="submit">Aceptar</button>
                <button type="button">Cancelar</button>
            </div>
        </section>
    </form>   
</section>

<script>
    function mostrar(n) {
        var cambio = document.getElementById(n);
        if(cambio.type == "password"){
            cambio.type = "text";$('#eye').removeClass('fa-eye-slash').addClass('fa-eye');
        }else{
            cambio.type = "password";$('#eye').removeClass('fa-eye').addClass('fa-eye-slash');
        }
    }
</script>

