<% if (regs.length) { %>
	<div class="contenido">
		<h3><%= titulo %> </h3>
		<% for (let reg of regs) { %>
			<p>
				<a href="/revision/<%= url %>/?entidad=<%= reg.entidad %>&id=<%= reg.id %>">
					<%= reg.abrev %> - <%= reg.nombre %>
				</a>
			</p>
		<% } %>	
	</div>
<% } %>