<div class="checkBox flexRow<%- locals.prodEdic ? ' inputError' : '' %>">
	<input
		id="<%= nombre %>"
		<% if (locals.prodEdic) { %>class="input"<% } %>
		type="checkbox"
		name="<%= nombre %>"
		<% if (locals.camposDE && !camposDE.includes(nombre) && nombre == "color" || dataEntry[nombre] == 1) { %>checked<% } %>
	>
	<label for="<%= nombre %>"><%= titulo %></label>
	<% if (locals.prodEdic) { %>
		<!-- Aviso de cambio en el data-entry -->
		<i class="<%= iconos.faSolid %> <%= iconos.edicionCambiada %> ocultar"></i>
	<% } %>
</div>
