<% const campo = camposDA.find(n => n.nombre == nombre) %>
<% const {titulo, valores, grupo} = campo %>
<section id="<%= nombre %>" class="labelInput">
	<label><%= titulo %></label>
	<div class="inputError">
		<!-- Input -->
		<select name="<%= nombre %>" class="input RCLV">
			<optgroup label="Casos Puntuales">
				<% for (let valor of valores.filter(n => n.id < 10)) { %>
					<option value="<%= valor.id %>" class="RCLV" <% if (registro[nombre] == valor.id) { %>selected<% } %>><%= valor.nombre %></option>
				<% } %>
			</optgroup>
			<optgroup label="Listado General">
				<% for (let valor of valores.filter(n => n.id > 10)) { %>
					<option value="<%= valor.id %>" class="RCLV" <% if (registro[nombre] == valor.id) { %>selected<% } %>><%= valor.nombre %></option>
				<% } %>
			</optgroup>
		</select>

		<% if (!campo.mensajes) campo.mensajes = (campo.entidad == "peliculas") ? campo.mensajePeli : campo.mensajeColec %>
		<% if (campo.mensajes) { %><%- include("MN-Ayuda", {mensajes: campo.mensajes}) %><% } %>

		<!-- Link a Relación con la vida -->
		<i id="alta" class="<%= iconos.faSolid %> fa-circle-plus linkRCLV <%= nombre %>" title='Agregar "<%= titulo.toLowerCase() %>"'></i>
		<i id="edicion" class="<%= iconos.faSolid %> fa-square-pen linkRCLV ocultar <%= nombre %>" title='Editar "<%= titulo.toLowerCase() %>"'></i>

		<!-- Aviso de cambio en el data-entry -->
		<i class="<%= iconos.faSolid %> fa-arrow-right-long ocultar"></i>
	</div>
</section>
