<% const campo = camposDA.find(n => n.nombre == nombre) %>
<% const {titulo, valores, angosto} = campo %>
<section class="labelInput">
	<label><%= titulo %></label>
	<div class="inputError">
		<!-- Input -->
		<select name="<%= nombre %>" class="input <%= angosto ? 'angosto ' : '' %>">
			<option value="" <% if (!registro[nombre]) { %>selected<% } %>>Elejí<% if (!angosto) { %> una opción<% } %></option>
			<% for (let valor of valores) { %>
				<option value="<%= valor.id %>" <% if (registro[nombre] == valor.id) { %>selected<% } %>>
					<%= valor.nombre %>
				</option>
			<% } %>
		</select>
		<%- include("P-Ayuda", {campo}) %>
		<%- include("CMP-Errores", {nombre, ocultarOK: true}) %>
		<!-- Aviso de cambio en el data-entry -->
		<i class="fa-solid fa-arrow-right-long ocultar"></i>
	</div>
</section>
