<button type="button" class="titulo">Agregar una película a nuestra Base de Datos</button>
<section class="flex-col" id="data_entry">
	<h1>Paso 1 de 4: Importar Datos</h1>
	<form action="/peliculas/agregar1A" method="POST" class="flex-col">
		<section>
			<h2>Opción de importar datos</h2>
			<p>Debe ser desde las páginas de 
				<a href="https://www.filmaffinity.com/es/main.html">FilmAffinity</a> o 
				<a href="https://es.wikipedia.org/wiki/Wikipedia:Portada">Wikipedia</a>
			</p>
			<div class="relative flex-row">  <!--Pegar la información importada-->
				<input type="text" name="imports" placeholder="Pegá acá la info"
					value="<%= locals.data_entry ? data_entry.imports : null %>">
				<% if (locals.errores && errores.imports) { %>
					<i class="fas fa-times-circle">
						<span class="mensajeError"><%= errores.imports.msg %></span>
					</i>
				<% } %>
				<label for="imports">Pegar la información importada <i class="fas fa-question-circle"></i></label>
			</div>
			<div class="relative flex-row">  <!--Link de la página que provee los datos-->
				<input type="text" name="link" placeholder="Pegá acá el link"
					value="<%= locals.data_entry ? data_entry.link : null %>">
				<% if (locals.errores && errores.link) { %><i class="fas fa-times-circle">
					<span class="mensajeError"><%= errores.link.msg %> </span>
				</i><% } %>
				<label for="link">Link de la página que provee los datos <i class="fas fa-question-circle"></i></label>
			</div>
		</section>
		<button type="submit">Enviar</button>
	</form>
	<hr class="linea_divisoria">
	<form action="/peliculas/agregar1B" method="POST" class="flex-col">
		<section>
			<h2 id="ingresar_los_datos_a_mano">Opción de ingresar los datos a mano</h2>
			<div class="relative flex-row">  <!--Título original-->
				<input type="text" name="titulo_original" placeholder="Título original"
					value="<%= locals.data_entry ? data_entry.titulo_original : null %>">
				<% if (locals.errores && errores.titulo_original) { %><i class="fas fa-times-circle">
					<span class="mensajeError"><%= errores.titulo_original.msg %> </span>
				</i><% } %>
				<label for="titulo_original">Título original de la película <i class="fas fa-question-circle"></i></label>
			</div>
		</section>
		<button type="submit">Enviar</button>
	</form>    
</section>