<section class="flex-row" id="data_entry">
    <div class="flex-col">  <!--Primera columna-->
        <section class="label-input flex-row">  <!--Título original-->
            <label>Título original:</label>
            <div class="formulario-grupo">
                <input type="text" name="titulo_original" placeholder="Título original"
                    value="<%= locals.data_entry ? data_entry.titulo_original : null %>">
                <% if (locals.errores && errores.titulo_original) { %><i class="fas fa-times-circle"></i><% } %>
                <% if (locals.errores && errores.titulo_original) { %><p><%= errores.titulo_original.msg %> </p><% } %>
            </div>
        </section>
        <section class="label-input flex-row">  <!--Título en castellano -->
            <label>Título en castellano:</label>
            <div class="formulario-grupo">
                <input type="text" name="titulo_castellano" placeholder="Título en castellano"
                    value="<%= locals.data_entry ? data_entry.titulo_castellano : null %>">
                <% if (locals.errores && errores.titulo_castellano) { %><i class="fas fa-times-circle"></i><% } %>
            </div>
        </section>
        <section class="label-input flex-row">  <!--Año de estreno-->
            <label>Año de estreno:</label>
            <div class="formulario-grupo">
                <input type="text" class="input-numero" name="ano_estreno" placeholder="sólo números"
                    value="<%= locals.data_entry ? data_entry.ano_estreno : null %>">
                <% if (locals.errores && errores.ano_estreno) { %><i class="fas fa-times-circle"></i><% } %>
                <%// if (locals.errores && errores.ano_estreno) { %><!--p><%//= errores.ano_estreno.msg %> </p--><%// } %>
            </div>
        </section>
        <section class="label-input flex-row">  <!--Duración-->
            <label>Duración (minutos):</label>
            <div class="formulario-grupo">
                <input type="text" class="input-numero" name="duracion" placeholder="en minutos"
                    value="<%= locals.data_entry ? data_entry.duracion : null %>">
                <% if (locals.errores && errores.duracion) { %><i class="fas fa-times-circle"></i><% } %>
            </div>
        </section>
        <section class="label-input flex-row">  <!--País de origen-->
            <label>País de origen:</label>
            <div class="formulario-grupo">
                <input type="text" class="input" name="pais_origen" placeholder=""
                    value="<%= locals.data_entry ? data_entry.pais_origen : null %>">
                <% if (locals.errores && errores.pais_origen) { %><i class="fas fa-times-circle"></i><% } %>
            </div>
        </section>
        <section class="label-input flex-row">  <!--Director-->
            <label>Director:</label>
            <div class="formulario-grupo">
                <input type="text" class="input" name="director" placeholder=""
                    value="<%= locals.data_entry ? data_entry.director : null %>">
                <% if (locals.errores && errores.director) { %><i class="fas fa-times-circle"></i><% } %>
            </div>
        </section>
        <section class="label-input flex-row">  <!--Guión-->
            <label>Guión:</label>
            <div class="formulario-grupo">
                <input type="text" class="input" name="guion" placeholder=""
                    value="<%= locals.data_entry ? data_entry.guion : null %>">
                <% if (locals.errores && errores.guion) { %><i class="fas fa-times-circle"></i><% } %>
            </div>
        </section>
        <section class="label-input flex-row">  <!--Música-->
            <label>Música:</label>
            <div class="formulario-grupo">
                <input type="text" class="input" name="musica" placeholder=""
                    value="<%= locals.data_entry ? data_entry.musica : null %>">
                <% if (locals.errores && errores.musica) { %><i class="fas fa-times-circle"></i><% } %>
            </div>
        </section>
        <section class="label-input flex-row">  <!--Protagonista-->
            <label>Protagonista/s:</label>
            <div class="formulario-grupo">
                <input type="text" class="input" name="protagonista" placeholder=""
                    value="<%= locals.data_entry ? data_entry.protagonista : null %>">
                <% if (locals.errores && errores.protagonista) { %><i class="fas fa-times-circle"></i><% } %>
            </div>
        </section>
        <section class="label-input flex-row">  <!--Resto del Reparto-->
            <label>Resto del Reparto:</label>
            <div class="formulario-grupo">
                <input type="text" class="input" name="reparto" placeholder=""
                    value="<%= locals.data_entry ? data_entry.reparto : null %>">
                <% if (locals.errores && errores.reparto) { %><i class="fas fa-times-circle"></i><% } %>
            </div>
        </section>
        <section class="label-input flex-row">  <!--Productora-->
            <label>Productora:</label>
            <div class="formulario-grupo">
                <input type="text" class="input" name="productora" placeholder=""
                    value="<%= locals.data_entry ? data_entry.productora : null %>">
                <% if (locals.errores && errores.productora) { %><i class="fas fa-times-circle"></i><% } %>
            </div>
        </section>
        <section class="label-input flex-row">  <!--Sinopsis-->
            <label>Sinopsis:</label>
            <div class="formulario-grupo">
                <textarea name="sinopsis" cols="18" rows="1" placeholder="Ingresa aquí la sinopsis" 
                    value="<%= locals.data_entry ? data_entry.sinopsis : null %>"
                ></textarea>
                <% if (locals.errores && errores.sinopsis) { %><i class="fas fa-times-circle"></i><% } %>
            </div>
        </section>
    </div>
    <div id="columnaMedio"></div> <!--Columna del medio-->
    <div class="flex-col">  <!--Segunda columna-->
        <section class="label-input flex-row">  <!--Color-->
            <label>Color o B/N:</label>
            <div class="formulario-grupo">
                <% let color=""; if (locals.data_entry) {color = data_entry.color} else {if (usuario.formNombre) {color = usuario.color}}%>
                <select name="color">
                    <option value="" style="font-style: italic; ">Elegí</option>
                    <option value="SI"  <% if (color=="SI")  {%> selected <%}%>>Color</option>
                    <option value="NO" <% if (color=="NO") {%> selected <%}%>>Blanco y Negro</option>
                </select>
                <% if (locals.errores && errores.color) { %><i class="fas fa-times-circle"></i><% } %>
            </div>
        </section>
        <section class="label-input flex-row">  <!--Idioma Castellano-->
            <label>Idioma Castellano:</label>
            <div class="formulario-grupo">
                <% let idioma_castellano=""; if (locals.data_entry) {idioma_castellano = data_entry.idioma_castellano} else {if (usuario.formNombre) {idioma_castellano = usuario.idioma_castellano}}%>
                <select name="idioma_castellano" <% if (!idioma_castellano) { %>style="font-style: italic;"<% } %>>
                    <option value="" style="font-style: italic; ">Elegí</option>
                    <option value="SI" <% if (idioma_castellano=="SI") {%> selected <%}%>>SI</option>
                    <option value="NO" <% if (idioma_castellano=="NO") {%> selected <%}%>>NO</option>
                </select>
            </div>
        </section>
        <section class="label-input flex-row">  <!--Categoría-->
            <label>Categoría:</label>
            <div class="formulario-grupo">
                <% let categoria=""; if (locals.data_entry) {categoria = data_entry.categoria} else {if (usuario.formNombre) {categoria = usuario.categoria}}%>
                <select name="categoria">
                    <option value="" style="font-style: italic; ">Elegí</option>
                    <option value="CFC"  <% if (categoria=="CFC")  {%> selected <%}%>>CFC</option>
                    <option value="VPC" <% if (categoria=="VPC") {%> selected <%}%>>VPC</option>
                </select>
                <% if (locals.errores && errores.categoria) { %><i class="fas fa-times-circle"></i><% } %>
            </div>
        </section>
        <section class="label-input flex-row">  <!--Sub-categoría-->
            <label>Sub-categoría:</label>
            <div class="formulario-grupo">
                <input type="text" class="input" name="sub_categoria" placeholder=""
                    value="<%= locals.data_entry ? data_entry.sub_categoria : null %>">
                <% if (locals.errores && errores.sub_categoria) { %><i class="fas fa-times-circle"></i><% } %>
            </div>
        </section>
        <section class="label-input flex-row">  <!--Público sugerido-->
            <label>Público sugerido:</label>
            <div class="formulario-grupo">
                <% let publico=""; if (locals.data_entry) {publico = data_entry.publico} else {if (usuario.formNombre) {publico = usuario.publico}}%>
                <select name="publico" <% if (!publico) { %>style="font-style: italic;"<% } %>>
                    <option value="" style="font-style: italic; ">Elegí</option>
                    <option value="MY"  <% if (publico=="MY")  {%> selected <%}%>>Mayores (no ATP)</option>
                    <option value="MYATP" <% if (publico=="MYATP") {%> selected <%}%>>Mayores (ATP)</option>
                    <option value="MN" <% if (publico=="MN") {%> selected <%}%>>Menores</option>
                    <option value="AM" <% if (publico=="AM") {%> selected <%}%>>Mayores y Menores</option>
                </select>
                <% if (locals.errores && errores.publico) { %><i class="fas fa-times-circle"></i><% } %>
            </div>
        </section>
		<section class="label-input flex-col divisor">  <!--Calificación-->
			<label>Tu calificación</label>
			<div class="formulario-grupo flex row">  <!--Inspira fe y/o valores-->
				<p>Inspira fe y/o valores</p>
				<% let fe_valores=""; if (locals.data_entry) {fe_valores = data_entry.fe_valores} else {if (usuario.formNombre) {fe_valores = usuario.fe_valores}}%>
				<select name="fe_valores">
					<option value="" class="display-none">Elegí</option>
					<option value="4" <% if (fe_valores=="4") {%> selected <%}%>>Mucho</option>
					<option value="3" <% if (fe_valores=="3") {%> selected <%}%>>Bastante</option>
					<option value="2" <% if (fe_valores=="2") {%> selected <%}%>>Sí</option>
					<option value="1" <% if (fe_valores=="1") {%> selected <%}%>>Poco</option>
					<option value="0" <% if (fe_valores=="0") {%> selected <%}%>>NO</option>
				</select>
				<% if (locals.errores && errores.fe_valores) { %><i class="fas fa-times-circle">
					<span class="mensajeError"><%= errores.fe_valores.msg %> </span>
				</i><% } %>
			</div>
			<div class="formulario-grupo flex row">  <!--Entretiene-->
				<p>Entretiene</p>
				<% let entretiene=""; if (locals.data_entry) {entretiene = data_entry.entretiene} else {if (usuario.formNombre) {entretiene = usuario.entretiene}}%>
				<select name="entretiene">
					<option value="" class="display-none">Elegí</option>
					<option value="4" <% if (entretiene=="4") {%> selected <%}%>>Mucho</option>
					<option value="3" <% if (entretiene=="3") {%> selected <%}%>>Bastante</option>
					<option value="2" <% if (entretiene=="2") {%> selected <%}%>>Sí</option>
					<option value="1" <% if (entretiene=="1") {%> selected <%}%>>Poco</option>
					<option value="0" <% if (entretiene=="0") {%> selected <%}%>>NO</option>
				</select>
				<% if (locals.errores && errores.entretiene) { %><i class="fas fa-times-circle">
					<span class="mensajeError"><%= errores.entretiene.msg %> </span>
				</i><% } %>
			</div>
			<div class="formulario-grupo flex row">  <!--Calidad Técnica-->
				<p>Calidad Técnica 
					<i class="fas fa-question-circle"><span class="mensajeAyuda">Calidad de la imagen y el sonido</span></i>
				</p>    
				<% let calidadTecnica =""; if (locals.data_entry) {calidadTecnica = data_entry.calidadTecnica} else {if (usuario.formNombre) {calidadTecnica = usuario.calidadTecnica}}%>
				<select name="calidadTecnica">
					<option value="" class="display-none">Elegí</option>
					<option value="3" <% if (calidadTecnica=="3") {%> selected <%}%>>Muy buena</option>
					<option value="2" <% if (calidadTecnica=="2") {%> selected <%}%>>Buena</option>
					<option value="1" <% if (calidadTecnica=="1") {%> selected <%}%>>Regular</option>
					<option value="0" <% if (calidadTecnica=="0") {%> selected <%}%>>Mala</option>
				</select>
				<% if (locals.errores && errores.calidadTecnica) { %><i class="fas fa-times-circle">
					<span class="mensajeError"><%= errores.calidadTecnica.msg %> </span>
				</i><% } %>
			</div>
		</section>
<section class="label-input flex-col divisor">  <!--Links del trailer-->
            <label>Links del trailer:</label>
            <div class="formulario-grupo flex row">  <!--Primer Link-->
                <p>Primer Link:</p>
                <div class="formulario-grupo">
                    <input type="text" name="trailer1" placeholder=""
                        value="<%= locals.data_entry ? data_entry.trailer1 : null %>">
                    <% if (locals.errores && errores.trailer1) { %><i class="fas fa-times-circle"></i><% } %>
                </div>
            </div>
            <div class="formulario-grupo flex row">  <!--Segundo Link-->
                <p>Segundo Link:</p>
                <div class="formulario-grupo">
                    <input type="text" name="trailer2" placeholder=""
                        value="<%= locals.data_entry ? data_entry.trailer2 : null %>">
                    <% if (locals.errores && errores.trailer2) { %><i class="fas fa-times-circle"></i><% } %>
                </div>
            </div>
        </section>
        <section class="label-input flex-col divisor">  <!--Links gratuitos para ver la película-->
            <label>Links gratuitos para ver la película:</label>
            <div class="formulario-grupo flex row">  <!--Primer Link-->
                <p>Primer Link:</p>
                <div class="formulario-grupo">
                    <input type="text" name="pelicula1" placeholder=""
                        value="<%= locals.data_entry ? data_entry.pelicula1 : null %>">
                    <% if (locals.errores && errores.pelicula1) { %><i class="fas fa-times-circle"></i><% } %>
                </div>
            </div>
            <div class="formulario-grupo flex row">  <!--Primer Link-->
                <p>Segundo Link:</p>
                <div class="formulario-grupo">
                    <input type="text" name="pelicula2" placeholder=""
                        value="<%= locals.data_entry ? data_entry.pelicula2 : null %>">
                    <% if (locals.errores && errores.pelicula2) { %><i class="fas fa-times-circle"></i><% } %>
                </div>
            </div>
        </section>
    </div>
</section>
<button type="submit">Enviar</button>