<!DOCTYPE html>
<html lang="es">
<head>
	<%- include('1-Head-Gral') %>
	<%- include('0.1-Head-RUD') %>
</head>
<body>
	<%- include('2-Header') %>
	<main class="flex-row">
		<%- codigo == "detalle" ? include('1-DetalleP1') : "" %>
		<%- codigo == "edicion" ? include('2-EdicionP1') : "" %>
	</main>
</body>
</html>