<section id="imagen">
	<img alt="<%= producto.nombre_castellano %>" src="<%= avatar %>" title="<%= producto.nombre_castellano %>">
</section>
<section id="cuerpo-y-footer">
	<%- include('3-Footer') %>
	<!--**************************** CUERPO ************************-->
	<div id="cuerpo">
		<%- include('2-DetalleP2') %>
	</div>
	<!--****************************** FIN *************************-->
</section>
