<div id="pelis-menu" class="dropdown-content ocultar">
	<a href="/productos/detalle/informacion/<%= ID %>">Información General</a>
	<a href="/productos/detalle/trailer/<%= ID %>">Mirar el Trailer</a>
	<a href="/productos/detalle/mirar/<%= ID %>">Mirar la Película</a>
	<a href="/productos/detalle/calificar/<%= ID %>">Calificala</a>
	<hr>
	<a href="/productos/detalle/editar/<%= ID %>">Editar</a>
	<a href="/productos/detalle/eliminar/<%= ID %>">Sugerir su baja</a>
</div>
