<tr class="edicion crud ocultar inactivo_false">
	<% let aux %>
	<!-- Url -->
	<td class="ancho_url url campo" title="<%= link.url %>">
		<div class="inputError">
			<img src="/imagenes/0-Logos/<%= link.prov.avatar %>" alt="<%= link.prov.nombre %>">
			<input name="url" type="text" class="input ocultar" value="<%= link.url %>">
			<i class="fa-solid fa-circle-xmark ocultar" style="display: none"><span class="mensajeError"></span></i>
			<i class="fa-solid fa-circle-check" style="display: none"></i>
			<i class="fa-solid fa-question prov_id" style="display: none"></i>
		</div>
	</td>
	<!-- Calidad -->
	<td class="ancho_calidad calidad campo">
		<div class="inputError">
			<% aux = link.ediciones.find(n=>n.calidad&&n.editado_por_id!=userID) %> 
			<select name="calidad" class="input <%- aux ? 'rojo' : '' %>" <% if (aux) { %>disabled<% } %>>
				<% for (let calidad of calidades) { %>
					<option value="<%= calidad %>" <%- link.calidad==calidad ? "selected" : "" %>><%= calidad %></option>
				<% } %>
				<option value="1081" <%- link.calidad=="1081" ? "selected" : "" %>>>1080</option>
			</select>
			<!-- Errores -->
			<i class="fa-solid fa-circle-xmark ocultar" style="z-index: 9"><span class="mensajeError"></span></i>
			<i class="fa-solid fa-circle-check ocultar"></i>
		</div>
	</td>
	<!-- Tipo -->
	<td class="ancho_tipo tipo campo">
		<div class="inputError">
			<% aux = link.ediciones.find(n=>n.tipo_id&&n.editado_por_id!=userID) %> 
			<select name="tipo_id" class="input <%- aux ? 'rojo' : '' %>" <% if (aux) { %>disabled<% } %>>
				<option value="<%= links_tipos[0].id %>" <%- link.tipo_id==links_tipos[0].id ? "selected" : "" %>><%= links_tipos[0].nombre %></option>
				<% if (entidad != "colecciones") { %>
					<option value="<%= links_tipos[1].id %>" <%- link.tipo_id==links_tipos[1].id ? "selected" : "" %>><%= links_tipos[1].nombre %></option>
				<% } %>
			</select>
			<!-- Errores -->
			<i class="fa-solid fa-circle-xmark ocultar" style="z-index: 8"><span class="mensajeError"></span></i>
			<i class="fa-solid fa-circle-check ocultar"></i>
		</div>
	</td>
	<!-- Completo -->
	<td class="ancho_completo completo campo">
		<div class="inputError">
			<% aux = link.ediciones.find(n=>n.completo!==null&&n.editado_por_id!=userID) %> 
			<select name="completo" class="input <%- aux ? 'rojo' : '' %>" <% if (aux) { %>disabled<% } %>>
				<option value="1" <%- link.completo=="1" ? "selected" : "" %>>SI</option>
				<option value="0" <%- link.completo=="0" ? "selected" : "" %>>NO</option>
			</select>
			<!-- Errores -->
			<i class="fa-solid fa-circle-xmark ocultar" style="z-index: 7"><span class="mensajeError"></span></i>
			<i class="fa-solid fa-circle-check ocultar"></i>
		</div>
	</td>
	<!-- Parte -->
	<td class="ancho_parte parte campo">
		<div class="inputError">
			<% aux = link.ediciones.find(n=>n.parte&&n.editado_por_id!=userID) %> 
			<input name="parte" type="text" class="input <%- aux ? 'rojo' : '' %>" value="<%= link.parte %>" <% if (aux) { %>disabled<% } %>>
			<!-- Errores -->
			<i class="fa-solid fa-circle-xmark ocultar" style="z-index: 6"><span class="mensajeError "></span></i>
			<i class="fa-solid fa-circle-check ocultar"></i>
		</div>
	</td>
	<!-- Gratuito -->
	<td class="ancho_gratuito gratuito campo">
		<div class="inputError">
			<% aux = link.ediciones.find(n=>n.gratuito!==null&&n.editado_por_id!=userID) %> 
			<select name="gratuito" class="input <%- aux ? 'rojo' : '' %>" <% if (aux) { %>disabled<% } %>>
				<option value="1" <%- link.gratuito == "1" ? "selected" : "" %>>SI</option>
				<option value="0" <%- link.gratuito == "0" ? "selected" : "" %>>NO</option>
			</select>
			<!-- Errores -->
			<i class="fa-solid fa-circle-xmark ocultar" style="z-index: 5"><span class="mensajeError "></span></i>
			<i class="fa-solid fa-circle-check ocultar"></i>
		</div>
	</td>
	<!-- Status -->
	<td class="ancho_status status taparMotivo"><%= link.status_registro.nombre %></td>
	<!-- Propio -->
	<td class="ancho_propio taparMotivo"><%= cond.propio ? "SI" : cond.ajeno ? "NO" : "-" %></td>
	<!-- Acción -->
	<td class="ancho_accion accion"><i class="fa-solid fa-floppy-disk" title='Guardar'></i></td>
</tr>	
