<tr class="alta inactivo_false">
	<form action="">
	<!-- Url y Proveedor_id-->
	<td class="ancho_url url campo">
		<div class="inputError">
			<input name="url" type="text" autofocus class="input" value="<%- dataEntry.url ? dataEntry.url : "" %>" autocomplete="off">
			<!-- Errores -->
			<i class="fa-solid fa-circle-xmark ocultar" style="z-index: 10"><span class="mensajeError"></span></i>
			<i class="fa-solid fa-circle-check prov_id"></i>
			<i class="fa-solid fa-question prov_id"></i>
		</div>
	</td>
	<!-- Calidad -->
	<td class="ancho_calidad calidad desperdicio campo">
		<div class="inputError">
			<select name="calidad" class="input ocultar">
				<option value="" class="ocultar" <%- (!dataEntry.calidad) ? "selected" : "" %>>Elejí</option>
				<% for (let calidad of calidades) { %>
					<option value="<%= calidad %>" <%- (dataEntry.calidad == calidad) ? "selected" : "" %>><%= calidad %></option>
				<% } %>
				<option value="1081" <%- (dataEntry.calidad == "1081") ? "selected" : "" %>>>1080</option>
			</select>
			<!-- Errores -->
			<i class="fa-solid fa-circle-xmark ocultar" style="z-index: 6"><span class="mensajeError"></span></i>
			<i class="fa-solid fa-circle-check ocultar"></i>
		</div>
	</td>
	<!-- Castellano -->
	<td class="ancho_castellano castellano desperdicio campo">
		<div class="inputError">
			<select name="castellano" class="input ocultar">
				<option value="" class="ocultar" <%- !dataEntry.castellano ? "selected" : "" %>>?</option>
				<option value="1" <%- dataEntry.castellano == "1" ? "selected" : "" %>>SI</option>
				<option value="0" <%- dataEntry.castellano == "0" ? "selected" : "" %>>NO</option>
			</select>
			<!-- Errores -->
			<i class="fa-solid fa-circle-xmark ocultar" style="z-index: 5"><span class="mensajeError "></span></i>
			<i class="fa-solid fa-circle-check ocultar"></i>
		</div>
	</td>
	<!-- Gratuito -->
	<td class="ancho_gratuito gratuito desperdicio campo">
		<div class="inputError">
			<select name="gratuito" class="input ocultar">
				<option value="" class="ocultar" <%- !dataEntry.gratuito ? "selected" : "" %>>?</option>
				<option value="1" <%- dataEntry.gratuito == "1" ? "selected" : "" %>>SI</option>
				<option value="0" <%- dataEntry.gratuito == "0" ? "selected" : "" %>>NO</option>
			</select>
			<!-- Errores -->
			<i class="fa-solid fa-circle-xmark ocultar" style="z-index: 4"><span class="mensajeError "></span></i>
			<i class="fa-solid fa-circle-check ocultar"></i>
		</div>
	</td>
	<!-- Tipo -->
	<td class="ancho_tipo tipo desperdicio campo">
		<div class="inputError">
			<select name="tipo_id" class="input ocultar">
				<option value="" class="ocultar">Elejí</option>
				<option value="<%= links_tipos[0].id %>" <%- (dataEntry.tipo_id == links_tipos[0].id || entidad == "colecciones") ? "selected" : "" %>><%= links_tipos[0].nombre %></option>
				<% if (entidad != "colecciones") { %>
					<option value="<%= links_tipos[1].id %>" <%- dataEntry.tipo_id==links_tipos[1].id ? "selected" : "" %>><%= links_tipos[1].nombre %></option>
				<% } %>
			</select>
			<!-- Errores -->
			<i class="fa-solid fa-circle-xmark ocultar" style="z-index: 3"><span class="mensajeError"></span></i>
			<i class="fa-solid fa-circle-check ocultar"></i>
		</div>
	</td>
	<!-- Completo -->
	<td class="ancho_completo completo desperdicio campo">
		<div class="inputError">
			<select name="completo" class="input ocultar">
				<option value="" class="ocultar" <%- (!dataEntry.completo) ? "selected" : "" %>>Elejí</option>
				<option value="1" <%- (dataEntry.completo == "1") ? "selected" : "" %>>SI</option>
				<option value="0" <%- (dataEntry.completo == "0") ? "selected" : "" %>>NO</option>
			</select>
			<!-- Errores -->
			<i class="fa-solid fa-circle-xmark ocultar" style="z-index: 2"><span class="mensajeError"></span></i>
			<i class="fa-solid fa-circle-check ocultar"></i>
		</div>
	</td>
	<!-- Parte -->
	<td class="ancho_parte parte desperdicio campo">
		<div class="inputError">
			<input name="parte" type="text" class="input ocultar" value="<%- (dataEntry.parte) ? dataEntry.parte : '' %>">
			<!-- Errores -->
			<i class="fa-solid fa-circle-xmark ocultar" style="z-index: 1"><span class="mensajeError "></span></i>
			<i class="fa-solid fa-circle-check ocultar"></i>
		</div>
	</td>
	<!-- Status -->
	<td class="ancho_status status desperdicio">
	</td>
	<!-- Propio -->
	<td class="ancho_propio propio desperdicio">
	</td>
	<!-- Acción -->
	<td class="ancho_accion accion">
		<i class="fa-solid fa-floppy-disk inactivo" title='Guardar'></i>
	</td>
</tr>
