<div class="flechas">
	<a href="/institucional/<%= urlAnt %>">
		<i class="fa-solid fa-<%= urlAnt=="inicio" ? 'house' : 'circle-left' %>" tabindex="-1" title="Anterior"></i>
	</a>
	<p><%= indice +" / " + vistas %></p>
	<a href="/institucional/<%= urlPost %>">
		<i class="fa-solid fa-<%= urlPost=="inicio" ? 'house' : 'circle-right' %>" tabindex="-1" title="Posterior"></i>
	</a>
</div>
