<form method="POST" class="flexCol">

	<!-- Asunto -->
	<div class="inputError">
		<select name="asunto" class="input" autofocus>
			<option value="">Elegí un asunto</option>
			<% for (let opcion of variables.asuntosContactanos) { %>
				<option value="<%= opcion.codigo %>" <% if (opcion.codigo==dataEntry.asunto) { %>selected<% } %>><%= opcion.descripcion %></option>
			<% } %>
		</select>
		<%- include("CMP-Errores", {nombre: "asunto"}) %>
	</div>

	<!-- Comentario -->
	<div class="inputError">
        <p><span id="pendiente">100</span>/100</p>
		<textarea name="comentario" class="input" placeholder="Escribinos tu comentario"><%= dataEntry.comentario %></textarea>
		<%- include("CMP-Errores", {nombre: "comentario"}) %>
	</div>

	<!-- Flechas -->
	<div class="flechas">
		<a href="<%= urlAnterior %>" tabindex="-1" title="Volver a la vista anterior">
			<i class="fa-solid fa-circle-left"></i>
		</a>
		<i id="submit" class="fa-solid fa-circle-check inactivo" title="Enviar" tabindex="-1"></i>
	</div>
</form>