<!-- Filtros o Vitreaux -->
<div id="zona-de-filtros">
	<% if (locals.subOpcion) { %><%- include('Filtros') %>
	<% } else { %><img alt="Vitreaux" src="/imagenes/0-Base/Varios/Vitraux.jpg" title="Vitreaux"><% } %>
</div>

<!-- Menús -->
<div id="zona-de-prods" class="flexCol grow">
	<!-- Encabezado -->
	<div id="encabezado" class="flex-col">
		<div class="izquierda">
			<!-- Opciones -->
			<select name="layout" class="opcionesElegidas">
				<% console.log(14, !locals.opcionesElegidas || !locals.opcionesElegidas.layout) %> 
				<option value="" class="ocultar" <% if (!locals.opcionesElegidas || !locals.opcionesElegidas.layout) { %>selected<% } %>>Layout</option>
				<% for (let menuOpcion of menuOpciones) { %>
					<option value="/consultas/<%= menuOpcion.url %>" <% if (locals.opcion && menuOpcion.url == opcion.url) { %>selected<% } %>><%= menuOpcion.nombre %></option>
				<% } %>
			</select>

		</div>
		<div class="derecha">
			<!-- Contador -->

		</div>
	</div>
	<!-- Sub-Opciones -->
	<% if (locals.opcion) { %>
		<select id = "menuSubopciones">
		<% if (!locals.subOpcion) { %><option value="" selected>Elegí una opción</option><% } %>
		<% for (let menuSubOpcion of menuSubOpciones) { %>
			<option value="/consultas/<%= opcion.url + "/" + menuSubOpcion.url %>" <% if (locals.subOpcion && menuSubOpcion.url == subOpcion.url) { %>selected<% } %>><%= menuSubOpcion.nombre %></option>
		<% } %>
		</select>
	<% } %>
	<!-- Sector de películas -->
	<div id="vistaPelis">
		<% if (locals.subOpcion) { %><%- include(opcion.vista) %><% } %>
	</div>
</div>
