<!-- Zona de Filtros -->
<section id="filtros">
	<%- include('CN-CU-2Filtros') %>
</section>
<!-- Encabezado + Productos -->
<section id="encabMasPelis" class="flexCol grow">
	<!-- Encabezado -->
	<section id="encabezado" class="flexRow">
		<%- include('CN-CU-1Encabezado') %>
	</section>
	<!-- Zona de Productos -->
	<section id="zona_de_prods">
		<div id="comencemos">
			<button id="rojo" class="ocultar">
				Asegurate de contestar<br>los sectores en rojo
			</button>
			<button id="verde" class="scale pointer ocultar">
				Quiero ver los resultados
			</button>
		</div>
		<div id="vistaProds" class="oculta">
			<p>vistaProds</p>
			<%- include("CN-ZP-1Listado") %>
			<%- include("CN-ZP-2Personajes") %>
			<%- include("CN-ZP-3Hechos") %>
			<%- include("CN-ZP-4Valores") %>
		</div>
	</section>
</section>
