<section id="cuerpo">
	<!-- Contador -->
	<% if (locals.subOpcion) { %><button type="text" id="contador-de-peliculas">Contador</button><% } %>
	<!-- Filtros o Vitreaux -->
	<div id="zona-de-vitreaux">
		<% if (locals.subOpcion) { %><%- include('Filtros') %>
		<% } else { %><img alt="Vitreaux" src="/imagenes/0-Base/Vitraux.jpg" title="Vitreaux"><% } %>
	</div>

	<!-- Menús -->
	<div id="zona-de-pelis" class="flex-col grow">
		<!-- Opciones -->
		<select onchange="location = this.value;" id="menuOpciones">
			<% if (!locals.opcion) { %><option class="ocultar" selected>Elegí una opción</option><% } %>
			<% for (let menuOpcion of menuOpciones) { %>
				<option value="/consultas/<%= menuOpcion.url %>" <% if (locals.opcion && menuOpcion.url == opcion.url) { %>selected<% } %>><%= menuOpcion.nombre %></option>
			<% } %>
		</select>
		<!-- Sub-Opciones -->
		<% if (locals.opcion) { %>
			<select onchange="location = this.value;" id = "menuSubopciones">
			<% if (!locals.subOpcion) { %><option style="font-style: italic" class="ocultar" selected>Elegí una opción</option><% } %>
			<% for (let menuSubOpcion of menuSubOpciones) { %>
				<option value="/consultas/<%= opcion.url + "/" + menuSubOpcion.url %>" <% if (locals.subOpcion && menuSubOpcion.url == subOpcion.url) { %>selected<% } %>><%= menuSubOpcion.nombre %></option>
			<% } %>
			</select>
		<% } %>
		<!-- Sector de películas -->
		<div id="vistaPelis">
			<% if (locals.subOpcion) { %><%- include(opcion.vista) %><% } %>
		</div>
	</div>
</section>
