<!-- Zona de Filtros -->
<section id="filtros">
	<%- include('CN-2Filtros') %>
</section>
<!-- Encabezado + Productos -->
<section id="encabMasPelis" class="flexCol grow">
	<!-- Encabezado -->
	<section id="encabezado" class="flexRow">
		<%- include('CN-1Encabezado') %>
	</section>
	<!-- Zona de Productos -->
	<section id="zona-de-prods" >
		<div id="comencemos">
			<button id="rojo">Asegurate de contestar<br>los sectores en rojo</button>
			<button id="verde" class="scale pointer">Quiero ver los resultados</button>
		</div>
		<div id="vistaProds" class="ocultar">
			<%- include("CN-ZP-1Listado") %>
			<%- include("CN-ZP-2Personajes") %>
			<%- include("CN-ZP-3Hechos") %>
			<%- include("CN-ZP-4Valores") %>
		</div>
	</section>
</section>
