<!--Filtros Guardados-->
<div id="filtrosPers"> 
	<select name="filtrosPers">
		<option value="">Filtros Guardados...</option>
		<% for (filtro of filtrosPers) { %>
			<option 
				value="<%= filtro.id %>"
				<% if (filtro.id == filtro_id) { %>selected<% } %>
			><%= filtro.nombre %></option>
		<% } %>
	</select>
	<div id="iconos" class="flexRow">
		<i id="nuevo" class="fa-solid fa-file scale" title="Crea un filtro nuevo"></i>
		<i id="reinicio" class="fa-solid fa-rotate-right scale" title="Reinicia el filtro actual"></i>
		<i id="actualiza" class="fa-solid fa-floppy-disk <%= opcionesElegidas.filtro_id==1 ? 'inactivo' : 'scale' %>" title="Guarda los cambios"></i>
		<i id="modificaNombre" class="fa-solid fa-pen <%= opcionesElegidas.filtro_id==1 ? 'inactivo' : 'scale' %>" title="Modifica el nombre"></i>
		<i id="elimina" class="fa-solid fa-trash-can <%= opcionesElegidas.filtro_id==1 ? 'inactivo' : 'scale' %>" title="Elimina el filtro actual"></i>
	</div>
</div>
<!-- Campos específicos -->
<div id="campos" class="flexCol">
	<!-- CFC/VPC -->
	<%- include('CN-2FL-1CheckboxV', {tema: filtros.categorias}) %>
	<div class="sectorConDesplV">
		<nav class="ocultar">
			<!-- Basada en Hechos Reales / Ficción -->
			<%- include('CN-2FL-3Selects', {tema: filtros.hechosReales}) %>
			<!-- Personajes Históricos -->
			<%- include('CN-2FL-3Selects', {tema: filtros.personajes}) %>
			<!-- Hechos Históricos -->
			<%- include('CN-2FL-3Selects', {tema: filtros.hechos}) %>
			<!-- Valores -->
			<%- include('CN-2FL-3Selects', {tema: filtros.temas}) %>
			<hr>
			<!-- Público Recomendado -->
			<%- include('CN-2FL-3Selects', {tema: filtros.publicos}) %>
			<!-- Época de Estreno -->
			<%- include('CN-2FL-3Selects', {tema: filtros.epocasEstreno}) %>
			<!-- Interés en la Película -->
			<!-- Links -->
			<%- include('CN-2FL-3Selects', {tema: filtros.tipos_link}) %>
			<!-- Idioma Castellano -->
			<%- include('CN-2FL-3Selects', {tema: filtros.castellano}) %>
			<hr>
			<!-- Tipo de Actuación -->
			<%- include('CN-2FL-1CheckboxV', {tema: filtros.tipos_actuacion}) %>
			<hr>
			<!-- Musical -->
			<%- include('CN-2FL-2CheckboxH', {tema: filtros.musical}) %>
			<hr>
			<!-- Búsqueda -->
			<div id="busqueda" class="filtro flexCol"> 
				<input type="text" name="palabras_clave" placeholder="Buscar por palabras clave" class="elegibleSimple">
				<i class="fa-solid fa-circle-right" title="Aplicar las palabras"></i>
			</div>
		</nav>
	</div>
</div>
