<!--Filtros Guardados-->
<div id="filtrosPers"> 
	<select name="filtrosPers">
		<option value="">Filtros Guardados...</option>
		<% for (filtro of filtrosPers) { %>
			<option 
				value="<%= filtro.id %>"
				<% if (filtro.id == filtro_id) { %>selected<% } %>
			><%= filtro.nombre %></option>
		<% } %>
	</select>
	<div id="iconos" class="flexRow">
		<i id="nuevo" class="fa-solid fa-file scale inactivo" title="Crea un filtro nuevo"></i>
		<i id="reinicio" class="fa-solid fa-rotate-right scale inactivo" title="Reinicia el filtro actual"></i>
		<i id="actualiza" class="fa-solid fa-floppy-disk scale inactivo" title="Guarda los cambios"></i>
		<i id="modificaNombre" class="fa-solid fa-pen scale inactivo" title="Modifica el nombre"></i>
		<i id="elimina" class="fa-solid fa-trash-can scale inactivo" title="Elimina el filtro actual"></i>
	</div>
</div>
<!-- Campos específicos -->
<div id="campos" class="flexCol">
	<div class="sectorConDesplV">
		<nav class="ocultar flexCol">
			<!-- CFC/VPC -->
			<%- include('CN-2FL-3Selects', {tema: filtros.cfc}) %>
			<hr>
			<!-- Ocurrió -->
			<%- include('CN-2FL-3Selects', {tema: filtros.ocurrio, class: "ocultar"}) %>
			<!-- Epoca -->
			<%- include('CN-2FL-3Selects', {tema: filtros.epocas, class: "ocurrioSI"}) %>
			<!-- ApMar -->
			<%- include('CN-2FL-3Selects', {tema: filtros.apMar, class: "ocurrioSI ocultarApMar"}) %>
			<!-- Proceso de Canonización -->
			<%- include('CN-2FL-3Selects', {tema: filtros.canons, class: "ocurrioSI ocultarCanons"}) %>
			<!-- Roles Iglesia -->
			<%- include('CN-2FL-3Selects', {tema: filtros.rolesIglesia, class: "ocurrioSI ocultarRolesIglesia"}) %>
			<hr>
			<!-- Público Recomendado -->
			<%- include('CN-2FL-3Selects', {tema: filtros.publicos, class: "demasElegibles"}) %>
			<!-- Época de Estreno -->
			<%- include('CN-2FL-3Selects', {tema: filtros.epocasEstreno, class: "demasElegibles"}) %>
			<!-- Links -->
			<%- include('CN-2FL-3Selects', {tema: filtros.tiposLink, class: "demasElegibles"}) %>
			<!-- Idioma Castellano -->
			<%- include('CN-2FL-3Selects', {tema: filtros.castellano, class: "demasElegibles"}) %>
			<!-- Tipo de Actuación -->
			<%- include('CN-2FL-3Selects', {tema: filtros.tipos_actuacion, class: "demasElegibles"}) %>
			<!-- Musical -->
			<%- include('CN-2FL-3Selects', {tema: filtros.musical, class: "demasElegibles"}) %>
			<hr>
			<!-- Búsqueda -->
			<div id="palabrasClave" class="filtro demasElegibles elegibleSimple"> 
				<input type="text" name="palabrasClave" placeholder="Buscar por palabras clave" class="input">
				<i class="fa-solid fa-circle-right" title="Aplicar las palabras"></i>
			</div>
		</nav>
	</div>
</div>
