<section id="filtros">
	<!--Filtros Guardados-->
	<div id="personalizados"> 
		<select name="filtro-personalizado">
			<option value="">Filtros Guardados...</option>
			<% for (filtro of filtrosPers) { %>
				<option value="<%= filtro.id %>"><%= filtro.nombre %></option>
			<% } %>
		</select>
		<div id="iconos" class="flexRow">
			<i class="fa-solid fa-file" title="Crear un filtro nuevo"></i>
			<i class="fa-solid fa-rotate-right" title="Reiniciar el filtro actual"></i>
			<i class="fa-solid fa-floppy-disk" title="Guardar los cambios"></i>
			<i class="fa-solid fa-pen" title="Cambiar el nombre"></i>
			<i class="fa-solid fa-trash-can" title="Eliminar el filtro actual"></i>
		</div>
	</div>
	<!-- Campos específicos -->
	<div id="campos" class="flexCol">
		<!-- CFC/VPC -->
		<%- include('CN-1Checkbox', {tema: categoria}) %>
		<hr>
		<!-- Basada en Hechos Reales / Ficción -->
		<%- include('CN-2Selects', {tema: hechosReales}) %>
		<!-- Personajes Históricos -->
		<%- include('CN-2Selects', {tema: personajes}) %>
		<!-- Hechos Históricos -->
		<%- include('CN-2Selects', {tema: hechos}) %>
		<!-- Valores -->
		<%- include('CN-2Selects', {tema: valores}) %>
		<hr>
		<!-- Público Recomendado -->
		<%- include('CN-2Selects', {tema: publicos}) %>
		<!-- Época de Estreno -->
		<%- include('CN-2Selects', {tema: epoca}) %>
		<!-- Interés en la Película -->
		<%- include('CN-2Selects', {tema: interes_opciones}) %>
		<!-- Links -->
		<%- include('CN-2Selects', {tema: links}) %>
		<hr>
		<!-- Tipo de Actuación -->
		<%- include('CN-1Checkbox', {tema: tipos_actuacion}) %>
		<!-- Musical -->
		<%- include('CN-1Checkbox', {tema: musical}) %>
		<hr>
		<!-- Búsqueda -->
		<div id="busqueda" class="filtro flexCol"> 
			<input type="text" name="palabras_clave" placeholder="Buscar por palabras clave">
			<i class="fa-solid fa-circle-right" title="Aplicar las palabras"></i>
		</div>
	</div>
</section>
