<section id="filtros">
	<!--Filtros Guardados-->
	<div id="personalizados"> 
		<h1 >Filtro Personalizado</h1>
		<select name="filtro-personalizado">
			<option value="">Filtros Guardados...</option>
			<% for (filtro of filtrosPers) { %>
				<option value="<%= filtro.id %>"><%= filtro.nombre %></option>
			<% } %>
		</select>
		<div id="iconos" class="flexRow">
			<i class="fa-solid fa-file" title="Crear un filtro nuevo"></i>
			<i class="fa-solid fa-rotate-right" title="Reiniciar el filtro actual"></i>
			<i class="fa-solid fa-floppy-disk" title="Guardar los cambios"></i>
			<i class="fa-solid fa-pen" title="Cambiar el nombre"></i>
			<i class="fa-solid fa-trash-can" title="Eliminar el filtro actual"></i>
		</div>
	</div>
	<!-- Campos específicos -->
	<div id="campos" class="flexCol">

		<!-- CFC/VPC -->
		<div class="filtro checkbox mostrar-siempre">
			<label>
				<input type="checkbox" name="categoría_id" value="CFC" class="input">
				Fe Católica
			</label>
			<label>
				<input type="checkbox" name="categoría_id" value="VPC" class="input">
				Valores
			</label>
		</div>
		<!-- Basada en Hechos Reales / Ficción -->
		<%- include('CN-1Selects', {tema: hechosReales}) %>
		<hr>
		<!-- Personajes Históricos -->
		<%- include('CN-1Selects', {tema: personajes}) %>
		<!-- Hechos Históricos -->
		<%- include('CN-1Selects', {tema: hechos}) %>
		<!-- Valores -->
		<%- include('CN-1Selects', {tema: valores}) %>
		<hr>
		<!-- Público Recomendado -->
		<%- include('CN-1Selects', {tema: publicos}) %>
		<!-- Época de Estreno -->
		<%- include('CN-1Selects', {tema: epoca}) %>
		<!-- Tipo de Actuación -->

		<!-- Musical -->

		<!-- Interés en la Película -->
		<%- include('CN-1Selects', {tema: interes_opciones}) %>

		<!--BÚSQUEDA-->
		<div id="busqueda" class="flexCol"> 
			<input type="text" name="palabras_clave" placeholder="Buscar por palabras clave">
			<button class="sin-boton" type="submit"><i class="fa-solid fa-circle-right" title="Aplicar los filtros"></i></button>
		</div>
	</div>
</section>
