<% if (codigo == "inicio") { %>
	<!-- Inicio -->
	<%- include("IN0-Inicio") %>

<% } else { %>
	<!-- Institucional -->
	<div id="tituloPrincipal">
		<h1 id="titulo"><%= titulo %></h1>
	</div>
	<section>
		<div id="cuadroDeTexto">
			<div>
				<% if (codigo == "quienesSomos")    { %><%- include("IN1-QuienesSomos")  %><% } %>
				<% if (codigo == "misionVision")    { %><%- include("IN2-MisionVision")  %><% } %>
				<% if (codigo == "nuestrosValores") { %><%- include("IN3-Valores")       %><% } %>
				<% if (codigo == "enQueConsiste")   { %><%- include("IN4-EnQueConsiste") %><% } %>
				<% if (codigo == "perfilPelis")     { %><%- include("IN5-PerfilPelis")   %><% } %>
				<% if (codigo == "derechosAutor")   { %><%- include("IN6-DerechosAutor") %><% } %>
				<%- include("IN-Flechas") %>
			</div>
		</div>
	</section>
<% } %>
