<section id="cuerpo">
	<!-- Contador -->
	<% if (opcion && subOpcion) { %><button type="text" id="contador-de-peliculas">Contador</button><% } %>
	<!-- Filtros o Vitreaux -->
	<div id="zona-de-vitreaux">
		<% if (opcion && subOpcion) { %><%- include('Filtros') %>
		<% } else { %><img alt="Vitreaux" src="/imagenes/0-Base/Vitraux.jpg" title="Vitreaux"><% } %>
	</div>

	<!-- ZONA DE PELÍCULAS -->
	<div id="zona-de-pelis" class="flex-col grow">
		<!-- OPCIONES -->
		<select onchange="location = this.value;" id="menuOpciones">
			<!-- Elegí una opción -->
			<% if (!opcion) { %><option class="ocultar" selected>Elegí una opción</option><% } %>
			<!-- Demás opciones -->
			<% for (let menuOpcion of menuOpciones) { %>
				<option value="/productos/<%= menuOpcion.url %>" <% if (opcionElegida_campos && menuOpcion.url == opcionElegida_campos.url) { %>selected<% } %>><%= menuOpcion.nombre %></option>
			<% } %>
		</select>
		<!-- SUB-OPCIONES -->
		<% if (opcion) { %>
			<select onchange="location = this.value;" id = "menuSubopciones">
			<% if (!subOpcion) { %>
				<option style="font-style: italic" class="ocultar" selected>Elegí una opción</option>
			<% } %>
			<% for (let menuSubOpcion of menuSubOpciones) { %>
				<option value="/productos/<%= opcionElegida_campos.url + "/" + menuSubOpcion.url %>" <% if (subOpcion && menuSubOpcion.url == subOpcionElegida_campos.url) { %>selected<% } %>><%= menuSubOpcion.nombre %></option>
			<% } %>
			</select>
		<% } %>
		<!-- Sector de películas -->
		<div id="vistaPelis">
			<% if (opcion && subOpcion) { %><%- include(opcionElegida_campos.vista) %><% } %>
		</div>
	</div>
</section>
