<!DOCTYPE html>
<html lang="es">
<head>
	<!-- Head -->
	<% let titulo = informacion.titulo ? informacion.titulo: "Error" %>
	<%- include('1-Head-Gral', {titulo}) %>
	<link rel="stylesheet" href="/formatoDeVistas/2.0-CRUD/Cartel.css">
</head>
<body>
	<%- include('2-Header-Gral') %>
	<main class="flex-row">
		<%- include('ImagenDerecha', {url: '/imagenes/0-Base/ImagenDerecha.jpg'}) %>
		<section id="cuerpo-y-footer">
			<%- include('3-Footer-Gral') %>
			<!--**************************** CUERPO ******************************-->
			<section id="tapar-el-fondo"></section>
			<section id="cartel" class="<% if (informacion.logout) { %><%= 'logout' %><% } %>">
				<i id="error" class="fa-solid fa-triangle-exclamation"></i>
				<% if (informacion.mensajes.length > 1) { %>
					<ul id="mensajes">
						<% for (mensaje of informacion.mensajes) { %>
							<li><%= mensaje %> </li>
						<% } %>
					</ul>
				<% } else { %>
					<p id="mensajes"><%= informacion.mensajes[0] %> </p>
				<% } %>
				<div id="flechasCartel">
					<% for (icono of informacion.iconos) { %>
						<a href="<%= icono.link %>" autofocus><i class="fa-solid <%= icono.nombre %>" title="<%= icono.titulo %>"></i></a>
					<% } %>
				</div>
			</section>
			<!--****************************** FIN *******************************-->
		</section>
	</main>
</body>
</html>