<!DOCTYPE html>
<html lang="es">
<head>
	<!-- Head -->
	<%- include('1-Head-Gral') %>
	<% if (tema == "usuario") { %><%- include('0-Usuarios-Head') %><% } %>
	<% if (tema == "prod_agregar") { %><%- include('0-Prod-Head-Agregar') %><% } %>
	<% if (tema == "rclv") { %><%- include('RCLV-0Head') %><% } %>
	<% if (tema == "revision") { %><%- include('0-Revisar-Head') %><% } %>
	<% if (tema == "productos") { %><%- include('0-Productos-Head') %><% } %>
	<% if (tema == "miscelaneas") { %><%- include('0-Miscelaneas-Head') %><% } %>
</head>
<body>
	<%- include('2-Header-Gral') %>
	<main class="flex-row">
		<%- include('ImagenDerecha', {url: '/imagenes/0-Base/ImagenDerecha.jpg'}) %>
		<section id="cuerpo-y-footer">
			<%- include('3-Footer-Gral') %>
			<!--**************************** CUERPO ******************************-->
			<% if (tema == "usuario") { %><%- include('0-Usuarios-Cuerpo') %><% } %>
			<% if (tema == "prod_agregar") { %><%- include('0-Prod-Cuerpo-Agregar') %><% } %>
			<% if (tema == "rclv_alta") { %><%- include('1-RCLV-Alta') %><% } %>
			<% if (tema == "rclv_edicion") { %><%- include('2-RCLV-Edicion') %><% } %>
			<% if (tema == "rclv_detalle") { %><%- include('3-RCLV-Detalle') %><% } %>
			<% if (tema == "revision") { %><%- include('0-Revisar-Cuerpo') %><% } %>
			<% if (tema == "productos") { %><%- include("0-Productos-Cuerpo") %><% } %>
			<% if (tema == "miscelaneas") { %><%- include("0-Miscelaneas-Cuerpo") %><% } %>
			<!--****************************** FIN *******************************-->
		</section>
	</main>
</body>
</html>