<div id="mobile" class="iconos">
	<% if (["detalle", "calificar"].includes(codigo)) { %>
		<i id="muestraDL" tabindex="-1"
			class="fa-solid <%- codigo == "detalle" ? 'fa-circle-info' : ('fa-chart-simple fa-rotate-90 ' + (!!locals.yaCalificada || !!locals.califUsuario)) %>"
		></i>
	<% } %>
	<i id="muestraDB" class="fa-solid fa-chart-line" tabindex="-1"></i>
	<%- include("Iconos-5MobileHref") %>
</div>
<% if (locals.interesDelUsuario) { %>
	<div class="iconos">
		<%- include("Iconos-5MobileHref") %>
		<i id="ppp" class="<%= interesDelUsuario.icono %>" tabindex="-1" title="<%= interesDelUsuario.nombre %>"></i>
	</div>
<% } %>
