<% if (tema == "prodRud" && ["detalle", "calificar"].includes(codigo)) { %>
	<div id="mobile" class="iconos">
		<i id="muestraDL" tabindex="-1"
			class="fa-solid <%- codigo == "detalle" ? 'fa-circle-info' : ('fa-chart-simple fa-rotate-90 ' + (!!locals.yaCalificada || !!locals.califUsuario)) %>"
		></i>
		<i id="muestraDB" class="fa-solid fa-chart-line" tabindex="-1"></i>
		<%- include("Iconos-5MobileHref") %>
	</div>
<% } %>

<div id="href" class="iconos">
	<%- include("Iconos-5MobileHref") %>
	<% if (locals.interesDelUsuario) { %>
		<i id="ppp" class="<%= interesDelUsuario.icono %>" tabindex="-1" title="<%= interesDelUsuario.nombre %>"></i>
	<% } %>
</div>
