<% if (locals.iconoDL && locals.iconoDB) { %>
	<div id="mobile" class="iconos">
		<i id="iconoDL" class="fa-solid <%= iconoDL %> toggle"></i>
		<i id="iconoDB" class="fa-solid <%= iconoDB %> toggle"></i>
	</div>
<% } %>

<div id="href" class="iconos">
	<%- include("Iconos-5MobileHref") %>
	<% if (locals.interesDelUsuario) { %>
		<i id="ppp" class="<%= interesDelUsuario.icono %>" title="<%= interesDelUsuario.nombre %>"></i>
	<% } %>
</div>
