<!--Número de Documento-->
<!-- <section class="labelInput flexRow">
	<label for="documNumero">
		Número de<br>
		Documento
	</label>
	<div class="inputError">
		<input type="text" id="documNumero" class="input" name="documNumero" placeholder="Número de Documento" value="< dataEntry ? dataEntry.documNumero : "" %>">
		<include("CMP-Errores", {nombre: "documNumero", display: true}) %>
	</div>
</section> -->

<!--País de nacimiento-->
<section class="labelInput flexRow">
	<label for="paisNacim_id">
		Expedido<br>
		en qué país
	</label>
	<div class="inputError">
		<select id="paisNacim_id" name="paisNacim_id" class="input">
			<option value="" <% if (!dataEntry.paisNacim_id) {%>selected <%}%>>Elejí un país</option>
			<optgroup label="América (habla hispana)">
				<% for (let pais of hablaHispana.filter(n => n.continente == "América")) { %>
					<option value="<%= pais.id %>" <% if (dataEntry.paisNacim_id==pais.id) { %>selected <% } %>>
						<%= pais.nombre %>
					</option>
				<% } %>
			</optgroup>
			<optgroup label="Europa/África (habla hispana)">
				<% for (let pais of hablaHispana.filter(n => n.continente != "América")) { %>
					<option value="<%= pais.id %>" <% if (dataEntry.paisNacim_id==pais.id) { %>selected <% } %>>
						<%= pais.nombre %>
					</option>
				<% } %>
			</optgroup>
			<optgroup label="Países de habla no hispana">
				<% for (let pais of hablaNoHispana) { %>
					<option value="<%= pais.id %>" <% if (dataEntry.paisNacim_id==pais.id) { %>selected <% } %>>
						<%= pais.nombre %>
					</option>
				<% } %>
			</optgroup>
		</select>
		<%- include("CMP-Errores", {nombre: "paisNacim_id", display: true}) %>
	</div>
</section>
