<header>
	<!-- Home y Agregar -->
	<section>
		<!-- Menú de Home -->
		<div class="grupos">
			<i class="fa-solid fa-house scale iconoMenu" title="Menú de Inicio"></i>
			<%- include("1-MenuHome") %>
		</div>
		<!-- Búsqueda rápida -->
		<div id="busquedaRapida" class="grupos">
			<i class="fa-solid fa-magnifying-glass scale iconoMenu" title="Búsqueda rápida"></i>
			<%- include("2-MenuBusqueda") %>
		</div>
		<!-- Menú de Productos -->
		<div class="grupos">
			<i class="fa-solid fa-video scale iconoMenu" title="Menú de Productos"></i>
			<%- include("3-MenuProducto") %>
		</div>
	</section>
	<!-- Título del Encabezado -->
	<p id="titulo">ELC - Películas</p>
	<section>
		<!-- Música de fondo -->
		<div class="grupos">
			<i id="icono-musica" class="fa-solid fa-music scale"></i>
			<audio src="/audio/Música-de-fondo.mp3"></audio>
		</div>
		<!-- Usuario -->
		<div class="grupos">
			<%- include("4-IconoUsuario") %>
			<%- include("4-MenuUsuario") %>
		</div>
	</section>
</header>
