<%- include('0-HEAD') %>
<body>
  <%- include('1-HEADER') %>
  <main class="flex-row">
    <%- include('IMAGEN-DERECHA') %>
    <section id="main-y-footer" class="flex-col grow">
      <%- include('3-FOOTER') %>
<!--**************************** CUERPO ******************************-->
      <%- título == "Registro" ? include('Registro') : "" %>
      <%- título == "Login" ? include('Login') : "" %>
      <%- título == "Home" ? include('Home') : "" %>
      <%- título == "Quiénes Somos" ? include('Quienes-Somos') : "" %>
      <%- título == "Contactanos" ? include('Contactanos') : "" %>
      <%- título == "Películas" ? include('01-Main') : "" %>
<!--****************************** FIN *******************************-->
    </section>
  </main>
</body>
</html>