<h1 class="titulo" id="titulo">Agregá un <%= dataEntry.producto %> a nuestra Base de Datos</h1>
<form action="<%= link %>" method="POST" id="dataEntry" class="flex-col">
	<!-- Datos -->
	<section id="datos" class="flex-row OK">
		<!--Primera columna-->
		<div id="primeraCol">
			<!-- Nombre: Título y Ayuda -->
			<div class="flex-row">
				<div class="margenBottomTitulo relative">
					<!-- Título -->
					<h3>Nombre</h3>
					<!-- Ayuda -->
					<i class="fas fa-question-circle"></i>
					<ul type="dots" class="mensajeAyuda ocultar">
						<li>El nombre sin prefijo (San, Santa, Madre, Don, Papa).</li>
						<li>Si la persona cambió su nombre, se usa el más conocido.</li>
					</ul>
					<!-- Errores -->			
					<i class="fas fa-times-circle<%- !errores.nombre ? ' ocultar' : '' %>">
						<span class="mensajeError"><%= errores.nombre %></span>
					</i>
					<i class="fas fa-check-circle ocultar"></i>
				</div>
			</div>
			<!-- Nombre: Input -->
			<input type="text" name="nombre" class="input" value="<%= dataEntry.nombre %>" autofocus autocomplete="off">
			<!-- Genero -->
			<% if (codigo == "RCLV_personajes_historicos") { %>
				<div id="genero" class="flex-row">
					<h4>Género:</h4>
					<div class="flex-row">
						<div class="flexRowAlign">
							<input type="radio" name="genero" value="V" <% if (dataEntry.genero=="V") { %>checked<% } %>>
							<label>Varón</label>
						</div>
						<div class="flexRowAlign">
							<input type="radio" name="genero" value="M" <% if (dataEntry.genero=="M") { %>checked<% } %>>
							<label>Mujer</label>
						</div>
					</div>
				</div>
			<% } %>
			<!-- Fecha Representativa: Título y Ayuda -->
			<div class="flex-row borderTop">
				<div class="margenBottomTitulo relative">
					<!-- Título -->
					<h3>Fecha más representativa</h3>
					<!-- Ayuda -->
					<i class="fas fa-question-circle"></i>
					<ul type="dots" class="mensajeAyuda ocultar">
						<li>Usamos la fecha en que se lo recuerda.</li>
						<li>Para los santos o beatos, es la fecha en el santoral.</li>
						<li>Para los demás, suele ser la fecha de su muerte.</li>
					</ul>
					<!-- Errores -->			
					<i class="fas fa-times-circle<%- !errores.fecha ? ' ocultar' : '' %>">
						<span class="mensajeError"><%= errores.dia %></span>
					</i>
					<i class="fas fa-check-circle ocultar"></i>
				</div>
			</div>
			<!-- Fecha Representativa: Valores -->
			<div id="valoresFecha" class="flex-col space-between">
				<!-- Meses -->
				<div class="flexRowAlign">
					<label style="width: 40px;">Mes:</label>
					<select name="mes_id" class="input">
						<option value="" class="ocultar" <% if (!datosRCLV.mes_id) { %>selected<% } %>>Elegí</option>
						<% for (mes of meses) { %>
							<option value="<%= mes.id %>" <% if (dataEntry.mes_id == mes.id) { %>selected<% } %>>
								<%= mes.nombre %>
							</option>
						<% } %>
					</select>
					<a id="wiki" target="blank" class="ocultar" tabindex="-1">
						<img src="/imagenes/0-Logos/LogoWiki.jpg" title="Consultar en Wikipedia">
					</a>
					<a id="santopedia" target="blank" class="ocultar" tabindex="-1">
						<img src="/imagenes/0-Base/Cruz.jpg" title="Consultar en Santopedia">
					</a>
				</div>
				<!-- Días -->
				<div class="flexRowAlign">
					<label style="width: 40px;">Día:</label>
					<select name="dia" class="input">
						<option value="" class="ocultar" <% if (!datosRCLV.dia) { %>selected<% } %>>Elegí</option>
						<% for (dia = 1; dia < 32; dia++) { %>
							<option value="<%= dia %>" 
								<% if (dia > 29) { %>class="ocultar"<% } %>
								<% if (dataEntry.dia == dia) { %>selected<% } %>
							>
								<%= dia %>
							</option>
						<% } %>
					</select>
				</div>
				<!-- Fecha desconocida -->
				<div class="flex-row align-center">
					<input class="input" type="checkbox" name="desconocida" style="margin-right: 5px;" 
						<% if (dataEntry.desconocida=="on") { %>checked<% } %>
						tabindex="-1"
					>
					<label>Sin fecha conocida o de referencia</label>
				</div>
			</div>
			<!-- Año Nacimiento/Ocurrencia: Título y Ayuda -->
			<div class="flex-row borderTop">
				<div class="margenBottomTitulo relative flex-row align-center">
					<!-- Título -->
					<h3>Año de <%= codigo == "RCLV_personajes_historicos" ? "Nacimiento" : "Ocurrencia" %></h3>
					<input type="number" name="ano" class="input" value="<%= dataEntry.nombre %>" autofocus autocomplete="off">
					<!-- Ayuda -->
					<i class="fas fa-question-circle"></i>
					<ul type="dots" class="mensajeAyuda ocultar">
						<li>Nos ayuda a ubicar cronológicamente al <%= dataEntry.producto %></li>
						<li>Si es anterior a Cristo, elegí un valor negativo</li>
					</ul>
					<!-- Errores -->			
					<i class="fas fa-times-circle<%- !errores.nombre ? ' ocultar' : '' %>">
						<span class="mensajeError"><%= errores.nombre %></span>
					</i>
					<i class="fas fa-check-circle ocultar"></i>
				</div>
			</div>
		</div>
		<!--Columna del medio-->
		<div id="columnaMedio">
		</div>
		<!--Segunda columna-->
		<div id="segundaCol">
			<div class="relative">
				<h3>Nombres con esa fecha</h3>
				<!-- Errores -->			
				<i class="fas fa-times-circle<%- !errores.duplicados ? ' ocultar' : '' %>">
					<span class="mensajeError"><%= errores.duplicados %></span>
				</i>
				<i class="fas fa-check-circle ocultar"></i>
			</div>
			<p>Destildalos para controlar si no está ya en nuestra BD</p>
			<ul type="none" id="posiblesDuplicados"></ul>
		</div>
	</section>
	<!-- Relación con la Iglesia (sólo para personajes históricos) -->
	<% if (codigo == "RCLV_personajes_historicos") { %>
		<section id="RCLI" class="flex-row space-between borderTop OK">
			<!-- ¿En proceso de canonización? -->
			<div class="flex-col">
				<!-- Título de la sección -->
				<div class="relative">
					<!-- Errores -->
					<i class="fas fa-times-circle<%- !errores.RCLI ? ' ocultar' : '' %>">
						<span class="mensajeError"><%= errores.RCLI %></span>
					</i>
					<i class="fas fa-check-circle ocultar"></i>
					<!-- Título -->
					<h3 class="margenBottomTitulo">Relación con la Iglesia</h3>
				</div>
				<!-- ¿En proceso de canonización? -->
				<h4 id="santosanta">Es santo o está en proceso de canonización:</h4>
				<div id="opcionesIglesia" class="flex-row">
					<div class="flexRowAlign">
						<input type="radio" name="enProcCan" value="1" <% if (dataEntry.enProcCan=="1") { %>checked<% } %>>
						<label>SI</label>
					</div>
					<div class="flexRowAlign">
						<input type="radio" name="enProcCan" value="0" <% if (dataEntry.enProcCan=="0") { %>checked<% } %>>
						<label>NO</label>
					</div>
				</div>
			</div>
			<!-- Sectores ocultos salvo que esté en proceso de canonización -->
			<div id="ocultar" class="invisible flex-col space-between">
				<!-- Status del proceso de canonización -->
				<div class="flexRowAlign">
					<label>Status del proceso:</label>
					<select name="proceso_canonizacion_id">
						<option value="" <% if (dataEntry.proceso_canonizacion_id=="") { %> selected <% } %> class="ocultar">Elejí</option>
						<% for (proceso of procesos_canonizacion) { %>
							<option value="<%= proceso.id %>" <% if (dataEntry.proceso_canonizacion_id==proceso.id) { %> selected <% } %>><%= proceso.nombre %></option>
						<% } %> 
					</select>
				</div>
				<!-- Rol en la Iglesia -->
				<div class="flexRowAlign">
					<label>Rol en la Iglesia:</label>
					<select name="rol_iglesia_id">
						<option value="" <% if (dataEntry.rol_iglesia_id=="") { %> selected <% } %> class="ocultar">Elejí una opción</option>
						<% for (rol_iglesia of roles_iglesia) { %>
							<option value="<%= rol_iglesia.id %>" <% if (dataEntry.rol_iglesia_id==rol_iglesia.id) { %> selected <% } %><% if (rol_iglesia.id=="PC") {%> class="ocultar" <% } %>><%= rol_iglesia.nombre %></option>
						<% } %> 
					</select>
				</div>
			</div>
		</section>	
	<% } %>
	<!-- Flechas y Botón -->
	<section id="flechas">
		<a href="/producto/agregar/datos-personalizados" tabindex="-1"><i class="fas fa-arrow-alt-circle-left"></i></a>
		<button type="submit" class="botonSinLink"><i class="fas fa-check-circle"></i></button>
	</section>
</form>