<div id="entidad" class="ocultar"><%= dataEntry.entidad %></div>
<h1 class="titulo" id="titulo">Agregá un <%= dataEntry.producto %> a nuestra Base de Datos</h1>
<form action="<%= link %>" method="POST" id="dataEntry" class="flex-col">
	<!-- Datos -->
	<section id="datos">
		<!--Primera columna-->
		<div id="primeraCol">
			<!-- NOMBRE -->
			<div class="flex-col campo validar">
				<!-- Título del campo y Ayuda -->
				<div class="flex-row">
					<div class="tituloCampo" style="position: relative;">
						<h3>Nombre</h3>
						<!-- Ayuda -->
						<i class="fas fa-question-circle"></i>
						<ul type="dots" class="mensajeAyuda ocultar">
							<li>El nombre sin prefijo (San, Santa, Madre, Don, Papa).</li>
							<li>Si la persona cambió su nombre, se usa el más conocido.</li>
						</ul>
					</div>
					<div></div>
				</div>
				<!-- Valores del campo -->
				<div class="input-error">
					<input type="text" name="nombre" class="input" value="<%= dataEntry.nombre %>" autofocus autocomplete="off">
				</div>
				<!-- Errores -->			
				<i class="fas fa-times-circle<%- !errores.nombre ? ' ocultar' : '' %>">
					<span class="mensajeError"><%= errores.nombre %></span>
				</i>
				<i class="fas fa-check-circle ocultar"></i>
			</div>
			<!-- FECHA REPRESENTATIVA -->
			<div class="flex-col campo validar">
				<!-- Título y Ayuda -->
				<div class="tituloCampo" style="position: relative;">
					<h3>Fecha más representativa</h3>
					<!-- Ayuda -->
					<i class="fas fa-question-circle"></i>
					<ul type="dots" class="mensajeAyuda ocultar">
						<li>Usamos la fecha en que se lo recuerda.</li>
						<li>Para los santos o beatos, es la fecha en el santoral.</li>
						<li>Para los demás, suele ser la fecha de su muerte.</li>
					</ul>
				</div>
				<!-- Etiquetas y Valores -->
				<div class="flex-col" id="valoresFecha">
					<!-- Meses -->
					<div class="input-error mesDia flex-row align-center">
						<label style="width: 40px;">Mes:</label>
						<select name="mes_id" class="input">
							<option value="" class="ocultar" <% if (!datosRCLV.mes_id) { %>selected<% } %>>Elegí</option>
							<% for (mes of meses) { %>
								<option value="<%= mes.id %>" <% if (dataEntry.mes_id == mes.id) { %>selected<% } %>>
									<%= mes.nombre %>
								</option>
							<% } %>
						</select>
					</div>
					<!-- Días -->
					<div class="input-error mesDia flex-row align-center">
						<label style="width: 40px;">Día:</label>
						<select name="dia" class="input">
							<option value="" class="ocultar" <% if (!datosRCLV.dia) { %>selected<% } %>>Elegí</option>
							<% for (dia = 1; dia < 32; dia++) { %>
								<option value="<%= dia %>" 
									<% if (dia > 29) { %>class="ocultar"<% } %>
									<% if (dataEntry.dia == dia) { %>selected<% } %>
								>
									<%= dia %>
								</option>
							<% } %>
						</select>
					</div>
					<!-- Fecha desconocida -->
					<div class="input-error flex-row align-center">
						<input class="input" type="checkbox" name="desconocida" style="margin-right: 5px;" tabindex="-1" 
							<% if (dataEntry.desconocida=="on") { %>checked<% } %>
						>
						<label>Sin fecha conocida o de referencia</label>
					</div>
				</div>
				<!-- Errores -->			
				<i class="fas fa-times-circle<%- !errores.fecha ? ' ocultar' : '' %>">
					<span class="mensajeError"><%= errores.dia %></span>
				</i>
				<i class="fas fa-check-circle ocultar"></i>
			</div>
		</div>
		<!--Columna del medio-->
		<div id="columnaMedio">
		</div>
		<!--Segunda columna-->
		<!-- POSIBLES DUPLICADOS -->
		<div id="segundaCol" class="input-error validar">
			<h3>Nombres con esa fecha</h3>
			<p>Destildalos para controlar si no está ya en nuestra BD</p>
			<ul type="none" id="posiblesDuplicados"></ul>
			<!-- Errores -->			
			<i class="fas fa-times-circle<%- !errores.duplicados ? ' ocultar' : '' %>">
				<span class="mensajeError"><%= errores.duplicados %></span>
			</i>
			<i class="fas fa-check-circle ocultar"></i>
		</div>
	</section>
	<!-- DATOS ADICIONALES -->
	<section id="adicionales" class="validar">
		<h3 class="tituloCampo">Datos Adicionales</h3>
		<!-- País -->
		<div class="input-error">
			<select name="pais_id" class="input">
				<option value="" class="ocultar">Elegí</option>
				<% for (pais of paises) { %>
					<option value="<%= pais.id %>" <% if (dataEntry.pais_id == pais.id) { %>selected<% } %>>
						<%= pais.nombre %>
					</option>
				<% } %>
			</select>
			<label>País de referencia</label>
		</div>
		<% if (codigo=="historicos_personajes") { %>
			<!-- ¿Era católico? -->
			<div class="input-error">
				<div class="inputRadio">
					<div class="pares">
						<label for="SI">SI</label>
						<input type="radio" id="SI" name="catolico" value="1" <% if (dataEntry.catolico=="1") { %>checked<% } %>>
					</div>
					<div class="pares">
						<label for="NO">NO</label>
						<input type="radio" id="NO" name="catolico" value="0" <% if (dataEntry.catolico=="0") { %>checked<% } %>>
					</div>		
				</div>
				<label>Era miembro de la Iglesia Católica al fallecer</label>
			</div>
			<div id="mostrarSiEsCatolico" class="invisible">
				<!-- ¿Para canonizar? -->
				<div class="input-error">
					<div class="inputRadio">
						<div class="pares">
							<label>SI</label>
							<input type="radio" name="canonizacion" value="1" <% if (dataEntry.catolico=="1") { %>checked<% } %>>
						</div>
						<div class="pares">
							<label>NO</label>
							<input type="radio" name="canonizacion" value="0" <% if (dataEntry.catolico=="0") { %>checked<% } %>>
						</div>		
					</div>
					<label>Es santo o está en proceso de canonización</label>
				</div>
				<!-- Vocación -->
				<div class="input-error">
					<select name="vocacion_id" class="input">
						<option value="" class="ocultar">Elegí</option>
						<% for (vocacion of vocacion_iglesia) { %>
							<% if (vocacion.id != vocacion_iglesia[0].id) { %>
								<option value="<%= vocacion.id %>" <% if (dataEntry.vocacion_id == vocacion.id) { %>selected<% } %>>
									<%= vocacion.nombre %>
								</option>
							<% } %>
						<% } %>
					</select>
					<label>Vocación en la Iglesia Católica</label>
				</div>
			</div>
		<% } %>
		<!-- Errores -->			
		<i class="fas fa-times-circle<%- !errores.adicionales ? ' ocultar' : '' %>">
			<span class="mensajeError"><%= errores.adicionales %></span>
		</i>
		<i class="fas fa-check-circle ocultar"></i>		
	</section>
	<!-- Flechas y Botón -->
	<section id="flechas" class="flex-row space-evenly">
		<button type="button" tabindex="-1"><a href="/producto/agregar/datos-personalizados" style="color: inherit;" tabindex="-1">Regresar</a></button>
		<button type="submit" class="botonSinLink">Agregalo</button>
	</section>
</form>