<% rubro = codigo == "personaje" ? "Personaje Histórico" : "Hecho Histórico" %>
<div id="rubro" class="ocultar"><%= codigo %></div>
<h1 class="titulo" id="titulo">Agregá una <%= rubro %> a nuestra Base de Datos</h1>
<form action="<%= link %>" method="POST" id="dataEntry" class="flex-col">
	<!-- Datos -->
	<section id="cuerpo">
		<!--Primera columna-->
		<div class="flex-col">
			<!-- NOMBRE -->
			<div class="flex-col campo">
				<!-- Título del campo y Ayuda -->
				<div class="flex-row">
					<div class="tituloCampo" style="position: relative;">
						<h3>Nombre</h3>
						<!-- Ayuda -->
						<i class="fas fa-question-circle"></i>
						<ul type="dots" class="mensajeAyuda ocultar">
							<li>El nombre sin prefijo (San, Santa, Madre, Don, Papa).</li>
							<li>Si la persona cambió su nombre, se usa el más conocido.</li>
						</ul>
					</div>
					<div></div>
				</div>
				<!-- Valores del campo -->
				<div class="input-error">
					<input type="text" name="nombre" class="input" autofocus autocomplete="off">
					<!-- Errores -->			
					<i class="fas fa-times-circle<%- !errores.nombre ? ' ocultar' : '' %>">
						<span class="mensajeError"><%= errores.nombre %></span>
					</i>
					<i class="fas fa-check-circle ocultar"></i>
				</div>
			</div>
			<!-- FECHA REPRESENTATIVA -->
			<div class="flex-col campo">
				<!-- Título del campo -->
				<div class="flex-row">
					<div class="tituloCampo" style="position: relative;">
						<h3>Fecha más representativa</h3>
						<!-- Ayuda -->
						<i class="fas fa-question-circle"></i>
						<ul type="dots" class="mensajeAyuda ocultar">
							<li>Generalmente, se usa la fecha en que se lo recuerda.</li>
							<li>Para los santos o beatos, es la fecha en el santoral.</li>
							<li>Para los demás, suele ser la fecha de su muerte.</li>
						</ul>
					</div>
				</div>
				<!-- Valores del campo -->
				<div class="flex-col" id="valoresFecha">
					<!-- Meses -->
					<div class="input-error mesDia flex-row align-center">
						<label style="width: 40px;">Mes:</label>
						<select name="mes_id" class="input">
							<option value="" class="ocultar" <% if (!dataEntry.mes_id) { %>selected<% } %>>Elegí</option>
							<% for (mes of meses) { %>
								<option value="<%= mes.id %>"><%= mes.nombre %></option>
							<% } %>
						</select>
						<!-- Errores -->			
						<i class="fas fa-times-circle<%- !errores.mes_id ? ' ocultar' : '' %>">
							<span class="mensajeError"><%= errores.mes_id %></span>
						</i>
						<i class="fas fa-check-circle ocultar"></i>
					</div>
					<!-- Días -->
					<div class="input-error mesDia flex-row align-center">
						<label style="width: 40px;">Día:</label>
						<select name="dia" class="input">
							<option value="" class="ocultar" <% if (!dataEntry.dia) { %>selected<% } %>>Elegí</option>
							<% for (dia=1; dia<32; dia++) { %>
								<option value="<%= dia %>" <% if (dia>29) { %>class="ocultar"<% } %>><%= dia %></option>
							<% } %>
						</select>
						<!-- Errores -->			
						<i class="fas fa-times-circle<%- !errores.dia ? ' ocultar' : '' %>">
							<span class="mensajeError"><%= errores.dia %></span>
						</i>
						<i class="fas fa-check-circle ocultar"></i>
					</div>
					<!-- Fecha desconocida -->
					<div class="input-error flex-row align-center">
						<input class="input" type="checkbox" name="desconocida" style="margin-right: 5px;" tabindex="-1">
						<p>Fecha desconocida</p>
					</div>
				</div>
			</div>
		</div>
		<!--Columna del medio-->
		<div id="columnaMedio">
		</div>
		<!--Segunda columna-->
		<div id="segundaCol">
			<!-- REPETIDOS -->
			<div class="input-error">
				<h3>Nombres con esa fecha</h3>
				<p>Destildalos para estar seguro/a de no repetirlos</p>
				<ul type="none" id="posiblesDuplicados"></ul>
				<!-- Errores -->			
				<i class="fas fa-times-circle<%- !errores.repetidos ? ' ocultar' : '' %>">
					<span class="mensajeError"><%= errores.repetidos %></span>
				</i>
				<i class="fas fa-check-circle ocultar"></i>
			</div>
		</div>
	</section>
	<!-- Flechas y Botón -->
	<section id="flechas" class="flex-row space-evenly">
		<button type="button" tabindex="-1"><a href="/agregar/producto/datos-personalizados" style="color: inherit;" tabindex="-1">Regresar</a></button>
		<button type="submit">Verificar</button>
	</section>
</form>