<% rubro = codigo == "personaje" ? "Personaje Histórico" : "Hecho Histórico" %>
<h1 class="titulo" id="titulo">Agregá una <%= rubro %> a nuestra Base de Datos</h1>
<form action="<%= link %>" method="POST" id="data_entry" class="flex-col">
	<!-- Datos -->
	<section id="cuerpo">
		<!--Primera columna-->
		<div class="flex-col">
			<!-- NOMBRE -->
			<div class="flex-col campo">
				<!-- Título del campo -->
				<div class="flex-row">
					<div class="tituloCampo" style="position: relative;">
						<h3>Nombre</h3>
						<!-- Ayuda -->
						<i class="fas fa-question-circle"></i>
						<ul type="dots" class="mensajeAyuda ocultar">
							<li>El nombre sin prefijo (San, Santa, Madre, Don)</li>
							<li>Si la persona cambió su nombre, se usa el más conocido</li>
						</ul>
					</div>
					<div></div>
				</div>
				<!-- Valores del campo -->
				<div>
					<input type="text" name="nombre" class="input" autofocus autocomplete="off">
					<!-- Errores -->			
					<i class="fas fa-times-circle<%- !errores.nombre ? ' ocultar' : '' %>">
						<span class="mensajeError"><%= errores.nombre %></span>
					</i>
					<i class="fas fa-check-circle ocultar"></i>
				</div>
			</div>
			<!-- BREVE DESCRIPCIÓN -->
			<div class="flex-col campo">
				<!-- Título del campo -->
				<div class="flex-row">
					<div class="tituloCampo" style="position: relative;">
						<h3>Breve descripción</h3>
						<!-- Ayuda -->
						<i class="fas fa-question-circle"></i>
						<ul type="dots" class="mensajeAyuda ocultar">
							<li>El lugar que ocupó en la sociedad, por el que es más conocido/a. Puede ser su actividad, un cargo, etc.</li>
						</ul>
					</div>
					<div></div>
				</div>
				<!-- Valores del campo -->
				<div>
					<select name="breve_descripcion_id">
						<option class="ocultar" <% if (!data_entry.breve_descripcion_id) { %>selected<% } %>>Elegí</option>
						<optgroup label="Vida en el mundo"></optgroup>
						<% for (breve_descripcion of laico) { %>
							<option value="<%= breve_descripcion.id %>"><%= breve_descripcion.nombre %></option>
						<% } %>
						<optgroup label="Vida en religión"></optgroup>
						<% for (breve_descripcion of os) { %>
							<option value="<%= breve_descripcion.id %>"><%= breve_descripcion.nombre %></option>
						<% } %>
					</select>
					<!-- Errores -->			
					<i class="fas fa-times-circle<%- !errores.nombre ? ' ocultar' : '' %>">
						<span class="mensajeError"><%= errores.nombre %></span>
					</i>
					<i class="fas fa-check-circle ocultar"></i>
				</div>
			</div>
			<!-- STATUS CANONIZACIÓN -->
			<div class="flex-col campo">
				<!-- Título del campo -->
				<div class="flex-row">
					<div class="tituloCampo" style="position: relative;">
						<h3>Status de canonización</h3>
						<!-- Ayuda -->
						<i class="fas fa-question-circle"></i>
						<ul type="dots" class="mensajeAyuda ocultar">
							<li>Por favor usá una fuente confiable. Ej: Santopedia y Wikipedia</li>
						</ul>
					</div>
				</div>
				<!-- Valores del campo -->
				<div>
					<select name="status_canonizacion_id" class="input">
						<option class="ocultar" <% if (!data_entry.status_canonizacion_id) { %>selected<% } %>>Elegí</option>
						<% for (status of sc) { %>
							<option value="<%= status.id %>"><%= status.nombre %></option>
						<% } %>
					</select>
				</div>
			</div>
		</div>
		<!--Columna del medio-->
		<div id="columnaMedio">
		</div>
		<!--Segunda columna-->
		<div class="flex-col" style="width: 180px;">
			<!-- FECHA REPRESENTATIVA -->
			<div class="flex-col campo">
				<!-- Título del campo -->
				<div class="flex-row">
					<div class="tituloCampo" style="position: relative;">
						<h3>Fecha más representativa</h3>
						<!-- Ayuda -->
						<i class="fas fa-question-circle"></i>
						<ul type="dots" class="mensajeAyuda ocultar">
							<li>Generalmente, se usa la fecha en que se lo recuerda.</li>
							<li>Para los santos o beatos, es la fecha en el santoral.</li>
							<li>Para los demás, suele ser la fecha de su muerte.</li>
						</ul>
					</div>
				</div>
				<!-- Valores del campo -->
				<div class="flex-col" id="valores">
					<!-- Meses -->
					<div class="flex-row" style="align-items: center;">
						<label style="width: 40px;">Mes:</label>
						<select name="mes_id" class="input">
							<option class="ocultar" <% if (!data_entry.mes_id) { %>selected<% } %>>Elegí</option>
							<% for (mes of meses) { %>
								<option value="<%= mes.id %>"><%= mes.nombre %></option>
							<% } %>
						</select>
					</div>
					<!-- Día del año -->
					<div class="flex-row" style="align-items: center;">
						<label style="width: 40px;">Día:</label>
						<select name="dia_del_ano_id" class="input">
							<option class="ocultar" <% if (!data_entry.dia_del_ano_id) { %>selected<% } %>>Elegí</option>
							<% for (dia of dias_del_ano) { %>
								<option value="<%= dia.id %>" class="<%= dia.mes_id %>"><%= dia.dia %></option>
							<% } %>
						</select>
					</div>
					<!-- Fecha desconocida -->
					<div class="flex-row">
						<input type="checkbox" name="fechaDesconocida" style="margin-right: 5px;">
						<p>Fecha desconocida</p>
					</div>
				</div>
			</div>
			<div>
				<h3>Nombres con esa fecha</h3>
				<p>Destildalos para estar seguro de no repetirlos</p>
				<div id="posiblesDuplicados">
	
				</div>

			</div>
		</div>
	</section>
	<!-- Flechas y Botón -->
	<section id="flechas" class="flex-row space-evenly">
		<button type="button">Cancelar</button>
		<button type="submit" class="botonSinLink">Confirmar</button>
	</section>
</form>