<%- include('./parciales/0-Base/0-0PRE-HEAD') %>
<head>
  <%- include('./parciales/0-Base/0-1HEAD') %>
  <link rel="stylesheet" href="/stylesheets/0-Base/ECC.css">
</head>
<body>
  <header>
    <%- include('./parciales/0-Base/1-HEADER') %>
    <!--<a href="/audio/Música-de-fondo.mp3" target="framename"><i class="fas fa-music"></i></a>-->
    <!--<audio autoplay src="/audio/Música-de-fondo.mp3"></audio>-->
  </header>
  <main class="flex-row">
    <%- include('./parciales/0-Base/IMAGEN-DERECHA') %>
    <section id="main-y-footer" class="flex-col grow">
      <%- include('./parciales/0-Base/3-FOOTER') %>
      <%- include('./parciales/0-Base/ECC') %>
    </section>
  </main>
</body>
</html>