<!DOCTYPE html>
<html lang="es">
<head>
	<!-- Head -->
	<%- include('Head') %>
	<% if (tema == "usuario") { %><%- include('0-UsuariosHead') %><% } %>
	<% if (tema == "agregar") { %><%- include('0-AgregarHead') %><% } %>
	<% if (tema == "productos") { %><%- include('0-ProductosHead') %><% } %>
	<% if (tema == "miscelaneas") { %><%- include('0-MiscelaneasHead') %><% } %>
</head>
<body>
	<%- include('Header') %>
	<main class="flex-row">
		<%- include('ImagenDerecha', {title: 'Sagrada Familia', url: '/imagenes/0-Base/Sagrada Familia.jpg'}) %>
		<section id="cuerpo-y-footer">
			<%- include('Footer') %>
			<!--**************************** CUERPO ******************************-->
			<% if (tema == "usuario") { %><%- include('0-UsuariosCuerpo') %><% } %>
			<% if (tema == "agregar") { %><%- include('0-AgregarCuerpo') %><% } %>
			<% if (tema == "productos") { %><%- include("0-ProductosCuerpo") %><% } %>
			<% if (tema == "miscelaneas") { %><%- include("0-MiscelaneasCuerpo") %><% } %>
			<!--****************************** FIN *******************************-->
		</section>
	</main>
</body>
</html>