<!DOCTYPE html>
<html lang="es">
<head>
	<!-- Agregar usuarios -->
	<% if (tema == "usuario") { %>
		<% if (codigo == "login") { %>
			<%- include('0-Head', {titulo: "Login"}) %>
			<link rel="stylesheet" href="/stylesheets/1-Usuarios/Login.css">
			<script src="/javascript/1-Usuarios/ojitoContrasena.js"></script>
			<script src="/javascript/1-Usuarios/0-Login-validar.js"></script>
		<% } else %>
		<% if (codigo == "mail") { %>
			<%- include('0-Head', {titulo: "Registro de Mail"}) %>
			<link rel="stylesheet" href="/stylesheets/1-Usuarios/1-FormMail.css">
			<script src="/javascript/1-Usuarios/1-Mail-validar.js"></script>
		<% } else %>
		<% if (codigo == "perennes") { %>
			<%- include('0-Head', {titulo: "Registro de Datos Perennes"}) %>
			<script src="/javascript/1-Usuarios/2-Perennes-validar.js"></script>
		<% } else %>
		<% if (codigo == "editables") { %>
			<%- include('0-Head', {titulo: "Registro de Datos Editables"}) %>
			<link rel="stylesheet" href="/stylesheets/1-Usuarios/3-FormEditables.css">
			<script src="/javascript/1-Usuarios/3-Editables-imagen.js"></script>
			<script src="/javascript/1-Usuarios/3-Editables-validar.js"></script>
		<% } else %>
		<% if (codigo == "detalle") { %>
			<%- include('0-Head', {titulo: "Detalle de Usuario"}) %>
		<% } %>
		<link rel="stylesheet" href="/stylesheets/1-Usuarios/0-UsuariosGral.css">
	<% } %>
	<!-- Agregar productos -->
	<% if (tema == "agregar") { %>
		<%- include('0-Head', {titulo: "PEL-Agregar"}) %>
		<link rel="stylesheet" href="/stylesheets/2-AgregarProductos/0-Agregar.css">
		<% if (codigo == "palabrasClave") { %>
			<link rel="stylesheet" href="/stylesheets/2-AgregarProductos/1-PalabrasClave.css">
			<script src="/javascript/2-Productos/1-palabrasClave.js"></script>
		<% } else %>
		<% if (codigo == "desambiguar") { %>
			<link rel="stylesheet" href="/stylesheets/2-AgregarProductos/2A-DesambTMDB.css">
			<script src="/javascript/2-Productos/2A-DESAMB-Desplazam.js"></script>
			<script src="/javascript/2-Productos/2A-DESAMB-Errores.js"></script>
		<% } else %>
		<% if (codigo == "tipoProducto") { %>
			<link rel="stylesheet" href="/stylesheets/2-AgregarProductos/2B-TipoProducto.css">
			<!-- <script src="/javascript/2-Productos/2B-tipoProd-Errores.js"></script> -->
			<script src="/javascript/2-Productos/2B-tipoProd-Mostrar.js"></script>
			<!-- <script src="/javascript/2-Productos/2B-tipoProd-Ayuda.js"></script> -->
		<% } else %>
		<% if (codigo == "copiarFA") { %>
			<link rel="stylesheet" href="/stylesheets/2-AgregarProductos/2C-CopiarFA.css">
			<script src="/javascript/2-Productos/2C-copiarFA-Errores.js"></script>
			<script src="/javascript/2-Productos/2C-copiarFA-Mostrar.js"></script>
			<script src="/javascript/2-Productos/2C-copiarFA-Ayuda.js"></script>
		<% } else %>
		<% if (codigo == "datosDuros") { %>
			<link rel="stylesheet" href="/stylesheets/2-AgregarProductos/3-DatosDuros.css">
			<script src="/javascript/2-Productos/3-DD-Ayuda.js"></script>
			<script src="/javascript/2-Productos/3-DD-Errores.js"></script>
			<% if (dataEntry) { %>
				<% if (!dataEntry.avatar || dataEntry.fuente!="TMDB") { %><script src="/javascript/2-Productos/3-DD-Imagen.js"></script><% } %>
				<% if (!dataEntry.paises_id) { %><script src="/javascript/2-Productos/3-DD-Paises.js"></script><% } %>
			<% } %>
		<% } else %>
		<% if (codigo == "datosPers") { %>
			<link rel="stylesheet" href="/stylesheets/2-AgregarProductos/4-DatosPers.css">
			<script src="/javascript/2-Productos/4-DP-Ayuda.js"></script>
			<script src="/javascript/2-Productos/4-DP-Errores.js"></script>
			<script src="/javascript/2-Productos/4-DP-Subcat.js"></script>
		<% } else %>
		<% if (codigo == "confirmar") { %><link rel="stylesheet" href="/stylesheets/2-AgregarProductos/5-Confirmar.css"><% } else %>
		<% if (codigo == "conclusion") { %><link rel="stylesheet" href="/stylesheets/2-AgregarProductos/6-Conclusion.css"><% } else %>
		<% if (codigo == "responsabilidad") { %><link rel="stylesheet" href="/stylesheets/2-AgregarProductos/0-Responsabilidad.css"><% } %>
	<% } %>
	<!-- Producto -->
	<% if (tema == "producto") { %>
		<% if (codigo == "detalle") { %>
			<%- include('0-Head', {titulo: "Detalle del Producto"}) %>
		<% } %>
	<% } %>
	<!-- Opciones de layout -->
	<% if (tema == "opciones") { %>
		<%- include('0-Head', {titulo}) %>
		<link rel="stylesheet" href="/stylesheets/3-ElegirOpciones/0-Opciones.css">
		<link rel="stylesheet" href="/stylesheets/3-ElegirOpciones/Filtros.css">
	<% } %>
	<!-- Miscelaneas -->
	<% if (tema == "RCLV") { %>
		<%- include('0-Head', {titulo: "PEL-Agregar"}) %>
		<%- include('0-Head', {titulo: "Agregar un "+ codigo +" Histórico"}) %>
		<link rel="stylesheet" href="/stylesheets/9-Miscelaneas/RelacionConLaVida.css">
		<script src="/javascript/9-Miscelaneas/RCLV-Ayuda.js"></script>
		<script src="/javascript/9-Miscelaneas/RCLV-Fechas.js"></script>
		<script src="/javascript/9-Miscelaneas/RCLV-Errores.js"></script>
	<% } %>
	<% if (tema == "institucional") { %>
		<% if (codigo == "nosotros") { %>
			<%- include('0-Head', {titulo: "Quiénes somos"}) %>
			<link rel="stylesheet" href="/stylesheets/9-Miscelaneas/Nosotros.css">
		<% } %>
	<% } %>
</head>
<body>
	<%- include('1-Header') %>
	<main class="flex-row">
		<%- (tema == "usuario" || tema == "agregar" || tema == "opciones") ? include('2-ImagenDerecha', {title: 'Sagrada Familia', url: '/imagenes/0-Base/Sagrada Familia.jpg'}) : "" %>
		<%- (tema == "producto") ? include('2-ImagenDerecha', {title: producto.nombre_castellano, url: avatar}) : "" %>
		<section id="cuerpo-y-footer" class="flex-col grow">
			<%- include('3-Footer') %>
			<!--**************************** CUERPO ******************************-->
			<% if (tema=="usuario") { %>
				<section id="Form" class="flex-col">
					<%- codigo == "login" ? include("0-LoginForm") : "" %>
					<%- codigo == "mail" ? include("1-FormMail") : "" %>
					<%- codigo == "perennes" ? include("2-FormPerennes") : "" %>
					<%- codigo == "editables" ? include("3-FormEditables") : "" %>
					<%- codigo == "detalle" ? include("detalle") : "" %>
					<%- codigo == "editar" ? include("editar") : "" %>
				</section>
			<% } else %>
			<% if (tema=="agregar") { %>
				<section class="cuerpo flex-col grow">
					<%- codigo == "responsabilidad" ? include("0-Responsabilidad") : "" %>
					<%- codigo == "palabrasClave" ? include("1-PalabrasClave") : "" %>
					<%- codigo == "desambiguar" ? include("2A-DesambTMDB") : "" %>
					<%- codigo == "tipoProducto" ? include("2B-TipoProducto") : "" %>
					<%- codigo == "copiarFA" ? include("2C-CopiarFA") : "" %>
					<%- codigo == "datosDuros" ? include("3-DatosDuros") : "" %>
					<%- codigo == "datosPers" ? include("4-DatosPers") : "" %>
					<%- codigo == "confirmar" ? include("5-Confirmar") : "" %>
					<%- codigo == "conclusion" ? include("6-Conclusion") : "" %>
				</section>
			<% } else %>
			<% if (tema=="producto") { %>
				<section class="cuerpo flex-col grow">
					<%- codigo == "detalle" ? include("1-Detalle") : "" %>
				</section>
			<% } else %>
			<% if (tema=="RCLV") { %>
				<section class="cuerpo flex-col grow">
					<%- include("RCLV") %>
				</section>
			<% } else %>
			<% if (tema=="opciones") { %><%- include("0-HomeOpciones") %><% } %>
			<% if (tema=="institucional") { %>
				<%- codigo == "nosotros" ? include("Nosotros") : "" %>
			<% } %>
			<!--****************************** FIN *******************************-->
		</section>
	</main>
</body>
</html>