<!DOCTYPE html>
<html lang="es">
<head>
	<!-- Head -->
	<% if (tema == "usuario") { %><%- include('0-HeadUsuarios') %><% } %>
	<% if (tema == "agregar") { %><%- include('0-HeadAgregar') %><% } %>
	<% if (tema == "opciones") { %><%- include('0-HeadProductos') %><% } %>
	<% if (tema == "miscelaneas") { %><%- include('0-HeadMiscelaneas') %><% } %>
</head>
<body>
	<%- include('1-Header') %>
	<main class="flex-row">
		<%- include('2-ImagenDerecha', {title: 'Sagrada Familia', url: '/imagenes/0-Base/Sagrada Familia.jpg'}) %>
		<section id="cuerpo-y-footer">
			<%- include('3-Footer') %>
			<!--**************************** CUERPO ******************************-->
			<% if (tema == "usuario") { %><%- include('0-CuerpoUsuarios') %><% } %>
			<% if (tema == "agregar") { %><%- include('0-CuerpoAgregar') %><% } %>
			<% if (tema == "opciones") { %><%- include("0-CuerpoProductos") %><% } %>
			<% if (tema == "miscelaneas") { %><%- include("0-CuerpoMiscelaneas") %><% } %>
			<!--****************************** FIN *******************************-->
		</section>
	</main>
</body>
</html>