<%- include('./parciales/0-0PRE-HEAD') %>
<head>
  <%- include('./parciales/0-1HEAD') %>
  <link rel="stylesheet" href="/stylesheets/PEL-FILTROS.css">
  <link rel="stylesheet" href="/stylesheets/1-PELICULAS.css">
  <title>Películas</title>
</head>
<body>
  <header>
    <%- include('./parciales/1-HEADER') %>
    <a href="/peliculas"><i class="fas fa-video rubro"></i></a>
  </header>
  <main class="flex-row">
    <%- include('./parciales/IMAGEN-DERECHA') %>
    <section id="main-y-footer" class="flex-col grow">
      <%- include('./parciales/3-FOOTER') %>

      <!--DESDE AQUÍ COMIENZA LO PARTICULAR DE ESTA PÁGINA-->

      <section class="flex-row grow">
        <section class="flex-col"><!--FILTROS-->
          <%- include('./parciales/PEL-FILTROS') %>
        </section>
        <section id="cuerpo-listado" class="grow"><!--LISTADO DE PELÍCULAS-->
          <div><!--CONTADOR DE PELÍCULAS-->
            <button type="text" id="contador-de-películas">Contador</button>
          </div>
          <p><button id="título">Listado de Películas</button></p>
          <select id="criterio" name="opción"><!--CRITERIO DE LISTADO-->
            <a href=""><option value="MA" selected>Sugeridas para el momento del año</option></a>
            <a href=""><option value="CAL">TODAS - Por orden de calificación en nuestra página</option></a>
            <a href=""><option value="AÑO">TODAS - Por año de estreno</option></a>
            <a href=""><option value="INC">TODAS - Por orden de incorporación a nuestra base de datos</option></a>
            <a href=""><option value="AÑO">VISITADAS - Por orden de visita</option></a>
          </select>
        </section>
      </section>
      
      <!--ACÁ TERMINA LO PARTICULAR DE ESTA PÁGINA-->

    </section>
  </main>
</body>
</html>