<%- include('./parciales/0-Base/0-0PRE-HEAD') %>
<head>
  <%- include('./parciales/0-Base/0-1HEAD') %>
  <link rel="stylesheet" href="/stylesheets/1-Peliculas/PEL-0MAIN.css">
  <link rel="stylesheet" href="/stylesheets/1-Peliculas/PEL-0FILTROS.css">
  <link rel="stylesheet" href="/stylesheets/1-Peliculas/PEL-11LISTADO.css">
</head>
<body>
  <header>
    <%- include('./parciales/0-Base/1-HEADER') %>
    <%- título == "Películas" ? include('./parciales/1-Peliculas/PEL-1RUBRO') : "" %>
  </header>
  <main class="flex-row">
    <%- include('./parciales/0-Base/IMAGEN-DERECHA') %>
    <section id="main-y-footer" class="flex-col grow">
      <%- include('./parciales/0-Base/3-FOOTER') %>
      <%- título == "ECC" ? include('./parciales/0-Base/ECC') : "" %>
      <%- título == "Películas" ? include('./parciales/1-Peliculas/PEL-0HOME') : "" %>
    </section>
  </main>
</body>
</html>