<%- include('./parciales/0-Base/0-0PRE-HEAD') %>
<head>
  <%- include('./parciales/0-Base/0-1HEAD') %>
  <link rel="stylesheet" href="/stylesheets/1-Películas/PEL-0MAIN.css">
  <link rel="stylesheet" href="/stylesheets/1-Películas/PEL-0FILTROS.css">
  <link rel="stylesheet" href="/stylesheets/1-Películas/PEL-11LISTADO.css">
  <title>Películas</title>
</head>
<body>
  <header>
    <%- include('./parciales/0-Base/1-HEADER') %>
    <a href="/pel-home"><i class="fas fa-video rubro"></i></a>
  </header>
  <main class="flex-row">
    <%- include('./parciales/0-Base/IMAGEN-DERECHA') %>
    <section id="main-y-footer" class="flex-col grow">
      <%- include('./parciales/0-Base/3-FOOTER') %>
<!--DESDE AQUÍ COMIENZA LO PARTICULAR DE ESTA PÁGINA-->
      <section class="flex-row grow" id="cuerpo">
        <button type="text" id="contador-de-películas">Contador</button> <!--CONTADOR-->
        <section class="flex-col"> <!--FILTROS-->
          <%- include('./parciales/1-Peliculas/PEL-0FILTROS') %>
        </section>
        <section id="cuerpo-listado" class="flex-col grow">  <!--ZONA DE PELÍCULAS-->
          <select id="título" name="criterio"><!--CRITERIO PARA MOSTRAR (LISTADO-ECC-VPC)-->
            <option value="LP">Listado de Películas</option>
            <option value="CFC">Un paseo por CFC</option>
            <option value="VPC">Un paseo por VPC</option>
          </select>
          <!--LISTADO DE PELÍCULAS--> <%- include('./parciales/1-Peliculas/PEL-11LISTADO') %>
          <!--CFC-->
          <!--VPC-->
        </section>
      </section>      
<!------------------------------------------------------>

    </section>
  </main>
</body>
</html>