<% if (locals.userPerenne ) { %>
	<!-- VISTA DETALLE - Para ir a las vistas de Inactivar o Recuperar -->
	<!-- Usuario validado, vista 'Detalle' y status 'Estable' -->
	<div id="flechasCambioStatus" class="flechas">
		<% if (locals.status_id == creado_id && locals.usuario && usuario.id == locals.creadoPor_id) { %>
			<!-- Eliminar -->
			<a href="<%= '/' + familia + '/eliminadoPorCreador/?entidad=' + entidad + '&id=' + id + (locals.origen ? ('&origen=' + origen) : '') %>">
				<i class="fa-solid fa-trash-can" tabindex="-1" title="Ir a 'Eliminar definitivamente'"></i>
			</a>
		<% } %>
		<% if (aprobados_ids.includes(locals.status_id)) { %>
			<!-- Inactivar -->
			<a href="<%= '/' + familia + '/inactivar/?entidad=' + entidad + '&id=' + id + (locals.origen ? ('&origen=' + origen) : '') %>">
				<i class="fa-solid fa-circle-xmark" tabindex="-1" title="Ir a 'Inactivar'"></i>
			</a>
		<% } %>
		<% if (locals.status_id == inactivo_id) { %>
			<!-- Recuperar -->
			<a href="<%= '/' + familia + '/recuperar/?entidad=' + entidad + '&id=' + id + (locals.origen ? ('&origen=' + origen) : '') %>">
				<i class="fa-solid fa-circle-check" tabindex="-1" title="Ir a 'Recuperar'"></i>
			</a>
			<% if (locals.usuario && usuario.rolUsuario.revisorPERL) { %>
				<!-- Eliminar -->
				<a href="<%= '/' + familia + '/eliminar/?entidad=' + entidad + '&id=' + id + (locals.origen ? ('&origen=' + origen) : '') %>">
					<i class="fa-solid fa-trash-can" tabindex="-1" title="Ir a 'Eliminar definitivamente'"></i>
				</a>
			<% } %>
		<% } %>
	</div>
<% } %>

<% condic1 = tema == "rclv_crud" && (codigo == "agregar" || codigo == "edicion") %>
<% condic2 = tema == "revisionEnts" && codigo == "rclv/solapamiento" %>
<% if (condic1 || condic2) { %>
	<!-- VISTA CRUD     - AGREGAR/EDICION/ELIMINAR EDICIÓN RCLV -->
	<!-- VISTA REVISIÓN - SOLAPAMIENTO -->
	<div class="flechas">
		<!-- Eliminar edición -->
		<% if (tema == "rclv_crud" && codigo == "edicion" && edicID) { %>
			<label for="eliminaEdicion" title="Eliminar la Edición">
				<i class="fa-solid fa-trash-can"></i>
			</label>
			<input id="eliminaEdicion" type="submit" class="submit" formaction="<%= originalUrl %>&eliminarEdic=true" formmethod="post" >
		<% } %>
		<!-- Aprobar -->
		<button type="submit" autofocus class="inactivo">
			<i class="fa-solid fa-circle-check" title="Guardar"></i>
		</button>
	</div>
<% } %>
<% condic1 = tema == "crud" && codigo != "eliminar" %>
<% condic2 = tema == "revisionEnts" && codigo == "rechazo" %>
<% if (condic1 || condic2) {  %>
	<!-- VISTAS CRUD     - INACTIVAR Y RECUPERAR - Para completar el feedback y enviar a Revisión -->
	<!-- VISTAS REVISION - RECHAZO - Para completar el feedback y enviar a Revisión -->
	<!-- Confirma el cambio de status -->
	<button type="submit" class="flechas <%- codigo != 'eliminar' ? 'inactivo' : '' %>">
		<i class="fa-solid fa-circle-right" tabindex="-1" title="Confirma el cambio de status"></i>
	</button>
<% } %>
<!-- VISTAS CRUD - ELIMINAR -->
<% if (tema == "crud" && codigo == "eliminar") {  %>
	<!-- Elimina definitivamente -->
	<button type="submit" class="flechas <%- codigo != 'eliminar' ? 'inactivo' : '' %>">
		<i class="fa-solid fa-trash-can" tabindex="-1" title="Eliminar definitivamente"></i>
	</button>
<% } %>


<% if (tema == "revisionEnts" && locals.statusCreado) { %>
	<!-- VISTA REVISION ALTA - Para Aprobar o ir a la vista Rechazar -->
	<div class="flechas">
		<!-- Aprobar -->
		<button type="submit" autofocus>
			<i class="fa-solid fa-circle-check" title="Aprobar"></i>
		</button>
		<!-- Rechazar -->
		<a href="<%= '/revision/' + familia + '/rechazo/?entidad=' + entidad + '&id=' + id + (locals.origen ? ('&origen=' + origen) : '') %>">
			<i class="fa-solid fa-circle-xmark" tabindex="-1" title="Rechazar"></i>
		</a>
	</div>
<% } %>

<% if (tema == "revisionEnts" && codigo == "inactivar-o-recuperar") {  %>
	<!-- VISTAS REVISION INACTIVAR Y RECUPERAR - Para completar el feedback y enviar a 'aprobado' o 'inactivo' -->
	<div class="flechas">

		<!-- Rechaza el cambio de status -->
		<label for="desaprueba" class="inactivo">
			<i class="fa-solid fa-circle-xmark" tabindex="-1" title="Desaprueba el cambio de status"></i>
		</label>
		<input type="submit" id="desaprueba" formaction="<%= urlActual %>&desaprueba=true" formmethod="post">

		<!-- Confirma el cambio de status -->
		<button type="submit" id="aprueba">
			<i class="fa-solid fa-circle-right" tabindex="-1" title="Aprueba el cambio de status"></i>
		</button>

	</div>
<% } %>
