<link rel="stylesheet" href="/publico/formatos/0-Compartido/Main/CMP-MN-Flechas.css">
<% const detalle = (["prodRud", "rclvCrud"].includes(tema)) && codigo == "detalle" %>
<% const terminaste = tema == "prodAgregar" && locals.id %>
<% const revLinks = tema == "revisionEnts" && codigo == "abmLinks" %>
<% const oa = locals.entidad == "capitulos" ? 'o' : 'a' %>
<% const ORIGEN = locals.origen ? ('&origen=' + origen) : '' %>
<% const ORIGEN_DIF_DT= locals.origen && !origen.startsWith("DT") ? ORIGEN : '' %>
<div class="iconos">
	<% if (locals.origen && origen != "DTR") { %><!-- Cuando tiene origen distinto a 'DTR' -->
		<!-- Salir -->
		<% const ENTIDAD = 'entidad=' + (locals.prodEntidad ? prodEntidad : entidad) %>
		<% const ID = locals.prodID || locals.id ? ('&id='+(locals.prodID || locals.id)) : '' %>
		<a href="/inactivar-captura/?<%= ENTIDAD + ID + ORIGEN %>">
			<i class="fa-solid fa-circle-left" tabindex="-1" title="Liberar y salir"></i>
		</a>
	<% } %>
	<% if (ORIGEN_DIF_DT && !revLinks || !detalle && !locals.origen) { %>
		<!-- Ir a Detalle - siempre que el origen sea distinto a 'Detalle' o no haya origen -->
		<a href="<%= '/' + familia + '/detalle/?entidad=' + entidad + '&id=' + id %>">
			<i class="fa-solid fa-circle-info" tabindex="-1" title="Ir a la vista 'Detalle'"></i>
		</a>
	<% } %>
	<% if (terminaste || detalle) { %>
		<!-- Edici贸n, Links y Calificar -->
		<% if (locals.status_id && status_id <= aprobado_id) { %>
			<a href="<%= '/' + familia + '/edicion/?entidad=' + entidad + '&id=' + id + ORIGEN_DIF_DT %>">
				<i class="fa-solid fa-pen" tabindex="-1" title="Ir a la vista 'Edici贸n'"></i>
			</a>
			<% if (familia == "producto") { %>
				<a href="<%= '/links/abm/?entidad=' + entidad + '&id=' + id + ORIGEN_DIF_DT %>">
					<i class="fa-solid fa-link" tabindex="-1" title="Ir a la vista 'Links'"></i>
				</a>
				<a href="<%= '/producto/calificar/?entidad=' + entidad + '&id=' + id + ORIGEN_DIF_DT %>">
					<i class="fa-solid fa-chart-simple fa-rotate-90 <%= locals.yaCalificada %>" tabindex="-1" title="<%= locals.yaCalificada ? 'Ya l'+ oa +' calificaste' : 'Califical'+oa %>"></i>
				</a>
			<% } %>
		<% } else { %>
			<i class="fa-solid fa-pen inactivo" tabindex="-1" title="Ir a la vista 'Edici贸n'"></i>
			<% if (familia == "producto") { %>
				<i class="fa-solid fa-link inactivo" tabindex="-1" title="Ir a la vista 'Links'"></i>
				<i class="fa-solid fa-chart-simple fa-rotate-90 inactivo" tabindex="-1" title="Califica<%= (entidad=="capitulos" ? "lo" : "la") %>"></i>
			<% } %>
		<% } %>
	<% } %>
	<% if (tema == "revisionEnts" && codigo == "abmLinks") { %>
		<!-- Link para Revisi贸n -->
		<a href="<%= '/links/abm/?entidad=' + entidad + '&id=' + id + (ORIGEN_DIF_DT.includes("TR") ? ORIGEN_DIF_DT.replace("TR","RL") : ORIGEN_DIF_DT) %>">
			<i class="fa-solid fa-link" tabindex="-1" title="Ir a la vista 'Links'"></i>
		</a>
		<% if (locals.linkSigProd) { %>
			<a href="<%= linkSigProd %>">
				<i class="fa-solid fa-circle-right" tabindex="-1" title="Para ver la siguiente"></i>
			</a>
		<% } %>
	<% } %>
</div>
