<!DOCTYPE html>
<html lang="es">
<head>
	<!-- Head -->
	<%- include('1-Head') %>
	<% if (tema == "usuario") { %><%- include('0-Usuarios-Head') %><% } %>
	<% if (tema == "prod_agregar") { %><%- include('0-Agregar-Head') %><% } %>
	<% if (tema == "rclv") { %><%- include('0-RCLV-Head') %><% } %>
	<% if (tema == "revision") { %><%- include('0-Revisar-Head') %><% } %>
	<% if (tema == "productos") { %><%- include('0-Productos-Head') %><% } %>
	<% if (tema == "miscelaneas") { %><%- include('0-Miscelaneas-Head') %><% } %>
</head>
<body>
	<%- include('21-Header') %>
	<main class="flex-row">
		<%- include('ImagenDerecha', {url: '/imagenes/0-Base/ImagenDerecha.jpg'}) %>
		<section id="cuerpo-y-footer">
			<%- include('23-Footer') %>
			<!--**************************** CUERPO ******************************-->
			<% if (tema == "usuario") { %><%- include('0-Usuarios-Cuerpo') %><% } %>
			<% if (tema == "prod_agregar") { %><%- include('0-Agregar-Cuerpo') %><% } %>
			<% if (tema == "rclv") { %><%- include('0-RCLV-Cuerpo') %><% } %>
			<% if (tema == "revision") { %><%- include('0-Revisar-Cuerpo') %><% } %>
			<% if (tema == "productos") { %><%- include("0-Productos-Cuerpo") %><% } %>
			<% if (tema == "miscelaneas") { %><%- include("0-Miscelaneas-Cuerpo") %><% } %>
			<!--****************************** FIN *******************************-->
		</section>
	</main>
</body>
</html>