<form action="<%= vista %>guardar" method="POST" enctype="multipart/form-data">
	<section id="imagen" class="input-error">
		<label for="inputImagen" id="imagenProducto">
			<img src="<%= avatar %>" class="pointer">
		</label>
		<input name="avatar" type="file" id="inputImagen" accept="image/*" class="input ocultar">
		<label id="imagenProducto2" class="ocultar">
			<img src="<%= avatar %>" class="ocultar">
		</label>
		<!-- Ayuda -->
		<i class="fa-solid fa-circle-question"></i>
		<ul type="dots" class="mensajeAyuda ocultar">
			<li>Haciendo <em>click</em> en la imagen podés reemplazarla por otra.</li>
			<li>La extensión de la imagen debe ser <em><strong>JPG</strong></em> o <em><strong>PNG</strong></em></li>
		</ul>		
		<!-- Errores -->
		<i class="fa-solid fa-circle-xmark <%- !errores.avatar ? 'ocultar' : '' %>">
			<span class="mensajeError"><%= errores.avatar %></span>
		</i>
		<i class="fa-solid fa-circle-check ocultar"></i>
		<!-- Aviso de cambio en el data-entry -->
		<i class="fa-solid fa-arrow-right-long ocultar"></i>
	</section>
	<section id="cuerpo-y-footer">
		<%- include('3-Footer-Gral') %>
		<!--**************************** CUERPO ************************-->
		<div id="cuerpo">
			<%- include('TimerContador') %>
			<%- include('Cartel') %>
			<div id="tituloConAyuda">
				<h1 id="titulo"><%= titulo %></h1>
				<!-- Ayuda -->
				<i id="iconoAyuda" class="fa-solid fa-circle-question"></i>
				<ul class="mensajeAyuda ocultar" type="dots">
					<li>Al terminar, es importante que vayas a la vista <em>Detalle de Producto</em> para liberarlo y ver el resultado de tu edición.</li>
					<li>Sólo se pueden eliminar ediciones de productos aprobados.</li>
				</ul>	
			</div>
			<div id="edicionForm">
				<%- include('Prod-2Edicion2') %>
			</div>
		</div>
		<!--****************************** FIN *************************-->
	</section>
</form>
