<!-- Izquierda -->
<div id="nombres">
	<% if (codigo != "detalle") { %>
		<a href="/producto/detalle/?entidad=<%= entidad %>&id=<%= id %><%= locals.origen && !origen.startsWith("DT") ? '&origen=' + origen : '' %>">
	<% } %>
	<h2>
		<%= registro.capitulo ? (registro.capitulo + ". ") : "" %>
		<%= registro.nombreCastellano ? (registro.nombreCastellano + (registro.anoEstreno ? " (" + registro.anoEstreno + ")" : "")) : locals.canonNombre + registro.nombre %>
	</h2>
	<h3><em><%= registro.nombreOriginal ? registro.nombreOriginal : registro.apodo %></em></h3>
	<% if (codigo != "detalle") { %>
		</a>
	<% } %>
</div>

<!-- Derecha -->
<% if (familia == "producto" && entidad != "peliculas") { %>
	<div id="colCap">
		<% if (entidad == "colecciones") { %>
			<!-- Cantidad de Temporadas y de Capítulos -->
			<div id="colecciones">
				<% const anchor = ["prodRud", "linksCRUD"].includes(tema) %>
				<% if (anchor) { %><a href="/inactivar-captura/?entidad=colecciones&id=<%= id %>&prodEntidad=capitulos&prodID=<%= capID %>&origen=<%= rutaCRUD %>"><% } %>
					<div class="pointer scale">
						<p <% if (registro.cantTemps == 1) { %>class="ocultar"<% } %>><b>Temporadas:</b> <%= registro.cantTemps ? registro.cantTemps : "Sin datos" %></p>
						<p><b>Cant. de Capítulos:</b> <%= registro.capitulos.length %></p>
					</div>
				<% if (anchor) { %></a><% } %>
			</div>
		<% } %>
		<% if (entidad == "capitulos") { %>
			<!-- Ir a la colección -->
			<div id="tempCapI">
				<p><b>Colección:</b></p>
				<a href="<%= '/inactivar-captura/?entidad=capitulos&id=' + id + '&prodEntidad=colecciones&prodID=' + registro.coleccion_id + '&origen=' + rutaCRUD %>">
					<button type="button" class="scale pointer"><%= registro.coleccion.nombreCastellano %></button>
				</a>
			</div>
			<div id="tempCapS">
				<!-- Avanza/Retrocede un capítulo -->
				<script src="/publico/javascript/2.1-Prod-RUD/PR0-AvanzaRetrCap.js"></script>
				<div class="pack">
					<i class="fa-solid fa-circle-left inactivo pointer" tabindex="-1" title="Ir al capítulo anterior"></i>
					<i class="fa-solid fa-circle-right inactivo pointer" tabindex="-1" title="Ir al capítulo posterior"></i>
				</div>
				<% if (["prodRud", "linksCRUD"].includes(tema)) { %>
					<!-- Elige una temporada o capítulo -->
					<script src="/publico/javascript/2.1-Prod-RUD/PR0-CambioTempCap.js"></script>
					<select id="temporada" <% if (tema != "prodRud") { %>readonly <% } %> <% if (registro.coleccion.cantTemps == 1) { %>class="ocultar"<% } %>>
						<% for (let temp = 1; temp <= registro.coleccion.cantTemps; temp++) { %>
							<option value="<%= temp %>" <% if (registro.temporada == temp) { %>selected<% } %> >Temporada <%= temp %></option>
						<% } %>
					</select>
					<select id="capitulo">
						<% for (let capitulo of registro.capitulos) { %>
							<option value="<%= capitulo.numero %>" <% if (registro.capitulo == capitulo.numero) { %>selected<% } %> ><%= capitulo.numero + ". " + capitulo.nombre %></option>
						<% } %>
					</select>
				<% } else { %>
					<!-- Información de Temporada y Capítulo - no se cambia -->
					<p style="margin-right: 15px;"><b>Temporada:</b> <%= registro.temporada %></p>
					<p><b>Capítulo:</b> <%= registro.capitulo %></p>
				<% } %>
			</div>
		<% } %>
	</div>
<% } %>
<% if (familia == "rclv") { %>
	<p>Películas vinculadas: <%= prodsDelRCLV.length %></p>
<% } %>
