<link rel="stylesheet" href="/publico/formatos/2.0-Familias-CRUD/FM-Encabezado.css">
<%- include("FM-EncabIzq") %>
<% if (entidad != "peliculas") { %>
	<div id="colCap">
		<% if (entidad == "colecciones") { %>
			<!-- Cantidad de Temporadas y de Capítulos -->
			<div id="colecciones">
				<% const anchor = ["prodRud", "linksCRUD"].includes(tema) %>
				<% if (anchor) { %><a href="/inactivar-captura/?entidad=colecciones&id=<%= id %>&prodEntidad=capitulos&prodID=<%= capID %>&origen=<%= rutaCRUD %>"><% } %>
					<div class="pointer scale">
						<p <% if (registro.cantTemps == 1) { %>class="ocultar"<% } %>><b>Temporadas:</b> <%= registro.cantTemps ? registro.cantTemps : "Sin datos" %></p>
						<p><b>Cant. de Capítulos:</b> <%= registro.capitulos.length %></p>
					</div>
				<% if (anchor) { %></a><% } %>
			</div>
		<% } %>
		<% if (entidad == "capitulos") { %>
			<!-- Ir a la colección -->
			<div id="tempCapI">
				<p><b>Colección:</b></p>
				<a href="<%= '/inactivar-captura/?entidad=capitulos&id=' + id + '&prodEntidad=colecciones&prodID=' + registro.coleccion_id + '&origen=' + rutaCRUD %>">
					<button type="button" class="scale pointer"><%= registro.coleccion.nombreCastellano %></button>
				</a>
			</div>
			<div id="tempCapS">
				<% if (["prodRud", "linksCRUD"].includes(tema)) { %>
					<script src="/publico/javascript/2.1-Prod-RUD/PR0-CambioTempCap.js"></script>
					<script src="/publico/javascript/2.1-Prod-RUD/PR0-AvanzaRetrCap.js"></script>
					<!-- Cambia de capítulo -->
					<div class="pack">
						<i class="fa-solid fa-circle-left inactivo pointer" tabindex="-1" title="Ir al capítulo anterior"></i>
						<i class="fa-solid fa-circle-right inactivo pointer" tabindex="-1" title="Ir al capítulo posterior"></i>
					</div>
					<select id="temporada" <% if (tema != "prodRud") { %> readonly <% } %> <% if (registro.coleccion.cantTemps == 1) { %>class="ocultar"<% } %>>
						<% for (let temp = 1; temp <= registro.coleccion.cantTemps; temp++) { %>
							<option value="<%= temp %>" <% if (registro.temporada == temp) { %>selected<% } %> >Temporada <%= temp %></option>
						<% } %>
					</select>
					<select id="capitulo">
						<% for (let capitulo of registro.capitulos) { %>
							<option value="<%= capitulo.numero %>" <% if (registro.capitulo == capitulo.numero) { %>selected<% } %> ><%= capitulo.numero + ". " + capitulo.nombre %></option>
						<% } %>
					</select>
				<% } else { %>
					<!-- Temporada y Capítulo - no se cambia -->
					<p style="margin-right: 15px;"><b>Temporada:</b> <%= registro.temporada %></p>
					<p><b>Capítulo:</b> <%= registro.capitulo %></p>
				<% } %>
			</div>
		<% } %>
	</div>
<% } %>
