<% if (locals.cartelGenerico || locals.cartelRechazo) { %><%- include('CMP-TimerContador') %><% } %>
<div id="tituloPrincipal">
	<h1 id="titulo"><%= locals.tituloDetalle ? tituloDetalle : titulo %></h1>
	<h2>
		Gentileza de
		<img src="/Externa/6-LogosProvs/<%= link.prov.avatar %>" alt="<%= link.prov.nombre %>">
	</h2>
	<% if (locals.ayudasTitulo) { %>
		<!-- Ayuda -->
		<div class="ayuda">
			<i class="fa-solid fa-circle-question ayudaClick desplClick">
				<ul class="ayudaMostrar ocultar desplMostrar" type="<%- ayudasTitulo.length > 1 ? 'dots' : 'none' %>">
					<% for (let ayuda of ayudasTitulo) { %>
						<li><%= ayuda %></li>
					<% } %>
				</ul>
			</i>
		</div>
	<% } %>
</div>
