<!-- Motivos -->
<section id="motivos">
    <h3>Elegí un Motivo de Rechazo:</h3>
    <ul type="none">
        <% for (let motivo of motivos) { %>
            <li>
                <input type="radio" id="<%= motivo.id %>" class="<%= motivo.agregarComent ? 'agregarComent' : '' %>" name="motivo_id" value="<%= motivo.id %>">
                <label for="<%= motivo.id %>"><%= motivo.descripcion %></label>
            </li>
        <% } %>
    </ul>
</section>
<%- include("FM1-Comentario") %>
