<link rel="stylesheet" href="/formatos/2.0-Familias-CRUD/FM-Encabezado.css">
<div id="nombres">
	<h2><%= familia == "rclv" ? registro.nombre : registro.nombre_castellano %></h2>
	<% if (registro.nombre_original || registro.apodo) { %>
		<h3><em><%= familia == "rclv" ? registro.apodo : registro.nombre_original %></em></h3>
	<% } %>
</div>
<div id="colCap">
	<!-- Cantidad de Temporadas y de Capítulos -->
	<% if (entidad == "colecciones") { %>
		<div id="colecciones">
			<div>
				<p><strong>Cant. de Temporadas:</strong> <%= registro.cant_temps ? registro.cant_temps : "Sin temporada" %></p>
				<p><strong>Cant. de Capítulos:</strong> <%= registro.capitulos.length %></p>
			</div>
		</div>
		<% } %>
	<!-- Colección a la que pertenece -->
	<% if (entidad == "capitulos") { %>
		<script src="/javascript/2.1-Prod-RUD/PR0-AvanzaRetrCap.js"></script>
		<div id="tempCapI">
			<p><strong>De la colección:</strong>
				<a href="/producto/detalle/?entidad=colecciones&id=<%= registro.coleccion.id %>" target="_blank">
					<span><%= registro.coleccion.nombre_castellano %></span>
				</a>
			</p>
		</div>
		<div id="tempCapS">
			<!-- Cambiar de capítulo -->
			<div class="pack">
				<i class="fa-solid fa-circle-left inactivo" tabindex="-1" title="Ir al capítulo anterior"></i>
				<i class="fa-solid fa-circle-right inactivo" tabindex="-1" title="Ir al capítulo posterior"></i>
			</div>			
			<p id="temporada">Temporada: <%= registro.temporada %></p>
			<p id="capitulo">Capítulo: <%= registro.capitulo %></p>
		</div>
	<% } %>
</div>
<% if (familia == "rclv") { %>
	<p>Productos vinculados: <%= prodsDelRCLV.length %></p>
<% } %>
