<section id="encabezado">
	<div id="nombres">
		<a href="/producto/detalle/?entidad=<%= entidad %>&id=<%= prodOrig.id %>" target="_blank" tabindex="-1">
			<h1><%= prodOrig.nombre_castellano %></h1>
		</a>
		<% if (prodOrig.nombre_original) { %>
			<h2><em><%= prodOrig.nombre_original %></em></h2>
		<% } %>
	</div>
	<div id="colCap">
		<!-- Cantidad de Temporadas y de Capítulos -->
		<% if (entidad == "colecciones") { %>
			<div id="colecciones">
				<p><strong>Cant. de Temporadas:</strong> <%= prodOrig.cant_temporadas ? prodOrig.cant_temporadas : "Sin temporada" %></p>
				<p><strong>Cant. de Capítulos:</strong> <%= prodOrig.capitulos.length %></p>
			</div>
			<% } %>
		<!-- Colección a la que pertenece -->
		<% if (entidad == "capitulos") { %>
			<p id="tempCapI">
				<strong>De la colección:</strong>
				<a href="/producto/detalle/?entidad=colecciones&id=<%= prodOrig.coleccion.id %>" target="_blank">
					<span><%= prodOrig.coleccion.nombre_castellano %></span>
				</a>
			</p>
			<div id="tempCapS">
				<p id="temporada">Temporada: <%= prodOrig.temporada %></p>
				<p id="capitulo">Capítulo: <%= prodOrig.capitulo %></p>
			</div>
		<% } %>
	</div>
</section>
