<% if (regs.length) { %>
	<h3><%= titulo %> </h3>
	<% for (let reg of regs) { %>
		<p>
			<a href="/<%= url %>/?entidad=<%= reg.entidad %>&id=<%= reg.id + (reg.edicion_id ? ('&edicion_id=' + reg.edicion_id) : '') %>">
				<%= reg.fechaRefTexto %> - <%= reg.abrev %> - <%= reg.nombre %>
			</a>
		</p>
	<% } %>	
<% } %>