<% let edicPropia=edicion.editadoPor_id==userID %> 
<tr class="edicion revisar inactivo_false fila<%= fila %> oscuro_<%= edicPropia %>">
	<!-- Url -->
	<td class="ancho_url url campo"></td>
	<!-- Demás campos con valor agregado -->
	<% for (campo of camposARevisar) { %>
		<td class="<%= campo %>">
			<% if (edicion[campo]!==null) { %>
				<div class="inputError ancho_<%= campo %>">
					<% let valor = campo == "tipo_id" ? (edicion[campo] == 1 ? "Trailer" : "Película") : ["castellano", "subtitulos", "gratuito", "completo"].includes(campo) ? (edicion[campo] ? "SI" : "NO") : edicion[campo] %> 
					<input class="inputs" name="<%= campo %>" type="text" value="<%= valor %>" disabled>
					<!-- Errores -->
					<div class="errores">
						<i class="fa-solid fa-circle-check aprob"></i>
						<i class="fa-solid fa-circle-xmark rech"></i>
					</div>
					<!-- Edición ID -->
					<div class="edicID ocultar"><%= edicion.id %></div>
				</div>
				<% break %>
			<% } %>
		</td>
	<% } %>
</tr>	
