<% if (mostrar) { %>
	<!-- Mostrar la Imagen -->
	<section id="imgDerecha">
		<% let ruta, titulo, destino %>
		<% if (locals.tema == "institucional") { %>
			<!-- 1. Imagen Institucional -->
			<% ruta = '/publico/imagenes/Varios/Institucional-Imagen.jpg'; titulo = "ELC-Películas" %>
		<% } %>
		<% if (!ruta && locals.imgDerPers) { ruta = imgDerPers } %>
		<% if (!ruta) { %>
			<!-- 3. Imagen Diaria -->
			<% const ahora = new Date() %>
			<% const diaLocal = ("0" + ahora.getDate()).slice(-2) %>
			<% const mesLocal = mesesAbrev[ahora.getMonth()] %>
			<% const anoLocal = ahora.getFullYear().toString().slice(-2) %>
			<% const hoyLocal = diaLocal + "-" + mesLocal + "-" + anoLocal %>
			<% ruta = "/sinVersion/5-ImagenDerecha/" + hoyLocal + ".jpg" %>
			<% titulo = ImagenesDerecha[hoyLocal].titulo %>
			<% ID_entidad = ImagenesDerecha[hoyLocal].entidad; ID_id = ImagenesDerecha[hoyLocal].id %>
			<% destino = ID_entidad && ID_id ? "/rclv/detalle/?entidad=" + ID_entidad + "&id=" + ID_id : null %>
		<% } %>

		<% if (destino) { %>
			<a href="<%= destino %>" tabindex="-1">
				<img src="<%= ruta %>" title="Hoy se recuerda a <%= titulo %>">
			</a>
		<% } else { %>
			<div id="preview">
				<img src="<%= ruta %>" title="<%= titulo %>">
			</div>
		<% } %>
	</section>
<% } %>
