<% if (regs && regs.length) { %>
	<h3 class="pointer"><%= titulo %> (<%= regs.length %>)</h3>
	<div class="bloqueRegistros <%- !DE || !DE[titulo.toLowerCase()] ? 'ocultar' : '' %>">
		<% for (let reg of regs) { %>
			<% const EDIC_ID = reg.edicID ? ('&edicID=' + reg.edicID) : '' %>
			<% const ORIGEN = locals.mostrarOrigen ? ('&origen=' + locals.origen) : '' %>
			<% const GRUPO = locals.grupo ? ('&grupo=' + locals.grupo) : '' %>
			<a href="<%='/' + url + '/?entidad=' + reg.entidad + '&id=' + reg.id + EDIC_ID + ORIGEN + GRUPO %>">
				<p><%= reg.fechaRefTexto %> - <%= reg.abrev %> - <%= reg.nombre %></p>
			</a>
		<% } %>
	</div>
<% } %>
