<!-- Ayuda -->
<% if (!locals.ocultarAyuda) { %><div class="ayuda"><% } %>
	<i class="fa-solid fa-circle-question ayudaIconoForm ayudaClick<%- locals.iclass ? (' ' + iclass) : '' %>">
		<% const tipoTexto = !!locals.mensaje %>
		<ul <% if (locals.id) { %>id="<%= id %>"<% } %> class="ayudaMensForm ayudaMensMostrar ocultar" type="<%- tipoTexto || (mensajes.length == 1) ? 'none' : 'dots' %>">
			<% if (tipoTexto) { %>
				<li><%- mensaje %></li>
			<% } else for (let mensaje of mensajes) { %>
				<li><%- mensaje %></li>
			<% } %>
		</ul>
	</i>
<% if (!locals.ocultarAyuda) { %></div><% } %>
