<!-- Ayuda -->
<div class="ayuda <%- locals.ayudaClass ? ayudaClass : 'absolute' %>">
	<i class="fa-solid fa-circle-question ayudaIconoForm ayudaClick">
		<div class="mostrarClick ayudaMensForm ocultar">
			<% if (locals.parrafo) { %><p><%- parrafo %></p><% } %>
			<% if (locals.mensaje || locals.mensajes) { %>
				<ul type="<%- locals.mensaje || (mensajes.length == 1) ? 'none' : 'disc' %>">
					<% if (locals.mensaje) { %>
						<li><%- mensaje %></li>
					<% } else for (let mensaje of mensajes) { %>
						<li><%- mensaje %></li>
					<% } %>
				</ul>
			<% } %>
		</div>
	</i>
</div>
