<div class="iconos">
	<a href="/institucional/<%= urlAnt %>">
		<i class="<%= iconos.faSolid %> fa-<%= urlAnt=="inicio" ? 'house' : 'circle-left' %>" tabindex="-1" title="Anterior"></i>
	</a>
	<p><%= indice +" / " + vistas %></p>
	<a href="/institucional/<%= urlPost %>">
		<i class="<%= iconos.faSolid %> fa-<%= urlPost=="inicio" ? 'house' : 'circle-right' %>" tabindex="-1" title="Posterior"></i>
	</a>
</div>
