<i id="pelis-button" class="fas fa-video icono boton-desplegable absolute"></i>
<div id="menu-pelis" class="dropdown-content ocultar">
	<a href="/peliculas/detalle/informacion/<%= ID %>">Información General</a>
	<a href="/peliculas/detalle/trailer/<%= ID %>">Mirar el Trailer</a>
	<a href="/peliculas/detalle/mirar/<%= ID %>">Mirar la Película</a>
	<a href="/peliculas/detalle/calificar/<%= ID %>">Calificala</a>
	<hr>
	<a href="/peliculas/detalle/editar/<%= ID %>">Editar</a>
	<a href="/peliculas/detalle/eliminar/<%= ID %>">Sugerir su baja</a>
</div>
