<section class="flexRow">
	<!-- Familia -->
	 <div id="producto" class="flexCol">
		<h3><%= comp.letras.inicialMayus(familia) %></h3>
		<div class="motivo">
			<h4>Motivo:</h4>
			<div><%= motivoProd.descripcion %></div>
		</div>
		<h4>Comentario</h4>
		<textarea name="" id="" class="oculta"></textarea>
		<div id="sectorIconos">
			<div class="iconos">
				<label>
					<i class="fa-solid fa-circle-check"></i>
					<input type="submit" formaction="<%= urlActual + cola + "familia" %>" formmethod="post">
				</label>
			</div>
		</div>
	 </div>

	<!-- Historial -->
	<div id="historial" class="flexCol">
		<h3>Historial</h3>
		<div class="motivo">
			<h4>Motivo:</h4>
			<div><%= motivoHist.descripcion %></div>
		</div>
		<h4>Comentario</h4>
		<textarea name="" id="" class="oculta"><%= ultimoHist.comentario %></textarea>
		<div id="sectorIconos">
			<div class="iconos">
				<label>
					<i class="fa-solid fa-circle-check"></i>
					<input type="submit" formaction="<%= urlActual + cola + "historial" %>" formmethod="post">
				</label>
			</div>
		</div>
	 </div>

</section>