<section id="correccion">
	<!-- Actual -->
	<div id="historial" class="columna">
		<div class="flexCol">
			<h3>Actual</h3>
			<h4><%- motivoHist ? 'Motivo:' : "Sin motivo" %></h4>
			<% if (motivoHist) { %>
				<div class="info"><%= motivoHist.descripcion %></div>
			<% } %>
			<h4><%- motivoHist && motivoHist.comentNeces ? 'Comentario:' : "Sin comentario" %></h4>
			<% if (motivoHist && motivoHist.comentNeces) { %>
				<div class="info"><%= ultHist.comentario %></div>
			<% } %>
		</div>
	<!-- Nuevo -->
	<div id="historial" class="columna">
		<div class="flexCol">
			<h3>Nuevo</h3>
			<h4>Motivo</h4>
			<select name="motivo_id">
				<% for (let motivo of motivos) { %>
					<option value="<%= motivo.id %>"><%= motivo.descripcion %></option>
				<% } %>
			</select>
			<h4 class="comentario ocultar">Comentario</h4>
			<textarea name="comentario" class="comentario ocultar"></textarea>
		</div>
</section>