<section id="correccion">
	<!-- Registro -->
	 <div id="producto" class="columna">
		<div class="flexCol">
			<h3><%= comp.letras.inicialMayus(familia) %></h3>
			<h4><%- motivoReg ? "Motivo:" : "Sin motivo" %></h4>
			<% if (motivoReg) { %>
				<div class="motivo"><%= motivoReg.descripcion %></div>
				<% if (motivoReg.comentNeces) { %>
					<h4>Comentario</h4>
					<textarea name="" id="" class="oculta"></textarea>
				<% } %>
			<% } %>
		</div>
		<div id="sectorIconos">
			<div class="iconos">
				<label>
					<i class="fa-solid fa-circle-check"></i>
					<input type="submit" formaction="<%= urlActual + cola + "registro" %>" formmethod="post">
				</label>
			</div>
		</div>
	 </div>

	<!-- Historial -->
	<div id="historial" class="columna">
		<div class="flexCol">
			<h3>Historial</h3>
			<h4><%- motivoHist ? 'Motivo:' : "Sin motivo" %></h4>
			<% if (motivoHist) { %>
				<div class="motivo"><%= motivoHist.descripcion %></div>
				<% if (motivoHist.comentNeces) { %>
					<h4>Comentario</h4>
					<textarea name="" id="" class="oculta"><%= ultHist.comentario %></textarea>
				<% } %>
			<% } %>
		</div>
		<div id="sectorIconos">
			<div class="iconos">
				<label>
					<i class="fa-solid fa-circle-check"></i>
					<input type="submit" formaction="<%= urlActual + cola + "historial" %>" formmethod="post">
				</label>
			</div>
		</div>
	 </div>

</section>