<section id="correccion">
	<!-- Familia -->
	 <div id="producto" class="columna">
		<div class="flexCol">
			<h3><%= comp.letras.inicialMayus(familia) %></h3>
			<h4>Motivo:</h4>
			<div class="motivo"><%= motivoProd.descripcion %></div>
			<% if (motivoProd.comentNeces) { %>
				<h4>Comentario</h4>
				<textarea name="" id="" class="oculta"></textarea>
			<% } %>
		</div>
		<div id="sectorIconos">
			<div class="iconos">
				<label>
					<i class="fa-solid fa-circle-check"></i>
					<input type="submit" formaction="<%= urlActual + cola + "familia" %>" formmethod="post">
				</label>
			</div>
		</div>
	 </div>

	<!-- Historial -->
	<div id="historial" class="columna">
		<h3>Historial</h3>
		<h4>Motivo:</h4>
		<div class="motivo"><%= motivoHist.descripcion %></div>
		<% if (motivoHist.comentNeces) { %>
			<h4>Comentario</h4>
			<textarea name="" id="" class="oculta"><%= ultimoHist.comentario %></textarea>
		<% } %>
		<div id="sectorIconos">
			<div class="iconos">
				<label>
					<i class="fa-solid fa-circle-check"></i>
					<input type="submit" formaction="<%= urlActual + cola + "historial" %>" formmethod="post">
				</label>
			</div>
		</div>
	 </div>

</section>