<%- include("FM-EncabIzq") %>
<% if (entidad != "peliculas") { %>
	<div id="colCap">
		<% if (entidad == "colecciones") { %>
			<!-- Cantidad de Temporadas y de Capítulos -->
			<div id="colecciones">
				<div>
					<p><b>Cant. de Temporadas:</b> <%= registro.cantTemps ? registro.cantTemps : "Sin temporada" %></p>
					<p><b>Cant. de Capítulos:</b> <%= registro.capitulos.length %></p>
				</div>
			</div>
			<% } %>
		<!-- Colección a la que pertenece -->
		<% if (entidad == "capitulos") { %>
			<!-- Ir a la colección -->
			<div id="tempCapI">
				<p><b>Colección:</b>
					<a href="/producto/detalle/?entidad=colecciones&id=<%= registro.coleccion.id %>">
						<button class="scale pointer"><%= registro.coleccion.nombreCastellano %></button>
					</a>
				</p>
			</div>
			<div id="tempCapS">
				<!-- Cambiar de capítulo -->
				<% if (codigo == "abmLinks") { %>
					<script src="/publico/javascript/2.1-Prod-RUD/PR0-AvanzaRetrCap.js"></script>
					<div class="pack">
						<i class="fa-solid fa-circle-left inactivo pointer" tabindex="-1" title="Ir al capítulo anterior"></i>
						<i class="fa-solid fa-circle-right inactivo pointer" tabindex="-1" title="Ir al capítulo posterior"></i>
					</div>
				<% } %>
				<!-- Información -->
				<p id="temporada">Temporada: <%= registro.temporada %></p>
				<p id="capitulo">Capítulo: <%= registro.capitulo %></p>
			</div>
		<% } %>
	</div>
<% } %>
<% if (familia == "rclv") { %>
	<p>Productos vinculados: <%= cantProds %></p>
<% } %>
