<% for (let prodEnBD of prodsEnBD) { %>
	<li id="prodsNuevos">
		<a href="/producto/detalle/?entidad=<%= prodEnBD.entidad %>&id=<%= prodEnBD.id %>">
			<!-- Info a mostrar -->
			<button type="text" class="flexRow pointer" id= "prodEnBD" autofocus>
				<img class="imagenChica" src="//localhost<%= prodEnBD.avatar %>" alt="<%= prodEnBD.nombre_original %>" title="<%= prodEnBD.nombre_original %>">
				<div id="infoPeli" class="flexCol">
					<p><strong><%= prodEnBD.nombre_original %></strong></p>
					<p class="interlineadoChico"><em><%= prodEnBD.nombre_castellano %></em></p>	
					<br>
					<p class="interlineadoChico"><%= prodEnBD.ano_estreno + " - " + prodEnBD.prodNombre %></p>
					<% if (prodEnBD.direccion) { %>
						<p class="interlineadoChico">Director: <%= prodEnBD.direccion %></p>
					<% } %>
				</div>
			</button>
		</a>
	</li>
<% } %>
