<%- include('0-Head') %>
<body>
  <%- include('1-Header') %>
  <main class="flex-row">
    <%- include('ImagenDerecha') %>
    <section id="main-y-footer" class="flex-col grow">
      <%- include('3-Footer') %>
<!--**************************** CUERPO ******************************-->
      <%- titulo == "Home"          ? include("1-Home")          : "" %>
      <%- titulo == "Quiénes Somos" ? include('2-Quienes-Somos') : "" %>
      <%- titulo == "Contactanos"   ? include('3-Contactanos')   : "" %>
<!--****************************** FIN *******************************-->
    </section>
  </main>
</body>
</html>