<section id="cuerpo">
	<%- codigo == "palabrasClave" ? include("1-Prod-PalabrasClave") : "" %>
	<%- codigo == "desambiguar" ? include("2-Prod-DesambTMDB") : "" %>
	<%- codigo == "tipoProducto" ? include("2-Prod-TP-Cabecera") : "" %>
	<%- codigo == "copiarFA" ? include("2-Prod-TP-FA") : "" %>
	<%- codigo == "datosDuros" ? include("3-Prod-DatosDuros") : "" %>
	<%- codigo == "datosPers" ? include("4-Prod-DatosPers") : "" %>
	<%- codigo == "confirma" ? include("5-Prod-Confirma") : "" %>
	<%- codigo == "terminaste" ? include("6-Prod-Terminaste") : "" %>
	<%- codigo == "responsabilidad" ? include("9-Prod-Responsab") : "" %>
</section>
