<section id="cuerpo">
	<%- codigo == "palabrasClave" 	? include("1-Prod-PalabrasClave") : "" %>
	<%- codigo == "desambiguar" 	? include("2-Prod-1DesambTMDB") : "" %>
	<%- codigo == "tipoProducto" 	? include("2-Prod-2TipoProducto") : "" %>
	<%- codigo == "copiarFA" 		? include("2-Prod-3CopiarFA") : "" %>
	<%- codigo == "datosDuros" 		? include("3-Prod-DatosDuros") : "" %>
	<%- codigo == "datosPers" 		? include("4-Prod-DatosPers") : "" %>
	<%- codigo == "confirma" 		? include("5-Prod-Confirma") : "" %>
	<%- codigo == "terminaste" 		? include("6-Prod-Terminaste") : "" %>
	<%- codigo == "responsabilidad" ? include("9-Prod-Responsab") : "" %>
</section>
