<% if (locals.usuario && usuario.rolUsuario && usuario.rolUsuario.revisorEnts) { %>
	<!-- Todos los revisores o superior -->
	<div class="mostrarClick menuForm menuFondo ocultar">
		<% for (grafico of graficos) { %>
		<a href="/graficos/<%= grafico.url %>" class="menuOpcion<%- grafico.resaltar ? ' resaltar' : '' %>">
			<i class="<%= iconos.faSolid %> <%= grafico.icono %> icono"></i>
			<span><%= grafico.titulo %></span>
		</a>
		<% if (grafico.hr) { %><hr><% } %>
		<% } %>
	</div>
<% } %>
