<% if (locals.usuario && usuario.rolUsuario && usuario.rolUsuario.revisorEnts) { %>
	<!-- Todos los revisores o superior -->
	<div class="mostrarClick menuForm menuFondo ocultar">
		<% for (codigo in graficos) { %>
		<a href="/graficos/<%= graficos[codigo].url %>" class="menuOpcion<%- graficos[codigo].resaltar ? ' resaltar' : '' %>">
			<i class="<%= iconos.faSolid %> <%= graficos[codigo].icono %> icono"></i>
			<span><%= graficos[codigo].titulo %></span>
		</a>
		<% if (graficos[codigo].hr) { %><hr><% } %>
		<% } %>
	</div>
<% } %>
