<div id="menuMobile" class="mostrarClick menuForm menuFondo ocultar">
	<% if (locals.tema != "consultas" && (locals.tema != "institucional" || locals.codigo != "inicio")) { %>
		<!-- Quiero elegir una película -->
		<a href="/consultas" class="menuOpcion">
			<div id="imgConsultas"><img src="/publico/imagenes/Varios/Consultas.jpg" height="20"></div>
			<span>Quiero elegir una película</span>
		</a>
		<hr>
	<% } %>

	<!-- Búsqueda rápida -->
	<div class="menuOpcion mmBR soloPortrait">
		<i class="<%= iconos.faSolid %> icono fa-magnifying-glass mmBR"></i>
		<span class="mmBR">Búsqueda rápida</span>
	</div>
	<% if (locals.tema != "institucional" || locals.codigo != "inicio") { %>
		<hr class=" soloPortrait">
	<% } %>

	<!-- Demostración -->
	<div class="menuOpcion mmVD ocultar">
		<i class="<%= iconos.faSolid %> fa-play icono mmVD"></i>
		<span class="mmVD">Ejemplo de uso</span>
	</div>
	<hr class="ocultar">

	<% if (locals.tema != "institucional" || locals.codigo != "inicio") { %>
		<!-- Quiénes somos -->
		<a href="/institucional/quienes-somos" class="menuOpcion">
			<i class="<%= iconos.faSolid %> icono fa-people-group"></i>
			<span>ELC - Quiénes somos</span>
		</a>
		<hr>
	<% } %>
	<% if (locals.usuario && usuario.rolUsuario && usuario.rolUsuario.revisorEnts) { %>
		<!-- Gráficos -->
		<div class="flexRow menuOpcion mmSG">
			<label for="selectGraficos" class="mmSG">
				<i class="<%= iconos.faSolid %> <%= iconos.graficos %> icono"></i>
			</label>
			<select id="selectGraficos" class="mmSG" onchange="location = this.value;">
				<option id="graficos" selected class="ocultar">Gráficos</option>
				<% for (let codigo in graficos) { %>
					<option value="/graficos/<%= graficos[codigo].url %>"><%= graficos[codigo].titulo %></option>
				<% } %>
			</select>
		</div>
	<% } %>
</div>
