<%- include("FM-TituloPrincipal") %>
<section id="datos">
	<section id="datosLargos">
		<div id="recuadro" class="bordeConSombra">
			<!-- Encabezado -->
			<div id="encabezado">
				<%- include(tema == "rclvCrud" ? "RCLV-Encabezado" : tema == "revisionEnts" ? "RE-Encabezado" : "FM-Encabezado") %>
			</div>

			<!-- Contenido apertura (Form o Div) -->
			<% let operacCRUD = tema == "fmCrud" || tema == "revisionEnts" %>
			<% if (operacCRUD) { %>
				<!-- Las operaciones CRUD requieren form (Inactivar/Recuperar/Rechazo/Eliminar o Revisión de Inactivar o Recuperar) -->
				<form method="POST" id="contenido" class="flexCol grow">
					<%- include("FM-Informacion") %>
				</form>

			<% } else { %>
				<!-- Las demás requieren que no sea form -->
				<div id="contenido" class="flexCol grow">
					<%- include("FM-Informacion") %>
				</div>
			<% } %>
		</div>
	</section>
	<section id="datosBreves">
		<!-- Revisión -->
		<% if (tema == "revisionEnts") { %>
			<%- include("RE0-Breves") %>

		<!-- CRUD -->
		<% } else { %>
			<!-- CRUD para Productos -->
			<% if (familia == "producto") { %>
				<%- include("PR0-Breves") %>

			<!-- CRUD para RCLVs -->
			<% } else if (familia == "rclv") { %>
				<%- include("RCLV-Breves") %>
			<% } %>
		<% } %>
	</section>
</section>
<link rel="stylesheet" href="/publico/formatos/0-Compartido/Main/CMP-MN-DatosBreves.css">
<link rel="stylesheet" href="/publico/formatos/2.0-Familias-CRUD/FM-Detalle.css">
<link rel="stylesheet" href="/publico/formatos/2.0-Familias-CRUD/FM-0MediaQuery.css">
