<%- include("FM-TituloPrincipal") %>
<section id="datos">
	<div id="datosLargos" class="toggle">
		<div id="recuadroDL" class="bordeConSombra">
			<!-- Encabezado -->
			<div id="encabezado">
				<%- include("FM-Encabezado") %>
			</div>

			<!-- Contenido apertura (Form o Div) -->
			<% if (tema == "fmCrud" || tema == "revisionEnts") { %>
				<!-- Las operaciones CRUD requieren form (Inactivar/Recuperar/Rechazo/Eliminar o Revisión de Inactivar o Recuperar) -->
				<form method="POST" id="contenido">
					<%- include("FM-Informacion") %>
				</form>

			<% } else { %>
				<!-- Las demás requieren que no sea form -->
				<div id="contenido">
					<%- include("FM-Informacion") %>
				</div>
			<% } %>
		</div>
	</div>
	<div id="datosBreves" class="toggle">
		<!-- Revisión -->
		<% if (tema == "revisionEnts") { %>
			<%- include("RE0-Breves") %>

		<!-- CRUD -->
		<% } else { %>
			<!-- CRUD para Productos -->
			<% if (familia == "producto") { %>
				<%- include("PR0-Breves") %>

			<!-- CRUD para RCLVs -->
			<% } else if (familia == "rclv") { %>
				<%- include("FM-Breves") %>
			<% } %>
		<% } %>
	</div>
</section>
