<!-- Información -->
<div id="informacion" class="<%= locals.subcodigo ? subcodigo : codigo %>">
    <% if (false) { %>

    <!-- PRODUCTO -->
    <% } else if (tema == "prodRud" && codigo == "detalle" || tema == "revisionEnts" && codigo == "producto/alta") { %><%- include("PR1-Detalle1-Datos") %>
    <% } else if (tema == "prodRud" && codigo == "calificar") { %><%- include("PR3-Calificar") %>

    <!-- RCLV -->
    <% } else if (tema == "rclvCrud" || tema == "revisionEnts" && codigo == "rclv/alta") { %><%- include("RCLV-DT1-Largos") %>

    <!-- AMBOS -->
    <% } else if (tema == "revisionEnts" && codigo.endsWith("/edicion")) { %><%- include("RE9-Edic-Largos") %>
    <% } else if (codigo == "inactivar" || codigo == "rechazo") { %><%- include("FM8-Inactivar") %>
    <% } else if (["recuperar", "eliminar", "inactivar-o-recuperar"].includes(codigo)) { %><%- include("FM8-Recuperar") %>

    <!-- Fin -->
    <% } %>
</div>
<!-- Botones -->
<div id="sectorIconos">
    <%- include("Iconos-1Estandar") %>
    <%- include("Iconos-2ProdRUD") %>
    <%- include("Iconos-3CambioStatus") %>
    <%- include("Iconos-4LogosPortales") %>
</div>
