<section id="imagen">
	<img alt="<%= producto.nombre_castellano %>" src="<%= avatar %>" title="<%= producto.nombre_castellano %>">
</section>
<section id="cuerpo-y-footer">
	<%- include('3-Footer-Gral') %>
	<!--**************************** CUERPO ************************-->
	<div id="cuerpo">
		<%- codigo == "detalle" ? include('Prod-1Detalle') : "" %>
		<%- codigo == "links" ? include('Links-1Cuerpo') : "" %>
	</div>
	<!--****************************** FIN *************************-->
</section>
