<%- include("FM-0-TituloPrincipal") %>
<section id="datos">
	<div id="datosLargos" class="toggle">
		<div id="recuadroDL" class="bordeConSombra">
			<!-- Encabezado -->
			<%- include("FM-1-Encabezado") %>

			<!-- Contenido apertura (Form o Div) -->
			<% if (["fmCrud", "revisionEnts", "correccion"].includes(tema)) { %>
				<!-- Las operaciones CRUD requieren form (Inactivar/Recuperar/Rechazo/Eliminar o Revisión de Inactivar o Recuperar) -->
				<form method="POST" id="contenido">
					<%- include("FM-Informacion") %>
				</form>

			<% } else { %>
				<!-- Las demás requieren que no sea form -->
				<div id="contenido">
					<%- include("FM-Informacion") %>
				</div>
			<% } %>
		</div>
	</div>
	<% if (locals.bloqueDer) { %>
		<div id="datosBreves" class="toggle">
			<%- include("FM-Breves") %>
		</div>
	<% } %>
</section>
