<%- include('0-Head') %>
<body>
  <%- include('1-Header') %>
  <main class="flex-row">
    <section id="imagen-derecha">
      <img alt="<%= producto.titulo_castellano %>" src="/images/3-Peliculas/<%= producto.imagen %>" title="<%= producto.titulo_castellano %>">
    </section>
    <section id="main-y-footer" class="flex-col grow">
      <%- include('3-Footer') %>
      <!--**************************** CUERPO ************************-->
      <section class="cuerpo margen-izquierdo flex-col">
        <button class="titulo"><%= producto.titulo_castellano %></button>
        <button class="subtitulo activo"><%= detalle.nombre %> </button>
        <%- detalle.nombre.includes("Información") ? include('2-Informacion') : "" %>
        <%- detalle.nombre.includes("Trailer") ?     include('3-Trailer') : "" %>
        <%- detalle.nombre.includes("Película") ?    include('4-Pelicula') : "" %>
        <%- detalle.nombre.includes("Calific") ?     include('5-Calificala') : "" %>
        <%- detalle.nombre.includes("Editar") ?      include('7-Editar') : "" %>
        <%- detalle.nombre.includes("Eliminar") ?    include('8-Eliminar') : "" %>
      </section>
      <!--****************************** FIN *************************-->
    </section>
  </main>
</body>
</html>