<section class="flex-row" id="columnas">
    <div class="flex-col">
        <section class="label-input flex-row">  <!--Título en castellano -->
            <label>Título en castellano:</label>
            <div class="formulario-grupo">
                <input type="text" class="input-titulo" name="titulo_traducido" placeholder="Título en castellano"
                    value="<%= locals.data_entry ? data_entry.titulo_traducido : null %>">
                <% if (locals.errores && errores.titulo_traducido) { %><i class="fas fa-times-circle"></i><% } %>
                <% if (locals.errores && !errores.titulo_traducido) { %><i class="fas fa-check-circle"></i><% } %>
            </div>
        </section>
        <section class="label-input flex-row">  <!--Título original-->
            <label>Título original:</label>
            <div class="formulario-grupo">
                <input type="text" class="input-titulo" name="titulo_OR" placeholder="Título original"
                    value="<%= locals.data_entry ? data_entry.titulo_OR : null %>">
                <% if (locals.errores && errores.titulo_OR) { %><i class="fas fa-times-circle"></i><% } %>
                <% if (locals.errores && !errores.titulo_OR) { %><i class="fas fa-check-circle"></i><% } %>
            </div>
        </section>
        <section class="label-input flex-row">  <!--Año de estreno-->
        <label>Año de estreno:</label>
        <div class="formulario-grupo">
            <input type="text" class="input-numero" name="ano_estreno" placeholder="sólo números"
                value="<%= locals.data_entry ? data_entry.ano_estreno : null %>">
            <% if (locals.errores && errores.ano_estreno) { %><i class="fas fa-times-circle"></i><% } %>
            <% if (locals.errores && !errores.ano_estreno) { %><i class="fas fa-check-circle"></i><% } %>
        </div>
        </section>
        <section class="label-input flex-col">  <!--Calificación-->
            <label>Tu calificación:</label>
            <div class="formulario-grupo flex row">  <!--Inspira fe y/o valores-->
                <p>Inspira fe y/o valores</p>
                <select name="fe_valores">
                    <% let fe_valores=""; if (locals.data_entry) {fe_valores = data_entry.fe_valores} else {if (usuario.formNombre) {fe_valores = usuario.fe_valores}}%>
                    <option value="" style="font-style: italic; ">Elegí</option>
                    <option value="3" <% if (fe_valores=="3") {%> selected <%}%>>Mucho</option>
                    <option value="2" <% if (fe_valores=="2") {%> selected <%}%>>Sí</option>
                    <option value="1" <% if (fe_valores=="1") {%> selected <%}%>>Poco</option>
                </select>
                <% if (locals.errores && errores.fe_valores) { %><i class="fas fa-times-circle"></i><% } %>
                <% if (locals.errores && !errores.fe_valores) { %><i class="fas fa-check-circle"></i><% } %>
            </div>
            <div class="formulario-grupo flex row">  <!--Entretiene-->
                <p>Entretiene</p>
                <select name="entretiene">
                    <% let entretiene=""; if (locals.data_entry) {entretiene = data_entry.entretiene} else {if (usuario.formNombre) {entretiene = usuario.entretiene}}%>
                    <option value="" style="font-style: italic; ">Elegí</option>
                    <option value="3" <% if (entretiene=="3") {%> selected <%}%>>Mucho</option>
                    <option value="2" <% if (entretiene=="2") {%> selected <%}%>>Sí</option>
                    <option value="1" <% if (entretiene=="1") {%> selected <%}%>>Poco</option>
                </select>
                <% if (locals.errores && errores.entretiene) { %><i class="fas fa-times-circle"></i><% } %>
                <% if (locals.errores && !errores.entretiene) { %><i class="fas fa-check-circle"></i><% } %>
            </div>
        </section>
        <section class="label-input flex-row">  <!--Color-->
            <label>Color:</label>
            <div class="formulario-grupo">
                <select name="color">
                    <% let color=""; if (locals.data_entry) {color = data_entry.color} else {if (usuario.formNombre) {color = usuario.color}}%>
                    <option value="" style="font-style: italic; ">Elegí</option>
                    <option value=true  <% if (color==true)  {%> selected <%}%>>SI</option>
                    <option value=false <% if (color==false) {%> selected <%}%>>NO</option>
                </select>
                <% if (locals.errores && errores.color) { %><i class="fas fa-times-circle"></i><% } %>
                <% if (locals.errores && !errores.color) { %><i class="fas fa-check-circle"></i><% } %>
            </div>
        </section>
        <section class="label-input flex-row">  <!--Público sugerido-->
            <label>Público sugerido:</label>
            <div class="formulario-grupo">
                <select name="publico">
                    <% let publico=""; if (locals.data_entry) {publico = data_entry.publico} else {if (usuario.formNombre) {publico = usuario.publico}}%>
                    <option value="" style="font-style: italic; ">Elegí</option>
                    <option value=true  <% if (publico==true)  {%> selected <%}%>>Mayores</option>
                    <option value=false <% if (publico==false) {%> selected <%}%>>Menores</option>
                    <option value=false <% if (publico==false) {%> selected <%}%>>Ambos</option>
                    <option value=false <% if (publico==false) {%> selected <%}%>>Mayores pero ATP</option>
                </select>
                <% if (locals.errores && errores.publico) { %><i class="fas fa-times-circle"></i><% } %>
                <% if (locals.errores && !errores.publico) { %><i class="fas fa-check-circle"></i><% } %>
            </div>
        </section>
        <section class="label-input flex-row">  <!--Link de Film Affinity-->
            <label>Link de Film Affinity:</label>
            <div class="formulario-grupo">
                <input type="text" class="input-link" name="filmAffinity" placeholder="Link de la película en Film Affinity"
                    value="<%= locals.data_entry ? data_entry.filmAffinity : null %>">
                <% if (locals.errores && errores.filmAffinity) { %><i class="fas fa-times-circle"></i><% } %>
                <% if (locals.errores && !errores.filmAffinity) { %><i class="fas fa-check-circle"></i><% } %>
            </div>
        </section>
        <section class="label-input flex-row">  <!--Link del trailer-->
            <label>Link del trailer:</label>
            <div class="formulario-grupo">
                <input type="text" class="input-link" name="trailer" placeholder=""
                    value="<%= locals.data_entry ? data_entry.trailer : null %>">
                <% if (locals.errores && errores.trailer) { %><i class="fas fa-times-circle"></i><% } %>
                <% if (locals.errores && !errores.trailer) { %><i class="fas fa-check-circle"></i><% } %>
            </div>
        </section>
        <section class="label-input flex-row">  <!--Link de You Tube-->
            <label>Link de You Tube:</label>
            <div class="formulario-grupo">
                <input type="text" class="input-link" name="youtube" placeholder=""
                    value="<%= locals.data_entry ? data_entry.youtube : null %>">
                <% if (locals.errores && errores.youtube) { %><i class="fas fa-times-circle"></i><% } %>
                <% if (locals.errores && !errores.youtube) { %><i class="fas fa-check-circle"></i><% } %>
            </div>
        </section>
    </div>
    <div class="flex-col">
        <section class="label-input flex-row">  <!--Categoría-->
            <label>Categoría:</label>
            <div class="formulario-grupo">
                <input type="text" class="input" name="categoría" placeholder=""
                    value="<%= locals.data_entry ? data_entry.categoría : null %>">
                <% if (locals.errores && errores.categoría) { %><i class="fas fa-times-circle"></i><% } %>
                <% if (locals.errores && !errores.categoría) { %><i class="fas fa-check-circle"></i><% } %>
            </div>
        </section>
        <section class="label-input flex-row">  <!--Sub-categoría-->
        <label>Sub-categoría:</label>
        <div class="formulario-grupo">
            <input type="text" class="input" name="sub_categoria" placeholder=""
                value="<%= locals.data_entry ? data_entry.sub_categoria : null %>">
            <% if (locals.errores && errores.sub_categoria) { %><i class="fas fa-times-circle"></i><% } %>
            <% if (locals.errores && !errores.sub_categoria) { %><i class="fas fa-check-circle"></i><% } %>
        </div>
        </section>
        <section class="label-input flex-row">  <!--Duración-->
        <label>Duración:</label>
        <div class="formulario-grupo">
            <input type="text" class="input" name="duracion" placeholder="en minutos"
                value="<%= locals.data_entry ? data_entry.duracion : null %>">
            <% if (locals.errores && errores.duracion) { %><i class="fas fa-times-circle"></i><% } %>
            <% if (locals.errores && !errores.duracion) { %><i class="fas fa-check-circle"></i><% } %>
        </div>
        </section>
        <section class="label-input flex-row">  <!--País de origen-->
        <label>País de origen:</label>
        <div class="formulario-grupo">
            <input type="text" class="input" name="pais_origen" placeholder=""
                value="<%= locals.data_entry ? data_entry.pais_origen : null %>">
            <% if (locals.errores && errores.pais_origen) { %><i class="fas fa-times-circle"></i><% } %>
            <% if (locals.errores && !errores.pais_origen) { %><i class="fas fa-check-circle"></i><% } %>
        </div>
        </section>
        <section class="label-input flex-row">  <!--Director-->
        <label>Director:</label>
        <div class="formulario-grupo">
            <input type="text" class="input" name="director" placeholder=""
                value="<%= locals.data_entry ? data_entry.director : null %>">
            <% if (locals.errores && errores.director) { %><i class="fas fa-times-circle"></i><% } %>
            <% if (locals.errores && !errores.director) { %><i class="fas fa-check-circle"></i><% } %>
        </div>
        </section>
        <section class="label-input flex-row">  <!--Guión-->
        <label>Guión:</label>
        <div class="formulario-grupo">
            <input type="text" class="input" name="guion" placeholder=""
                value="<%= locals.data_entry ? data_entry.guion : null %>">
            <% if (locals.errores && errores.guion) { %><i class="fas fa-times-circle"></i><% } %>
            <% if (locals.errores && !errores.guion) { %><i class="fas fa-check-circle"></i><% } %>
        </div>
        </section>
        <section class="label-input flex-row">  <!--Música-->
        <label>Música:</label>
        <div class="formulario-grupo">
            <input type="text" class="input" name="musica" placeholder=""
                value="<%= locals.data_entry ? data_entry.musica : null %>">
            <% if (locals.errores && errores.musica) { %><i class="fas fa-times-circle"></i><% } %>
            <% if (locals.errores && !errores.musica) { %><i class="fas fa-check-circle"></i><% } %>
        </div>
        </section>
        <section class="label-input flex-row">  <!--Actor Principal 1-->
        <label>Actor Principal 1:</label>
        <div class="formulario-grupo">
            <input type="text" class="input" name="actor1" placeholder=""
                value="<%= locals.data_entry ? data_entry.actor1 : null %>">
            <% if (locals.errores && errores.actor1) { %><i class="fas fa-times-circle"></i><% } %>
            <% if (locals.errores && !errores.actor1) { %><i class="fas fa-check-circle"></i><% } %>
        </div>
        </section>
        <section class="label-input flex-row">  <!--Actor Principal 2-->
        <label>Actor Principal 2:</label>
        <div class="formulario-grupo">
            <input type="text" class="input" name="actor2" placeholder=""
                value="<%= locals.data_entry ? data_entry.actor2 : null %>">
            <% if (locals.errores && errores.actor2) { %><i class="fas fa-times-circle"></i><% } %>
            <% if (locals.errores && !errores.actor2) { %><i class="fas fa-check-circle"></i><% } %>
        </div>
        </section>
        <section class="label-input flex-row">  <!--Actor Principal 3-->
        <label>Actor Principal 3:</label>
        <div class="formulario-grupo">
            <input type="text" class="input" name="actor3" placeholder=""
                value="<%= locals.data_entry ? data_entry.actor3 : null %>">
            <% if (locals.errores && errores.actor3) { %><i class="fas fa-times-circle"></i><% } %>
            <% if (locals.errores && !errores.actor3) { %><i class="fas fa-check-circle"></i><% } %>
        </div>
        </section>
        <section class="label-input flex-row">  <!--Actores Secundarios-->
        <label>Actores Secundarios:</label>
        <div class="formulario-grupo">
            <input type="text" class="input" name="actores_secundarios" placeholder=""
                value="<%= locals.data_entry ? data_entry.actores_secundarios : null %>">
            <% if (locals.errores && errores.actores_secundarios) { %><i class="fas fa-times-circle"></i><% } %>
            <% if (locals.errores && !errores.actores_secundarios) { %><i class="fas fa-check-circle"></i><% } %>
        </div>
        </section>
        <section class="label-input flex-row">  <!--Productora-->
        <label>Productora:</label>
        <div class="formulario-grupo">
            <input type="text" class="input" name="productora" placeholder=""
                value="<%= locals.data_entry ? data_entry.productora : null %>">
            <% if (locals.errores && errores.productora) { %><i class="fas fa-times-circle"></i><% } %>
            <% if (locals.errores && !errores.productora) { %><i class="fas fa-check-circle"></i><% } %>
        </div>
        </section>
        <section class="label-input flex-row">  <!--Idioma Castellano-->
        <label>Idioma Castellano:</label>
        <div class="formulario-grupo">
            <input type="text" class="input" name="idioma_castellano" placeholder=""
                value="<%= locals.data_entry ? data_entry.idioma_castellano : null %>">
            <% if (locals.errores && errores.idioma_castellano) { %><i class="fas fa-times-circle"></i><% } %>
            <% if (locals.errores && !errores.idioma_castellano) { %><i class="fas fa-check-circle"></i><% } %>
        </div>
        </section>
    </div>
</section>
<section class="label-input flex-col">  <!--Sinopsis-->
    <label>Sinopsis:</label>
    <div class="formulario-grupo">
        <input type="text" class="input" name="resumen" placeholder=""
            value="<%= locals.data_entry ? data_entry.sinopsis : null %>">
        <% if (locals.errores && errores.resumen) { %><i class="fas fa-times-circle"></i><% } %>
        <% if (locals.errores && !errores.resumen) { %><i class="fas fa-check-circle"></i><% } %>
    </div>
</section>