<section class="label-input flex-col">  <!--Título en castellano -->
    <label>Título en castellano:</label>
    <div class="formulario-grupo">
        <input type="text" class="input" name="titulo_traducido" placeholder="Título en castellano"
            value="<%= locals.data_entry ? data_entry.titulo_traducido : null %>">
        <% if (locals.errores && errores.titulo_traducido) { %><i class="fas fa-times-circle"></i><% } %>
        <% if (locals.errores && !errores.titulo_traducido) { %><i class="fas fa-check-circle"></i><% } %>
    </div>
</section>
<section class="label-input flex-col">  <!--Título original-->
  <label>Título original:</label>
  <div class="formulario-grupo">
      <input type="text" class="input" name="titulo_OR" placeholder="Título original"
          value="<%= locals.data_entry ? data_entry.titulo_OR : null %>">
      <% if (locals.errores && errores.titulo_OR) { %><i class="fas fa-times-circle"></i><% } %>
      <% if (locals.errores && !errores.titulo_OR) { %><i class="fas fa-check-circle"></i><% } %>
  </div>
</section>
<section class="label-input flex-row">  <!--Año de estreno-->
  <label>Año de estreno:</label>
  <div class="formulario-grupo">
      <input type="text" class="input" name="ano_estreno" placeholder="sólo números"
          value="<%= locals.data_entry ? data_entry.ano_estreno : null %>">
      <% if (locals.errores && errores.ano_estreno) { %><i class="fas fa-times-circle"></i><% } %>
      <% if (locals.errores && !errores.ano_estreno) { %><i class="fas fa-check-circle"></i><% } %>
  </div>
</section>
<section class="label-input flex-row">  <!--Duración-->
  <label>Duración:</label>
  <div class="formulario-grupo">
      <input type="text" class="input" name="duracion" placeholder="en minutos"
          value="<%= locals.data_entry ? data_entry.duracion : null %>">
      <% if (locals.errores && errores.duracion) { %><i class="fas fa-times-circle"></i><% } %>
      <% if (locals.errores && !errores.duracion) { %><i class="fas fa-check-circle"></i><% } %>
  </div>
</section>
<section class="label-input flex-row">  <!--País de origen-->
  <label>País de origen:</label>
  <div class="formulario-grupo">
      <input type="text" class="input" name="pais_origen" placeholder=""
          value="<%= locals.data_entry ? data_entry.pais_origen : null %>">
      <% if (locals.errores && errores.pais_origen) { %><i class="fas fa-times-circle"></i><% } %>
      <% if (locals.errores && !errores.pais_origen) { %><i class="fas fa-check-circle"></i><% } %>
  </div>
</section>

<section class="label-input flex-row">  <!--Director-->
  <label>País de origen:</label>
  <div class="formulario-grupo">
      <input type="text" class="input" name="pais_origen" placeholder=""
          value="<%= locals.data_entry ? data_entry.pais_origen : null %>">
      <% if (locals.errores && errores.pais_origen) { %><i class="fas fa-times-circle"></i><% } %>
      <% if (locals.errores && !errores.pais_origen) { %><i class="fas fa-check-circle"></i><% } %>
  </div>
</section>
<section class="label-input flex-row">  <!--Director-->
  <label>País de origen:</label>
  <div class="formulario-grupo">
      <input type="text" class="input" name="pais_origen" placeholder=""
          value="<%= locals.data_entry ? data_entry.pais_origen : null %>">
      <% if (locals.errores && errores.pais_origen) { %><i class="fas fa-times-circle"></i><% } %>
      <% if (locals.errores && !errores.pais_origen) { %><i class="fas fa-check-circle"></i><% } %>
  </div>
</section>
<section class="label-input flex-row">  <!--Director-->
  <label>País de origen:</label>
  <div class="formulario-grupo">
      <input type="text" class="input" name="pais_origen" placeholder=""
          value="<%= locals.data_entry ? data_entry.pais_origen : null %>">
      <% if (locals.errores && errores.pais_origen) { %><i class="fas fa-times-circle"></i><% } %>
      <% if (locals.errores && !errores.pais_origen) { %><i class="fas fa-check-circle"></i><% } %>
  </div>
</section>
<section class="label-input flex-row">  <!--Director-->
  <label>País de origen:</label>
  <div class="formulario-grupo">
      <input type="text" class="input" name="pais_origen" placeholder=""
          value="<%= locals.data_entry ? data_entry.pais_origen : null %>">
      <% if (locals.errores && errores.pais_origen) { %><i class="fas fa-times-circle"></i><% } %>
      <% if (locals.errores && !errores.pais_origen) { %><i class="fas fa-check-circle"></i><% } %>
  </div>
</section>
<section class="label-input flex-row">  <!--Director-->
  <label>País de origen:</label>
  <div class="formulario-grupo">
      <input type="text" class="input" name="pais_origen" placeholder=""
          value="<%= locals.data_entry ? data_entry.pais_origen : null %>">
      <% if (locals.errores && errores.pais_origen) { %><i class="fas fa-times-circle"></i><% } %>
      <% if (locals.errores && !errores.pais_origen) { %><i class="fas fa-check-circle"></i><% } %>
  </div>
</section>
<section class="label-input flex-row">  <!--Director-->
  <label>País de origen:</label>
  <div class="formulario-grupo">
      <input type="text" class="input" name="pais_origen" placeholder=""
          value="<%= locals.data_entry ? data_entry.pais_origen : null %>">
      <% if (locals.errores && errores.pais_origen) { %><i class="fas fa-times-circle"></i><% } %>
      <% if (locals.errores && !errores.pais_origen) { %><i class="fas fa-check-circle"></i><% } %>
  </div>
</section>
<section class="label-input flex-row">  <!--Director-->
  <label>País de origen:</label>
  <div class="formulario-grupo">
      <input type="text" class="input" name="pais_origen" placeholder=""
          value="<%= locals.data_entry ? data_entry.pais_origen : null %>">
      <% if (locals.errores && errores.pais_origen) { %><i class="fas fa-times-circle"></i><% } %>
      <% if (locals.errores && !errores.pais_origen) { %><i class="fas fa-check-circle"></i><% } %>
  </div>
</section>
<section class="label-input flex-row">  <!--Director-->
  <label>País de origen:</label>
  <div class="formulario-grupo">
      <input type="text" class="input" name="pais_origen" placeholder=""
          value="<%= locals.data_entry ? data_entry.pais_origen : null %>">
      <% if (locals.errores && errores.pais_origen) { %><i class="fas fa-times-circle"></i><% } %>
      <% if (locals.errores && !errores.pais_origen) { %><i class="fas fa-check-circle"></i><% } %>
  </div>
</section>
<section class="label-input flex-row">  <!--Director-->
  <label>País de origen:</label>
  <div class="formulario-grupo">
      <input type="text" class="input" name="pais_origen" placeholder=""
          value="<%= locals.data_entry ? data_entry.pais_origen : null %>">
      <% if (locals.errores && errores.pais_origen) { %><i class="fas fa-times-circle"></i><% } %>
      <% if (locals.errores && !errores.pais_origen) { %><i class="fas fa-check-circle"></i><% } %>
  </div>
</section>
<section class="label-input flex-row">  <!--Director-->
  <label>País de origen:</label>
  <div class="formulario-grupo">
      <input type="text" class="input" name="pais_origen" placeholder=""
          value="<%= locals.data_entry ? data_entry.pais_origen : null %>">
      <% if (locals.errores && errores.pais_origen) { %><i class="fas fa-times-circle"></i><% } %>
      <% if (locals.errores && !errores.pais_origen) { %><i class="fas fa-check-circle"></i><% } %>
  </div>
</section>
<section class="label-input flex-row">  <!--Director-->
  <label>País de origen:</label>
  <div class="formulario-grupo">
      <input type="text" class="input" name="pais_origen" placeholder=""
          value="<%= locals.data_entry ? data_entry.pais_origen : null %>">
      <% if (locals.errores && errores.pais_origen) { %><i class="fas fa-times-circle"></i><% } %>
      <% if (locals.errores && !errores.pais_origen) { %><i class="fas fa-check-circle"></i><% } %>
  </div>
</section>
<section class="label-input flex-row">  <!--Director-->
  <label>País de origen:</label>
  <div class="formulario-grupo">
      <input type="text" class="input" name="pais_origen" placeholder=""
          value="<%= locals.data_entry ? data_entry.pais_origen : null %>">
      <% if (locals.errores && errores.pais_origen) { %><i class="fas fa-times-circle"></i><% } %>
      <% if (locals.errores && !errores.pais_origen) { %><i class="fas fa-check-circle"></i><% } %>
  </div>
</section>
<section class="label-input flex-row">  <!--Director-->
  <label>País de origen:</label>
  <div class="formulario-grupo">
      <input type="text" class="input" name="pais_origen" placeholder=""
          value="<%= locals.data_entry ? data_entry.pais_origen : null %>">
      <% if (locals.errores && errores.pais_origen) { %><i class="fas fa-times-circle"></i><% } %>
      <% if (locals.errores && !errores.pais_origen) { %><i class="fas fa-check-circle"></i><% } %>
  </div>
</section>
<section class="label-input flex-row">  <!--Director-->
  <label>País de origen:</label>
  <div class="formulario-grupo">
      <input type="text" class="input" name="pais_origen" placeholder=""
          value="<%= locals.data_entry ? data_entry.pais_origen : null %>">
      <% if (locals.errores && errores.pais_origen) { %><i class="fas fa-times-circle"></i><% } %>
      <% if (locals.errores && !errores.pais_origen) { %><i class="fas fa-check-circle"></i><% } %>
  </div>
</section>
<section class="label-input flex-row">  <!--Director-->
  <label>País de origen:</label>
  <div class="formulario-grupo">
      <input type="text" class="input" name="pais_origen" placeholder=""
          value="<%= locals.data_entry ? data_entry.pais_origen : null %>">
      <% if (locals.errores && errores.pais_origen) { %><i class="fas fa-times-circle"></i><% } %>
      <% if (locals.errores && !errores.pais_origen) { %><i class="fas fa-check-circle"></i><% } %>
  </div>
</section>
<section class="label-input flex-row">  <!--Director-->
  <label>País de origen:</label>
  <div class="formulario-grupo">
      <input type="text" class="input" name="pais_origen" placeholder=""
          value="<%= locals.data_entry ? data_entry.pais_origen : null %>">
      <% if (locals.errores && errores.pais_origen) { %><i class="fas fa-times-circle"></i><% } %>
      <% if (locals.errores && !errores.pais_origen) { %><i class="fas fa-check-circle"></i><% } %>
  </div>
</section>
<section class="label-input flex-row">  <!--Director-->
  <label>País de origen:</label>
  <div class="formulario-grupo">
      <input type="text" class="input" name="pais_origen" placeholder=""
          value="<%= locals.data_entry ? data_entry.pais_origen : null %>">
      <% if (locals.errores && errores.pais_origen) { %><i class="fas fa-times-circle"></i><% } %>
      <% if (locals.errores && !errores.pais_origen) { %><i class="fas fa-check-circle"></i><% } %>
  </div>
</section>
<section class="label-input flex-row">  <!--Director-->
  <label>País de origen:</label>
  <div class="formulario-grupo">
      <input type="text" class="input" name="pais_origen" placeholder=""
          value="<%= locals.data_entry ? data_entry.pais_origen : null %>">
      <% if (locals.errores && errores.pais_origen) { %><i class="fas fa-times-circle"></i><% } %>
      <% if (locals.errores && !errores.pais_origen) { %><i class="fas fa-check-circle"></i><% } %>
  </div>
</section>
<section class="label-input flex-row">  <!--Director-->
  <label>País de origen:</label>
  <div class="formulario-grupo">
      <input type="text" class="input" name="pais_origen" placeholder=""
          value="<%= locals.data_entry ? data_entry.pais_origen : null %>">
      <% if (locals.errores && errores.pais_origen) { %><i class="fas fa-times-circle"></i><% } %>
      <% if (locals.errores && !errores.pais_origen) { %><i class="fas fa-check-circle"></i><% } %>
  </div>
</section>
<section class="label-input flex-row">  <!--Director-->
  <label>País de origen:</label>
  <div class="formulario-grupo">
      <input type="text" class="input" name="pais_origen" placeholder=""
          value="<%= locals.data_entry ? data_entry.pais_origen : null %>">
      <% if (locals.errores && errores.pais_origen) { %><i class="fas fa-times-circle"></i><% } %>
      <% if (locals.errores && !errores.pais_origen) { %><i class="fas fa-check-circle"></i><% } %>
  </div>
</section>
<section class="label-input flex-row">  <!--Director-->
  <label>País de origen:</label>
  <div class="formulario-grupo">
      <input type="text" class="input" name="pais_origen" placeholder=""
          value="<%= locals.data_entry ? data_entry.pais_origen : null %>">
      <% if (locals.errores && errores.pais_origen) { %><i class="fas fa-times-circle"></i><% } %>
      <% if (locals.errores && !errores.pais_origen) { %><i class="fas fa-check-circle"></i><% } %>
  </div>
</section>
<section class="label-input flex-row">  <!--Director-->
  <label>País de origen:</label>
  <div class="formulario-grupo">
      <input type="text" class="input" name="pais_origen" placeholder=""
          value="<%= locals.data_entry ? data_entry.pais_origen : null %>">
      <% if (locals.errores && errores.pais_origen) { %><i class="fas fa-times-circle"></i><% } %>
      <% if (locals.errores && !errores.pais_origen) { %><i class="fas fa-check-circle"></i><% } %>
  </div>
</section>
<section class="label-input flex-row">  <!--Director-->
  <label>País de origen:</label>
  <div class="formulario-grupo">
      <input type="text" class="input" name="pais_origen" placeholder=""
          value="<%= locals.data_entry ? data_entry.pais_origen : null %>">
      <% if (locals.errores && errores.pais_origen) { %><i class="fas fa-times-circle"></i><% } %>
      <% if (locals.errores && !errores.pais_origen) { %><i class="fas fa-check-circle"></i><% } %>
  </div>
</section>
<section class="label-input flex-row">  <!--Director-->
  <label>País de origen:</label>
  <div class="formulario-grupo">
      <input type="text" class="input" name="pais_origen" placeholder=""
          value="<%= locals.data_entry ? data_entry.pais_origen : null %>">
      <% if (locals.errores && errores.pais_origen) { %><i class="fas fa-times-circle"></i><% } %>
      <% if (locals.errores && !errores.pais_origen) { %><i class="fas fa-check-circle"></i><% } %>
  </div>
</section>
<section class="label-input flex-row">  <!--Director-->
  <label>País de origen:</label>
  <div class="formulario-grupo">
      <input type="text" class="input" name="pais_origen" placeholder=""
          value="<%= locals.data_entry ? data_entry.pais_origen : null %>">
      <% if (locals.errores && errores.pais_origen) { %><i class="fas fa-times-circle"></i><% } %>
      <% if (locals.errores && !errores.pais_origen) { %><i class="fas fa-check-circle"></i><% } %>
  </div>
</section>
<section class="label-input flex-row">  <!--Director-->
  <label>País de origen:</label>
  <div class="formulario-grupo">
      <input type="text" class="input" name="pais_origen" placeholder=""
          value="<%= locals.data_entry ? data_entry.pais_origen : null %>">
      <% if (locals.errores && errores.pais_origen) { %><i class="fas fa-times-circle"></i><% } %>
      <% if (locals.errores && !errores.pais_origen) { %><i class="fas fa-check-circle"></i><% } %>
  </div>
</section>
<section class="label-input flex-row">  <!--Director-->
  <label>País de origen:</label>
  <div class="formulario-grupo">
      <input type="text" class="input" name="pais_origen" placeholder=""
          value="<%= locals.data_entry ? data_entry.pais_origen : null %>">
      <% if (locals.errores && errores.pais_origen) { %><i class="fas fa-times-circle"></i><% } %>
      <% if (locals.errores && !errores.pais_origen) { %><i class="fas fa-check-circle"></i><% } %>
  </div>
</section>
<section class="label-input flex-row">  <!--Director-->
  <label>País de origen:</label>
  <div class="formulario-grupo">
      <input type="text" class="input" name="pais_origen" placeholder=""
          value="<%= locals.data_entry ? data_entry.pais_origen : null %>">
      <% if (locals.errores && errores.pais_origen) { %><i class="fas fa-times-circle"></i><% } %>
      <% if (locals.errores && !errores.pais_origen) { %><i class="fas fa-check-circle"></i><% } %>
  </div>
</section>
<section class="label-input flex-row">  <!--Director-->
  <label>País de origen:</label>
  <div class="formulario-grupo">
      <input type="text" class="input" name="pais_origen" placeholder=""
          value="<%= locals.data_entry ? data_entry.pais_origen : null %>">
      <% if (locals.errores && errores.pais_origen) { %><i class="fas fa-times-circle"></i><% } %>
      <% if (locals.errores && !errores.pais_origen) { %><i class="fas fa-check-circle"></i><% } %>
  </div>
</section>
<section class="label-input flex-row">  <!--Director-->
  <label>País de origen:</label>
  <div class="formulario-grupo">
      <input type="text" class="input" name="pais_origen" placeholder=""
          value="<%= locals.data_entry ? data_entry.pais_origen : null %>">
      <% if (locals.errores && errores.pais_origen) { %><i class="fas fa-times-circle"></i><% } %>
      <% if (locals.errores && !errores.pais_origen) { %><i class="fas fa-check-circle"></i><% } %>
  </div>
</section>
<section class="label-input flex-row">  <!--Director-->
  <label>País de origen:</label>
  <div class="formulario-grupo">
      <input type="text" class="input" name="pais_origen" placeholder=""
          value="<%= locals.data_entry ? data_entry.pais_origen : null %>">
      <% if (locals.errores && errores.pais_origen) { %><i class="fas fa-times-circle"></i><% } %>
      <% if (locals.errores && !errores.pais_origen) { %><i class="fas fa-check-circle"></i><% } %>
  </div>
</section>
<section class="label-input flex-row">  <!--Director-->
  <label>País de origen:</label>
  <div class="formulario-grupo">
      <input type="text" class="input" name="pais_origen" placeholder=""
          value="<%= locals.data_entry ? data_entry.pais_origen : null %>">
      <% if (locals.errores && errores.pais_origen) { %><i class="fas fa-times-circle"></i><% } %>
      <% if (locals.errores && !errores.pais_origen) { %><i class="fas fa-check-circle"></i><% } %>
  </div>
</section>
<section class="label-input flex-row">  <!--Director-->
  <label>País de origen:</label>
  <div class="formulario-grupo">
      <input type="text" class="input" name="pais_origen" placeholder=""
          value="<%= locals.data_entry ? data_entry.pais_origen : null %>">
      <% if (locals.errores && errores.pais_origen) { %><i class="fas fa-times-circle"></i><% } %>
      <% if (locals.errores && !errores.pais_origen) { %><i class="fas fa-check-circle"></i><% } %>
  </div>
</section>
<section class="label-input flex-row">  <!--Director-->
  <label>País de origen:</label>
  <div class="formulario-grupo">
      <input type="text" class="input" name="pais_origen" placeholder=""
          value="<%= locals.data_entry ? data_entry.pais_origen : null %>">
      <% if (locals.errores && errores.pais_origen) { %><i class="fas fa-times-circle"></i><% } %>
      <% if (locals.errores && !errores.pais_origen) { %><i class="fas fa-check-circle"></i><% } %>
  </div>
</section>
<section class="label-input flex-row">  <!--Director-->
  <label>País de origen:</label>
  <div class="formulario-grupo">
      <input type="text" class="input" name="pais_origen" placeholder=""
          value="<%= locals.data_entry ? data_entry.pais_origen : null %>">
      <% if (locals.errores && errores.pais_origen) { %><i class="fas fa-times-circle"></i><% } %>
      <% if (locals.errores && !errores.pais_origen) { %><i class="fas fa-check-circle"></i><% } %>
  </div>
</section>
