<section class="flex-row" id="columnas">
    <div class="flex-col">
        <section class="label-input flex-row">  <!--Título en castellano -->
            <label>Título en castellano:</label>
            <div class="formulario-grupo">
                <input type="text" class="input-titulo" name="titulo_traducido" placeholder="Título en castellano"
                    value="<%= locals.data_entry ? data_entry.titulo_traducido : null %>">
                <% if (locals.errores && errores.titulo_traducido) { %><i class="fas fa-times-circle"></i><% } %>
                <% if (locals.errores && !errores.titulo_traducido) { %><i class="fas fa-check-circle"></i><% } %>
            </div>
        </section>
        <section class="label-input flex-row">  <!--Título original-->
            <label>Título original:</label>
            <div class="formulario-grupo">
                <input type="text" class="input-titulo" name="titulo_original" placeholder="Título original"
                    value="<%= locals.data_entry ? data_entry.titulo_original : null %>">
                <% if (locals.errores && errores.titulo_original) { %><i class="fas fa-times-circle"></i><% } %>
                <% if (locals.errores && !errores.titulo_original) { %><i class="fas fa-check-circle"></i><% } %>
            </div>
        </section>
        <section class="label-input flex-row">  <!--Año de estreno-->
        <label>Año de estreno:</label>
        <div class="formulario-grupo">
            <input type="text" class="input-numero" name="ano_estreno" placeholder="sólo números"
                value="<%= locals.data_entry ? data_entry.ano_estreno : null %>">
            <% if (locals.errores && errores.ano_estreno) { %><i class="fas fa-times-circle"></i><% } %>
            <% if (locals.errores && !errores.ano_estreno) { %><i class="fas fa-check-circle"></i><% } %>
        </div>
        </section>
        <section class="label-input flex-row">  <!--Color-->
            <label>Color o B/N:</label>
            <div class="formulario-grupo">
                <select name="color">
                    <% let color=""; if (locals.data_entry) {color = data_entry.color} else {if (usuario.formNombre) {color = usuario.color}}%>
                    <option value="" style="font-style: italic; ">Elegí</option>
                    <option value=true  <% if (color==true)  {%> selected <%}%>>Es en colores</option>
                    <option value=false <% if (color==false) {%> selected <%}%>>Blanco y Negro</option>
                </select>
                <% if (locals.errores && errores.color) { %><i class="fas fa-times-circle"></i><% } %>
                <% if (locals.errores && !errores.color) { %><i class="fas fa-check-circle"></i><% } %>
            </div>
        </section>
        <section class="label-input flex-row">  <!--Duración-->
            <label>Duración:</label>
            <div class="formulario-grupo">
                <input type="text" class="input" name="duracion" placeholder="en minutos"
                    value="<%= locals.data_entry ? data_entry.duracion : null %>">
                <% if (locals.errores && errores.duracion) { %><i class="fas fa-times-circle"></i><% } %>
                <% if (locals.errores && !errores.duracion) { %><i class="fas fa-check-circle"></i><% } %>
            </div>
        </section>
        <section class="label-input flex-row">  <!--País de origen-->
            <label>País de origen:</label>
            <div class="formulario-grupo">
                <input type="text" class="input" name="pais_origen" placeholder=""
                    value="<%= locals.data_entry ? data_entry.pais_origen : null %>">
                <% if (locals.errores && errores.pais_origen) { %><i class="fas fa-times-circle"></i><% } %>
                <% if (locals.errores && !errores.pais_origen) { %><i class="fas fa-check-circle"></i><% } %>
            </div>
        </section>
        <section class="label-input flex-row">  <!--Director-->
            <label>Director:</label>
            <div class="formulario-grupo">
                <input type="text" class="input" name="director" placeholder=""
                    value="<%= locals.data_entry ? data_entry.director : null %>">
                <% if (locals.errores && errores.director) { %><i class="fas fa-times-circle"></i><% } %>
                <% if (locals.errores && !errores.director) { %><i class="fas fa-check-circle"></i><% } %>
            </div>
        </section>
        <section class="label-input flex-row">  <!--Guión-->
            <label>Guión:</label>
            <div class="formulario-grupo">
                <input type="text" class="input" name="guion" placeholder=""
                    value="<%= locals.data_entry ? data_entry.guion : null %>">
                <% if (locals.errores && errores.guion) { %><i class="fas fa-times-circle"></i><% } %>
                <% if (locals.errores && !errores.guion) { %><i class="fas fa-check-circle"></i><% } %>
            </div>
        </section>
        <section class="label-input flex-row">  <!--Música-->
            <label>Música:</label>
            <div class="formulario-grupo">
                <input type="text" class="input" name="musica" placeholder=""
                    value="<%= locals.data_entry ? data_entry.musica : null %>">
                <% if (locals.errores && errores.musica) { %><i class="fas fa-times-circle"></i><% } %>
                <% if (locals.errores && !errores.musica) { %><i class="fas fa-check-circle"></i><% } %>
            </div>
        </section>
        <section class="label-input flex-row">  <!--Protagonista/s-->
            <label>Protagonista/s:</label>
            <div class="formulario-grupo">
                <input type="text" class="input" name="protagonista" placeholder=""
                    value="<%= locals.data_entry ? data_entry.protagonista : null %>">
                <% if (locals.errores && errores.protagonista) { %><i class="fas fa-times-circle"></i><% } %>
                <% if (locals.errores && !errores.protagonista) { %><i class="fas fa-check-circle"></i><% } %>
            </div>
        </section>
        <section class="label-input flex-row">  <!--Resto del Reparto-->
            <label>Resto del Reparto:</label>
            <div class="formulario-grupo">
                <input type="text" class="input" name="reparto" placeholder=""
                    value="<%= locals.data_entry ? data_entry.reparto : null %>">
                <% if (locals.errores && errores.reparto) { %><i class="fas fa-times-circle"></i><% } %>
                <% if (locals.errores && !errores.reparto) { %><i class="fas fa-check-circle"></i><% } %>
            </div>
        </section>
        <section class="label-input flex-row">  <!--Productora-->
            <label>Productora:</label>
            <div class="formulario-grupo">
                <input type="text" class="input" name="productora" placeholder=""
                    value="<%= locals.data_entry ? data_entry.productora : null %>">
                <% if (locals.errores && errores.productora) { %><i class="fas fa-times-circle"></i><% } %>
                <% if (locals.errores && !errores.productora) { %><i class="fas fa-check-circle"></i><% } %>
            </div>
        </section>
        <textarea name="comentario" id="comentario" cols="30" rows="10"></textarea>
    </div>
    <div class="flex-col">
        <section class="label-input flex-col">  <!--Calificación-->
            <label>Tu calificación:</label>
            <div class="formulario-grupo flex row">  <!--Inspira fe y/o valores-->
                <p>Inspira fe y/o valores</p>
                <select name="fe_valores">
                    <% let fe_valores=""; if (locals.data_entry) {fe_valores = data_entry.fe_valores} else {if (usuario.formNombre) {fe_valores = usuario.fe_valores}}%>
                    <option value="" style="font-style: italic; ">Elegí</option>
                    <option value="3" <% if (fe_valores=="3") {%> selected <%}%>>Mucho</option>
                    <option value="2" <% if (fe_valores=="2") {%> selected <%}%>>Sí</option>
                    <option value="1" <% if (fe_valores=="1") {%> selected <%}%>>Poco</option>
                </select>
                <% if (locals.errores && errores.fe_valores) { %><i class="fas fa-times-circle"></i><% } %>
                <% if (locals.errores && !errores.fe_valores) { %><i class="fas fa-check-circle"></i><% } %>
            </div>
            <div class="formulario-grupo flex row">  <!--Entretiene-->
                <p>Entretiene</p>
                <select name="entretiene">
                    <% let entretiene=""; if (locals.data_entry) {entretiene = data_entry.entretiene} else {if (usuario.formNombre) {entretiene = usuario.entretiene}}%>
                    <option value="" style="font-style: italic; ">Elegí</option>
                    <option value="3" <% if (entretiene=="3") {%> selected <%}%>>Mucho</option>
                    <option value="2" <% if (entretiene=="2") {%> selected <%}%>>Sí</option>
                    <option value="1" <% if (entretiene=="1") {%> selected <%}%>>Poco</option>
                </select>
                <% if (locals.errores && errores.entretiene) { %><i class="fas fa-times-circle"></i><% } %>
                <% if (locals.errores && !errores.entretiene) { %><i class="fas fa-check-circle"></i><% } %>
            </div>
        </section>
        <section class="label-input flex-row">  <!--Categoría-->
            <label>Categoría:</label>
            <div class="formulario-grupo">
                <input type="text" class="input" name="categoría" placeholder=""
                    value="<%= locals.data_entry ? data_entry.categoría : null %>">
                <% if (locals.errores && errores.categoría) { %><i class="fas fa-times-circle"></i><% } %>
                <% if (locals.errores && !errores.categoría) { %><i class="fas fa-check-circle"></i><% } %>
            </div>
        </section>
        <section class="label-input flex-row">  <!--Sub-categoría-->
        <label>Sub-categoría:</label>
        <div class="formulario-grupo">
            <input type="text" class="input" name="sub_categoria" placeholder=""
                value="<%= locals.data_entry ? data_entry.sub_categoria : null %>">
            <% if (locals.errores && errores.sub_categoria) { %><i class="fas fa-times-circle"></i><% } %>
            <% if (locals.errores && !errores.sub_categoria) { %><i class="fas fa-check-circle"></i><% } %>
        </div>
        </section>
        <section class="label-input flex-row">  <!--Público sugerido-->
            <label>Público sugerido:</label>
            <div class="formulario-grupo">
                <select name="publico">
                    <% let publico=""; if (locals.data_entry) {publico = data_entry.publico} else {if (usuario.formNombre) {publico = usuario.publico}}%>
                    <option value="" style="font-style: italic; ">Elegí</option>
                    <option value=true  <% if (publico==true)  {%> selected <%}%>>Mayores</option>
                    <option value=false <% if (publico==false) {%> selected <%}%>>Menores</option>
                    <option value=false <% if (publico==false) {%> selected <%}%>>Ambos</option>
                    <option value=false <% if (publico==false) {%> selected <%}%>>Mayores pero ATP</option>
                </select>
                <% if (locals.errores && errores.publico) { %><i class="fas fa-times-circle"></i><% } %>
                <% if (locals.errores && !errores.publico) { %><i class="fas fa-check-circle"></i><% } %>
            </div>
        </section>
        <section class="label-input flex-row">  <!--Idioma Castellano-->
            <label>Idioma Castellano:</label>
            <div class="formulario-grupo">
                <input type="text" class="input" name="idioma_castellano" placeholder=""
                    value="<%= locals.data_entry ? data_entry.idioma_castellano : null %>">
                <% if (locals.errores && errores.idioma_castellano) { %><i class="fas fa-times-circle"></i><% } %>
                <% if (locals.errores && !errores.idioma_castellano) { %><i class="fas fa-check-circle"></i><% } %>
            </div>
        </section>
        <section class="label-input flex-col">  <!--Links del trailer-->
            <label>Links del trailer:</label>
            <div class="formulario-grupo flex row">  <!--Primer Link-->
                <p>Primer Link:</p>
                <div class="formulario-grupo">
                    <input type="text" class="input-link" name="trailer1" placeholder=""
                        value="<%= locals.data_entry ? data_entry.trailer1 : null %>">
                    <% if (locals.errores && errores.trailer1) { %><i class="fas fa-times-circle"></i><% } %>
                    <% if (locals.errores && !errores.trailer1) { %><i class="fas fa-check-circle"></i><% } %>
                </div>
            </div>
            <div class="formulario-grupo flex row">  <!--Segundo Link-->
                <p>Segundo Link:</p>
                <div class="formulario-grupo">
                    <input type="text" class="input-link" name="trailer2" placeholder=""
                        value="<%= locals.data_entry ? data_entry.trailer2 : null %>">
                    <% if (locals.errores && errores.trailer2) { %><i class="fas fa-times-circle"></i><% } %>
                    <% if (locals.errores && !errores.trailer2) { %><i class="fas fa-check-circle"></i><% } %>
                </div>
            </div>
        </section>
        <section class="label-input flex-col">  <!--Links para ver la película-->
            <label>Links para ver la película:</label>
            <div class="formulario-grupo flex row">  <!--Primer Link-->
                <p>Primer Link:</p>
                <div class="formulario-grupo">
                    <input type="text" class="input-link" name="pelicula1" placeholder=""
                        value="<%= locals.data_entry ? data_entry.pelicula1 : null %>">
                    <% if (locals.errores && errores.pelicula1) { %><i class="fas fa-times-circle"></i><% } %>
                    <% if (locals.errores && !errores.pelicula1) { %><i class="fas fa-check-circle"></i><% } %>
                </div>
            </div>
            <div class="formulario-grupo flex row">  <!--Primer Link-->
                <p>Segundo Link:</p>
                <div class="formulario-grupo">
                    <input type="text" class="input-link" name="pelicula2" placeholder=""
                        value="<%= locals.data_entry ? data_entry.pelicula2 : null %>">
                    <% if (locals.errores && errores.pelicula2) { %><i class="fas fa-times-circle"></i><% } %>
                    <% if (locals.errores && !errores.pelicula2) { %><i class="fas fa-check-circle"></i><% } %>
                </div>
            </div>
        </section>
    </div>
</section>
<section class="label-input flex-col">  <!--Sinopsis-->
    <label>Sinopsis:</label>
    <div class="formulario-grupo">
        <input type="text" class="input" name="resumen" placeholder=""
            value="<%= locals.data_entry ? data_entry.sinopsis : null %>">
        <% if (locals.errores && errores.resumen) { %><i class="fas fa-times-circle"></i><% } %>
        <% if (locals.errores && !errores.resumen) { %><i class="fas fa-check-circle"></i><% } %>
    </div>
</section>
<button type="submit">Enviar</button>