<div id="info">
    <p style="font-weight: bold">Título original: <%= producto.nombre_original %></p>
    <p>País de origen: <%= producto.pais_id %></p>
    <p>Año de estreno: <%= producto.ano_estreno %></p>
    <p>Duración: <%= producto.duracion %> minutos</p>
    <p>Dirección: <%= producto.director %></p>
    <p>Guión: <%= producto.guion %></p>
    <p>Música: <%= producto.musica %></p>
    <p>Actores: <%= producto.actores %></p>
    <p>Productor: <%= producto.productor %></p>
    <p>Idioma castellano: <%= producto.idioma_castellano %></p>
    <p>Color: <%= producto.color %></p>
    <p>Público recomendado: <%= producto.publico_recomendado_id %></p>
    <p>Categoría: <%= producto.categoria_id %></p>
    <p>Sub-categoría: <%= producto.subcategoria_id %></p>
  </div>
