<div id="tapaElFondo"></div>
<div id="dataEntry" class="encimaDelFondo">
	<form method="POST">
		<!-- Cartel de progreso -->
		<%- include('CMP-CartelProgreso', {tarea: "Enviando el mail"}) %>

		<!-- Título y Ayuda -->
		<div id="tituloPrincipal">
			<h1><%= titulo %></h1>
			<% if (mostrarCampos) { %>
				<%- include('US19-AyudaTitulo') %>
			<% } %>
		</div>

		<!--E-Mail-->
		<%- include("US1-Mail") %>

		<% if (codigo == "olvidoContr") { %>
			<!--Campos para usuarios con datos perennes-->
			<h2 id="datosPerennesTitulo" class="<%- !mostrarCampos ? 'ocultar' : '' %>">
				Necesitamos validar tus datos<br>para generarte una contraseña
			</h2>
			<%- include("US13-DatosPerennes") %>
		<% } %>

		<!-- Credenciales -->
		<%- include("US138-CredencsInvs") %>

		<!--Iconos-->
		<section id="sectorIconos">
			<div class="iconos">
				<!-- Salir -->
				<a href="<%= urlSalir %>" tabindex="-1"><i class="fa-solid fa-circle-left" title="Salir"></i></a>
				<!-- Submit -->
				<button type="submit" class="<%- errores ? 'inactivo' : '' %>"><i class="fa-solid fa-circle-check" title="Confirmar"></i></button>
			</div>
			<% if (codigo == "olvidoContr" && !mostrarCampos) { %>
				<!-- En caso que el usuario no exista -->
				<div class="iconos">
					<a href="/usuarios/alta-mail" tabindex="-1"  class="verde">
						<i class="fa-solid fa-user-plus" title="Crear un usuario"></i>
					</a>
				</div>
			<% } %>
		</section>
	</form>
</div>
