<div id="tapaElFondo"></div>
<div id="dataEntry" class="encimaDelFondo">
	<form method="POST">
		<!-- Cartel de progreso -->
		<%- include('CMP-CartelProgreso', {tarea: "Enviando el mail"}) %>

		<!-- Título y Ayuda -->
		<div id="tituloPrincipal">
			<h1><%= titulo %></h1>
		</div>

		<!--E-Mail-->
		<%- include("US1-Mail") %>

		<% if (mostrarDatosPerennes) { %>
			<!--Datos perennes-->
			<div id="datosPerennesTitulo">
				<h2>Necesitamos validar tus datos<br>para generarte una contraseña</h2>
				<div class="ayuda">
					<i class="fa-solid fa-circle-question ayudaClick desplClick">
						<ul type="dots" class="ayudaMostrar desplMostrar">
							<li>Por favor brindanos los datos de tu identidad, como los cargaste en nuestro sitio.</li>
							<li>Es requisito que coincidan exactamente, para que te enviemos una nueva contraseña.</li>
						</ul>
					</i>
				</div>
			</div>

			<%- include("US13-DatosPerennes") %>
		<% } %>

		<!-- Credenciales -->
		<%- include("US138-CredencsInvs") %>

		<!--Iconos-->
		<section id="sectorIconos">
			<div class="iconos">
				<!-- Salir -->
				<a href="<%= urlSalir %>" tabindex="-1"><i class="fa-solid fa-circle-left" title="Salir"></i></a>
				<!-- Submit -->
				<button type="submit" class="<%- errores.hay ? 'inactivo' : '' %>"><i class="fa-solid fa-circle-check" title="Confirmar"></i></button>
			</div>
		</section>
	</form>
</div>
