<div id="tapaElFondo"></div>
<div id="dataEntry" class="encimaDelFondo">
	<form>
		<!-- Cartel de progreso -->
		<%- include('CMP-CartelProgreso', {tarea: "Enviando el mail"}) %>
		<h1><%= titulo %> </h1>

		<!--E-Mail-->
		<%- include("US1-Mail") %>

		<!--Número de Documento y País-->
		<% if (mostrarCampos) { %>
			<%- include("US1-Nombre") %>
			<%- include("US1-Apellido") %>
			<%- include("US1-FechaNacim") %>
			<%- include("US1-PaisNacim") %>
		<% } %>

		<!--Flechas-->
		<section class="flechas">
			<!-- Salir -->
			<a href="<%= urlSalir %>" tabindex="-1"><i class="fa-solid fa-circle-left" title="Salir"></i></a>
			<!-- Submit -->
			<button type="submit" class="<%- errores ? 'inactivo' : '' %>"><i class="fa-solid fa-circle-check" title="Confirmar"></i></button>
		</section>
	</form>
</div>
