<div id="tapaElFondo"></div>
<div id="dataEntry" class="encimaDelFondo">
	<form method="POST">
		<h1>Login</h1>
		<!-- Datos -->
		<section id="datos">
			<% for (let campo of campos) { %>
				<div class="labelInput flexRow">
					<label><%= campo.titulo %></label>
					<div class="inputError">
						<!-- Input -->
						<input class="input"
							value="<%= dataEntry[campo.name] %>"
							type="<%= campo.type %>"
							name="<%= campo.name %>"
							placeholder="<%= campo.placeholder %>"
							<% if (dataEntry[campo.name]) { %>autocomplete='new-password'<% } %>
						>
						<!-- El autocomplete = 'new-password' es para prevenir el 'autocomplete' -->
						<!-- Ojito contraseña -->
						<% if (campo.name == "contrasena") { %><i id="eye" class="fa-solid fa-eye-slash"></i><% } %>
						<!-- Error/OK -->
						<%- include("CMP-Errores", {nombre: campo.name, display: true}) %>
					</div>
				</div>
			<% } %>
		</section>

		<!--Credenciales Inválidas-->
		<%- include("US138-CredencsInvs") %>

		<!--Iconos-->
		<section class="flexRow">
			<div class="iconos">
				<!-- Salir -->
				<a href="<%= urlSalir %>" tabindex="-1">
					<i class="fa-solid fa-circle-left" title="Salir"></i>
				</a>
				<!-- Submit -->
				<button type="submit" autofocus>
					<i class="fa-solid fa-circle-check" title="Login"></i>
				</button>
			</div>
			<div class="iconos">
				<!-- Olvido de contraseña -->
				<a href="/usuarios/olvido-contrasena" tabindex="-1" class="rojo">
					<i class="fa-solid fa-key" title="Olvidé mi contraseña"></i>
				</a>
				<!-- Nuevo usuario -->
				<a href="/usuarios/alta-mail" tabindex="-1"  class="verde">
					<i class="fa-solid fa-user-plus" title="Crear un usuario"></i>
				</a>
			</div>
		</section>
	</form>
</div>