<form action="">
	<!-- Zona de Filtros -->
	<%- include('CN0-Filtros') %>
	
	<!-- Zona de Productos -->
	<div id="zona-de-prods" class="flexCol grow">
		<!-- Encabezado -->
		<%- include('CN0-Encabezado') %>
		<!-- Sector de películas -->
		<div id="vistaProds">
			<%- include("CN1-Listado") %>
			<%- include("CN2-Personajes") %>
			<%- include("CN3-Hechos") %>
			<%- include("CN4-Valores") %>
		</div>
	</div>
</form>
