<!-- Zona de Preferencias -->
<section id="configCons" class="boxShadow">
	<%- include('CN-2Filtros') %>
</section>
<!-- Encabezado + Productos -->
<section id="encabMasPelis" class="ocultar">
	<!-- Encabezado -->
	<div id="encabezado">
		<%- include('CN-1Encabezado') %>
	</div>
	<!-- Zona de Productos -->
	<div id="zonaDisponible">
		<div id="vistaDeResults" class="boxShadow">
			<!-- Actualizar -->
			<div id="actualizar" class="scale">
				<i class="fa-solid fa-rotate-right" title="Actualizar"></i>
			</div>
			<!-- Zona de scroll -->
			<div id="scroll">
				<ul id="botones"></ul>
				<div id="listados"></div>
			</div>
			<!-- Zona de carteles -->
			<div id="comencemos">
				<!-- Telón de fondo -->
				<img id="cartelFondo" src="<%= localhost %>/imagenes/0-Base/Varios/Cortinas.jpg">
				<!-- Carteles -->
				<button id="quieroVer" class="scale pointer ocultar">Quiero ver las<br>películas propuestas</button>
				<button id="noTenemos" class="ocultar">Sin resultados<br>para esa consulta</button>
				<button id="asegurate" class="ocultar">Asegurate de contestar<br>los sectores en rojo</button>
				<button id="loginPend" class="ocultar">Tenés que estar <span><a href="/usuarios/login">logueado</a></span><br>para ver tus preferencias</button>
				<!-- Preferencias -->
				<div id="pppOpciones" class="">
					<h2></h2>
					<table>
						<% for (let pppOpcion of pppOpciones) { %>
							<tr>
								<td><i class="<%= pppOpcion.icono %>"></i></td>
								<td><%= pppOpcion.nombre %></td>
							</tr>
						<% } %>
					</table>
				</div>
			</div>
		</div>
	</div>
	<%- include("CMP-3Footer", {mostrar: true}) %>
</section>
