<!--Filtros Guardados-->
<div id="filtrosPers">
	<div id="nuevoNombre" class="relative">
		<input type="text" class="absolute">
	</div>
	<select name="filtrosPers">
		<option value="">Filtros Guardados...</option>
		<% for (filtro of filtrosPers) { %>
			<option 
				value="<%= filtro.id %>"
				<% if (filtro.id == filtro_id) { %>selected<% } %>
			><%= filtro.nombre %></option>
		<% } %>
	</select>
	<div id="iconos" class="flexRow">
		<i id="nuevo" class="fa-solid fa-file scale inactivo" title="Crea un filtro nuevo"></i>
		<i id="reinicio" class="fa-solid fa-rotate-left scale inactivo" title="Deshace los cambios"></i>
		<i id="actualiza" class="fa-solid fa-floppy-disk scale inactivo" title="Guarda los cambios"></i>
		<i id="modificaNombre" class="fa-solid fa-pen scale inactivo" title="Modifica el nombre"></i>
		<i id="elimina" class="fa-solid fa-trash-can scale inactivo" title="Elimina el filtro actual"></i>
	</div>
</div>
<!-- Campos específicos -->
<div id="campos" class="flexCol">
	<div class="flexColAlign ocultar">
		<h2>Filtros para enfocar tu búqueda</h2>
		<i class="fa-solid fa-arrow-down"></i>
	</div>
	<div class="sectorConDesplV">
		<nav class="ocultar flexCol">
			<!-- PRIORITARIOS -->
			<!-- Relación con la Iglesia Católica -->
			<%- include('CN-FL-Selects', {asunto: filtros.cfc, mostrarSiempre: true}) %>
			<!-- Epoca de Ocurrencia -->
			<%- include('CN-FL-Selects', {asunto: filtros.epocasOcurrencia, mostrarSiempre: true}) %>
			<hr>

			<!-- EVENTUALES -->
			<!-- Basado en Hechos Reales -->
			<%- include('CN-FL-Selects', {asunto: filtros.bhr, mostrarSiempre: false, class: "bhr ocultar"}) %>
			<!-- Aparición Mariana -->
			<%- include('CN-FL-Selects', {asunto: filtros.apMar, mostrarSiempre: false, class: "apMar ocultar"}) %>
			<!-- Roles Iglesia -->
			<%- include('CN-FL-Selects', {asunto: filtros.rolesIglesia, mostrarSiempre: false, class: "rolesIglesia ocultar"}) %>
			<!-- Proceso de Canonización -->
			<%- include('CN-FL-Selects', {asunto: filtros.canons, mostrarSiempre: false, class: "canons ocultar"}) %>
			<hr>

			<!-- COLA DE PREFERENCIAS -->
			<!-- Público Recomendado -->
			<%- include('CN-FL-Selects', {asunto: filtros.publicos, mostrarSiempre: true}) %>
			<!-- Época de Estreno -->
			<%- include('CN-FL-Selects', {asunto: filtros.epocasEstreno, mostrarSiempre: true}) %>
			<!-- Preferencia por Película -->
			<%- include('CN-FL-Selects', {asunto: filtros.ppp_opciones, mostrarSiempre: true}) %>
			<!-- Tipos de Link -->
			<%- include('CN-FL-Selects', {asunto: filtros.tiposLink, mostrarSiempre: true}) %>
			<!-- Idioma Castellano -->
			<%- include('CN-FL-Selects', {asunto: filtros.castellano, mostrarSiempre: true}) %>
			<!-- Tipo de Actuación -->
			<%- include('CN-FL-Selects', {asunto: filtros.tiposActuacion, mostrarSiempre: true}) %>
			<!-- Musical -->
			<%- include('CN-FL-Selects', {asunto: filtros.musical, mostrarSiempre: true}) %>
			<hr>

			<!-- Búsqueda -->
			<div id="palabrasClave" class="filtro mostrarSiempre elegibleSimple"> 
				<input type="text" name="palabrasClave" placeholder="Buscar por palabras clave" class="input">
				<i class="fa-solid fa-circle-right" title="Aplicar las palabras"></i>
			</div>
		</nav>
	</div>
</div>
