<% if (locals.userIdentVal && locals.status_id && (status_id == aprobado_id || status_id == inactivo_id)) { %>
	<!-- Inactivar y Recuperar -->
	<div class="flechas">
		<!-- Inactivar -->
		<% if (status_id == aprobado_id) { %>
			<a href="<%= '/crud/inactivar/?entidad=' + entidad + '&id=' + id + (locals.origen ? ('&origen=' + origen) : '') %>">
				<i class="fa-solid fa-circle-xmark" tabindex="-1" title="Ir a 'Inactivar'"></i>
			</a>
		<% } %>
		<!-- Recuperar -->
		<% if (status_id == inactivo_id) { %>
			<a href="<%= '/crud/recuperar/?entidad=' + entidad + '&id=' + id + (locals.origen ? ('&origen=' + origen) : '') %>">
				<i class="fa-solid fa-circle-check" tabindex="-1" title="Ir a 'Recuperar'"></i>
			</a>
		<% } %>
		<style>.flechas :is(.fa-circle-xmark, .fa-circle-check) {color: var(--azul-oscuro)}</style>
	</div>
<% } else if (tema == "crud") { %>
	<!-- Confirma el cambio de status -->
	<button type="submit" class="flechas inactivo">
		<i class="fa-solid fa-circle-right" tabindex="-1" title="Confirma el cambio de status"></i>
	</button>
<% } %>

<!-- Logo de Portales de información de Películas -->
<% if (tema == "revisionEnts" && (codigo == "producto/alta"||codigo == "producto/edicion")) { %>
	<div id="sectorLogos" class="flechas">
		<!-- TMDB -->
		<% tmdb = registro.nombre_original ? "search?language=es&query=" + registro.nombre_original : "" %>
		<a class="logos" href="//themoviedb.org/<%= tmdb %>" target="_blank">
			<img src="<%= localhost %>/imagenes/0-Base/Logos/BD-TMDB.jpg" title="The Movie Database">
		</a>
		<!-- FA -->
		<% fa = registro.nombre_original ? "search.php?stext=" + registro.nombre_original : "" %>
		<a class="logos" href="//filmaffinity.com/es/<%= fa %>" target="_blank">
			<img src="<%= localhost %>/imagenes/0-Base/Logos/BD-FA.jpg" title="Film Affinity">
		</a>
		<!-- IMDB -->
		<% imdb = registro.IMDB_id ? "title/"+registro.IMDB_id+"/technical" : (registro.nombre_original ? "find?q="+registro.nombre_original : "") %>
		<a class="logos" href="//imdb.com/<%= imdb %>" target="_blank">
			<img src="<%= localhost %>/imagenes/0-Base/Logos/BD-IMDB.jpg" title="Internet Movie Database">
		</a>
		<!-- Wikipedia -->
		<% wiki = registro.nombre_castellano ? registro.nombre_castellano.toLowerCase() : "" %>
		<a class="logos" href="//es.wikipedia.org/wiki/<%= wiki %>" target="_blank">
			<img src="<%= localhost %>/imagenes/0-Base/Logos/BD-Wiki.jpg" title="Wikipedia">
		</a>
		<!-- Google -->
		<% google = registro.nombre_castellano ? "search?q="+registro.nombre_castellano.toLowerCase() : "" %>
		<a class="logos" href="//google.com/<%= google %>" target="_blank">
			<img src="<%= localhost %>/imagenes/0-Base/Logos/BD-Google.jpg" title="Google">
		</a>		
	</div>
<% } %>
