<!-- Contenido que se desplaza -->
<div id="recuadroDB" class="sectorConDesplV bordeConSombra aparece">
	<h3>Datos del <%= entidadNombre %></h3>
	<div id="texto">
		<% for (campo of bloqueDer.rclv) { %>
			<p><b><%= campo.titulo %>:</b> <span><%= campo.valor %></span></p>
		<% } %>
	</div>
	<h3>Datos del Registro</h3>
	<div id="texto">
		<% for (campo of bloqueDer.registro) { %>
			<% const anchor = !!campo.href && usuario && usuario.rolUsuario.revisorPERL %>
			<% if (anchor) { %><a href="<%= campo.href %>"><% } %>
				<p <% if (campo.titulo.startsWith("Status")) { %>id="<%= campo.codigo %>" class="status"<% } %>>
					<b><%= campo.titulo %>:</b> <span><%= campo.valor %></span>
				</p>
			<% if (anchor) { %></a><% } %>
		<% } %>
	</div>
</div>
