<% for (let prod of prodsDelRCLV) { %>
	<li id="prodsNuevos">
		<a href="/producto/detalle/?entidad=<%= prod.entidad %>&id=<%= prod.id %>">
			<!-- Info a mostrar -->
			<button type="text" class="flexRow pointer <% if (prod.statusRegistro_id==inactivo_id) { %>rojo<% } %>" id= "prod" autofocus>
				<img class="imagenChica" src="<%= prod.avatar %>" alt="<%= prod.nombreOriginal %>" title="<%= prod.nombreOriginal %>">
				<div id="infoPeli" class="flexCol">
					<p id="nombreCastellano" class="interlineadoChico"><%= prod.nombreCastellano %></p>
					<% if (prod.nombreOriginal != prod.nombreCastellano) { %>
						<p id="nombreOriginal"><%= prod.nombreOriginal %></p>
					<% } %>
					<br>
					<p id="anoEstreno" class="interlineadoChico"><%= prod.anoEstreno + " - " + prod.entidadNombre %></p>
					<% if (prod.direccion) { %>
						<p class="interlineadoChico">Dirección: <%= prod.direccion %></p>
					<% } %>
				</div>
			</button>
		</a>
	</li>
<% } %>
