<% for (let prod of prodsDelRCLV) { %>
	<li class="prodsNuevos">
		<a href="/producto/detalle/?entidad=<%= prod.entidad %>&id=<%= prod.id %>">
			<!-- Info a mostrar -->
			<button id= "prod" type="text" class="flexRow <% if (prod.statusRegistro_id == inactivo_id) { %>rojo<% } %>" autofocus>
				<img class="imagenChica" src="<%= prod.avatar %>" alt="<%= prod.nombreOriginal %>" title="<%= prod.nombreOriginal %>">
				<div id="infoPeli" class="flexCol">
					<p id="nombreCastellano" class="interlineadoChico"><%= prod.nombreCastellano ? prod.nombreCastellano : prod.nombreOriginal %></p>
					<div id="inferior">
						<p id="anoEstreno" class="interlineadoChico"><%= prod.anoEstreno + " - " + prod.entidadNombre %></p>
						<% if (prod.direccion) { %>
							<p class="interlineadoChico">Dirección: <%= prod.direccion %></p>
						<% } %>
						<% if (usuario) { %>
							<div id="ppp" class="interlineadoChico flexRowAlign">
								<i class="scale <%= prod.ppp.icono %>" tabindex="-1" title="<%= prod.ppp.nombre %>"></i>
								<p id="texto" class="ocultar"><%= prod.ppp.nombre %></p>
							</div>
						<% } %>
					</div>
				</div>
			</button>
		</a>
	</li>
<% } %>
