<!-- Contenido que se desplaza -->
<nav>
	<h3>Datos del <%= entidadNombre %></h3>
	<div id="texto">
		<% for (campo of bloqueDer.rclv) { %>
			<p><b><%= campo.titulo %>:</b> <span><%= campo.valor %></span></p>
		<% } %>
	</div>
	<h3>Datos del Registro</h3>
	<div id="texto">
		<% for (campo of bloqueDer.registro) { %>
			<p <% if (campo.titulo.startsWith("Status")) { %>class="status" id="status<%= campo.id %>"<% } %>>
				<b><%= campo.titulo %>:</b> <span><%= campo.valor %></span>
			</p>
		<% } %>
	</div>
</nav>
