	<section id="encabezado">
	<div id="nombres">
		<h1><%= producto.nombre_castellano %></h1>
		<% if (producto.nombre_original) { %>
			<h2><em><%= producto.nombre_original %></em></h2>
		<% } %>
	</div>
	<div id="colCap">
		<!-- Cantidad de Temporadas y de Capítulos -->
		<% if (entidad == "colecciones") { %>
			<div id="colecciones">
				<p><strong>Cantidad de Temporadas:</strong> <%= producto.cant_temporadas ? producto.cant_temporadas : "Sin temporada" %></p>
				<p><strong>Cantidad de Capítulos:</strong> <%= producto.cant_capitulos %></p>
			</div>
			<% } %>
		<!-- Colección a la que pertenece -->
		<% if (entidad == "capitulos") { %>
			<div id="tempCapI">
				<i class="fa-solid fa-arrow-right-arrow-left" tabindex="-1" title="Ver el Detalle de un<%= entidad == "colecciones" ? " Capítulo" : "a Colección" %>"></i>
				<p><strong>De la colección:</strong> <a href="/producto/detalle/?entidad=colecciones&id=<%= producto.coleccion_id %>"><%= producto.coleccion.nombre_castellano %></a></p>
			</div>
			<div id="tempCapS">
				<div class="pack">
					<i class="fa-solid fa-circle-left inactivo" tabindex="-1" title="Ir al capítulo anterior"></i>
					<i class="fa-solid fa-circle-right inactivo" tabindex="-1" title="Ir al capítulo posterior"></i>
				</div>
				<select id="temporada">
					<% for (let temp = 1; temp <= producto.coleccion.cant_temporadas; temp++) { %>
						<option <% if (producto.temporada == temp) { %>selected<% } %> >Temporada <%= temp %></option>
					<% } %>
				</select>
				<select id="capitulo">
					<% for (let capitulo of producto.capitulos) { %>
						<option <% if (producto.capitulo == capitulo) { %>selected<% } %> >Capítulo <%= capitulo %></option>
					<% } %>
				</select>
			</div>
		<% } %>
	</div>
</section>
