<section id="encabezado">
	<div id="nombres">
		<h1><%= producto.nombre_castellano %></h1>
		<% if (producto.nombre_original) { %>
			<h2><em><%= producto.nombre_original %></em></h2>
		<% } %>
	</div>
	<div id="colCap">
		<!-- Cantidad de Temporadas y de Capítulos -->
		<% if (entidad == "colecciones") { %>
			<div id="colecciones">
				<p><strong>Cant. de Temporadas:</strong> <%= producto.cant_temporadas ? producto.cant_temporadas : "Sin temporada" %></p>
				<p><strong>Cant. de Capítulos:</strong> <%= producto.cant_capitulos %></p>
			</div>
			<% } %>
		<!-- Colección a la que pertenece -->
		<% if (entidad == "capitulos") { %>
			<p id="tempCapI">
				<strong>De la colección:</strong> <a href="/producto/detalle/?entidad=colecciones&id=<%= producto.coleccion_id %>"><%= producto.coleccion.nombre_castellano %></a>
			</p>
			<div id="tempCapS">
				<p id="temporada">Temporada <%= producto.temporada %></p>
				<p id="capitulo">Capítulo <%= producto.capitulo %></p>
			</div>
		<% } %>
	</div>
</section>
