<% let productos = Productos.filter((n) => n.status_registro_id == estado) %>
<% if (productos.length) { %>
	<h3>Status <%= titulo %> </h3>
	<table>
		<tbody>
		<% for (producto of productos) { %>
			<tr>
				<td>
					<a href="/revision/producto/?entidad=<%= producto.entidad %>&id=<%= producto.id %>">
						<%= producto.nombre %>
					</a>
				</td>
				<td><%= producto.abrev %></td>
			</tr>
		<% } %>
		</tbody>
	</table>
<% } %>