<% let prods = productos.filter((n) => n.status_registro_id == estado) %>
<% if (prods.length) { %>
	<h3><%= titulo %> </h3>
	<% for (let producto of prods) { %>
		<p>
			<a href="/revision/redireccionar/?entidad=<%= producto.entidad %>&id=<%= producto.id %>">
				<%= producto.abrev %> - <%= producto.nombre %>
			</a>
		</p>
	<% } %>
<% } %>