<% let regs = registros.filter((n) => estado.includes(n.status_registro_id)) %>
<% if (regs.length) { %>
	<h3><%= titulo %> </h3>
	<% for (let registro of regs) { %>
		<p>
			<a href="/revision/redireccionar/?entidad=<%= registro.entidad %>&id=<%= registro.id %>">
				<%= registro.abrev %> - <%= registro.nombre %>
			</a>
		</p>
	<% } %>
<% } %>