<section id="paises_id">
	<% let inputOK = dataEntry.paises_id && !errores.paises_id %>
	<label>País/es de origen</label>
	<div class="inputError">
		<!-- Lugar donde almacenar los ID -->
		<input name="paises_id" type="text" <% if (inputOK) { %>value="<%= dataEntry.paises_id %>" disabled<% } %> class="input" tabindex="-1">
		<!-- Lugar donde mostrar los nombres -->
		<input id="mostrarPaises" type="text" readonly tabindex="-1" value="<%= paisesNombre %>" <% if (inputOK) { %>disabled class="desplClick"<% } %> placeholder="Elegí un país" tabindex="-1">
		<!-- Opciones de países -->
		<% if (!inputOK) { %>
			<select name="paises" tabindex="-1">
				<option value="borrar">Borrar todo/s</option>
				<optgroup label="Más Frecuentes">
					<% for (let pais of paisesTop5) { %>
						<option value="<%= pais.id %>"><%= pais.nombre %></option>
					<% } %>
				</optgroup>
				<% continentes = ["América", "Europa", "Africa", "Asia", "Oceanía"] %>
				<% for (let continente of continentes) { %>
					<optgroup label="<%= continente %>">
						<% for (let pais of paises.filter(n => n.continente == continente)) { %>
							<option value="<%= pais.id %>"><%= pais.nombre %></option>
						<% } %>
					</optgroup>
				<% } %>
			</select>
		<% } else { %>
			<%- include("PA3-DD9-Ayuda", {inputOK}) %>
		<% } %>
		<%- include("CMP-Errores", {nombre: "paises_id", ocultarOK: true}) %>
	</div>
</section>
