<% const campo = camposDA.find(n => n.nombre == nombre) %>
<% const {titulo, valores} = campo %>
<section id="<%= nombre %>" class="labelSelect">
	<label><%= titulo %></label>
	<div class="inputError">
		<!-- Input -->
		<select name="<%= nombre %>" class="input" autofocus>
			<% for (let grupo of grupos) { %>
				<optgroup label="<%= grupo.label %>" class="<%= grupo.clase %>">
					<% for (let valor of grupo.valores) { %>
						<option value="<%= valor.id %>" class="RCLV <%= valor.clase %>" <% if (dataEntry[nombre] == valor.id) { %>selected<% } %>><%= valor.nombre %></option>
					<% } %>
				</optgroup>
			<% } %>
		</select>

		<% if (!campo.mensajes) campo.mensajes = (campo.entidad == "peliculas") ? campo.mensajePeli : campo.mensajeColec %>
		<% if (campo.mensajes) { %><%- include("MN-Ayuda", {mensajes: campo.mensajes}) %><% } %>

		<!-- Link a Relación con la vida -->
		<i class="<%= iconos.faSolid %> fa-circle-plus linkRCLV alta <%= nombre %>" title='Agregar "<%= titulo.toLowerCase() %>"'></i>
		<i class="<%= iconos.faSolid %> fa-square-pen linkRCLV edicion ocultar <%= nombre %>" title='Editar "<%= titulo.toLowerCase() %>"'></i>
	</div>
</section>
