<section id="imgDerecha" class="inputError">
	<!-- Input de avatar nuevo -->
	<label for="inputImagen">
		<img id="avatarEdicN" src="//localhost<%= imgDerPers.edic %>" class="pointer imgAvatar edicN">
	</label>
	<input name="avatar" id="inputImagen" type="file" accept="image/*" class="input ocultar">
	<!-- Demás avatars -->
	<img id="avatarEdicG" src="//localhost<%= imgDerPers.edic %>" class="ocultar imgAvatar edicG">
	<img id="avatarOrig" src="//localhost<%= imgDerPers.orig %>" class="ocultar imgAvatar orig">
	<!-- Ayuda -->
	<div class="ayuda">
		<i class="fa-solid fa-circle-question ayudaClick desplClick">
			<ul type="dots" class="ayudaMostrar ocultar desplMostrar">
				<li>Haciendo <em>click</em> en la imagen podés reemplazarla.</li>
				<li>Podés elegir una imagen de internet sin descargarla en tu equipo, ingresando su dirección url</li>
				<li>La extensión de la imagen debe ser <em><strong>JPG</strong></em>, <em><strong>JPEG</strong></em> o <em><strong>PNG</strong></em></li>
			</ul>
		</i>
	</div>
	<%- include("CMP-Errores") %>
	<!-- Aviso de cambio en el data-entry -->
	<i class="fa-solid fa-arrow-right-long ocultar"></i>
	<!-- Links a sitios externos para buscar imágenes alternativas -->
	<nav class="agregados">
		<% for (let registro of avatarLinksExternos) { %>
			<a href="<%= registro.href %>" target="_blank">
				<img src="//localhost<%= registro.src %>" alt="<%= registro.alt %>" class="scale">
			</a>
		<% } %>
	</nav>
</section>
