<% let campo = camposDP.find(n => n.nombre == nombreDelCampo) %>
<section class="label-input">
	<label><%= campo.titulo %></label>
	<div class="inputError">
		<!-- Input -->
		<select name="<%= nombreDelCampo %>" class="input <%= campo.angosto ? 'angosto ' : '' %>">
			<option value="" <% if (!producto[nombreDelCampo]) { %>selected<% } %>>Elejí<% if (!campo.angosto) { %> una opción<% } %></option>
			<% for (let valor of campo.valores) { %>
				<option value="<%= valor.id %>" 
					<% if (producto[nombreDelCampo] == valor.id) { %>selected<% } %>
				>
					<%= valor[campoDato] %>
				</option>
			<% } %>
		</select>
		<!-- Ayuda -->
		<div class="ayuda">
			<i class="fa-solid fa-circle-question ayudaClick despl_click">
				<ul type="dots" class="ayudaMostrar ocultar despl_mostrar">
					<% if (!campo.mensajes) {campo.mensajes = (campo.entidad == "peliculas") ? campo.mensajePeli : campo.mensajeColec} %>
					<% for (let mensaje of campo.mensajes) { %><li><%= mensaje %></li><% } %> 
				</ul>
			</i>
		</div>
		<%- include("CMP-Errores") %>
		<!-- Aviso de cambio en el data-entry -->
		<i class="fa-solid fa-arrow-right-long ocultar"></i>
	</div>
</section>
