<h1 id="titulo">Agregá una Película o Colección a nuestra Base de Datos</h1>
<div class="flex-col" id="dataEntry">
	<div id="encabezado">
		<h2>Paso 2 de 5: Hacé click sobre tu opción</h2>
		<p class="flex-row"><%= mensaje %></p>
		<p><u>Palabra/s clave</u>: <strong><%= palabrasClave %></strong></p>
	</div>
	<ul id="resultadoDesamb">
		<%- include('21-ProductosNuevos', { prod_nuevos }) %>
		<%- include('22-IngresoManual') %>
		<%- include('23-ProductosYaEnBD', { prod_yaEnBD }) %>
	</ul>
	<div id="flechas" class="flex-row">
		<a href="/producto/agregar/palabras-clave" title="Volver al paso anterior"><i class="fa-solid fa-circle-left"></i></a>
	</div>
</div>