<h1 id="titulo">
	Agregá un<%= dataEntry.entidad != "capitulos" ? "a" : "" %> <%= dataEntry.producto %> a nuestra Base de Datos
</h1>
<div class="flex-col" id="dataEntry">
	<h2 id="paso2">Paso 2 de 4: Importala desde Film Affinity</h2>
	<form action="<%= link %>" method="POST">
		<div id="entidad" class="ocultar"><%= dataEntry.entidad %></div>
		<!-- Datos a completar -->
		<section id="datos">
			<h3>Ingresá la dirección de la página</h3>
			<div class="input-error">
				<!-- Data Entry -->
				<input name="direccion" type="text" class="input"
					value="<%= dataEntry ? dataEntry.direccion : null %>"
					placeholder="Pegá acá la dirección"
					autocomplete="off"
					autofocus
				>
				<!-- Ayuda -->
				<i class="fa-solid fa-circle-question relative">
					<ul class="mensajeAyuda ocultar" type="dots">
						<strong><u>Pasos</u></strong>:<br>
						<li>
							Buscá la película o colección en 
							<a target="_blank" href="https://www.filmaffinity.com/es"><u>Film Affinity</u></a>.
						</li>
						<li>Seleccioná la dirección (url)</li>
						<li>Copiala</li>
						<li>Pegala en el casillero de la izquierda</li>
					</ul>
				</i>
				<!-- Errores -->
				<i class="fa-solid fa-circle-xmark ocultar">
					<span class="mensajeError"><%- errores && errores.direccion ? errores.direccion : "" %></span>
				</i>
				<i class="fa-solid fa-circle-check ocultar"></i>
			</div>
			<h3>Ingresá la dirección de la imagen grande</h3>
			<div class="input-error">
				<input name="avatar" type="text" class="input"
					value="<%= dataEntry ? dataEntry.avatar : null %>"
					placeholder="Pegá acá la dirección"
					autocomplete="off"
				>
				<!-- Ayuda -->
				<i class="fa-solid fa-circle-question relative" id="ayuda_avatar">
					<ul class="mensajeAyuda ocultar" type="dots">
						<p><strong><u>Pasos</u></strong>:</p>
						<li>En la página de FA, hacé <strong><em>click izquierdo</em></strong> sobre la imagen de la película.</li>
						<li>Una vez que la imagen se agranda, hacé <strong><em>click derecho</em></strong> sobre ella.</li>
						<li>En el menú que aparece, hacé <strong><em>click izquierdo</em></strong> sobre la opción <em>"Copiar dirección de la imagen"</em> y pegala en el casillero de la izquierda.</li>
					</ul>
				</i>
				<!-- Errores -->
				<i class="fa-solid fa-circle-xmark ocultar">
					<span class="mensajeError"><%- errores && errores.avatar ? errores.avatar : "" %></span>
				</i>
				<i class="fa-solid fa-circle-check ocultar"></i>
			</div>
			<h3>Ingresá el contenido del cuerpo de la página</h3>
			<div class="input-error">
				<textarea name="contenido" placeholder="Pegá acá el contenido" autocomplete="off" rows="1" class="input"><%- dataEntry ? dataEntry.contenido : "" %></textarea>
				<!-- Ayuda -->
				<i class="fa-solid fa-circle-question relative">
					<ul class="mensajeAyuda ocultar" type="dots">
						<strong><u>Pasos</u></strong>:<br>
						<li>
							En la página de FA, seleccioná desde
							el <strong><em><u>título en castellano</u></em></strong> 
							hasta el final de la <strong><em><u>sinopsis</u></em></strong>.
						</li>
						<li>Copialo.</li>
						<li>Pegalo en el casillero de la izquierda.</li>
					</ul>
				</i>
				<!-- Errores -->
				<i class="fa-solid fa-circle-xmark ocultar">
					<span class="mensajeError"><%- errores && errores.contenido ? errores.contenido : "" %></span>
				</i>
				<i class="fa-solid fa-circle-check ocultar"></i>
			</div>
			<div id="resultado"><br></div>
		</section>
		<!-- Flechas -->
		<section id="flechas" class="flex-row space-between">
			<a href="/producto/agregar/tipo-producto" tabindex="-1" title="Volver al paso anterior"><i class="fa-solid fa-circle-left"></i></a>
			<button id="submit" class="botonInactivo" type="submit" title="Avanzar"><i class="fa-solid fa-circle-check"></i></button>
		</section>
	</form>
</div>