<h1 id="titulo">
	Agregá un<%= dataEntry.entidad != "capitulos" ? "a" : "" %> <%= dataEntry.prodNombre %> a nuestra Base de Datos
</h1>
<form action="<%= link %>" method="POST" id="dataEntry" class="flex-col">
	<section class="flex-col">
		<h2>Paso 5 de 5: Confirmá el agregado</h2>
		<img id="running" src="/imagenes/8-Agregar/Confirma.svg" alt="Confirma">
		<ul>
			<li>Estamos listos para agregar el producto a nuestra Base de Datos</li>
			<li>
				Una vez que confirmes la operación, no hay "marcha atrás"
				<i class="fa-solid fa-circle-question">
					<span class="mensajeAyuda ocultar">El producto quedará para siempre en nuestra BD, y tu usuario asociado a él.</span>
				</i>
			</li>
			<li>
				Damos una puntuación por la calidad y responsabilidad de la información aportada
				<i class="fa-solid fa-circle-question">
					<ol class="mensajeAyuda ocultar">
						<p>Aspectos que consideramos:</p>
						<li>Que el producto esté alineado con nuestro perfil.</li>
						<li>La precisión de los datos personalizados aportados.</li>
						<li>Los links de Trailer y de Película, que podrás agregar luego de este paso, en <em>Edición</em>.</li>
						<p>El puntaje nos permite evaluar al usuario como potencial <em>Revisor de Altas de Productos</em> de otros usuarios.</p>
					</ol>
				</i>
			</li>
		</ul>
		<div id="datosProd">
			<img id="afiche" src="<%= dataEntry.avatarDP %>" alt="afiche">
			<div id="referenciasProd">
				<p><%= dataEntry.prodNombre %>: <strong><%= dataEntry.nombre_castellano %></strong></p>
				<p>Año de estreno: <strong><%= dataEntry.ano_estreno %></strong></p>
				<p>Dirección: <strong><%= direccion %></strong></p>
				<p>Actuación: <%= actuacion %></p>
			</div>
		</div>
	</section>
	<!-- Flechas y Botón -->
	<section id="flechas">
		<a href="/producto/agregar/datos-personalizados" tabindex="-1" title="Volver al paso anterior"><i class="fa-solid fa-circle-left"></i></a>
		<button type="submit" autofocus title="Avanzar"><i class="fa-solid fa-circle-check"></i></button>
	</section>	
</form>
