<h1 class="titulo" id="titulo">Agregaste una <%= dataEntry.producto %> a nuestra Base de Datos</h1>
<section id="dataEntry" class="flex-col">
	<div class="flex-col">
		<img id="gracias" src="<%= imagenMuchasGracias %>" alt="Muchas gracias">
		<ul>
			<li>La <%= dataEntry.producto %> <strong style="font-size: inherit;"><em style="font-size: inherit;"><%= dataEntry.nombre_castellano %></em></strong> ¡fue agregada con éxito!</li>
			<li>
				Nuestro equipo de Administradores revisará los datos ingresados.
				<i class="fas fa-question-circle">
					<ol type="dots" class="mensajeAyuda ocultar">
						<li>
							El resultado puede ser:
							<ul>
								<li><strong><em>Aprobado</em></strong>, con o sin edición a cargo del administrador.</li>
								<li><strong><em>Desaprobado</em></strong>, si no está alineada con nuestro perfil.</li>
							</ul>
						</li>
						<li>Enviamos un único mail con las novedades del día anterior.</li>
						<p>Si el registro es aprobado, queda accesible para todo el público.</p>
					</ol>
				</i>
			</li>
			<li>Mientras tanto, sólo <u style="font-size: inherit;">vos</u> podrás ver el registro agregado y editarlo si corresponde.</li>
			<!-- Variable inicial -->
			<% botonColeccion = "" %>
			<!-- Colección -->
			<% if (dataEntry.entidad == "colecciones") { %>
				<% if (dataEntry.fuente == "TMDB") { %>
					<!-- En TMDB -->
					<li id="partesAutomatico">Los capítulos de la colección se agregaron a nuestra BD en forma automática.</li>
				<% } else { %>
					<li>¡Muchas gracias! ¿Podrás ahora cargar los capítulos de la colección?</li>
				<% } %>
			<% } %>
		</ul>
	</div>
	<!-- Botones -->
	<div id="flechas" class="flex-row">
		<% if (dataEntry.fuente != "TMDB") { %>
			<% if (dataEntry.entidad == "colecciones") { %>
				<a href="/producto/agregar/tipo-producto/?coleccion=<%= dataEntry.id %>">
					<button type="text" autofocus>Agregar Capítulos en forma manual</button>
				</a>
			<% } else if (dataEntry.entidad == "capitulos") { %>
				<a href="/producto/agregar/tipo-producto/?coleccion=<%= dataEntry.coleccion_id %>">
					<button type="text" autofocus>Agregar Capítulos en forma manual</button>
				</a>
			<% } %>
		<% } %>
		<a href="<%= urlDetalle %>">
			<button type="text" autofocus><i class="fas fa-info-circle"></i></button>
		</a>
	</div>	
</section>
