<h1 class="titulo" id="titulo">Agregaste una <%= dataEntry.producto %> a nuestra Base de Datos</h1>
<form action="/producto/agregar/detalle" method="POST" id="dataEntry" class="flex-col">
	<section class="flex-col">
		<img id="gracias" src="<%= imagen %>" alt="Muchas gracias">
		<ul>
			<li>La <%= dataEntry.producto %> <strong style="font-size: inherit;"><em style="font-size: inherit;"><%= dataEntry.nombre_castellano %></em></strong> ¡fue agregada con éxito!</li>
			<li>
				Nuestro equipo de Administradores revisará los datos ingresados.
				<i class="fas fa-question-circle">
					<ol type="dots" class="mensajeAyuda ocultar">
						<li>
							El resultado puede ser:
							<ul>
								<li><strong><em>Aprobado</em></strong>, con o sin edición a cargo del administrador.</li>
								<li><strong><em>Desaprobado</em></strong>, si no está alineada con nuestro perfil.</li>
							</ul>
						</li>
						<li>Enviamos un único mail con las novedades del día anterior.</li>
						<p>Si el registro es aprobado, queda accesible para todo el público.</p>
					</ol>
				</i>
			</li>
			<li>Mientras tanto, sólo <u style="font-size: inherit;">vos</u> podrás ver el registro agregado y editarlo si corresponde.</li>
			<!-- Variable inicial -->
			<% botonColeccion = "" %>
			<!-- Colección -->
			<% if (dataEntry.entidad == "colecciones") { %>
				<% if (dataEntry.TMDB_id) { %>
					<!-- En TMDB -->
					<li id="partesAutomatico">Las partes de la colección se agregaron a nuestra BD en forma automática.</li>
				<% } else { %>
					<li>¡Muchas gracias! ¿Podrás ahora cargar las partes de la colección?</li>
					<% botonColeccion = "Ir a Ingreso Manual" %>
					<% linkColeccion = "/producto/agregar/tipo-producto" %>
				<% } %>
			<% } %>
		</ul>
	</section>
	<!-- Generar la info de req.body -->
	<section class="ocultar">
		<% for (campo in dataEntry) { %>
			<input type="text" name="<%= campo %>" value="<%= dataEntry[campo] %>">
		<% } %> 
	</section>
	<!-- Botones -->
	<section id="flechas" class="flex-row">
		<% if (botonColeccion) { %><input type="submit" autofocus value="<%= botonColeccion %>" formaction="<%= linkColeccion %>" formmethod="post"><% } %>
		<button type="submit" autofocus>Ver el Detalle de la <%= dataEntry.producto %> agregada</button>
	</section>	
</form>
