<section id="datosLargos">
	<div id="tituloPrincipal">
		<h1 id="titulo"><%= titulo %></h1>
		<!-- Ayuda -->
		<div class="ayuda">
			<i class="fa-solid fa-circle-question ayudaClick despl_click">
				<ul class="ayudaMostrar ocultar despl_mostrar" type="dots">
					<li>Los íconos de la barra azul de más abajo, te permiten editar los datos de esta vista y crear/editar los links.</li>
					<li>Si el contenido de los recuadros se ve parcial, podés deslizarlo con la ruedita del mouse dentro del recuadro.</li>
				</ul>
			</i>
		</div>
	</div>
	<div id="datos">
		<div id="contenido">
			<!-- Tipo de Producto, Temporada, Capítulo, Colección -->
			<%- include("CR-Encabezado") %>
			<!-- Sinopsis -->
			<div id="sinopsis" class="desplazam">
				<nav class="infoDesplazam"><%= producto.sinopsis %></nav>
			</div>
			<!-- Demás Datos Duros -->
			<% for (bloque of bloquesIzquierda) { %>
				<div class="datosAdicionales">
					<% for (campo of bloque) { %>
						<strong><%= campo.titulo %>:</strong> <%= campo.valor %>. 
					<% } %> 
				</div>				
			<% } %>
		</div>
		<!-- Comandos -->
		<div id="comandos">
			<i class="fa-solid fa-t" tabindex="-1" title="Ver el Trailer"></i>
			<% if (entidad != "colecciones") { %>
				<i class="fa-solid fa-p" tabindex="-1" title="Ver <%- entidad == "capitulos" ? "el" : "la" %> <%= prodNombre %>"></i>
			<% } %>
			<i class="fa-solid fa-user-graduate" tabindex="-1" title="Califica<%= (entidad=="capitulos" ? "lo" : "la") %>"></i>
			<i class="fa-solid fa-heart" tabindex="-1" title="Mi interés en <%= (entidad=="capitulos" ? "el capítulo" : "la " + (entidad=="peliculas" ? "película" : "colección")) %>"></i>
			<i class="fa-solid fa-book-open" tabindex="-1" title="Hacer o ver comentarios"></i>
		</div>
		<!-- Botones -->
		<%- include("CR-Flechas") %>
	</div>
</section>
<section id="datosBreves" class="desplazam">
	<div class="infoDesplazam">
		<!-- Calificaciones -->
		<div>
			<p><strong>Calificaciones</strong></p>
			<p id="calificacionesResultados"></p>
		</div>
		<div id="calificacionesGrafico"></div>
		<!-- Texto -->
		<div id="texto">
			<% for (bloque of bloquesDerecha) { %>
				<p <% if (bloque.titulo.startsWith("Status")) { %>class="status" id="status<%= bloque.id %>"<% } %>>
					<strong><%= bloque.titulo %>:</strong> <span><%= bloque.valor %></span>
					<% if (bloque.RCLV_entidad) { %>
						<% let datosRCLV = "entidad=" + bloque.RCLV_entidad + "&id=" + bloque.RCLV_id %>
						<a href="/rclv/detalle/?<%= datosRCLV %>">
							<i class="fa-solid fa-circle-info"></i>
						</a>
					<% } %>
				</p>
			<% } %>
		</div>
	</div>
</section>
