<section id="datos">
	<div id="tituloConAyuda">
		<h1 id="titulo"><%= titulo %></h1>
		<!-- Ayuda -->
		<i id="iconoAyuda" class="fa-solid fa-circle-question despl_click">
			<ul class="mensajeAyuda ocultar despl_mostrar" type="dots">
				<li>Podés editar los datos y los links.</li>
			</ul>	
		</i>
	</div>
	<div id="datosLargos">
		<div id="contenido">
			<!-- Tipo de Producto, Temporada, Capítulo, Colección -->
			<%- include("CR-Encabezado") %>
			<!-- Sinopsis -->
			<div id="sinopsis">
				<nav><%= producto.sinopsis %></nav>
				<!-- Ayuda -->
				<i class="fa-solid fa-circle-question despl_click">
					<ul type="none" class="mensajeAyuda ocultar despl_mostrar">
						<li>Si el contenido de la sinopsis excede el recuadro, podés deslizarlo con la ruedita del mouse</li>
					</ul>
				</i>
			</div>
			<!-- Demás Datos Duros -->
			<% for (bloque of bloquesIzquierda) { %>
				<div class="datosAdicionales">
					<% for (campo of bloque) { %>
						<strong><%= campo.titulo %>:</strong> <%= campo.valor %>. 
					<% } %> 
				</div>				
			<% } %>
		</div>
		<!-- Comandos -->
		<div id="comandos">
			<i class="fa-solid fa-t" tabindex="-1" title="Ver el Trailer"></i>
			<% if (entidad != "colecciones") { %>
				<i class="fa-solid fa-p" tabindex="-1" title="Ver <%- entidad == "capitulos" ? "el" : "la" %> <%= prodNombre %>"></i>
			<% } %>
			<i class="fa-solid fa-user-graduate" tabindex="-1" title="Califica<%= (entidad=="capitulos" ? "lo" : "la") %>"></i>
			<i class="fa-solid fa-heart" tabindex="-1" title="Mi interés en <%= (entidad=="capitulos" ? "el capítulo" : "la " + (entidad=="peliculas" ? "película" : "colección")) %>"></i>
			<i class="fa-solid fa-book-open" tabindex="-1" title="Hacer o ver comentarios"></i>
		</div>
		<!-- Botones -->
		<%- include("CR-Flechas") %>
	</div>
</section>
<section id="datosBreves">
	<!-- Calificaciones -->
	<div>
		<p><strong><u style="font-size: 1.1rem;">Calificaciones</u></strong></p>
		<p>General: <span>77%</span> / Tuya: <span>78%</span></p>
		<p id="calificacionesResultados"></p>
	</div>
	<div id="calificacionesGrafico"></div>
	<!-- Texto -->
	<div id="texto">
		<% for (bloque of bloquesDerecha) { %>
			<p <% if (bloque.titulo.startsWith("Status")) { %>class="status" id="status<%= bloque.id %>"<% } %>>
				<strong><%= bloque.titulo %>:</strong> <span><%= bloque.valor %></span>
				<% if (bloque.RCLV_entidad) { %>
					<% let destino = "origen=DT" %>
					<% let datosRCLV = "entidad=" + bloque.RCLV_entidad + "&id=" + bloque.RCLV_id %>
					<% let datosProd = "prodEntidad=" + entidad + "&prodID=" + prodID %> 
					<a href="/rclv/detalle/?<%= destino %>&<%= datosRCLV %>&<%= datosProd %>">
						<i class="fa-solid fa-circle-info"></i>
					</a>
				<% } %>
			</p>
		<% } %>
	</div>
</section>
