<section id="encabezadoDatos" class="flexCol">
	<!-- Tipo de Producto, Temporada, Capítulo, Colección -->
	<%- include("CR-Encabezado") %>
	<!-- Datos -->
	<div id="datos">
		<!-- Datos generales -->
		<div id="primeraColumna">
			<h3>Datos Generales</h3>
			<!-- Primeros campos -->
			<% for (let campo of camposInput1) { %><%- include("PR-Edic-Input", {campo}) %><% } %>
			<!-- Otros -->
			<%- include("PR-Edic-Pais") %>
			<%- include("PR-Edic-Idioma", {idioma_id: producto.idioma_original_id}) %>
			<%- include("PR-Edic-Input", {campo: produccion}) %>
			<%- include("PR-Edic-Select", {nombreDelCampo: "publico_sugerido_id"}) %>
			<h3>Datos Adicionales</h3>
			<!-- Campos SI / NO -->
			<% for (let tema of camposDP.filter(n => n.siNo)) { %><%- include("PR-Edic-SI_NO", {tema}) %><% } %>
			<!-- Tipo de Actuación -->
			<%- include("PR-Edic-TipoActuac") %>
		</div>
		<div id="segundaColumna">
			<!-- Cast/Crew -->
			<h3>Personas</h3>
			<% for (let campo of camposInput2) { %><%- include("PR-Edic-Input", {campo}) %><% } %>
			<!-- Relación con la vida -->
			<h3>Relación con la vida</h3>
			<!--Personaje histórico-->
			<%- include("PR-Edic-RCLV", {nombreDelCampo: "personaje_id", campoDato: "nombre"}) %>
			<!--Hecho histórico-->
			<%- include("PR-Edic-RCLV", {nombreDelCampo: "hecho_id", campoDato: "nombre"}) %>
			<!--Valor-->
			<%- include("PR-Edic-RCLV", {nombreDelCampo: "valor_id", campoDato: "nombre"}) %>
			<h3>Sinopsis</h3>
			<!--Sinopsis-->
			<%- include("PR-Edic-Sinopsis") %>
		</div>
	</div>
</section>
<section class="flexRow">
	<!-- Botones -->
	<%- include("CR-Flechas") %> 
	<!-- Comandos -->
	<section class="flechas">
		<!-- Versión editada 'edicN' -->
		<div class="pack">
			<!-- Ver la versión -->
			<i class="fa-solid fa-pen-to-square activar activo" tabindex="-1" title='Ver la versión editada SIN GUARDAR'></i>
			<i class="fa-solid fa-slash inactivo" tabindex="-1"></i>
			<!-- Descartar la versión -->
			<i class="fa-solid fa-trash-can descartar edicN inactivoVersion" tabindex="-1" title='Descartar esta versión'></i>
			<i class="fa-solid fa-slash inactivo" tabindex="-1"></i>
			<!-- Guardar los cambios -->
			<label for="submit">
				<i class="fa-solid fa-floppy-disk guardar edicN inactivoVersion" tabindex="-1" title='Guardar esta versión'></i>
			</label>
			<button type="submit" id="submit" class="ocultar"></button>
		</div>
		<!-- Versión editada 'edicG' -->
		<div class="pack">
			<!-- Ver la versión -->
			<i class="fa-solid fa-pencil activar edicG inactivoVersion" tabindex="-1" title='Ver la versión editada GUARDADA'></i>
			<i class="fa-solid fa-slash inactivo" tabindex="-1"></i>
			<!-- Eliminar la versión -->
			<i class="fa-solid fa-trash-can descartar edicG inactivoVersion" tabindex="-1" title='Eliminar esta versión'></i>
		</div>
		<!-- Versión original -->
		<div class="pack">
			<!-- Ver la versión -->
			<i class="fa-solid fa-house activar" tabindex="-1" title='Ver la versión original'></i>
		</div>
	</section>
</section>
