<!-- Tipo de Producto, Temporada, Capítulo, Colección -->
<%- include("CR-Encabezado") %>
<!-- Datos -->
<section id="datos">
	<!-- Datos generales -->
	<div id="primeraColumna">
		<h3>Datos Generales</h3>
		<!-- Primeros campos -->
		<% for (let campo of camposInput1) { %><%- include("PR-Input", {campo}) %><% } %>
		<!-- País -->
		<%- include("PR-Pais") %>
		<!-- Idioma original -->
		<%- include("PR-Idioma", {idioma_id: producto.idioma_original_id}) %>
		<!--Es a Color-->
		<%- include("PR-Select", {nombreDelCampo: "en_color_id", campoDato: "productos"}) %>
		<!-- Producción -->
		<% for (let campo of camposInput3) { %><%- include("PR-Input", {campo}) %><% } %>
		<h3>Datos Subjetivos</h3>
		<!--Categoría-->
		<%- include("PR-Select", {nombreDelCampo: "categoria_id", campoDato: "nombre"}) %>
		<!--Sub-categoría-->
		<%- include("PR-Select", {nombreDelCampo: "subcategoria_id", campoDato: "nombre"}) %>
		<!--Público sugerido-->
		<%- include("PR-Select", {nombreDelCampo: "publico_sugerido_id", campoDato: "nombre"}) %>
	</div>
	<div id="segundaColumna">
		<!-- Cast/Crew -->
		<h3>Personas</h3>
		<% for (let campo of camposInput2) { %><%- include("PR-Input", {campo}) %><% } %>
		<!-- Relación con la vida -->
		<h3>Relación con la vida</h3>
		<!--Personaje histórico-->
		<%- include("PR-RCLV", {nombreDelCampo: "personaje_id", campoDato: "nombre"}) %>
		<!--Hecho histórico-->
		<%- include("PR-RCLV", {nombreDelCampo: "hecho_id", campoDato: "nombre"}) %>
		<!--Valor-->
		<%- include("PR-RCLV", {nombreDelCampo: "valor_id", campoDato: "nombre"}) %>
		<h3>Sinopsis</h3>
		<!--Sinopsis-->
		<%- include("PR-Sinopsis") %>
	</div>
</section>
<div class="flexRow">
	<!-- Botones -->
	<%- include("CR-Flechas") %> 
	<!-- Comandos -->
	<section class="flechas">
		<!-- Versión editada 'edicN' -->
		<div class="pack">
			<!-- Ver la versión -->
			<i class="fa-solid fa-pen-to-square activar activo" tabindex="-1" title='Ver la versión editada SIN GUARDAR'></i>
			<i class="fa-solid fa-slash inactivo" tabindex="-1"></i>
			<!-- Descartar la versión -->
			<i class="fa-solid fa-trash-can descartar edicN inactivoVersion" tabindex="-1" title='Descartar esta versión'></i>
			<i class="fa-solid fa-slash inactivo" tabindex="-1"></i>
			<!-- Guardar los cambios -->
			<label for="submit">
				<i class="fa-solid fa-floppy-disk guardar edicN inactivoVersion" tabindex="-1" title='Guardar esta versión'></i>
			</label>
			<button type="submit" id="submit" class="ocultar"></button>
		</div>
		<!-- Versión editada 'edicG' -->
		<div class="pack">
			<!-- Ver la versión -->
			<i class="fa-solid fa-pencil activar edicG inactivoVersion" tabindex="-1" title='Ver la versión editada GUARDADA'></i>
			<i class="fa-solid fa-slash inactivo" tabindex="-1"></i>
			<!-- Eliminar la versión -->
			<i class="fa-solid fa-trash-can descartar edicG inactivoVersion" tabindex="-1" title='Eliminar esta versión'></i>
		</div>
		<!-- Versión original -->
		<div class="pack">
			<!-- Ver la versión -->
			<i class="fa-solid fa-house activar" tabindex="-1" title='Ver la versión original'></i>
		</div>
	</section>
</div>
