<!-- Tipo de Producto, Temporada, Capítulo, Colección -->
<%- include("CR-Encabezado") %>
<!-- Datos -->
<section id="datos">
	<!-- Datos generales -->
	<div id="primeraColumna">
		<h3>Datos generales</h3>
		<!-- Primeros campos -->
		<% for (let campo of camposDD1) { %><%- include("PR-Input", {campo}) %><% } %>
		<!-- País -->
		<%- include("PR-Pais") %>
		<!-- Idioma original -->
		<%- include("PR-Idioma", {idioma_id: producto.idioma_original_id}) %>
		<!--Existe una versión en castellano-->
		<%- include("PR-Select", {nombreDelCampo: "en_castellano_id", nombre: "productos"}) %>
		<!--Es a Color-->
		<%- include("PR-Select", {nombreDelCampo: "en_color_id", nombre: "productos"}) %>
		<!-- Producción -->
		<% for (let campo of camposDD3) { %><%- include("PR-Input", {campo}) %><% } %>
		<h3>Datos Subjetivos</h3>
		<!--Categoría-->
		<%- include("PR-Select", {nombreDelCampo: "categoria_id", nombre: "nombre"}) %>
		<!--Sub-categoría-->
		<%- include("PR-Select", {nombreDelCampo: "subcategoria_id", nombre: "nombre"}) %>
		<!--Público sugerido-->
		<%- include("PR-Select", {nombreDelCampo: "publico_sugerido_id", nombre: "nombre"}) %>
	</div>
	<div id="segundaColumna">
		<!-- Personas -->
		<h3>Personas</h3>
		<% for (let campo of camposDD2) { %><%- include("PR-Input", {campo}) %><% } %>
		<!-- Relación con la vida -->
		<h3>Relación con la vida</h3>
		<!--Personaje histórico-->
		<%- include("PR-RCLV", {nombreDelCampo: "personaje_id", nombre: "nombre"}) %>
		<!--Hecho histórico-->
		<%- include("PR-RCLV", {nombreDelCampo: "hecho_id", nombre: "nombre"}) %>
		<!--Valor-->
		<%- include("PR-RCLV", {nombreDelCampo: "valor_id", nombre: "nombre"}) %>
		<h3>Sinopsis</h3>
		<!--Sinopsis-->
		<%- include("PR-Sinopsis") %>
	</div>
</section>
<!-- Comandos -->
<section id="comandos">
	<!-- Versión editada 'edicN' -->
	<div class="pack">
		<!-- Ver la versión -->
		<i class="fa-solid fa-pen-to-square activar activo" tabindex="-1" title='Ver la versión editada SIN GUARDAR'></i>
		<i class="fa-solid fa-slash inactivo" tabindex="-1"></i>
		<!-- Descartar la versión -->
		<i class="fa-solid fa-trash-can descartar edicN inactivoVersion" tabindex="-1" title='Descartar esta versión'></i>
		<i class="fa-solid fa-slash inactivo" tabindex="-1"></i>
		<!-- Guardar los cambios -->
		<label for="guardar"><i class="fa-solid fa-floppy-disk guardar edicN inactivoVersion" tabindex="-1" title='Guardar esta versión'></i></label>
		<button type="submit" id="guardar" class="ocultar"></button>
	</div>
	<!-- Versión editada 'edicG' -->
	<div class="pack">
		<!-- Ver la versión -->
		<i class="fa-solid fa-pencil activar edicG inactivoVersion" tabindex="-1" title='Ver la versión editada GUARDADA'></i>
		<i class="fa-solid fa-slash inactivo" tabindex="-1"></i>
		<!-- Eliminar la versión -->
		<i class="fa-solid fa-trash-can descartar edicG inactivoVersion" tabindex="-1" title='Eliminar esta versión'></i>
	</div>
	<!-- Versión original -->
	<div class="pack">
		<!-- Ver la versión -->
		<i class="fa-solid fa-house activar" tabindex="-1" title='Ver la versión original'></i>
	</div>
</section>
<!-- Botones -->
<%- include("CR-Flechas") %> 
