<section id="encabezadoDatos" class="flexCol">
	<!-- Tipo de Producto, Temporada, Capítulo, Colección -->
	<div id="encabezado">
		<%- include("FM-Encabezado") %>
	</div>
	<!-- Datos -->
	<div id="datos">
		<!-- Datos generales -->
		<div id="primeraColumna" class="columna">
			<h3>Datos Generales</h3>
			<!-- Primeros campos -->
			<% for (let campo of camposInput1) { %><%- include("PR2-Edic-Input", {campo}) %><% } %>
			<!-- Otros -->
			<%- include("PR2-Edic-Pais") %>
			<%- include("PR2-Edic-Idioma", {idioma_id: registro.idioma_original_id}) %>
			<%- include("PR2-Edic-Input", {campo: produccion}) %>
			<% if (userRevisor) { %>
				<%- include("PR2-Edic-Select", {nombre: "publico_id"}) %>
			<% } %>
			<h3>Datos Adicionales</h3>
			<!-- Campos SI / NO -->
			<% for (let campo of camposDA.filter(n => n.siNo)) { %><%- include("PR2-Edic-SI_NO", {campo}) %><% } %>
			<!-- Tipo de Actuación -->
			<%- include("PR2-Edic-TipoActuac", {nombre: "tipo_actuacion_id"}) %>
		</div>
		<div id="segundaColumna" class="columna">
			<!-- Cast/Crew -->
			<h3>Personas</h3>
			<% for (let campo of camposInput2) { %><%- include("PR2-Edic-Input", {campo}) %><% } %>
			<!-- Relación con la vida -->
			<div class="label-input">
				<h3>Relación con la vida</h3>
				<div id="errorRCLV" class="inputError">
					<%- include("CMP-Errores", {nombre: "RCLV"}) %>
				</div>
			</div>
			<!--Personaje histórico-->
			<%- include("PR2-Edic-RCLV_ph", {nombre: "personaje_id", grupos: gruposPers}) %>
			<!--Hecho histórico-->
			<%- include("PR2-Edic-RCLV_ph", {nombre: "hecho_id", grupos: gruposHechos}) %>
			<!--Valor-->
			<%- include("PR2-Edic-RCLV_val", {nombre: "valor_id"}) %>
			<h3>Sinopsis</h3>
			<!--Sinopsis-->
			<%- include("PR2-Edic-Sinopsis") %>
		</div>
	</div>
</section>
<!-- Botones y Comandos -->
<section id="botones">
	<%- include("Flechas-1Estandar") %> 
	<!-- Específicos de edición -->
	<%- include("Flechas-2ProdRUD") %>
	<!-- Portales -->
	<%- include("Flechas-4ProdsPortales") %>
</section>
