<!-- Vitreaux -->
<div id="zona-de-vitreaux" class="flexCol">
	<img src="<%= localhost %>/imagenes/0-Base/Varios/Vitraux.jpg" title="Vitreaux" alt="Vitreaux">
</div>

<!-- Zona de Bienvenida -->
<div id="zona-de-bienvenida" class="flexCol">
	<button>
		<p>Bienvenidos a nuestro sitio de <span>Recomendación de Películas</span>.</p>
	</button>
	<div id="botones" class="flexRow">
		<% for (let i = 0; i < opciones.length; i++) { %>
			<a href="<%= opciones[i].href %>">
				<button class="scale">
					<img src="<%= localhost %><%= opciones[i].src %> ">
					<p><%= opciones[i].p %> </p>
				</button>
			</a>
		<% } %>
	</div>
</div>
