<!-- Vitreaux -->
<div id="zona-de-vitreaux" class="flexCol">
	<img src="<%= localhost %>/imagenes/0-Base/Varios/Vitraux.jpg" title="Vitreaux" alt="Vitreaux">
</div>

<!-- Zona de Bienvenida -->
<div id="zona-de-bienvenida" class="flexCol">
	<button id="cartel">
		<h1>Bienvenidos a nuestro sitio de <span>Recomendación de Películas</span></h1>
		<p>Nuestro sitio está orientado a ayudar a:</p>
		<ul type="dots">
			<li>El usuario, a disfrutar viendo una película que le deje algo bueno en su interior.</li>
			<li>Los productores y distribuidores, a difundir sus películas con ese perfil.</li>
		</ul>
	</button>
	<div id="botones" class="flexRow">
		<% for (let opcion of opciones) { %>
			<a href="<%= opcion.href %>">
				<button class="scale">
					<img src="<%= localhost %><%= opcion.src %> ">
					<p><%= opcion.p %> </p>
				</button>
			</a>
		<% } %>
	</div>
</div>
