<% for (prod_enBD of prod_yaEnBD) { %>
	<% rubroAPI = prod_enBD.rubroAPI %>
	<% id = prod_enBD.YaEnBD %>
	<% lanzamiento = prod_enBD.lanzamiento + " - " + (rubroAPI == "movie" ? "Película" : "Colección") %>
	<% imagen_src = "https://image.tmdb.org/t/p/original" + prod_enBD.avatar %>
	<% nombre_original = prod_enBD.nombre_original %>
	<% nombre_castellano = prod_enBD.nombre_castellano %>

	<form action="/productos/agregar/ya-en-bd" method="GET">
		<!-- Campos para luego buscar los detalles o enviar a Datos Duros -->
		<input type="text" name="rubroAPI" class="ocultar" value="<%= rubroAPI %>">
		<input type="text" name="id" value="<%= id %>" class="ocultar">
		<!-- Info a mostrar -->
		<button type="submit" class="flex-row" id= "prod_yaEnBD">
			<img id="imagenChica" src="<%= imagen_src %>" alt="<%= nombre_original %>" title="<%= nombre_original %>">
			<div id="infoPeli" class="flex-col">
				<p><strong><%= nombre_original %></strong></p>
				<p class="interlineadoChico"></p>
				<p><%= lanzamiento %></p>
				<p class="interlineadoChico"></p>
				<p><em><%= nombre_castellano %></em></p>
			</div>
		</button>
	</form>
<% } %>
