<% if ((data_entry.rubroAPI=="movie" && datos[i].peli) || (data_entry.rubroAPI!="movie" && datos[i].colec)) { %>
	<section style="order: <%=i%><%- (i == 0) ? '; margin-top: 0' : '' %>" class="label-input flex-row">
		<label><%= datos[i].titulo %> </label>
		<div class="input-error">
			<input type="text" class="input" name="<%= datos[i].campo %>"
				value="<%= data_entry[datos[i].campo] %>"
				<% if (datos[i].id) { %>id="numero" placeholder="sólo números"<% } %>
				<% if (data_entry[datos[i].campo] && !errores[datos[i].campo]) { %>disabled<% } %> 
			>
			<% if (data_entry[datos[i].campo] && !errores[datos[i].campo]) { %>
				<div class="ocultar aviso">
					<p>Podrás editar este campo más adelante.</p>
					<p> Al terminar, se te explicará cómo.</p>
				</div>
			<% } %>
			<i class="fas fa-times-circle<%- !errores[datos[i].campo] ? ' ocultar' : '' %>">
				<span class="mensajeError"><%= errores[datos[i].campo] %></span>
			</i>
		</div>
	</section>
<% } %> 
