<section style="order: <%=i%>" class="label-input flex-row">  <!--Título original-->
	<label <% if (i == 0) { %>style="margin-top: 0;"<% } %>><%= datos[i].titulo %> </label>
	<div class="input-error">
		<input type="text" class="input" name="<%= campo %>"
			value="<%= data_entry[datos[i].campo] %>"
			<% if (datos[i].id) { %>id="numero" placeholder="sólo números"<% } %>
		>
		<i class="fas fa-times-circle<%- !errores[datos[i].campo] ? ' ocultar' : '' %>">
			<span class="mensajeError"><%= errores[datos[i].campo] %></span>
		</i>
	</div>
</section>
