<div id="tituloPrincipal">
	<h1 id="titulo"><%= titulo %></h1>
	<!-- Ayuda -->
	<div class="ayuda">
		<i class="fa-solid fa-circle-question ayudaClick despl_click">
			<ul class="ayudaMostrar ocultar despl_mostrar" type="dots">
				<li>Estos registros están pendientes de revisar.</li>
				<li>Se necesita revisarlos a todos.</li>
				<li>Las tareas figuran por orden de prioridad.</li>
			</ul>
		</i>
	</div>
</div>
<!-- Datos -->
<section id="familias">
	<!-- Productos -->
	<div id="primeraColumna">
		<div class="bloques">
			<!-- Título y ayuda -->
			<div class="tituloSecundario">
				<!-- Título -->
				<h2>PRODUCTOS</h2>
				<!-- Ayuda -->
				<div class="ayuda">
					<i class="fa-solid fa-circle-question ayudaClick despl_click">
						<ul class="ayudaMostrar ocultar despl_mostrar" type="dots">
							<li>Para cada <em>producto</em>, la novedad fue propuesta por otro usuario hace más de una hora.</li>
							<li>Las columnas son: fecha de la novedad, tipo y nombre del producto, y año de lanzamiento</li>
						</ul>
					</i>
				</div>
			</div>
			<!-- Registros -->
			<div class="registros">
				<% let rp = "revision/producto/" %>
				<%- include("RE0-Registros", {titulo: "Sugeridos para Inactivar", regs: productos.IN, url: rp + "inactivar"}) %>
				<%- include("RE0-Registros", {titulo: "Sugeridos para Recuperar", regs: productos.RC, url: rp + "recuperar"}) %>
				<%- include("RE0-Registros", {titulo: "Altas sin Edición", regs: productos.SE, url: "producto/edicion"}) %>
				<%- include("RE0-Registros", {titulo: "Ediciones Pend. Aprobar", regs: productos.ED, url: rp + "edicion"}) %>
				<%- include("RE0-Registros", {titulo: "Altas Pend. Aprobar", regs: productos.PA, url: rp + "alta"}) %>
			</div>
		</div>
	</div>
	<div id="segundaColumna">
		<!-- RCLV -->
		<div class="bloques" id="rclv">
			<!-- Título y ayuda -->
			<div class="tituloSecundario">
				<!-- Título -->
				<h2>RCLV</h2>
				<!-- Ayuda -->
				<div class="ayuda">
					<i class="fa-solid fa-circle-question ayudaClick despl_click">
						<ul class="ayudaMostrar ocultar despl_mostrar" type="dots">
							<p>Los RCLV cumplen alguna de estas condiciones:</p>
							<li>Las <em>altas a analizar</em>, fueron creadas por otro usuario y están relacionadas con un producto aprobado.</li>
							<li>Las <em>ediciones</em> a revisar son de algún RCLV aprobado.</li>
							<li>Las <em>altas sin producto</em> no tienen ningún producto asociado.</li>
							<p>Si se le cambia el nombre a algún registro, debe seguir refiriéndose a la misma entidad (personaje, hecho, valor).</p>
						</ul>
					</i>
				</div>
			</div>
			<!-- Registros -->
			<div class="registros">
				<% let rr = "revision/rclv/" %>
				<%- include("RE0-Registros", {titulo: "Ediciones Pend. Aprobar", regs: rclvs.ED, url: rr + "edicion"}) %>
				<%- include("RE0-Registros", {titulo: "Altas Pend. Aprobar", regs: rclvs.PA, url: rr + "alta"}) %>
				<%- include("RE0-Registros", {titulo: "Altas Sin Producto", regs: rclvs.SP, url: rr + "alta"}) %>
			</div>
		</div>
		<!-- Links -->
		<div class="bloques" id="links">
			<div class="tituloSecundario">
				<h2>LINKS</h2>
				<!-- Ayuda -->
				<div class="ayuda">
					<i class="fa-solid fa-circle-question ayudaClick despl_click">
						<ul class="ayudaMostrar ocultar despl_mostrar" type="dots">
							<p>Los <u>productos</u> cumplen todas estas condiciones:</p>
							<li>Están aprobados.</li>
							<li>Tienen algún link cuya novedad es ajena a vos.</li>
						</ul>
					</i>
				</div>
			</div>
			<div class="registros">
				<% let rl = "revision/links" %>
				<%- include("RE0-Registros", {titulo: "", regs: productos.CL, url: rl}) %>
			</div>
		</div>
	</div>
</section>
