<div id="tituloConAyuda">
	<h1 id="titulo"><%= titulo %></h1>
	<!-- Ayuda -->
	<i id="iconoAyuda" class="fa-solid fa-circle-question despl_click">
		<ul class="mensajeAyuda ocultar despl_mostrar" type="dots">
			<li>Estos registros están pendientes de revisar.</li>
			<li>Se necesita revisarlos a todos.</li>
			<li>Las tareas figuran por orden de criticidad.</li>
		</ul>
	</i>
</div>
<!-- Datos -->
<section id="familias" class="inputError">
	<!-- Productos -->
	<div id="primeraColumna">
		<div class="bloques">
			<div class="datos">
				<h2>PRODUCTOS</h2>
				<!-- Ayuda -->
				<i id="iconoAyuda" class="fa-solid fa-circle-question despl_click">
					<ul class="mensajeAyuda ocultar despl_mostrar" type="dots">
						<li>Para cada <u>producto</u>, la novedad fue propuesta por otro usuario hace más de una hora.</li>
						<li>Las columnas son: <em>Tipo de Prod.</em> (Colección, Película, Capítulo), <em>Nombre</em>, <em>Apodo</em> de quien propuso la novedad, y <em>Fecha</em> de la novedad</li>
					</ul>
				</i>
			</div>
			<% let rp = "revision/producto/" %>
			<%- include("RE0-Registros", {titulo: "Sugeridos para Inactivar", regs: productos.IN, url: rp + "inactivar"}) %>
			<%- include("RE0-Registros", {titulo: "Sugeridos para Recuperar", regs: productos.RC, url: rp + "recuperar"}) %>
			<%- include("RE0-Registros", {titulo: "Altas sin Edición", regs: productos.SE, url: "producto/edicion"}) %>
			<%- include("RE0-Registros", {titulo: "Ediciones Pend. Aprobar", regs: productos.ED, url: rp + "edicion"}) %>
			<%- include("RE0-Registros", {titulo: "Altas Pend. Aprobar", regs: productos.PA, url: rp + "alta"}) %>
		</div>
	</div>
	<div id="segundaColumna">
		<!-- RCLV -->
		<div class="bloques">
			<div class="datos">
				<h2>RCLV</h2>
				<!-- Ayuda -->
				<i id="iconoAyuda" class="fa-solid fa-circle-question"></i>
				<ol class="mensajeAyuda ocultar" type="dots">
					<p>Los <u>RCLV</u> cumplen estas condiciones:</p>
					<li>Las <u>altas</u> a analizar, fueron creadas por otro usuario y están relacionadas con un producto aprobado.</li>
					<li>Las <u>ediciones</u> a revisar son de algún RCLV aprobado.</li>
					<li>Los registros a <u>inactivar</u> no tienen asociado ningún producto creado o aprobado.</li>
				</ol>
			</div>
			<% let rr = "revision/rclv/" %>
			<!-- Ediciones Pend. Aprobar -->
			<!-- Aprobar el Alta -->
			<%- include("RE0-Registros", {titulo: "Altas Pend. Aprobar", regs: RCLVs.PA, url: rr + "alta"}) %>
		</div>
		<!-- Links -->
		<div class="bloques">
			<div class="datos">
				<h2>LINKS</h2>
				<!-- Ayuda -->
				<i id="iconoAyuda" class="fa-solid fa-circle-question"></i>
				<ol class="mensajeAyuda ocultar" type="dots">
					<p>Los <u>productos</u> cumplen todas estas condiciones:</p>
					<li>Están aprobados.</li>
					<li>Tienen algún link cuya novedad es ajena a vos.</li>
				</ol>
			</div>
			<%- include("RE0-Registros", {titulo: "Productos con Links a Revisar", regs: productos.LR, url: "links"}) %>
			<%- include("RE0-Registros", {titulo: "Productos sin Links", regs: productos.SL, url: "links"}) %>
		</div>
	</div>
</section>
