<%- include('CMP-TimerContador') %>
<div id="tituloPrincipal">
	<h1 id="titulo"><%= titulo %></h1>
	<!-- Ayuda -->
	<div class="ayuda">
		<i class="fa-solid fa-circle-question ayudaClick despl_click">
			<ul class="ayudaMostrar ocultar despl_mostrar" type="dots">
				<li>Necesitamos que nos digas si estás de acuerdo en que está alineado con nuestro perfil.</li>
				<li>Si considerás que no, te vamos a pedir que nos digas el motivo.</li>
			</ul>
		</i>
	</div>
</div>
<form action="<%= url %> " method="POST" id="datos">
	<section id="datosLargos">
		<div id="contenido">
			<!-- Tipo de Producto, Temporada, Capítulo, Colección -->
			<%- include("RE0-2Encabezado") %>
			<!-- Sinopsis -->
			<div id="sinopsis" class="bordeConSombra">
				<div id="sinopsisContenido"><%= prodOrig.sinopsis %></div>
				<!-- Ayuda -->
				<div class="ayuda">
					<i class="fa-solid fa-circle-question ayudaClick despl_click">
						<ul type="none" class="ayudaMostrar ocultar despl_mostrar">
							<li>Si el contenido de la sinopsis excede el recuadro, podés deslizarlo con la ruedita del mouse</li>
						</ul>
					</i>
				</div>
			</div>
			<!-- Demás Datos Duros -->
			<% for (bloque of bloqueIzq) { %>
				<div class="datosAdicionales">
					<% for (campo of bloque) { %>
						<strong><%= campo.titulo %>:</strong> <%= campo.valor %>. 
					<% } %> 
				</div>				
			<% } %>
		</div>
		<!-- Flechas -->
		<div class="flexRow">
			<div class="flechas">
				<a href="/inactivar-captura/?entidad=<%= entidad %>&id=<%= id %>&origen=tableroEnts" target="_self" tabindex="1">
					<i id="liberarSalir" class="fa-solid fa-circle-left" title="Liberar y salir"></i>
				</a>
				<button type="submit" autofocus tabindex="2">
					<i class="fa-solid fa-circle-check" title="Aprobarlo"></i>
				</button>
				<i class="fa-solid fa-circle-xmark" tabindex="3" title="Rechazarlo"></i>
			</div>
			<div class="flechas inactivo">
				<i class="fa-solid fa-film" tabindex="-1" title="Ver el Trailer"></i>
				<% if (entidad != "colecciones") { %>
					<i class="fa-solid fa-video" tabindex="-1" title="Ver <%- entidad == "capitulos" ? "el" : "la" %> <%= prodNombre %>"></i>
				<% } %>
			</div>
		</div>
		<!-- Rechazo -->
		<div id="cartelMotivosRechazo" class="ocultar">
			<p><strong>Por favor explicanos el motivo por el que sugerís que se inactive</strong></p>
			<select name="motivo_id">
				<option value="" selected>Elegí una opción</option>	
				<% for (motivo of motivosRechazo) { %>
					<option value="<%= motivo.id %>"><%= motivo.comentario %></option>
				<% } %>
			</select>
			<div class="flechas">
				<i class="fa-solid fa-circle-left" title="Cancelar"></i>
				<button type="submit" formaction="<%= url %>&rechazado=true" class="inactivo">
					<i class="fa-solid fa-circle-right" title="Continuar"></i>
				</button>
			</div>
		</div>
	</section>
	<section id="segundaCol">
		<!-- Links a otras páginas de consulta -->
		<div id="links">
			<p>Si necesitás consultar algún dato</p>
			<nav class="flexRow">
				<!-- TMDB -->
				<% if (prodOrig.fuente != "TMDB") { %>
					<% tmdb = prodOrig.nombre_original ? "search?language=es&query=" + prodOrig.nombre_original : "" %>
					<a class="logos" href="//themoviedb.org/<%= tmdb %>" target="_blank">
						<img src="//localhost/imagenes/0-Base/Logos/BD-TMDB.jpg" title="The Movie Database">
					</a>
				<% } %>
				<!-- FA -->
				<% if (prodOrig.fuente!="FA") { %>
					<% fa = prodOrig.nombre_original ? "search.php?stext=" + prodOrig.nombre_original : "" %>
					<a class="logos" href="//filmaffinity.com/es/<%= fa %>" target="_blank">
						<img src="//localhost/imagenes/0-Base/Logos/BD-FA.jpg" title="Film Affinity">
					</a>
				<% } %>
				<!-- IMDB -->
				<% imdb = prodOrig.IMDB_id ? "title/"+prodOrig.IMDB_id+"/technical" : (prodOrig.nombre_original ? "find?q="+prodOrig.nombre_original : "") %>
				<a class="logos" href="//imdb.com/<%= imdb %>" target="_blank">
					<img src="//localhost/imagenes/0-Base/Logos/BD-IMDB.jpg" title="Internet Movie Database">
				</a>
				<!-- Wikipedia -->
				<% wiki = prodOrig.nombre_castellano ? prodOrig.nombre_castellano.toLowerCase() : "" %>
				<a class="logos" href="//es.wikipedia.org/wiki/<%= wiki %>" target="_blank">
					<img src="//localhost/imagenes/0-Base/Logos/BD-Wiki.jpg" title="Wikipedia">
				</a>
				<!-- Google -->
				<% google = prodOrig.nombre_castellano ? "search?q="+prodOrig.nombre_castellano.toLowerCase() : "" %>
				<a class="logos" href="//google.com/<%= google %>" target="_blank">
					<img src="//localhost/imagenes/0-Base/Logos/BD-Google.jpg" title="Google">
				</a>
			</nav>
		</div>
		<!-- Datos Breves -->
		<div id="datosBreves">
			<h3>Datos del Producto</h3>
			<div id="texto">
				<% for (campo of bloqueDer[0]) { %>
					<p class="datosProducto <%- campo.titulo.startsWith("Status") ? ('status" id="status' + campo.id + '') : "" %>">
						<strong><%= campo.titulo %>:</strong> <span><%= campo.valor %></span>
					</p>
				<% } %>
				<h3>Datos del Usuario</h3>
				<% for (campo in bloqueDer[1]) { %>
					<p class="datosUsuario"><strong><%= bloqueDer[1][campo][0] %>:</strong> <span><%= bloqueDer[1][campo][1] %></span></p>
				<% } %> 
			</div>
		</div>
	</section>
</form>
