<%- include('CMP-TimerContador') %>
<section id="datosLargos">
	<div id="tituloPrincipal">
		<h1 id="titulo"><%= titulo %></h1>
		<!-- Ayuda -->
		<div class="ayuda">
			<i class="fa-solid fa-circle-question ayudaClick desplClick">
				<ul class="ayudaMostrar ocultar desplMostrar" type="dots">
					<li>Necesitamos que nos digas si estás de acuerdo en que está alineado con nuestro perfil.</li>
					<li>Si considerás que no, te vamos a pedir que nos digas el motivo.</li>
				</ul>
			</i>
		</div>
	</div>
	<form method="POST" id="datos">
		<div id="contenido">
			<!-- Tipo de Producto, Temporada, Capítulo, Colección -->
			<%- include("RE0-2Encabezado") %>
			<!-- Sinopsis -->
			<div id="sinopsis" class="bordeConSombra">
				<div id="contenidoSinopsis"><%= prodOrig.sinopsis %></div>
			</div>
			<!-- Demás Datos Duros -->
			<% for (bloque of bloqueIzq) { %>
				<div class="datosAdicionales">
					<% for (campo of bloque) { %>
						<strong><%= campo.titulo %>:</strong> <%= campo.valor %>. 
					<% } %> 
				</div>				
			<% } %>
		</div>
		<!-- Botones -->
		<div class="flexRow">
			<div class="flechas">
				<a href="<%= rutaSalir %>" target="_self" tabindex="1">
					<i id="liberarSalir" class="fa-solid fa-circle-left" title="Liberar y salir"></i>
				</a>
				<button type="submit" autofocus tabindex="2">
					<i class="fa-solid fa-circle-check" title="Aprobar"></i>
				</button>
				<i id="mostrarMotivos" class="fa-solid fa-circle-xmark" tabindex="3" title="Rechazado"></i>
			</div>
			<div class="flechas inactivo">
				<i class="fa-solid fa-film" tabindex="-1" title="Ver el Trailer"></i>
				<% if (entidad != "colecciones") { %>
					<i class="fa-solid fa-video" tabindex="-1" title="Ver <%- entidad == "capitulos" ? "el" : "la" %> <%= prodNombre %>"></i>
				<% } %>
			</div>
		</div>
	</form>
</section>
<section id="segundaCol">
	<!-- Links a otras páginas de consulta -->
	<div id="links">
		<p>Si necesitás consultar algún dato</p>
		<nav class="flexRow">
			<!-- TMDB -->
			<% if (prodOrig.fuente != "TMDB") { %>
				<% tmdb = prodOrig.nombre_original ? "search?language=es&query=" + prodOrig.nombre_original : "" %>
				<a class="logos" href="//themoviedb.org/<%= tmdb %>" target="_blank">
					<img src="<%= localhost %>/imagenes/0-Base/Logos/BD-TMDB.jpg" title="The Movie Database">
				</a>
			<% } %>
			<!-- FA -->
			<% if (prodOrig.fuente!="FA") { %>
				<% fa = prodOrig.nombre_original ? "search.php?stext=" + prodOrig.nombre_original : "" %>
				<a class="logos" href="//filmaffinity.com/es/<%= fa %>" target="_blank">
					<img src="<%= localhost %>/imagenes/0-Base/Logos/BD-FA.jpg" title="Film Affinity">
				</a>
			<% } %>
			<!-- IMDB -->
			<% imdb = prodOrig.IMDB_id ? "title/"+prodOrig.IMDB_id+"/technical" : (prodOrig.nombre_original ? "find?q="+prodOrig.nombre_original : "") %>
			<a class="logos" href="//imdb.com/<%= imdb %>" target="_blank">
				<img src="<%= localhost %>/imagenes/0-Base/Logos/BD-IMDB.jpg" title="Internet Movie Database">
			</a>
			<!-- Wikipedia -->
			<% wiki = prodOrig.nombre_castellano ? prodOrig.nombre_castellano.toLowerCase() : "" %>
			<a class="logos" href="//es.wikipedia.org/wiki/<%= wiki %>" target="_blank">
				<img src="<%= localhost %>/imagenes/0-Base/Logos/BD-Wiki.jpg" title="Wikipedia">
			</a>
			<!-- Google -->
			<% google = prodOrig.nombre_castellano ? "search?q="+prodOrig.nombre_castellano.toLowerCase() : "" %>
			<a class="logos" href="//google.com/<%= google %>" target="_blank">
				<img src="<%= localhost %>/imagenes/0-Base/Logos/BD-Google.jpg" title="Google">
			</a>
		</nav>
	</div>
	<!-- Datos Breves -->
	<div id="datosBreves">
		<h3>Datos del Producto</h3>
		<div id="texto">
			<% for (campo of bloqueDer[0]) { %>
				<p class="datosProducto <%- campo.titulo.startsWith("Status") ? ('status" id="status' + campo.id + '') : "" %>">
					<strong><%= campo.titulo %>:</strong> <span><%= campo.valor %></span>
				</p>
			<% } %>
			<h3>Datos del Usuario</h3>
			<% for (campo in bloqueDer[1]) { %>
				<p class="datosUsuario"><strong><%= bloqueDer[1][campo][0] %>:</strong> <span><%= bloqueDer[1][campo][1] %></span></p>
			<% } %> 
		</div>
	</div>
</section>
