<div id="izquierda" class="imagenes">
	<!-- Imagen sugerida -->
	<img class="aparece" src="<%= avatar.edicion %>" title="Imagen propuesta">
	<nav class="agregados">
		<% for (let registro of avatarLinksExternos) { %>
			<a href="<%= registro.href %>" target="_blank">
				<img src="<%= registro.src %>" alt="<%= registro.alt %>" class="scale">
			</a>
		<% } %>
	</nav>
</div>
<div id="centro">
	<div id="arriba">
		<div id="tituloPrincipal">
			<h1 id="titulo"><%= titulo %></h1>
			<!-- Ayuda -->
			<div class="ayuda">
				<i class="fa-solid fa-circle-question ayudaClick despl_click">
					<ul class="ayudaMostrar ocultar despl_mostrar" type="dots">
						<li>Necesitamos que nos digas si estás de acuerdo con la imagen a evaluar.</li>
						<li>En caso que no, te vamos a pedir que nos digas el motivo.</li>
					</ul>
				</i>
			</div>
		</div>
		<%- include('CMP-TimerContador') %>
		<div id="fichaTecnica" class="aparece">
			<p><%= prodNombre %>: <strong><%= prodOrig.nombre_castellano %></strong></p>
			<p>Año de estreno: <%= prodOrig.ano_estreno %></p>
			<p>Dirección: <%= prodOrig.direccion %></p>
		</div>
	</div>
	<div id="medio">
		<div id="info">
			<h2 >¿Es mejor la imagen de la <u>izquierda</u>?</h2>
			<!-- Aceptar -->
			<div id="titulo">
				<i class="fa-solid fa-circle-check scale" title="Aceptar"></i>
			</div>
			<ul id="beneficios">
			</ul>
			<!-- Rechazar -->
			<div id="titulo">
				<i class="fa-solid fa-circle-xmark scale<% if (avatarExterno) { %> inactivo<% } %>" title="Rechazar"></i>
			</div>
			<ul id="perjuicios">
			</ul>
		</div>
		<div id="flechas">
			<!-- Liberar y salir -->
			<a href="/inactivar-captura/?entidad=<%= entidad %>&id=<%= id %>&origen=tableroEnts" target="_self">
				<i class="fa-solid fa-circle-left" tabindex="-1" title="Liberar y salir"></i>
			</a>
			<a href="/producto/edicion/?entidad=<%= entidad %>&id=<%= id %>" target="_blank">
				<i class="fa-solid fa-pen" tabindex="-1" title="Ir a la vista 'Edición'"></i>
			</a>
		</div>
	</div>
	<div id="abajo">
		<%- include('CMP-3Footer', {mostrar: true}) %>
	</div>
	<!-- Position absolute -->
	<div id="motivosRechazo" class="ocultar">
		<p>Por favor explicanos por qué sugerís rechazarla</p>
		<select>
			<option value="" selected class="ocultar">Elegí una opción</option>	
			<% for (motivo of motivos) { %>
				<option value="<%= motivo.id %>"><%= motivo.comentario %></option>
			<% } %>
		</select>
		<div id="comandosRechazar">
			<i class="fa-solid fa-circle-left" title="Cancelar"></i>
			<i class="fa-solid fa-circle-right" title="Continuar"></i>
		</div>
	</div>
</div>
<div id="derecha" class="imagenes">
	<!-- Imagen actual -->
	<img class="aparece" src="<%= avatar.original %>" title="Imagen actual">
	<% if (avatarExterno) { %>
		<button type="button" class="agregados scale">Descargalo en nuestro sitio web</button>
	<% } %>
</div>
