<%- include('CMP-TimerContador') %>
<%- include('CMP-Cartel') %>
<section id="tituloConAyuda">
	<h1 id="titulo"><%= titulo %></h1>
	<!-- Ayuda -->
	<i id="iconoAyuda" class="fa-solid fa-circle-question"></i>
	<ul class="mensajeAyuda ocultar" type="dots">
		<li>Sé muy cuidadoso de aprobar sólo links que respeten los derechos de autor</li>
	</ul>	
</section>
<section id="contenido">
	<div id="datos">
		<!-- Tipo de Producto, Temporada, Capítulo, Colección -->
		<%- include("RE0-2Encabezado") %>
		<select id="tipoLink">
			<option value="TR">Trailer</option>
			<option value="PL">Película</option>
			<option value="TD" selected>Todos</option>
		</select>
		<div id="tabla" class="">
			<div id="tags" class="flex-row">
				<div id="activo">Analizar</div>
				<div id="inactivo" class="traslucido">Inactivos</div>
			</div>
			<table>
				<%- include("CMP-LK-TituloTabla") %> 
				<tbody>
					<!-- Filas para links existentes -->
					<% links.forEach((link, fila)=> { %>
						<% let cond = {} %>
						<%- include("CMP-LK-Condiciones", {link, cond}) %>
						<%- include("CMP-LK-Datos", {link, cond, fila}) %>
						<% link.ediciones.forEach((edicion) => { %>
							<%- cond.creado || cond.aprobado ? include("RE3-LinksEdicion", {link, cond, edicion, fila}) : "" %> 
						<% }) %>
					<% }) %>
				</tbody>
			</table>
		</div>
	</div>
	<!-- Comandos -->
	<div id="comandos">
		<% for (let prov of provs.filter(n => n.buscador_automatico)) { %>
			<a 
				href="//<%= prov.url_distintivo + prov.url_buscar_pre + producto.nombre_castellano %><% if (prov.url_buscar_post) { %>&<%= prov.url_buscar_post %><% } %>" 
				target="_blank"
				tabindex="-1"
			>
				<img src="/imagenes/0-Logos/<%= prov.avatar %>" tabindex="-1">
			</a>
		<% } %>
	</div>
	<!-- Flechas -->
	<div id="flechas">
		<a href="/inactivar-captura/?entidad=<%= entidad %>&id=<%= id %>&origen=tablero" target="_self">
			<i id="liberarSalir" class="fa-solid fa-circle-left" tabindex="-1" title="Liberar y salir"></i>
		</a>
</div>
</section>
