<%- include("FM-TituloPrincipal") %>
<section id="datos">
	<div id="datosLargos">
		<div id="recuadro">
			<!-- Encabezado -->
			<div id="encabezado">
				<%- include("RE0-Encabezado") %>
			</div>
			<!-- Contenido -->
			<div id="contenido">
				<%- include("RE9-Edic-Largos") %>
			</div>
		</div>
		<!-- Botones -->
		<div id="botones" class="flexRow">
			<%- include("Flechas-1Estándar") %>
			<%- include("FM-Flechas3Esp") %>
		</div>
	</div>
	<div id="datosBreves">
		<h3 class="titulo">Datos del <%= codigo == "rclvEdicion" ? entidadNombre : 'Producto' %></h3>
		<div id="texto">
			<% for (campo of bloqueDer[0]) { %>
				<p class="<%- campo.titulo.startsWith("Status") ? ('status" id="status' + campo.id + '"') : '"' %>">
					<strong><%= campo.titulo %>:</strong> <span><%= campo.valor %></span>
				</p>
			<% } %>
		</div>
		<h3 class="titulo">Datos del Usuario</h3>
		<div id="texto">
			<% for (campo in bloqueDer[1]) { %>
				<p><strong><%= bloqueDer[1][campo][0] %>:</strong> <span><%= bloqueDer[1][campo][1] %></span></p>
			<% } %>
		</div>
	</div>
</section>
