<!-- Layout, Orden, Ascendente / Descendente -->
<!-- El id debe ser 'tituloPrincipal' por formato compartido -->
<section id="tituloPrincipal" class="flexCol">
	<div class="flexRow">
		<!-- Opciones -->
		<select name="layout_id" class="prefSimple" required>
			<option value="" selected class="ocultar"></option>
			<optgroup id="cuatroPelis" label="Cuatro Películas">
				<% for (let layout of cn_layouts.filter(n => n.boton)) { %>
					<option value="<%= layout.id %>"><%= layout.nombre %></option>
				<% } %>
			</optgroup>
			<optgroup label="Listados">
				<% for (let layout of cn_layouts.filter(n => !n.boton && !n.loginNeces)) { %>
					<option value="<%= layout.id %>"><%= layout.nombre %></option>
				<% } %>
			</optgroup>
			<% if (locals.usuario) { %>
			<optgroup label="Mis listados">
				<% for (let layout of cn_layouts.filter(n => !n.boton && n.loginNeces)) { %>
					<option value="<%= layout.id %>"><%= layout.nombre %></option>
				<% } %>
			</optgroup>
			<% } %>
		</select>

		<!-- Ayuda -->
		<div id="ayudaOpciones">
			<i class="fa-solid fa-circle-question ayudaClick desplClick">
				<ul type="dots" class="ayudaMostrar ocultar desplMostrar">
					<li>
						Para las opciones de <em>Cuatro Películas</em>, los resultados con fondo amarillo tiene relación con la
						<b>Iglesia Católica</b>.
					</li>
					<% for (let ayuda of ayudas) { %>
					<li><span><%= ayuda.nombre %></span>: <%= ayuda.comentario %>.</li>
					<% } %>
				</ul>
			</i>
		</div>
	</div>
	<div id="iconosDelTitulo" class="flexRow">
		<!-- Compartir la consulta -->
		<div id="compartirCons" class="flexRow scale pointer relative">
			<i class="fa-solid fa-share-nodes" title="Compartir las preferencias"></i>
		</div>
		<p id="consCopiada" class="absolute ocultar">Consulta copiada</p>

		<!-- Mostrar filtros -->
		<div id="toggleFiltrosGlobal">
			<i class="fa-solid fa-chevron-right"></i>
		</div>
	</div>
</section>

<!-- Contador -->
<section id="derecha">
	<button type="text" id="contadorDeProds">...</button>
</section>
