<!-- Layout, Orden, Ascendente / Descendente -->
<!-- El id debe ser 'tituloPrincipal' por formato compartido -->
<section id="tituloPrincipal" class="flexRow">
	<!-- Mostrar filtros -->
	<div id="toggleFiltrosGlobal">
		<i class="fa-solid fa-chevron-right"></i>
		<i class="fa-solid fa-chevron-left"></i>
	</div>

	<!-- Entidad y Orden -->
	<div id="entidadOrden">
		<!-- Entidad -->
		<select name="entidad_id" class="prefSimple" required>
			<% for (let entidad of cn_entidades) { %>
			<option value="<%= entidad.id %>"><%= entidad.nombre %></option>
			<% } %>
		</select>

		<!-- Orden -->
		<select name="opcionPorEnt_id" class="prefSimple" required>
			<optgroup id="cuatroPelis" label="Cuatro Películas">
				<% for (let opcionPorEnt of cn_opcionesPorEnt.filter(n => n.boton)) { %>
				<option value="<%= opcionPorEnt.id %>"><%= opcionPorEnt.opcion.nombre %></option>
				<% } %>
			</optgroup>
			<optgroup label="Listados">
				<% for (let opcionPorEnt of cn_opcionesPorEnt.filter(n => !n.boton && !n.opcion.loginNeces)) { %>
				<option
					value="<%= opcionPorEnt.id %>"
					<% if (opcionPorEnt.opcion.loginNeces && !locals.usuario) { %>class="inactivo"<% } %>
				><%= opcionPorEnt.opcion.nombre %></option>
				<% } %>
			</optgroup>
			<optgroup label="Mis listados">
				<% for (let opcionPorEnt of cn_opcionesPorEnt.filter(n => !n.boton && n.opcion.loginNeces)) { %>
				<option
					value="<%= opcionPorEnt.id %>"
					<% if (opcionPorEnt.opcion.loginNeces && !locals.usuario) { %>class="inactivo"<% } %>
				><%= opcionPorEnt.opcion.nombre %></option>
				<% } %>
			</optgroup>
		</select>
	</div>

	<!-- Ayuda -->
	<div id="ayudaOrden">
		<i class="fa-solid fa-circle-question ayudaClick desplClick">
			<ul type="dots" class="ayudaMostrar ocultar desplMostrar">
				<% for (let opcionPorEnt of cn_opcionesPorEnt) { %>
					<li class="ocultar ent<%= opcionPorEnt.entidad_id %>"><span><%= opcionPorEnt.opcion.nombre %></span>: <%= opcionPorEnt.ayuda %>.</li>
				<% } %>
			</ul>
		</i>
	</div>
</section>

<!-- Contador -->
<section id="derecha">
	<button type="text" id="contadorDeProds">...</button>
</section>
