<!-- Layout, Orden, Ascendente / Descendente -->
<!-- El id debe ser 'tituloPrincipal' por formato compartido -->
<section id="tituloPrincipal" class="flexRow">
	<!-- Entidad y Orden -->
	<div id="entidadOrden">
		<!-- Entidad -->
		<select name="entidad_id" class="prefSimple" required>
			<% for (let entidad of cn_entidades) { %>
			<option value="<%= entidad.id %>"><%= entidad.nombre %></option>
			<% } %>
		</select>

		<!-- Orden -->
		<select name="ordenPorEnt_id" class="prefSimple" required>
			<optgroup id="cuatroPelis" label="Cuatro Películas">
				<% for (let ordenPorEnt of cn_opcionesPorEnt.filter(n => n.boton)) { %>
				<option value="<%= ordenPorEnt.id %>"><%= ordenPorEnt.orden.nombre %></option>
				<% } %>
			</optgroup>
			<optgroup label="Listado">
				<% for (let ordenPorEnt of cn_opcionesPorEnt.filter(n => !n.boton)) { %>
				<option value="<%= ordenPorEnt.id %>"><%= ordenPorEnt.orden.nombre %></option>
				<% } %>
			</optgroup>
		</select>
	</div>

	<!-- Ayuda -->
	<div id="ayudaOrden">
		<i class="fa-solid fa-circle-question ayudaClick desplClick">
			<ul type="dots" class="ayudaMostrar ocultar desplMostrar">
				<li><span>Por Fecha en que se lo Recuerda</span>: películas que acompañan la efemérides durante el año.</li>
				<li><span>Sorprendeme al Azar</span>: películas con una calificación ≥ 70%, elegidas al azar cada día.</li>
				<li><span>Por Nombre</span>: según el nombre de la entidad, orden ascendente.</li>
				<li><span>Últimas ingresadas</span>: según la fecha en que la aprobamos.</li>
				<li>
					<span>Tus preferencias</span>: sólo si estás logueado, muestra las películas a las que les marcaste alguna
					preferencia.
				</li>
				<li><span>Por Año Histórico</span>: según el año en que nació el personaje u ocurrió el hecho.</li>
			</ul>
		</i>
	</div>
</section>

<!-- Contador -->
<section id="derecha">
	<button type="text" id="contadorDeProds">...</button>
</section>
