<section id="tituloPrincipal" class="flexCol"> <!-- El id debe ser 'tituloPrincipal' por formato compartido -->
	<div id="layoutAyuda" class="flexRow">
		<!-- Opciones -->
		<select name="layout_id" class="prefSimple" required>
			<option value="" selected class="ocultar"></option>
			<optgroup id="cuatroPelis" label="Cuatro Películas">
				<% for (let layout of cn_layouts.filter(n => n.boton)) { %>
					<option value="<%= layout.id %>"><%= layout.nombre %></option>
				<% } %>
			</optgroup>
			<optgroup label="Listados">
				<% for (let layout of cn_layouts.filter(n => !n.boton && !n.loginNeces)) { %>
					<option value="<%= layout.id %>"><%= layout.nombre %></option>
				<% } %>
			</optgroup>
			<% if (locals.usuario) { %>
			<optgroup label="Mis listados">
				<% for (let layout of cn_layouts.filter(n => !n.boton && n.loginNeces)) { %>
					<option value="<%= layout.id %>"><%= layout.nombre %></option>
				<% } %>
			</optgroup>
			<% } %>
		</select>

		<!-- Ayuda -->
		<%- include("CN-1Encabezado-Ayuda") %>
	</div>
	<div id="iconosDelTitulo" class="flexRow">
		<!-- Ayuda -->
		<%- include("CN-1Encabezado-Ayuda") %>

		<!-- Compartir la consulta -->
		<div id="compartirCons" class="iconosAzules scale pointer">
			<i class="fa-solid fa-share-nodes" title="Compartir las preferencias"></i>
		</div>
		<p id="consCopiada" class="absolute ocultar">Consulta copiada</p>

		<!-- Mostrar filtros -->
		<div id="toggleFiltrosGlobal" class="iconosAzules scale pointer">
			<i class="fa-solid fa-chevron-right"></i>
		</div>
	</div>
</section>

<!-- Contador -->
<section id="derecha">
	<button type="text" id="contadorDeProds">...</button>
</section>
