<!--Filtros Guardados-->
<div id="cabecera">
	<div id="configNueva" class="relative">
		<input name="nombreNuevo" type="text" class="absolute" autocomplete="off">
	</div>
	<select name="cabecera_id">
		<option value="">Configuraciones</option>
		<!-- Configuraciones personales -->
		<optgroup id="propios" label="Configuraciones Propias" class="<%- !configsCons.cabeceras.propios.length ? 'ocultar' : '' %>">
			<% for (let configDeCabecera of configsCons.cabeceras.propios) { %>
				<option value="<%= configDeCabecera.id %>"><%= configDeCabecera.nombre %></option>
			<% } %>
		</optgroup>
		<!-- Configuraciones predeterminadas -->
		<% if (usuario_id != 1) { %>
			<optgroup label="Provistas por Nuestro Sitio">
				<% for (let configDeCabecera of configsCons.cabeceras.predeterms) { %>
					<option value="<%= configDeCabecera.id %>"><%= configDeCabecera.nombre %></option>
				<% } %>
			</optgroup>
		<% } %>
	</select>
	<div id="iconosBotonera" class="flexRow">
		<i id="sinFiltros" class="<%= iconos.faSolid %> <%= iconos.xMark %> scale inactivo" title="Quita todos los filtros"></i>
		<i id="nuevo" class="<%= iconos.faSolid %> fa-file scale inactivo" title="Crea un filtro nuevo"></i>
		<i id="deshacer" class="<%= iconos.faSolid %> fa-rotate-left scale inactivo" title="Deshace los cambios"></i>
		<i id="guardar" class="<%= iconos.faSolid %> fa-floppy-disk scale inactivo" title="Guarda los cambios"></i>
		<i id="edicion" class="<%= iconos.faSolid %> <%= iconos.edicion %> scale inactivo" title="Edición del nombre"></i>
		<i id="eliminar" class="<%= iconos.faSolid %> <%= iconos.eliminar %> scale inactivo" title="Elimina el filtro actual"></i>
	</div>
</div>
