<!--Filtros Guardados-->
<div id="cabecera">
	<div id="configNueva" class="relative">
		<input name="nombreNuevo" type="text" class="absolute" autocomplete="off">
	</div>
	<select name="cabecera_id">
		<option value="">Configuraciones</option>
		<!-- Configuraciones personales -->
		<optgroup id="propios" label="Configuraciones Propias" class="<%- !configsCons.cabeceras.propios.length ? 'ocultar' : '' %>">
			<% for (let configDeCabecera of configsCons.cabeceras.propios) { %>
				<option value="<%= configDeCabecera.id %>"><%= configDeCabecera.nombre %></option>
			<% } %>
		</optgroup>
		<!-- Configuraciones predeterminadas -->
		<% if (userID != 1) { %>
			<optgroup label="Provistas por Nuestro Sitio">
				<% for (let configDeCabecera of configsCons.cabeceras.predeterms) { %>
					<option value="<%= configDeCabecera.id %>"><%= configDeCabecera.nombre %></option>
				<% } %>
			</optgroup>
		<% } %>
	</select>
	<div id="iconosBotonera" class="flexRow">
		<i id="nuevo" class="fa-solid fa-file scale inactivo" title="Crea un filtro nuevo"></i>
		<i id="deshacer" class="fa-solid fa-rotate-left scale inactivo" title="Deshace los cambios"></i>
		<i id="guardar" class="fa-solid fa-floppy-disk scale inactivo" title="Guarda los cambios"></i>
		<i id="edicion" class="fa-solid fa-pen scale inactivo" title="Edición del nombre"></i>
		<i id="eliminar" class="fa-solid fa-trash-can scale inactivo" title="Elimina el filtro actual"></i>
	</div>
</div>

<!-- Campos -->
<div id="configFiltros" class="flexCol sectorConDesplV">
	<nav class="startUp flexCol ocultar">
		<!-- PRIORITARIOS -->
		<!-- Tipos de Link -->
		<%- include('CN-FL-Selects', {campos: configsCons.filtros.tiposLink}) %>
		<% if (locals.usuario) { %>
			<!-- Preferencia por Película -->
			<%- include('CN-FL-Selects', {campos: configsCons.filtros.pppOpciones, eventual: true}) %>
		<% } %>
		<!-- Idioma -->
		<%- include('CN-FL-Selects', {campos: configsCons.filtros.idiomas}) %>
		<!-- Público Recomendado -->
		<%- include('CN-FL-Selects', {campos: configsCons.filtros.publicos}) %>

		<!-- RELACIONADO CON LA IGLESIA CATÓLICA -->
		<!-- Relación con la Iglesia Católica -->
		<%- include('CN-FL-Selects', {campos: configsCons.filtros.cfc, eventual: true, color: 'cfc'}) %>
		<!-- Proceso de Canonización -->
		<%- include('CN-FL-Selects', {campos: configsCons.filtros.canons, eventual: true, color: 'cfc'}) %>
		<!-- Roles Iglesia -->
		<%- include('CN-FL-Selects', {campos: configsCons.filtros.rolesIgl, eventual: true, color: 'cfc'}) %>
		<!-- Aparición Mariana -->
		<%- include('CN-FL-Selects', {campos: configsCons.filtros.apMar, eventual: true, color: 'cfc'}) %>

		<!-- HECHOS REALES -->
		<!-- Basado en Hechos Reales -->
		<%- include('CN-FL-Selects', {campos: configsCons.filtros.bhr, eventual: true, color: 'bhr'}) %>
		<!-- Época de Ocurrencia -->
		<%- include('CN-FL-Selects', {campos: configsCons.filtros.epocasOcurrencia, color: 'bhr'}) %>

		<!-- ATRIBUTOS DE LA PELÍCULA -->
		<!-- Época de Estreno -->
		<%- include('CN-FL-Selects', {campos: configsCons.filtros.epocasEstreno}) %>
		<!-- Tipo de Actuación -->
		<%- include('CN-FL-Selects', {campos: configsCons.filtros.tiposActuacion}) %>
		<!-- Películas o Colecciones -->

		<!-- Palabras Clave -->
		<div id="palabrasClave" class="pref ocultaFiltro">
			<input type="text" name="palabrasClave" class="prefSimple" placeholder="Buscar por palabras clave">
			<i class="fa-solid fa-circle-right inactivo scale" title="Aplicar las palabras"></i>
		</div>
	</nav>
</div>

<!-- Muestra / Oculta filtros -->
<div id="toggleFiltros" class="flexCol">
	<div id="muestraFiltros" class="pointer scale">
		<em>Click</em> para <span>ver</span><br>más filtros
	</div>
	<div id="ocultaFiltros" class="pointer scale ocultaFiltros">
		<em>Click</em> para <span>ocultar</span><br>los filtros sin usar
	</div>
</div>
