<div id="<%= campos.codigo %>" class="pref contSelect ocultaFiltro <%- locals.color ? color : '' %>">
	<select name="<%= campos.codigo %>" class="<%= locals.eventual ? campos.codigo : 'presenciaEstable' %> prefSimple">
		<% if (campos.titulo) { %>
			<option value=""><%= campos.titulo %></option>
			<option value="" class="sinFiltro">Quitar la opción elegida</option>
		<% } %>
		<% for (let opcion of campos.opciones) { %>
			<option value="<%= opcion.id %>"><%= opcion.nombre %></option>
		<% } %>
	</select>
</div>
