<h1 class="titulo" id="titulo">Agregá una Película o Colección a nuestra Base de Datos</h1>
<div class="flex-col" id="dataEntry">
	<h2 id="paso2">Paso 2 de 4: Importala desde Film Affinity</h2>
	<form action="<%= link %>" method="POST">
		<!-- Datos a completar -->
		<section class="flex-col">
			<div class="flex-row" style="justify-content: space-between;">
				<!-- Elegí el Rubro -->
				<div>
					<h3>Elegí el Rubro</h3>
					<div class="relative">
						<select name="rubroAPI" autofocus class="input">
							<option style="font-style: italic" value="" selected class="ocultar">Elegí el rubro</option>
							<option value="movie" 
								<% if (dataEntry && dataEntry.rubroAPI == "movie") { %>selected<% } %>>
								Película
							</option>
							<option value="collection"
								<% if (dataEntry && dataEntry.rubroAPI == "collection") { %>selected<% } %>>
								Colección
							</option>
						</select>
						<i class="fas fa-times-circle ocultar">
							<span class="mensajeError"><%- errores && errores.rubroAPI ? errores.rubroAPI : "" %></span>
						</i>
						<i class="fas fa-check-circle ocultar"></i>
					</div>
				</div>
				<!-- ¿Pertenece a una colección? -->
				<div id="en_coleccion" class="ocultar">
					<h3>¿Pertenece a una colección?</h3>
					<div class="flex-row" style="flex-direction: row-reverse;">
						<select name="en_coleccion" class="input">
							<option style="font-style: italic" value="" selected class="ocultar">Elegí</option>
							<option value="NO">NO</option>
							<option value="SI">SI</option>
						</select>
						<i class="fas fa-times-circle ocultar"><span class="mensajeError"><%- errores && errores.en_coleccion ? errores.en_coleccion : "" %></span></i>
						<i class="fas fa-check-circle ocultar"></i>
					</div>
				</div>
			</div>
			<!-- Dirección de la página, dirección de la imagen grande / Contenido del cuerpo de la página -->
			<div id="resto" class="ocultar">
				<h3>Ingresá la dirección de la página</h3>
				<div class="flex-row">
					<div class="relative">
						<input name="direccion" type="text" class="input"
							value="<%= dataEntry ? dataEntry.direccion : null %>"
							placeholder="Pegá acá la dirección"
							autocomplete="off"
						>
						<!-- Ayuda -->
						<i class="fas fa-question-circle" id="ayuda_direccion"></i>
						<ul class="mensajeAyuda ocultar" type="dots">
							<strong><u>Pasos</u></strong>:<br>
							<li>
								Buscá la película o colección en 
								<a target="_blank" href="https://www.filmaffinity.com/es"><u>Film Affinity</u></a>.
							</li>
							<li>Seleccioná la dirección (url)</li>
							<li>Copiala</li>
							<li>Pegala en el casillero de la izquierda</li>
						</ul>
						<!-- Errores -->
						<i class="fas fa-times-circle ocultar">
							<span class="mensajeError"><%- errores && errores.direccion ? errores.direccion : "" %></span>
						</i>
						<i class="fas fa-check-circle ocultar"></i>
					</div>
					<div class="grow"></div>
				</div>
				<h3>Ingresá la dirección de la imagen grande</h3>
				<div class="flex-row">
					<div class="relative">
						<input name="avatar" type="text" class="input"
							value="<%= dataEntry ? dataEntry.avatar : null %>"
							placeholder="Pegá acá la dirección"
							autocomplete="off"
						>
						<!-- Ayuda -->
						<i class="fas fa-question-circle" id="ayuda_avatar"></i>
						<ul class="mensajeAyuda ocultar" type="dots">
							<p><strong><u>Pasos</u></strong>:</p>
							<li>En la página de FA, hacé <strong><em>click izquierdo</em></strong> sobre la imagen de la película.</li>
							<li>Una vez que la imagen se agranda, hacé <strong><em>click derecho</em></strong> sobre ella.</li>
							<li>En el menú que aparece, hacé <strong><em>click izquierdo</em></strong> sobre la opción <em>"Copiar dirección de la imagen"</em> y pegala en el casillero de la izquierda.</li>
						</ul>
						<!-- Errores -->
						<i class="fas fa-times-circle ocultar">
							<span class="mensajeError"><%- errores && errores.avatar ? errores.avatar : "" %></span>
						</i>
						<i class="fas fa-check-circle ocultar"></i>
					</div>
					<div class="grow"></div>
				</div>
				<h3>Ingresá el contenido del cuerpo de la página</h3>
				<div class="flex-row">
					<div class="relative">
						<textarea name="contenido" placeholder="Pegá acá el contenido" autocomplete="off" rows="1" class="input"><%- dataEntry ? dataEntry.contenido : "" %></textarea>
						<!-- Ayuda -->
						<i class="fas fa-question-circle" id="ayuda_contenido"></i>
						<ul class="mensajeAyuda ocultar" type="dots">
							<strong><u>Pasos</u></strong>:<br>
							<li>
								En la página de FA, seleccioná desde
								el <strong><em><u>título en castellano</u></em></strong> 
								hasta el final de la <strong><em><u>sinopsis</u></em></strong>.
							</li>
							<li>Copialo.</li>
							<li>Pegalo en el casillero de la izquierda.</li>
						</ul>
						<!-- Errores -->
						<i class="fas fa-times-circle ocultar">
							<span class="mensajeError"><%- errores && errores.contenido ? errores.contenido : "" %></span>
						</i>
						<i class="fas fa-check-circle ocultar"></i>
					</div>
					<div class="grow"></div>
				</div>
				<div id="resultado"><br></div>
			</div>
		</section>
		<!-- Flechas -->
		<section id="flechas" class="flex-row space-between">
			<a href="/agregar/producto/palabras-clave"><i class="fas fa-arrow-alt-circle-left"></i></a>
			<button id="submit" class="botonSinLink" type="submit">Verificar</button>
			<% if (false) { %>
				<a href="/agregar/producto/datos-duros"><i class="fas fa-arrow-alt-circle-right"></i></a>
			<% } else { %>
				<i class="fas fa-arrow-alt-circle-right flechaSinLink"></i>
			<% } %>
		</section>
	</form>
</div>