<h1 class="titulo" id="titulo">Agregá una Película o Colección a nuestra Base de Datos</h1>
<div class="flex-col" id="dataEntry">
	<div class="flex-col">
		<h2>Paso 2 de 4: Hacé click sobre tu opción</h2>
		<p class="flex-row"><%= mensaje %></p>
		<p><u>Palabra/s clave</u>: <strong><%= palabrasClave %></strong></p>
	</div>
	<ul class="flex-row space-between"  id="resultadoGeneral">
		<%- include('21-ProductosNuevos', { prod_nuevos }) %>
		<%- include('22-IngresoManual') %>
		<%- include('23-ProductosYaEnBD', { prod_yaEnBD }) %>
	</ul>
	<div id="flechas" class="flex-row">
		<a href="/agregar/producto/palabras-clave"><i class="fas fa-arrow-alt-circle-left"></i></a>
	</div>
</div>