<h1 class="titulo" id="titulo">Agregá una <%= dataEntry.producto %> a nuestra Base de Datos</h1>
<form action="<%= link %>" method="POST" id="dataEntry" class="flex-col" >
	<section id="titulos">
		<h2>Paso 4 de 4: Datos Personalizados</h2>
	</section>
	<!-- Datos -->
	<section id="cuerpo">
		<!--Primera columna-->
		<div class="flex-col">
			<!-- Datos generales -->
			<div class="flex-col">
				<h3 style="margin-top: 0;">Datos generales</h3>
				<!--Existe una versión en castellano-->
				<%- include("41-DP-Select", {campo: "en_castellano_id"}) %>
				<!--Es a Color-->
				<%- include("41-DP-Select", {campo: "color"}) %>
				<!--Categoría-->
				<%- include("41-DP-Select", {campo: "categoria_id"}) %>
				<!--Sub-categoría-->
				<%- include("41-DP-Select", {campo: "subcategoria_id"}) %>
				<!--Público sugerido-->
				<%- include("41-DP-Select", {campo: "publico_sugerido_id"}) %>
			</div>
			<!-- Tu calificación -->
			<div class="flex-col">
				<h3>Tu calificación</h3>
				<!--Inspira fe y/o valores-->
				<%- include("41-DP-Select", {campo: "fe_valores_id"}) %>
				<!--Entretiene-->
				<%- include("41-DP-Select", {campo: "entretiene_id"}) %>
				<!--Calidad Técnica-->
				<%- include("41-DP-Select", {campo: "calidad_tecnica_id"}) %>
			</div>
			<!-- Relación con la vida -->
			<div class="flex-col">
				<h3>Relación con la vida</h3>
				<!--Personaje histórico-->
				<%- include("41-DP-Select", {campo: "personaje_historico_id"}) %>
				<!--Hecho histórico-->
				<%- include("41-DP-Select", {campo: "hecho_historico_id"}) %>
			</div>
		</div>
		<!--Columna del medio-->
		<div id="columnaMedio">
		</div>
		<!--Segunda columna-->
		<div class="flex-col" style="align-items: center;">
			<!-- Avatar -->
			<div id="imagenPeli" class="form-grupo">
				<img id="imgTMDB" src="/imagenes/9-Provisorio/<%= dataEntry.avatarDP %>" alt="afiche">
			</div>	
			<!-- Links -->
			<div class="flex-col">
				<h3>Links gratuitos</h3>
				<!--Link del trailer-->
				<%- include("42-DP-Input", {campo: "link_trailer"}) %>
				<!--Links gratuitos para ver la película-->
				<%- include("42-DP-Input", {campo: "link_pelicula"}) %>
			</div>
		</div>
	</section>
	<!-- Flechas y Botón -->
	<section id="flechas" class="flex-row">
		<a href="/producto/agregar/datos-duros" tabindex="-1"><i class="fas fa-arrow-alt-circle-left"></i></a>
		<button type="submit" class="botonSinLink">Avanzar</button>
		<% if (false) { %>
			<a href="#" tabindex="-1"><i class="fas fa-arrow-alt-circle-right"></i></a>
		<% } else { %>
			<i class="fas fa-arrow-alt-circle-right flechaSinLink"></i>
		<% } %>
	</section>
</form>
