<div class="flexCol">
	<!-- Aprobar y Rechazar -->
	<div class="campoTitulo"><%= campo.titulo %>:</div>
	<div class="infoMostrar flexRow">
		<div class="edic aprobar pointer"><%= campo.mostrarEdic %></div>
		<div class="orig muestraMotivos pointer"><%= campo.mostrarOrig %></div>
	</div>
</div>
<div class="ocultar">
	<div class="campoNombre"><%= campo.nombre %></div>
	<div class="campoValor"><%= campo.valorEdic %></div>
</div>

<!-- Motivo -->
<div id="cartelRechazo" class="ocultar">
	<i class="fa-solid fa-trash-can rechazar inactivo pointer" tabindex="-1" title='Rechazar'></i>
	<select name="motivo_id" required>
		<option value="">Elejí un motivo</option>
		<% motivos = campo.campoInput ? motivos : motivos.filter(n => n.rev_edicion) // si no es un input, quita esos motivos %>
		<% for (motivo of motivos) { %>
			<option value="<%= motivo.id %>" <% if (motivos.length==1) { %>selected<% } %>><%= motivo.descripcion %></option>
		<% } %>
	</select>
</div>

