<%- include('0-Head', {titulo: "PEL-Agregar"}) %>
<link rel="stylesheet" href="/stylesheets/3-PEL-COL-Agregar/0-Agregar.css">
<link rel="stylesheet" href="/stylesheets/3-PEL-COL-Agregar/1-ImportarDatos.css">
<%- include('0-AntesPA', {titulo: "PEL-Agregar"}) %>

<div class="cuerpo flex-col grow">
	<p class="titulo" id="titulo">Agregá una <%= titulo %> a nuestra Base de Datos</p>
	<form action="/peliculas/agregar1" method="POST" class="flex-col" id="data_entry">
		<section class="flex-row space-between align-center"> 
			<h1>Paso 1 de 4: Importar Datos</h1>
			<select name="rubro">
				<option value="peliculas"   <% if (rubro != "colecciones") { %> selected <% } %>>Pelicula</option>
				<option value="colecciones" <% if (rubro == "colecciones") { %> selected <% } %>>Colección</option>
			</select>
		</section>
		<h2>Ingresá el Título de la <%= titulo %> </h2>
		<section class="flex-row space-between">
			<div> <!--Sector de inputs y labels-->
				<div class="relative flex-col ">
					<div>
						<input type="text" name="data_entry" placeholder="Escribilo acá"
							value="<%= locals.data_entry ? data_entry : null %>">
						<i class="fas fa-question-circle">
							<span class="mensajeAyuda">
								Sólo palabras del <strong><u>Título</u></strong>, en el idioma <strong><em>original</em></strong> o en <strong><em>castellano</em></strong>. 
								Escribí todas las palabras que sepas, de manera precisa.
							</span>
						</i>
					</div>
					<% if (locals.errores) { %>
						<i class="fas fa-times-circle"></i>
						<span class="mensajeError"><%= errores.data_entry.msg %> </span>
					<% } %>
					</i>
				</div>
			</div>
			<button type="submit">Enviar</button>
		</section>
	</form>
</div>
<%- include('0-DespuesPA') %>
