<%- include('0-Head', {titulo: "PEL-Agregar"}) %>
<link rel="stylesheet" href="/stylesheets/3-PEL-COL-Agregar/0-Agregar.css">
<link rel="stylesheet" href="/stylesheets/3-PEL-COL-Agregar/1-ImportarDatos.css">
<%- include('0-AntesPA', {titulo: "PEL-Agregar"}) %>

<!--***********************************************************-->

<div class="cuerpo flex-col grow">
	<p class="titulo" id="titulo">Agregá una <%= titulo %> a nuestra Base de Datos</p>
	<section class="flex-col space-between" id="data_entry"> <!--RECUADRO DEL FORMULARIO -->
		<div class="flex-row space-between align-center">
			<h1>Paso 1 de 4: Importar Datos</h1>
			<select onchange="location = this.value">
				<option value="" class="ocultar"></option>
				<option value="/peliculas/agregar1"   <% if (rubro == "peliculas") { %> selected <% } %>>Pelicula</option>
				<option value="/colecciones/agregar1" <% if (rubro == "colecciones") { %> selected <% } %>>Colección</option>
			</select>
		</div>
		<form action="/<%= rubro %>/agregar1" method="POST" class="flex-col">  <!--Palabras clave-->
			<h2>Ingresá el Título de la <%= titulo %> </h2>
			<div class="flex-row space-between">
				<section> <!--Sector de inputs y labels-->
					<div class="relative flex-col ">
						<div>
							<input type="text" name="data_entry" placeholder="Escribilo acá"
								value="<%= locals.data_entry ? data_entry : null %>">
							<i class="fas fa-question-circle">
								<span class="mensajeAyuda">
									Tenés que escribir palabras del <strong>Título Original</strong> o del <strong>Titulo en Castellano</strong>. 
									Sólo busca por palabras exactas, no aproximadas. Escribí todas las palabras que sepas.
								</span>
							</i>
						</div>
						<% if (locals.errores) { %>
							<i class="fas fa-times-circle"></i>
							<span class="mensajeError"><%= errores.data_entry.msg %> </span>
						<% } %>
						</i>
					</div>
				</section>
				<button type="submit">Enviar</button>
			</div>
		</form>
	</section>
</div>
<%- include('0-DespuesPA') %>
