<%- include('0-Head', {titulo: "PEL-Agregar"}) %>
<link rel="stylesheet" href="/stylesheets/3-PEL-COL-Agregar/0-Agregar.css">
<link rel="stylesheet" href="/stylesheets/3-PEL-COL-Agregar/1-ImportarDatos.css">
<%- include('0-AntesPA', {titulo: "PEL-Agregar"}) %>

<!--***********************************************************-->

<div class="cuerpo flex-col grow">
	<button type="button" class="titulo" id="titulo">Agregar una <%= titulo %> a nuestra Base de Datos</button>
	<section class="flex-col space-between" id="data_entry"> <!--RECUADRO DEL FORMULARIO -->
		<div class="flex-row space-between align-center">
			<h1>Paso 1 de 4: Importar Datos</h1>
			<select onchange="location = this.value">
				<option value="" class="ocultar"></option>
				<option value="/peliculas/agregar1"   <% if (titulo == "Película") { %> selected <% } %>>Pelicula</option>
				<option value="/colecciones/agregar1" <% if (titulo == "Colección") { %> selected <% } %>>Colección</option>
			</select>
		</div>
		<form action="/<%= rubro %>/agregar1A" method="POST" class="flex-col">  <!--Palabras clave-->
			<h2>Opción a partir de palabras clave</h2>
			<div class="flex-row space-between">
				<section> <!--Sector de inputs y labels-->
					<div class="relative flex-row align-center">
						<input type="text" name="palabras_clave" placeholder="Escribilas acá"
							value="<%= locals.data_entry ? data_entry.palabras_clave : null %>">
						<% if (locals.errores && errores.palabras_clave) { %><i class="fas fa-times-circle">
							<span class="mensajeError"><%= errores.palabras_clave.msg %> </span>
						</i><% } %>
						<label for="palabras_clave">Palabras clave
							<i class="fas fa-question-circle">
								<span class="mensajeAyuda">
									Las palabras deben ser del <strong>Título Original</strong> o del <strong>Titulo en Castellano</strong>. 
									Sólo busca por palabras exactas, no aproximadas. Escriba todas las palabras que sepa.
								</span>
							</i>
						</label>
					</div>
				</section>
				<button type="submit">Enviar</button>
			</div>
			<hr class="linea_divisoria">
		</form>
		<form action="/<%= rubro %>/agregar1B" method="POST" class="flex-col <%= rubro != "peliculas" ? "ocultar" : "" %> ">  <!--Importar datos-->
			<h2>Opción importando datos</h2>
			<p>Debe ser desde las páginas de 
				<a href="https://www.filmaffinity.com/es/main.html">FilmAffinity</a> o 
				<a href="https://es.wikipedia.org/wiki/Wikipedia:Portada">Wikipedia</a>
			</p>
			<div class="flex-row space-between">
				<section> <!--Sector de inputs y labels-->
					<div class="relative flex-row align-center">  <!--Pegar la información importada-->
						<textarea name="imports" id="" rows="1" placeholder="Pegá acá la info" 
						value="<%= locals.data_entry ? data_entry.imports : null %>"></textarea>
						<% if (locals.errores && errores.imports) { %>
							<i class="fas fa-times-circle">
								<span class="mensajeError"><%= errores.imports.msg %></span>
							</i>
						<% } %>
						<label for="imports">Información importada 
							<i class="fas fa-question-circle">
								<span class="mensajeAyuda">
									<strong>FilmAffinity</strong>: desde "Título original", hasta el final de "Productora"<br>
									<strong>Wikipedia</strong>, en la ficha a la derecha: desde el titulo en su idioma original, hasta el final de "Distribución"
								</span>
							</i>
						</label>
					</div>
					<div class="relative flex-row">  <!--Link de la página que provee los datos-->
						<input type="text" name="link" placeholder="Pegá acá el link"
							value="<%= locals.data_entry ? data_entry.link : null %>">
						<% if (locals.errores && errores.link) { %><i class="fas fa-times-circle">
							<span class="mensajeError"><%= errores.link.msg %> </span>
						</i><% } %>
						<label for="link">Link de la página que provee los datos 
							<i class="fas fa-question-circle">
								<span class="mensajeAyuda">
									El link es importante para nosotros, para conocer la <strong>fuente de la información</strong>
								</span>
							</i>
						</label>
					</div>
				</section>
				<button type="submit">Enviar</button>	
			</div>
			<hr class="linea_divisoria">
		</form>
		<form action="/<%= rubro %>/agregar1C" method="POST" class="flex-col">  <!--Datos a mano-->
			<h2>Opción ingresando los datos a mano</h2>
			<div class="flex-row space-between">
				<section> <!--Sector de inputs y labels-->
					<div class="relative flex-row align-center">
						<input type="text" name="titulo_original" placeholder="Escribilo acá"
							value="<%= locals.data_entry ? data_entry.titulo_original : null %>">
						<% if (locals.errores && errores.titulo_original) { %><i class="fas fa-times-circle">
							<span class="mensajeError"><%= errores.titulo_original.msg %> </span>
						</i><% } %>
						<label for="titulo_original">Título original de la película 
							<i class="fas fa-question-circle">
								<span class="mensajeAyuda">
									El <strong>Título Original</strong> es el dato por el que identificamos que una película no está repetida en nuestra base de datos
								</span>
							</i>
						</label>
					</div>
				</section>
				<button type="submit">Enviar</button>
			</div>
		</form>
	</section>
</div>
<%- include('0-DespuesPA') %>
