<%- include('0-Head', {titulo: "PEL-Agregar"}) %>
<link rel="stylesheet" href="/stylesheets/3-PEL-COL-Agregar/0-Agregar.css">
<link rel="stylesheet" href="/stylesheets/3-PEL-COL-Agregar/1-ImportarDatos.css">
<script src="/javascript/contadorPalabrasClave.js"></script>
<%- include('0-AntesPA', {titulo: "PEL-Agregar"}) %>

<div class="cuerpo flex-col grow">
	<h1 class="titulo" id="titulo">Agregá una Película a nuestra Base de Datos</h1>
	<form action="/peliculas/agregar1" method="POST" class="flex-col" id="data_entry">
		<section class="flex-row space-between align-center"> 
			<h1>Paso 1 de 4: Importar Datos</h1>
		</section>
		<h2>Ingresá el Título de la Película</h2>
		<section class="flex-row space-between">
			<div> <!--Sector de inputs y labels-->
				<div class="relative flex-col ">
					<div>
						<input type="text" name="palabras_clave" placeholder="Escribilo acá"
							value="<%= locals.palabras_clave ? palabras_clave : null %>"
							autofocus autocomplete="off"
						>
						<i class="fas fa-question-circle">
							<span class="mensajeAyuda">
								Sólo palabras del <strong><u>Título</u></strong>, en el idioma <strong><em>original</em></strong> o en <strong><em>castellano</em></strong>. 
								Escribí de manera precisa todas las palabras que sepas.
							</span>
						</i>
					</div>
					<% if (locals.errores) { %>
						<i class="fas fa-times-circle">
							<span class="mensajeError"><%= errores.palabras_clave.msg %> </span>
						</i>
					<% } %>
					</i>
				</div>
			</div>
			<button type="button">Verificar</button>
		</section>
		<section>
			<span id="resultadoDeBusqueda">
			</span>
				<i class="fas fa-hourglass wait ocultar"></i>
				<i class="fas fa-check OK ocultar"></i>
			<p id="fuentesDeInfo">
				Aprovechamos información provista por 
				<a target="_blank" href="https://www.themoviedb.org/?language=es">TMDB</a> APIs
				<br>para agilizar esta tarea
			</p>
		</section>
	</form>
</div>
<%- include('0-DespuesPA') %>
