<%- include('0-Head', {titulo: "PEL-Agregar"}) %>
<link rel="stylesheet" href="/stylesheets/3-PEL-COL-Agregar/0-Agregar.css">
<link rel="stylesheet" href="/stylesheets/3-PEL-COL-Agregar/2-Copiar_FA.css">
<script src="/javascript/copiar_FA.js"></script>
<%- include('0-AntesPA', {titulo: "PEL-Agregar"}) %>

<div class="cuerpo flex-col grow">
	<h1 class="titulo" id="titulo">Agregá una Película o Colección a nuestra Base de Datos</h1>
	<section class="flex-col" id="data_entry">
		<section class="flex-col">
			<h1 id="paso2">Alternativa al ingreso de Palabras Clave</h1>
			<p>Si no encontraste tu película a partir de las <em>palabras clave</em>,</p>
			<p>vamos a intentar otro método</p>
		</section>
		<h2>
			Ingresá la dirección de la Película en Film Affinity 
			<i class="fas fa-question-circle" id="pasos">
				<span class="mensajeAyuda ocultar">
					<strong><u>Pasos</u></strong>:<br>
					1. Buscá la película en Film Affinity<br>
					2. Una vez encontrada, hacé <em>click</em> sobre ella<br>
					3. Copiá la dirección (url)<br>
					4. Pegá la url en este formulario<br>
				</span>
			</i>
		</h2>
		<form action="/peliculas/agregar/copiarfa" method="POST" class="flex-row space-between">
			<div class="relative flex-col">
				<textarea name="contenido" placeholder="Pegá acá el contenido"
					value="<%= locals.link ? link : null %>" autofocus
				></textarea>
				<% if (locals.errores) { %>
					<i class="fas fa-times-circle">
						<span class="mensajeError"><%= errores.link.msg %> </span>
					</i>
				<% } %>
			</div>
			<button type="submit">Verificar</button>
		</form>
		<div id="resultadoDeBusqueda"></div>
	</section>
</div>
<%- include('0-DespuesPA') %>
