<%- include('0-Head', {titulo: "PEL-Agregar"}) %>
<link rel="stylesheet" href="/stylesheets/3-PEL-COL-Agregar/0-Agregar.css">
<link rel="stylesheet" href="/stylesheets/3-PEL-COL-Agregar/2-Desamb_TMDB.css">
<%- include('0-AntesPA', {titulo: "PEL-Agregar"}) %>

<div class="cuerpo flex-col grow">
	<h1 class="titulo" id="titulo">Agregá una Película o Colección a nuestra Base de Datos</h1>
	<section class="flex-col" id="data_entry">
		<div class="flex-col">
			<h2>Paso 2 de 4: Hacé click sobre tu opción</h2>
			<p>
				<% if (!hayMas) { %>
					<% if (resultados.length == 1) { %>
						Encontramos una sola coincidencia.
					<% } else { %>
						Estas son las <%= resultados.length %> coincidencias que encontramos.
					<% } %>
				<% } else {%>
					Encontramos muchos casos. Te mostramos <%= resultados.length %> coincidencias.
				<% } %>
			</p>
			<p><u>Palabra/s clave</u>: <strong><%= palabras_clave %></strong></p>
		</div>
		<div class="flex-row space-between"  id="resultadoGeneral">
			<%- include('0-Desamb_form1', { prod_nuevos }) %>
			<%- include('0-Desamb_form2') %>
			<%- include('0-Desamb_form3', { prod_yaEnBD }) %>
		</div>
		<div id="flechas" class="flex-row space-between">
			<a href="/peliculas/agregar/palabras_clave"><i class="fas fa-arrow-alt-circle-left"></i></a>
			<% if (habilitarFlechaDerechaConLink) { %>
				<a href="/peliculas/agregar/datos_duros" id="conLink"><i class="fas fa-arrow-alt-circle-right"></i></a>
			<% } else { %>
				<i class="fas fa-arrow-alt-circle-right" id="sinLink"></i>
			<% } %>
		</div>
	</section>
</div>
<%- include('0-DespuesPA') %>
