<%- include('0-Head', {titulo: "PEL-Agregar"}) %>
<link rel="stylesheet" href="/stylesheets/3-PEL-COL-Agregar/0-Agregar.css">
<link rel="stylesheet" href="/stylesheets/3-PEL-COL-Agregar/2-Desambiguar1.css">
<%- include('0-AntesPA', {titulo: "PEL-Agregar"}) %>

<div class="cuerpo flex-col grow">
	<h1 class="titulo" id="titulo">Agregá una Película o Colección a nuestra Base de Datos</h1>
	<form action="/peliculas/agregar/palabras_clave" method="POST" class="flex-col" id="data_entry">
		<section class="flex-row space-between align-center"> 
			<h1>Paso 2 de 4: Hacé click sobre tu opción</h1>
		</section>
		<section class="flex-row space-between"  id="resultados">
			<% for (let i=0; i<Math.min(resultados.length); i++) { %>
				<div class="flex-row">
					<p class="ocultar"><%= resultados[i].rubro %> </p>
					<p class="ocultar"><%= resultados[i].tmdb_id %> </p>
					<p class="ocultar"><%= resultados[i].nombre_original %> </p>
					<img class="imagenChica" src="<%= "https://image.tmdb.org/t/p/original" + resultados[i].avatar %>" alt="<%= resultados[i].nombre_original %>" title="<%= resultados[i].nombre_original %>">
					<div class="flex-col">
						<p><strong><%= resultados[i].nombre_castellano %></strong></p>
						<p>
							<%= resultados[i].lanzamiento %> - 
							<% if (resultados[i].rubro=="movie") { %>Película<% } %>
							<% if (resultados[i].rubro=="TV") { %>Programa de TV<% } %>
							<% if (resultados[i].rubro=="collection") { %>Colección<% } %>
						</p>
					</div>
				</div>
			<% } %> 
		</section>
	</form>
</div>
<%- include('0-DespuesPA') %>
