<section id="cuerpo">
	<%- codigo == "mail" ? include("1-Registro-Mail") : "" %>
	<%- codigo == "perennes" ? include("2-Registro-Perennes") : "" %>
	<%- codigo == "editables" ? include("3-Registro-Editables") : "" %>
	<%- codigo == "detalle" ? include("4-DetalleUsuario") : "" %>
	<%- codigo == "edicion" ? include("edicion") : "" %>
	<%- codigo == "login" ? include("9-Login") : "" %>
</section>
