<div id="tapar-el-fondo"></div>
<form method="POST">
	<h1><%= titulo %> </h1>
	<!--E-Mail-->
	<section class="label-input flex-row">
		<div class="inputError">
			<input type="text" class="input" name="email" placeholder="Ingresá tu dirección de Correo Electrónico" value="<%= dataEntry.email %>" autofocus>
			<%- include("CMP-errorOK_visible", {campo: "email"}) %>
		</div>
	</section>
	<!--Número de Documento y País-->
	<% if (errores.documento) { %>
		<!--Número de Documento-->
		<div class="label-input flex-row">
			<label for="docum_numero">
				Número de<br>
				Documento
			</label>
			<div class="inputError">
				<input type="text" id="docum_numero" class="input" name="docum_numero" placeholder="Número de Documento" value="<%= dataEntry ? dataEntry.docum_numero : "" %>">
				<%- include("CMP-errorOK_visible", {campo: "docum_numero"}) %> 
			</div>
		</div>
		<!--Expedido en qué país-->
		<div class="label-input flex-row">
			<label for="docum_pais_id">
				Expedido<br>
				en qué país
			</label>
			<div class="inputError">
				<select id="docum_pais_id" name="docum_pais_id" class="input">
					<option value="" <% if (!dataEntry.docum_pais_id) {%>selected <%}%>class="ocultar">Elejí un país</option>
					<optgroup label="América (habla hispana)">
						<% for (let pais of hablaHispana.filter(n => n.continente == "América")) { %>
							<option  value="<%= pais.id %>" <% if (dataEntry.docum_pais_id==pais.id) { %>selected <% } %>>
								<%= pais.nombre %>
							</option>
						<% } %>	
					</optgroup>
					<optgroup label="Europa/África (habla hispana)">
						<% for (let pais of hablaHispana.filter(n => n.continente != "América")) { %>
							<option  value="<%= pais.id %>" <% if (dataEntry.docum_pais_id==pais.id) { %>selected <% } %>>
								<%= pais.nombre %>
							</option>
						<% } %>
					</optgroup>
					<optgroup label="Países de habla no hispana">
						<% for (let pais of hablaNoHispana) { %>
							<option  value="<%= pais.id %>" <% if (dataEntry.docum_pais_id==pais.id) { %>selected <% } %>>
								<%= pais.nombre %>
							</option>
						<% } %>
					</optgroup>
				</select>
				<%- include("CMP-errorOK_visible", {campo: "docum_pais_id"}) %> 
			</div>
		</div>
	<% } %>
	<!--Flechas-->
	<section id="flechas">
		<!-- Salir -->
		<a href="<%= urlSalir %>" tabindex="-1"><i class="fa-solid fa-circle-left icono" title="Salir"></i></a>
		<!-- Submit -->
		<button type="submit" class="<%- errores ? 'inactivo' : '' %>"><i class="fa-solid fa-circle-check icono" title="Aceptar"></i></button>
		<!-- Olvido de contraseña -->
		<% if (codigo == "alta-mail") { %>
			<a href="/usuarios/olvido-contrasena" tabindex="-1"><i class="fa-solid fa-circle-xmark icono" title="Olvidé mi contraseña"></i></a>
		<% } %>
		<!-- Alta de mail -->
		<% if (codigo == "olvido-contrasena") {  %>
			<a href="/usuarios/alta-mail" tabindex="-1"><i class="fa-solid fa-user-plus icono" title="Registro de mail"></i></a>
		<% } %>
	</section>
</form>
