<div id="tapar-el-fondo"></div>
<form method="POST" id="dataEntry">
	<h1>Login</h1>
	<!-- Datos -->
	<section id="datos">
		<% for (variable of variables) { %>
			<div class="label-input flex-row">
				<label for="<%= variable.name %>"><%= variable.titulo %></label>
				<div class="inputError">
					<!-- Input -->
					<input class="input" 
						value="<%= dataEntry ? dataEntry[variable.name] : '' %>" 
						type="<%= variable.type %>" 
						name="<%= variable.name %>" 
						placeholder="<%= variable.placeholder %>" 
						<% if (dataEntry && errores[variable.name]) { %>autofocus<% } %> 
						<% if (dataEntry) { %>autocomplete= 'new-password'<% } %>
					>
					<!-- Ojito contraseña -->
					<% if (variable.name == "contrasena") { %><i id="eye" class="fa-solid fa-eye-slash"></i><% } %>
					<!-- Error/OK -->
					<%- include("CMP-Errores", {campo: variable.name, display: true}) %>
				</div>
			</div>
		<% } %>
	</section>
	<!--Credenciales Inválidas-->
	<div class="flex-col">
		<p class="resultadoInvalido <%- !errores || !errores.credenciales ? 'ocultar' : '' %>">Credenciales inválidas</p>
	</div>
	<!--Flechas-->
	<div id="flechas">
		<!-- Salir -->
		<a href="<%= urlSalir %>" tabindex="-1"><i class="fa-solid fa-circle-left icono" title="Salir"></i></a>
		<!-- Submit -->
		<button type="submit" class="<%- errores ? 'inactivo' : '' %>" autofocus><i class="fa-solid fa-circle-check icono" title="Login"></i></button>
		<!-- Olvido de contraseña -->
		<a href="/usuarios/olvido-contrasena" tabindex="-1" class="rojo"><i class="fa-solid fa-key icono" title="Olvidé mi contraseña"></i></a>
		<!-- Nuevo usuario -->
		<a href="/usuarios/alta-mail" tabindex="-1"><i class="fa-solid fa-user-plus icono" title="Registrarse"></i></a>
	</div>
</form>