<section id="cuerpo">
	<%- (codigo == "mail" || codigo == "olvido-contrasena") ? include("US1-Registro-Mail") : "" %>
	<%- codigo == "perennes" ? include("US2-Registro-Perennes") : "" %>
	<%- codigo == "editables" ? include("US3-Registro-Editables") : "" %>
	<%- codigo == "edicion" ? include("US4-Edicion") : "" %>
	<%- codigo == "login" ? include("US9-Login") : "" %>
</section>
