<section id="cuerpo">
	<!-- Alta -->
	<%- (codigo == "alta-mail" || codigo == "olvido-contrasena") ? include("US1-Alta-Mail") : "" %>
	<%- codigo == "perennes" ? include("US2-Datos-Perennes") : "" %>
	<%- codigo == "editables" ? include("US3-Datos-Editables") : "" %>
	<%- codigo == "documento" ? include("US4-Documento") : "" %>
	<%- codigo == "edicion" ? include("US5-Edicion") : "" %>
	<!-- Revisar -->
	<%- codigo == "tableroControl" ? include("US6-Tablero-Control") : "" %>
	<!-- Login -->
	<%- codigo == "login" ? include("US9-Login") : "" %>
</section>
