<div id="tapar-el-fondo"></div>
<form method="POST">
	<%- include('CMP-CartelProgreso', {tarea: "Enviando el mail"}) %>
	<h1><%= titulo %> </h1>
	<!--E-Mail-->
	<section class="labelInput flexRow">
		<div class="inputError">
			<input type="text" class="input" name="email" placeholder="Ingresá tu dirección de Correo Electrónico" value="<%= dataEntry.email %>" autofocus>
			<%- include("CMP-Errores", {nombre: "email", display: true}) %>
		</div>
	</section>
	<% if (codigo == "alta-mail") { %>
		<!-- Política para el uso de la información privada -->
		<ul id="politicaInfo" type="disc">
			<li>No compartimos los mails con otras entidades.</li>
			<li>No enviamos mensajes comerciales a nuestros usuarios.</li>
		</ul>
	<% } %>
	<!--Número de Documento y País-->
	<% if (errores.documento) { %>
		<!--Número de Documento-->
		<section class="labelInput flexRow">
			<label for="documNumero">
				Número de<br>
				Documento
			</label>
			<div class="inputError">
				<input type="text" id="documNumero" class="input" name="documNumero" placeholder="Número de Documento" value="<%= dataEntry ? dataEntry.documNumero : "" %>">
				<%- include("CMP-Errores", {nombre: "documNumero", display: true}) %> 
			</div>
		</section>
		<!--Expedido en qué país-->
		<section class="labelInput flexRow">
			<label for="documPais_id">
				Expedido<br>
				en qué país
			</label>
			<div class="inputError">
				<select id="documPais_id" name="documPais_id" class="input">
					<option value="" <% if (!dataEntry.documPais_id) {%>selected <%}%>>Elejí un país</option>
					<optgroup label="América (habla hispana)">
						<% for (let pais of hablaHispana.filter(n => n.continente == "América")) { %>
							<option value="<%= pais.id %>" <% if (dataEntry.documPais_id==pais.id) { %>selected <% } %>>
								<%= pais.nombre %>
							</option>
						<% } %>	
					</optgroup>
					<optgroup label="Europa/África (habla hispana)">
						<% for (let pais of hablaHispana.filter(n => n.continente != "América")) { %>
							<option value="<%= pais.id %>" <% if (dataEntry.documPais_id==pais.id) { %>selected <% } %>>
								<%= pais.nombre %>
							</option>
						<% } %>
					</optgroup>
					<optgroup label="Países de habla no hispana">
						<% for (let pais of hablaNoHispana) { %>
							<option value="<%= pais.id %>" <% if (dataEntry.documPais_id==pais.id) { %>selected <% } %>>
								<%= pais.nombre %>
							</option>
						<% } %>
					</optgroup>
				</select>
				<%- include("CMP-Errores", {nombre: "documPais_id", display: true}) %> 
			</div>
		</section>
	<% } %>
	<!--Flechas-->
	<section class="flechas">
		<!-- Salir -->
		<a href="<%= urlSalir %>" tabindex="-1"><i class="fa-solid fa-circle-left" title="Salir"></i></a>
		<!-- Submit -->
		<button type="submit" class="<%- errores ? 'inactivo' : '' %>"><i class="fa-solid fa-circle-check" title="Aceptar"></i></button>
	</section>
</form>
