<div id="tapar-el-fondo"></div>
<form action="<%= link %>" method="POST">
	<h1>Registro de Mail</h1>
	<section class="label-input flex-row">  <!--E-Mail-->
		<div class="input-error">
			<input type="text" class="input" name="email" placeholder="Ingresá tu Correo Electrónico" value="" autofocus>
			<i class="fa-solid fa-circle-xmark <%- !(errores && errores.email) ? 'ocultar' : '' %> ">
				<span class="mensajeError"><%- (errores && errores.email) ? errores.email : "" %></span>
			</i>
		</div>
	</section>
	<!--Flechas-->
	<section id="flechas">
		<!-- Salir -->
		<a href="<%= urlSalir %>" tabindex="-1"><i class="fa-solid fa-circle-left icono" title="Salir"></i></a>
		<!-- Submit -->
		<button type="submit" class="<%- errores ? 'inactivo' : '' %>"><i class="fa-solid fa-circle-check icono" title="Aceptar"></i></button>
	</section>
</form>
