<div id="tapar-el-fondo"></div>
<form method="POST" enctype="multipart/form-data">
	<h1><%= titulo %></h1>
	<!--Apodo-->
	<section class="label-input flex-row">
		<label for="apodo">¿Cómo querés que<br>te llamemos?</label>
		<div class="inputError">
			<input type="text" class="input" name="apodo" placeholder="Sobrenombre" value="<%= dataEntry ? dataEntry.apodo : "" %>">
			<%- include("CMP-Errores", {campo: "apodo", display: true}) %>
		</div>
	</section>
	<!--Pais de residencia-->
	<section class="label-input flex-row">
		<label for="pais">País de residencia</label>
		<div class="inputError">
			<select name="pais_id" class="input">
				<option value="" <% if (dataEntry.pais_id=="") {%>selected <%}%>>Elejí un país</option>
				<optgroup label="América (habla hispana)">
					<% for (let pais of hablaHispana.filter(n => n.continente == "América")) { %>
						<option value="<%= pais.id %>" <% if (dataEntry.pais_id==pais.id) { %>selected <% } %>>
							<%= pais.nombre %>
						</option>
					<% } %>	
				</optgroup>
				<optgroup label="Europa/África (habla hispana)">
					<% for (let pais of hablaHispana.filter(n => n.continente != "América")) { %>
						<option value="<%= pais.id %>" <% if (dataEntry.pais_id==pais.id) { %>selected <% } %>>
							<%= pais.nombre %>
						</option>
					<% } %>
				</optgroup>
				<optgroup label="Países de habla no hispana">
					<% for (let pais of hablaNoHispana) { %>
						<option value="<%= pais.id %>" <% if (dataEntry.pais_id==pais.id) { %>selected <% } %>>
							<%= pais.nombre %>
						</option>
					<% } %>
				</optgroup>
			</select>
			<%- include("CMP-Errores", {campo: "pais_id", display: true}) %>
		</div>
	</section>
	<!--Rol en la iglesia-->
	<section class="label-input flex-row">
		<label for="rol_iglesia_id">Rol en la Iglesia<br>Católica</label>
		<div class="inputError">
			<select name="rol_iglesia_id" class="input">
				<option value="" <% if (dataEntry.rol_iglesia_id=="") { %>selected <% } %>>Elejí un rol en la Iglesia</option>
				<% for (let rol_iglesia of roles_iglesia) { %>
					<option value="<%= rol_iglesia.id %>" <% if (dataEntry.rol_iglesia_id==rol_iglesia.id) { %>selected <% } %><% if (rol_iglesia.id=="PP" || rol_iglesia.id=="PC") {%>class="ocultar" <% } %>><%= rol_iglesia.nombre %></option>
				<% } %>
			</select>
			<%- include("CMP-Errores", {campo: "rol_iglesia_id", display: true}) %>
		</div>
	</section>
	<!--Imagen de perfil-->
	<section class="label-input flex-row">
		<label>Imagen personal <br>(opcional)</label>
		<div class="inputError flex-col" id="divImagen">
			<label for="inputImagen" id="preview">
				<img src="<%= avatar %>">
			</label>
			<input name="avatar" type="file" id="inputImagen" accept="image/*" class="input ocultar">
			<!-- Errores -->
			<div class="errores">
				<i class="fa-solid fa-circle-xmark <%- !errores.avatar ? 'ocultar' : '' %>">
					<span class="mensajeError"><%- errores.avatar ? errores.avatar : "" %></span>
				</i>
				<i class="fa-solid fa-circle-check ocultar ocultarOK_imagen"></i>
			</div>
		</div>
	</section>
	<!--Flechas-->
	<section id="flechas" class="flex-row">
		<!-- Salir -->
		<a href="<%= urlSalir %>" tabindex="-1"><i class="fa-solid fa-circle-left" title="Salir"></i></a>
		<!-- Submit -->
		<button type="submit" class="inactivo"><i class="fa-solid fa-circle-check" title="Aceptar"></i></button>
	</section>
</form>
