<div id="tapar-el-fondo"></div>
<form action="<%= link %>" method="POST">
	<h1>Registro de Datos Perennes</h1>
	<!--Nombre-->
	<section class="label-input flex-row">
		<label for="nombre">Nombre</label>
		<div class="input-error">
			<% nombre = dataEntry ? dataEntry.nombre : "" %>
			<input type="text" class="input" name="nombre" placeholder="Nombre" value="<%= nombre %>">
			<%- include("CMP-errorOK_visible", {campo: "nombre"}) %> 
		</div>
	</section>
	<!--Apellido-->
	<section class="label-input flex-row">
		<label for="apellido">Apellido</label>
		<div class="input-error">
			<% apellido = dataEntry ? dataEntry.apellido : "" %>
			<input type="text" class="input" name="apellido" placeholder="Apellido" value="<%= apellido %>">
			<%- include("CMP-errorOK_visible", {campo: "apellido"}) %> 
		</div>
	</section>
	<!--Sexo-->
	<section class="label-input flex-row">
		<label for="sexo_id">Sexo</label>
		<div class="input-error">
			<% sexo_id = dataEntry ? dataEntry.sexo_id : "" %>
			<select name="sexo_id" class="input">
				<option value=""  <% if (sexo_id=="")  {%>selected<% } %> style="display: none;">Elegí una opción</option>
				<% for (let sexo of sexos) { %>
					<option value="<%= sexo.id %> " <% if (sexo.id == sexo_id) {%>selected<% } %>><%= sexo.nombre %></option>
				<% } %> 
			</select>
			<%- include("CMP-errorOK_visible", {campo: "sexo_id"}) %> 
		</div>
	</section>
	<!--Fecha de Nacimiento-->
	<section class="label-input flex-row">
		<label for="fecha_nacimiento">Fecha de Nacimiento</label>
		<div class="input-error">
			<% fecha_nacimiento = dataEntry ? dataEntry.fecha_nacimiento : "" %>
			<input type="date" name="fecha_nacimiento" class="input" value="<%= fecha_nacimiento %>">
			<%- include("CMP-errorOK_visible", {campo: "fecha_nacimiento"}) %> 
		</div>
	</section>
	<!--Flechas-->
	<section id="flechas">
		<!-- Salir -->
		<a href="<%= urlSalir %>" tabindex="-1"><i class="fa-solid fa-circle-left icono" title="Salir"></i></a>
		<!-- Submit -->
		<button type="submit" class="inactivo"><i class="fa-solid fa-circle-check icono" title="Aceptar"></i></button>
	</section>
</form>