<div id="tapaElFondo"></div>
<form method="POST" enctype="multipart/form-data" class="encimaDelFondo">
	<!-- Título y Ayuda -->
	<div id="tituloPrincipal">
		<h1><%= titulo %></h1>
		<!-- Ayuda -->
		<div class="ayuda">
			<i class="fa-solid fa-circle-question ayudaClick desplClick">
				<ul type="dots" class="ayudaMostrar ocultar desplMostrar">
					<li>Por favor brindanos los datos que figuran en tu Documento <em><u>Nacional</u></em> de Identidad.</li>
					<li>La fidelidad de los datos es condición necesaria para validar tu identidad.</li>
				</ul>
			</i>	
		</div>
	</div>
	<!-- Datos -->
	<section class="flexRow">
		<!-- Varios -->
		<div id="columna1">
			<!--Nombre-->
			<div class="labelInput flexCol">
				<label for="nombre">Nombre</label>
				<div class="inputError">
					<% nombre = dataEntry ? dataEntry.nombre : "" %>
					<input type="text" class="input" name="nombre" placeholder="Nombre" value="<%= nombre %>">
					<%- include("CMP-Errores", {nombre: "nombre", display: true}) %> 
				</div>
			</div>
			<!--Apellido-->
			<div class="labelInput flexCol">
				<label for="apellido">Apellido</label>
				<div class="inputError">
					<% apellido = dataEntry ? dataEntry.apellido : "" %>
					<input type="text" class="input" name="apellido" placeholder="Apellido" value="<%= apellido %>">
					<%- include("CMP-Errores", {nombre: "apellido", display: true}) %> 
				</div>
			</div>
			<!--Rol en la iglesia-->
			<div class="labelInput flexCol">
				<label for="rolIglesia_id">Rol en la Iglesia Católica</label>
				<div class="inputError">
					<% rolIglesia_id = dataEntry ? dataEntry.rolIglesia_id : "" %>
					<select name="rolIglesia_id" class="input">
						<option value="" <% if (!rolIglesia_id) { %>selected<% } %>>Elejí una opción</option>
						<% for (let rolIglesia of rolesIgl) { %>
							<option value="<%= rolIglesia.id %>" <% if (rolIglesia_id == rolIglesia.id) { %>selected<% } %>><%= rolIglesia.nombre %></option>
						<% } %> 
					</select>
					<%- include("CMP-Errores", {nombre: "rolIglesia_id", display: true}) %>
				</div>
			</div>
			<!--Fecha de Nacimiento-->
			<div class="labelInput flexCol">
				<label for="fechaNacim">Fecha de Nacimiento</label>
				<div class="inputError">
					<% fechaNacim = dataEntry ? dataEntry.fechaNacim : "" %>
					<input type="date" name="fechaNacim" class="input" value="<%= fechaNacim %>">
					<%- include("CMP-Errores", {nombre: "fechaNacim", display: true}) %> 
				</div>
			</div>
		</div>
		<!-- Documento -->
		<div id="columna2">
			<!--Número de Documento-->
			<div class="labelInput flexCol">
				<label for="documNumero">Número de Documento</label>
				<div class="inputError">
					<input type="text" id="documNumero" class="input" name="documNumero" placeholder="Número de Documento" value="<%= dataEntry ? dataEntry.documNumero : "" %>">
					<%- include("CMP-Errores", {nombre: "documNumero", display: true}) %>
				</div>
			</div>
			<!--Expedido en qué país-->
			<div class="labelInput flexCol">
				<label for="documPais_id">Expedido en qué país</label>
				<div class="inputError">
					<select id="documPais_id" name="documPais_id" class="input">
						<option value="" <% if (dataEntry.documPais_id=="") {%>selected <%}%>>Elejí un país</option>
						<optgroup label="América (habla hispana)">
							<% for (let pais of hablaHispana.filter(n => n.continente == "América")) { %>
								<option value="<%= pais.id %>" <% if (dataEntry.documPais_id==pais.id) { %>selected <% } %>>
									<%= pais.nombre %>
								</option>
							<% } %>	
						</optgroup>
						<optgroup label="Europa/África (habla hispana)">
							<% for (let pais of hablaHispana.filter(n => n.continente != "América")) { %>
								<option value="<%= pais.id %>" <% if (dataEntry.documPais_id==pais.id) { %>selected <% } %>>
									<%= pais.nombre %>
								</option>
							<% } %>
						</optgroup>
						<optgroup label="Países de habla no hispana">
							<% for (let pais of hablaNoHispana) { %>
								<option value="<%= pais.id %>" <% if (dataEntry.documPais_id==pais.id) { %>selected <% } %>>
									<%= pais.nombre %>
								</option>
							<% } %>
						</optgroup>
					</select>
					<%- include("CMP-Errores", {nombre: "documPais_id", display: true}) %>
				</div>
			</div>
			<!--Credenciales Inválidas-->
			<% if (errores && errores.credenciales) { %>
				<div id="credencialesInvalidas" class="inputError">
					<p>Credenciales inválidas</p>
					<div class="ayuda">
						<i class="fa-solid fa-circle-question ayudaClick">
							<span class="ayudaMostrar ocultar">Ya tenemos ingresada esa combinación de <em>Número de Documento</em> y <em>País</em> en nuestra Base de Datos.</span>
						</i>	
					</div>
				</div>
			<% } %>
			<!--Imagen del documento-->
			<div class="labelInput flexCol">
				<label>Imagen del documento</label>
				<div class="inputError flexCol" id="divImagen">
					<label for="inputImagen" id="preview">
						<img src="<%= avatar %>">
					</label>
					<input name="avatar" type="file" id="inputImagen" accept="image/*" class="input ocultar">
					<!-- Errores -->
					<div class="errores">
						<i 
							class="fa-solid fa-circle-xmark<%- !errores.avatar ? ' ocultar' : '' %>"
							<% if (locals.z_index) { %>style="z-index: <%= z_index %> "<% } %>
						>
							<span class="mensajeError"><%- errores.avatar ? errores.avatar : "" %></span>
						</i>
						<i class="fa-solid fa-circle-check<%- (errores.avatar || avatar.includes("imagenes/0-Base")) ? ' ocultar' : '' %>"></i>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Flechas-->
	<section class="flechas">
		<!-- Salir -->
		<a href="<%= urlSalir %>" tabindex="-1"><i class="fa-solid fa-circle-left" title="Salir"></i></a>
		<!-- Submit -->
		<button type="submit" class="inactivo"><i class="fa-solid fa-circle-check" title="Aceptar"></i></button>
	</section>
</form>