<div id="tapar-el-fondo"></div>
<form method="POST" enctype="multipart/form-data">
	<h1><%= titulo %></h1>
	<!--Número de Documento-->
	<section class="label-input flex-row">
		<label for="docum_numero">Número de Documento</label>
		<div class="input-error">
			<input type="text" id="docum_numero" class="input" name="docum_numero" placeholder="Número de Documento" value="<%= dataEntry ? dataEntry.docum_numero : "" %>">
			<%- include("CMP-errorOK_visible", {campo: "docum_numero"}) %>
		</div>
	</section>
	<!--Expedido en qué país-->
	<section class="label-input flex-row">
		<label for="docum_pais_id">Expedido en qué país</label>
		<div class="input-error">
			<select id="docum_pais_id" name="docum_pais_id" class="input">
				<option value="" <% if (dataEntry.docum_pais_id=="") {%>selected <%}%>class="ocultar">Elejí un país</option>
				<optgroup label="América (habla hispana)">
					<% for (let pais of hablaHispana.filter(n => n.continente == "América")) { %>
						<option  value="<%= pais.id %>" <% if (dataEntry.docum_pais_id==pais.id) { %>selected <% } %>>
							<%= pais.nombre %>
						</option>
					<% } %>	
				</optgroup>
				<optgroup label="Europa/África (habla hispana)">
					<% for (let pais of hablaHispana.filter(n => n.continente != "América")) { %>
						<option  value="<%= pais.id %>" <% if (dataEntry.docum_pais_id==pais.id) { %>selected <% } %>>
							<%= pais.nombre %>
						</option>
					<% } %>
				</optgroup>
				<optgroup label="Países de habla no hispana">
					<% for (let pais of hablaNoHispana) { %>
						<option  value="<%= pais.id %>" <% if (dataEntry.docum_pais_id==pais.id) { %>selected <% } %>>
							<%= pais.nombre %>
						</option>
					<% } %>
				</optgroup>
			</select>
			<%- include("CMP-errorOK_visible", {campo: "docum_pais_id"}) %>
		</div>
	</section>
	<!--Credenciales Inválidas-->
	<div class="flex-col">
		<p class="resultadoInvalido <%- !errores || !errores.credenciales ? 'ocultar' : '' %>">
			Ya tenemos ingresada esa combinación de <strong><u>Número <br> de Documento</u></strong> y <strong><u>País</u></strong> en nuestra Base de Datos.
		</p>
	</div>
	<!--Imagen del documento-->
	<section class="label-input flex-row">
		<label>Imagen del documento</label>
		<div class="input-error flex-col" id="divImagen">
			<label for="inputImagen" id="preview">
				<img src="<%= docum_avatar %>">
			</label>
			<input name="docum_avatar" type="file" id="inputImagen" accept="image/*" class="input ocultar" value="<%= dataEntry ? dataEntry.docum_avatar : "" %>">
			<%- include("CMP-errorOK_visible", {campo: "docum_avatar"}) %>
		</div>
	</section>
	<!--Flechas-->
	<section id="flechas" class="flex-row">
		<!-- Salir -->
		<a href="<%= urlSalir %>" tabindex="-1"><i class="fa-solid fa-circle-left icono" title="Salir"></i></a>
		<!-- Submit -->
		<button type="submit" class="inactivo"><i class="fa-solid fa-circle-check icono" title="Aceptar"></i></button>
	</section>
</form>