<div id="tapar-el-fondo"></div>
<form action="<%= link %>" method="POST" id="dataEntry">
	<h1>Login</h1>
	<!-- Rutina -->
	<section id="rutina">
		<% for (variable of variables) { %>
			<div class="label-input flex-row">  
				<label for="<%= variable.name %>"><%= variable.titulo %></label>
				<div class="input-error">
					<input value="<%= dataEntry ? dataEntry[variable.name] : '' %>" type="<%= variable.type %>" class="input" name="<%= variable.name %>" placeholder="<%= variable.placeholder %>" autofocus>
					<% if (variable.name == "contrasena") { %><i id="eye" class="fa-solid fa-eye-slash"></i><% } %>
					<!-- Errores -->
					<i class="fa-solid fa-circle-xmark <%- !errores || !errores[variable.name] ? 'ocultar' : '' %>">
						<span class="mensajeError"><%= errores[variable.name] %></span>
					</i>
					<i class="fa-solid fa-circle-check ocultar"></i>
				</div>
			</div>
		<% } %>
	</section>
	<!--Credenciales Inválidas-->
	<div class="flex-col">
		<p class="resultadoInvalido <%- !errores || !errores.credenciales ? 'ocultar' : '' %>">Credenciales inválidas</p>
	</div>
	<!--Botones-->
	<div id="flechas">
		<!-- Salir -->
		<a href="<%= urlSalir %>" tabindex="-1"><i class="fa-solid fa-circle-left icono" title="Salir"></i></a>
		<!-- Login -->
		<button type="submit" class="<%- errores ? 'inactivo' : '' %>"><i class="fa-solid fa-circle-check icono" title="Login"></i></button>
		<!-- Olvido de contraseña -->
		<a href="/usuarios/olvido-contrasena" tabindex="-1"><i class="fa-solid fa-circle-xmark icono" title="Olvidé mi contraseña"></i></a>
		<!-- Nuevo usuario -->
		<a href="/usuarios/mail" tabindex="-1"><i class="fa-solid fa-circle-plus icono" title="Registrarse"></i></a>
	</div>
</form>