<!-- Preguntas de Encabezado -->
<section id="inicio" class="OK">
	<!--Primera columna-->
	<div id="primeraCol">
		<!-- Nombres -->
		<div id="sectorNombre" class="flexCol">
			<!-- Título, Ayuda y Error/OK -->
			<div class="flexRow">
				<div class="margenDebajo inputError flexRow" style="z-index: 5;">
					<!-- Título -->
					<h3>Nombre<%- personajes ? 's' : '' %></h3>
					<% if (codigo != "rclv/solapamiento") { %>
						<!-- Ayuda -->
						<div class="ayuda">
							<i class="fa-solid fa-circle-question ayudaClick desplClick">
								<ul id="ayudaNombrePers" type="dots" class="ayudaMostrar ocultar desplMostrar">
									<% if (personajes) { %>
										<li>El nombre <span>formal</span> es su nombre religioso (o civil si no tiene uno), sin títulos ni palabras ajenas a su nombre.</li>
										<li>El nombre <span>alternativo</span> es opcional, y se completa sólo si la persona es conocida también por otro nombre o apodo.</li>
									<% } else { %>
										<li>Si vas a ingresar una Aparición Mariana, necesitamos que lo hagas con el formato: <em><b>Ap. Mar. - Guadalupe</b></em>, donde <em>Guadalupe</em> sería el lugar donde apareció o el nombre de la advocación.</li>
									<% } %>
								</ul>
							</i>
						</div>
						<%- include("CMP-Errores", {nombre: "nombre", ocultarOK: true}) %>
					<% } %>
				</div>
			</div>
			<% if (codigo != "rclv/solapamiento") { %>
				<!-- Campos -->
				<div class="flexCol spaceBetween">
					<!-- Nombre Formal -->
					<div class="flexRowAlign spaceBetween"  style="z-index: 4;">
						<% if (personajes) { %><label>Formal</label><% } %>
						<input type="text" name="nombre" class="input" value="<%= dataEntry.nombre %>" autofocus autocomplete="off">
					</div>
					<% if (personajes) { %>
						<!-- Alternativo -->
						<div class="flexRowAlign spaceBetween altoFila">
							<label>Alternativo</label>
							<input type="text" name="apodo" class="input" value="<%= dataEntry.apodo %>" autocomplete="off">
						</div>
					<% } %>
				</div>
			<% } else { %>
				<p id="nombre"><%= dataEntry.nombre %></p>
			<% } %>
		</div>
		<!-- Fecha Representativa -->
		<div id="sectorFecha" class="borderTop flexCol">
			<!-- Título, Ayuda y Error/OK -->
			<div class="flexRow spaceBetween margenDebajo inputError" style="z-index: 4;">
				<!-- Título -->
				<h3>Fecha representativa</h3>
				<!-- Select -->
				<select name="tipoFecha" class="input">
					<option value="FD" <% if (dataEntry.tipoFecha_id == "FD") { %>selected<% } %>>Fecha fija</option>
					<option value="FM" <% if (dataEntry.tipoFecha_id == "FM") { %>selected<% } %>>Fecha móvil</option>
					<% if (entidad != "epocasDelAno") { %>
						<option value="SF" <% if (dataEntry.tipoFecha_id == "SF") { %>selected<% } %>>Sin Fecha</option>
					<% } %>
				</select>
				<!-- Ayuda -->
				<div class="ayuda">
					<i class="fa-solid fa-circle-question ayudaClick desplClick">
						<ul type="dots" class="ayudaMostrar ocultar desplMostrar">
							<p>Usamos la fecha en que se lo recuerda.</p>
							<% if (personajes) { %>
								<li>Para los santos o beatos, se usa la fecha del santoral (Novus Ordo).</li>
								<li>Para los demás, suele ser la fecha de su muerte.</li>
							<% } %>
						</ul>
					</i>
				</div>
				<%- include("CMP-Errores", {nombre: "fecha", ocultarOK: true}) %>
			</div>
			<!-- Mes y Día -->
			<div id="mesDia" class="flexRowAlign margenDebajo">
				<!-- Meses -->
				<select name="mes_id" class="input">
					<option value="" <% if (!dataEntry.mes_id) { %>selected<% } %>>Mes</option>
					<% for (let mes of meses) { %>
						<option value="<%= mes.id %>" <% if (dataEntry.mes_id == mes.id) { %>selected<% } %>>
							<%= mes.nombre %>
						</option>
					<% } %>
				</select>
				<!-- Días -->
				<select name="dia" class="input">
					<option value="" <% if (!dataEntry.dia) { %>selected<% } %>>Día</option>
					<% for (let dia = 1; dia < 32; dia++) { %>
						<option value="<%= dia %>"
							<% if (dia > 29) { %>class="ocultar"<% } %>
							<% if (dataEntry.dia == dia) { %>selected<% } %>
						>
							<%= dia %>
						</option>
					<% } %>
				</select>
				<!-- Años -->
				<select name="anoFM" class="input">
					<option value="" <% if (!dataEntry.anoFM) { %>selected<% } %>>Año</option>
					<% for (let anoFM = anoHoy; anoFM < (anoHoy + 2); anoFM++) { %>
						<option value="<%= anoFM %>" <% if (dataEntry.anoFM == anoFM) { %>selected<% } %>><%= anoFM %></option>
					<% } %>
				</select>
				<nav id="logos" class="flexRow spaceBetween">
					<a id="wiki" href="" target="blank" class="links" tabindex="-1">
						<img src="/publico/imagenes/Logos/BD-Wiki.jpg" title="Consultar en Wikipedia">
					</a>
					<a id="google" href="" target="blank" class="links" tabindex="-1">
						<img src="/publico/imagenes/Logos/BD-Google.jpg" title="Consultar en Google">
					</a>
				</nav>
			</div>
			<p class="caracteres ocultar"><span><%- dataEntry.comentarioMovil ? 70 - dataEntry.comentarioMovil.length : 70 %></span>/70</p>
			<textarea name="comentarioMovil" class="input margenDebajo ocultar" placeholder="Comentario sobre la fecha móvil"><%= dataEntry.comentarioMovil %></textarea>
			<% if (epocasDelAno) { %>
				<div id="diasDeDuracion" class="flexRow spaceBetween altoFila">
					<div class="flexRowAlign margenDebajo">
						<label for="inputDias">Días de duración</label>
						<input name="diasDeDuracion" id="inputDias" type="number" class="input" value="<%- dataEntry.diasDeDuracion ? dataEntry.diasDeDuracion : 2 %>">
					</div>
					<p class="caracteres"><span><%- dataEntry.comentarioDuracion ? 70 - dataEntry.comentarioDuracion.length : 70 %></span>/70</p>
				</div>
				<textarea name="comentarioDuracion" class="input margenDebajo" placeholder="Comentario sobre los días de duración"><%= dataEntry.comentarioDuracion %></textarea>
			<% } %>
		</div>
	</div>
	<!--Segunda columna-->
	<div id="segundaCol">
		<% if (epocasDelAno) { %>
			<!-- Días del año -->
			<div id="sectorDiasDelAno">
				<!-- Título, Ayuda y Error/OK -->
				<div class="flexRow">
					<div class="margenDebajo inputError" style="z-index: 3;">
						<!-- Título -->
						<h3>Calendario</h3>
						<!-- Ayuda -->
						<div class="ayuda">
							<i class="fa-solid fa-circle-question ayudaClick desplClick">
								<ul type="none" class="ayudaMostrar ocultar desplMostrar">
									<li>.</li>
								</ul>
							</i>
						</div>
					</div>
				</div>
				<div id="calendario" class="relative">
					<table class="absolute">
						<tbody>
							<% for (let fechaDelAno of fechasDelAno) { %>
								<% if (fechaDelAno.id > 366) {break} %>
								<tr>
									<td style="width: 50px;"><%= fechaDelAno.nombre %></td>
									<td><%= fechaDelAno.epocaDelAno.nombre %></td>
								</tr>
							<% } %>
						</tbody>
					</table>
				</div>
			</div>
			<% if (codigo != "rclv/solapamiento") { %>
				<!-- Carpeta de imagenes -->
				<div class="borderTop"></div>
				<div id="sectorCarpetaAvatars" class="flexRowAlign inputError spaceBetween">
					<h3>Carpeta de Imágenes</h3>
					<select name="carpetaAvatars" class="input margenIzq">
						<option value="">Elegí una</option>
						<% for (let carpeta of carpsImagsEpocaDelAno) { %>
							<option value="<%= carpeta %>" <% if (dataEntry.carpetaAvatars == carpeta) { %>selected<% } %>><%= carpeta %></option>
						<% } %>
					</select>
					<!-- Ayuda -->
					<div class="ayuda">
						<i class="fa-solid fa-circle-question ayudaClick desplClick">
							<ul type="dots" class="ayudaMostrar ocultar desplMostrar">
								<li>Es la carpeta en la que se guardan las imagenes.</li>
							</ul>
						</i>
					</div>
					<%- include("CMP-Errores", {nombre: "carpetaAvatars", ocultarOK: true}) %>
				</div>
			<% } %>
		<% } else { %>
			<!-- Repetidos -->
			<div id="sectorRepetidos">
				<!-- Título, Ayuda y Error/OK -->
				<div class="flexRow">
					<div class="margenDebajo inputError" style="z-index: 3;">
						<!-- Título -->
						<h3>Nombres con esa fecha</h3>
						<!-- Ayuda -->
						<div class="ayuda">
							<i class="fa-solid fa-circle-question ayudaClick desplClick">
								<ul type="none" class="ayudaMostrar ocultar desplMostrar">
									<li>Destildalos si no coinciden con el tuyo.</li>
								</ul>
							</i>
						</div>
						<%- include("CMP-Errores", {nombre: "repetidos", ocultarOK: true}) %>
					</div>
				</div>
				<!-- Valores -->
				<ul type="none" id="posiblesRepetidos"></ul>
			</div>
			<% if (personajes) { %>
				<!-- Sexo -->
				<div id="sectorSexo" class="flexRowAlign altoFila inputError">
					<h3>Sexo</h3>
					<% for (let sexo of sexos) { %>
						<div class="flexRowAlign opciones relative">
							<input type="radio" name="sexo_id" value="<%= sexo.id %>" id="<%= sexo.id %>" <% if (dataEntry.sexo_id==sexo.id) { %>checked<% } %>>
							<label for="<%= sexo.id %>"><%= sexo.nombre %></label>
						</div>
					<% } %>
					<!-- Ayuda -->
					<div class="ayuda">
						<i class="fa-solid fa-circle-question ayudaClick desplClick">
							<ul type="none" class="ayudaMostrar ocultar desplMostrar">
								<li>Se usa 'mixto' si te referís a un grupo con varones y mujeres.</li>
							</ul>
						</i>
					</div>
					<%- include("CMP-Errores", {nombre:"sexo_id", ocultarOK: true}) %>
				</div>
			<% } %>
		<% } %>
		<% if (codigo != "rclv/solapamiento") { %>
			<!-- Prioridad -->
			<% if (tema == "revisionEnts" || (usuario.rolUsuario.revisorPERL && dataEntry.statusRegistro_id == aprobado_id)) { %>
				<div id="sectorPrioridad" class="flexRowAlign inputError spaceBetween margenDebajo">
					<h3>Prioridad</h3>
					<select name="prioridad_id" class="input margenIzq">
						<option value="">Elegí una</option>
						<% for (let prioridad of prioridades) { %>
							<option value="<%= prioridad.id %>" <% if (prioridad.id==dataEntry.prioridad_id) { %>selected<% } %>><%= prioridad.nombre %></option>
						<% } %>
					</select>
					<!-- Ayuda -->
					<div class="ayuda">
						<i class="fa-solid fa-circle-question ayudaClick desplClick">
							<ul type="dots" class="ayudaMostrar ocultar desplMostrar">
								<% if (personajes) { %>
									<li>Estándar</li>
									<li class="ocultar">Mayor importancia: Sagrada Familia, San José, María, Jesús</li>
								<% } else if (hechos) { %>
									<li>VPC: Menor Importancia</li>
									<li>CFC: Estándar</li>
									<li>Mayor importancia: algunos como Navidad, Bautismo de nuestro Señor, cada día de Semana Santa, Ascensión del Señor, Pentecostés</li>
								<% } else if (temas) { %>
									<li>Menor Importancia</li>
								<% } else if (eventos) { %>
									<li>VPC: Menor Importancia</li>
									<li>CFC: Mayor importancia</li>
								<% } else if (epocasDelAno) { %>
									<li>Menor Importancia</li>
									<li>Mayor importancia: algunas cortas como Semana Santa y Adviento</li>
								<% } %>
							</ul>
						</i>
					</div>
					<%- include("CMP-Errores", {nombre: "prioridad_id", ocultarOK: true}) %>
				</div>
			<% } %>
		<% } %>
	</div>
</section>
<% if (personajes || hechos) { %>
	<!-- Época respecto a Jesús -->
	<section id="sectorEpoca" class="borderTop OK">
		<!-- Título, Ayuda y Error/OK -->
		<div class="inputError flexRow margenDebajo">
			<!-- Título -->
			<h3>Época en la que <%- personajes ? 'vivió' : 'ocurrió' %> respecto a Jesús</h3>
			<!-- Ayuda -->
			<% if (hechos) { %>
				<div class="ayuda" style="z-index: 3;">
					<i class="fa-solid fa-circle-question ayudaClick desplClick">
						<ul type="dots" class="ayudaMostrar ocultar desplMostrar">
							<li>Si transcurre durante varias épocas, desdoblá el hecho en varios, cada uno con su correspondiente época.</li>
						</ul>
					</i>
				</div>
			<% } %>
			<%- include("CMP-Errores", {nombre: "epocaOcurrencia", ocultarOK: true}) %>
		</div>
		<!-- Valores -->
		<div class="flexRowAlign grow spaceBetween">
			<!-- Épocas -->
			<% epocasOcurrencia.forEach((epocaOcurrencia, indice) => { %>
				<% if (indice + 1 == epocasOcurrencia.length) return %>
				<% let z_index = "z-index:" + (1 + epocasOcurrencia.length - indice) %>
				<div class="flexRowAlign opciones" style=<%= z_index %>>
					<input type="radio" name="epocaOcurrencia_id" value="<%= epocaOcurrencia.id %>" id="<%= epocaOcurrencia.id %>" <% if (dataEntry.epocaOcurrencia_id==epocaOcurrencia.id) { %>checked<% } %> class="input<%= epocaOcurrencia.id!="pst"?" noPST":"" %>">
					<label for="<%= epocaOcurrencia.id %>"><%= epocaOcurrencia.nombre %></label>
					<!-- Ayuda -->
					<% if (epocaOcurrencia["ayuda_" + ent]) { %>
						<div class="ayuda">
							<i class="fa-solid fa-circle-question ayudaClick desplClick">
								<ul type="none" class="ayudaMostrar ocultar desplMostrar">
									<li><%= epocaOcurrencia["ayuda_" + ent] %>.</li>
								</ul>
							</i>
						</div>
					<% } %>
				</div>
			<% }) %>
			<!-- Año de Nacimiento/Comienzo -->
			<div class="flexRowAlign inputError invisible">
				<% let ano = personajes ? "anoNacim" : "anoComienzo" %>
				<label for="<%= ano %>">Año de <%= personajes ? "Nacim." : "Comienzo" %></label>
				<input id="<%= ano %>" type="text" name="<%= ano %>" class="input angosto" value="<%= dataEntry[ano] %>" autocomplete="off">
				<!-- Ayuda -->
				<div class="ayuda">
					<i class="fa-solid fa-circle-question ayudaClick desplClick">
						<ul type="dots" class="ayudaMostrar ocultar desplMostrar">
							<li>Se refiere al año en que <%= personajes ? "nació" : "ocurrió, o comenzó a ocurrir" %>.</li>
							<li>Si no lo encontrás, poné un valor estimado.</li>
							<% if (hechos) { %><li>Asumimos que los Apóstoles vivieron entre los años 1 y 100</li><% } %>
						</ul>
					</i>
				</div>
			</div>
		</div>
	</section>
	<!-- Relación con la Iglesia Católica -->
	<section id="sectorRCLIC" class="borderTop OK">
		<!-- Título, Ayuda y Error/OK -->
		<div class="inputError" style="z-index: 4;">
			<!-- Título -->
			<h3>Relación con la Iglesia Católica</h3>
			<%- include("CMP-Errores", {nombre: "RCLIC", ocultarOK: true}) %>
		</div>
		<% if (personajes) { %>
			<div class="personajes">
				<!-- ¿El personaje es conocido por su relación con la Iglesia Católica? -->
				<div id="categoria_id" class="flexRowAlign altoFila">
					<div class="pregunta">¿El personaje es conocido por su relación con la Iglesia Católica?</div>
					<div class="flexRowAlign radioBtn">
						<div class="flexRowAlign opciones">
							<input type="radio" name="categoria_id" value="CFC" id="CFC" <% if (dataEntry.categoria_id=="CFC") { %>checked<% } %> class="input">
							<label for="CFC">SI</label>
						</div>
						<div class="flexRowAlign opciones">
							<input type="radio" name="categoria_id" value="VPC" id="VPC" <% if (dataEntry.categoria_id=="VPC") { %>checked<% } %> class="input">
							<label for="VPC">NO</label>
						</div>
					</div>
				</div>
				<!-- Preguntas RCLIC -->
				<div id="preguntasRCLIC" class="flexRowAlign altoFila grow spaceBetween invisible">
					<!-- Rol en la Iglesia -->
					<div class="flexRowAlign altoFila segunSexo_id invisible">
						<select name="rolIglesia_id" class="input">
							<option value="" <% if (!dataEntry.rolIglesia_id) { %>selected<% } %>>Rol en la Iglesia</option>
							<% for (let rolIglesia of rolesIgl) { %>
								<option
									value="<%= rolIglesia.id %>"
									<% if (dataEntry.rolIglesia_id == rolIglesia.id) { %>selected<% } %>
								>
									<%= rolIglesia.nombre %>
								</option>
							<% } %>
						</select>
					</div>
					<!-- Proceso de Canonización -->
					<div class="flexRowAlign altoFila segunSexo_id invisible">
						<select name="canon_id" class="input">
							<option value="" <% if (!dataEntry.canon_id) { %>selected<% } %>>Proceso de Canonización</option>
							<% for (let canon of canons) { %>
								<option value="<%= canon.id %>" <% if (dataEntry.canon_id == canon.id) { %>selected<% } %>>
									<%= canon.nombre %>
								</option>
							<% } %>
							<option value="null" <% if (dataEntry.canon_id===null) { %>selected<% } %>>Sin proceso de canonizac.</option>
						</select>
					</div>
					<!-- Aparición Mariana -->
					<div id="sectorApMar" class="flexRowAlign altoFila invisible">
						<select name="apMar_id" class="input">
							<option value="" <% if (!dataEntry.apMar_id) { %>selected<% } %>>Aparición Mariana</option>
							<% for (let apMar of apMars) { %>
								<option value="<%= apMar.id %>" <% if (dataEntry.apMar_id == apMar.id) { %>selected<% } %>>
									<%= apMar.nombre %>
								</option>
							<% } %>
						</select>
					</div>
				</div>
			</div>
		<% } else if (hechos) { %>
			<div class="hechos">
				<!-- ¿Es un hecho específico de la historia de la Iglesia Católica? -->
				<div id="soloCFC" class="flexRowAlign">
					<div class="flexRowAlign radioBtn">
						<div class="flexRowAlign opciones">
							<input type="radio" name="soloCfc" value="1" id="SI" <% if (dataEntry.soloCfc=="1") { %>checked<% } %> class="input">
							<label for="SI">SI</label>
						</div>
						<div class="flexRowAlign opciones">
							<input type="radio" name="soloCfc" value="0" id="soloCfc_NO" <% if (dataEntry.soloCfc=="0") { %>checked<% } %> class="input">
							<label for="soloCfc_NO">NO</label>
						</div>
					</div>
					<div class="pregunta">¿Es un hecho específico de la historia de la Iglesia Católica?</div>
				</div>
				<div id="preguntasRCLIC" class="invisible">
					<!-- ¿Es una aparición mariana -->
					<div id="sectorApMar" class="flexRowAlign invisible">
						<div class="flexRowAlign radioBtn">
							<div class="flexRowAlign opciones">
								<input type="radio" name="ama" value="1" id="ama_SI" <% if (dataEntry.ama=="1") { %>checked<% } %> class="input">
								<label for="ama_SI">SI</label>
							</div>
							<div class="flexRowAlign opciones">
								<input type="radio" name="ama" value="0" id="ama_NO" <% if (dataEntry.ama=="0") { %>checked<% } %> class="input">
								<label for="ama_NO">NO</label>
							</div>
						</div>
						<div class="pregunta">¿Es una aparición mariana?</div>
					</div>
				</div>
			</div>
		<% } %>
	</section>
<% } %>
<!-- Iconos y Botón -->
<div id="sectorIconos">
	<%- include("Iconos-1Estandar") %>
	<%- include("Iconos-3CambioStatus") %>
</div>
