<label for="imagen" id="imagenProducto"><img alt="<%= producto.nombre_castellano %>" src="<%= avatar %>" title="<%= producto.nombre_castellano %>"></label>
<section id="cuerpo-y-footer" class="flex-col grow">
	<%- include('Footer') %>
	<!--**************************** CUERPO ************************-->
	<div id="cuerpo">
		<%- codigo == "detalle" ?	include('1-Detalle') : "" %>
	</div>
	<!--****************************** FIN *************************-->
</section>
