<!DOCTYPE html>
<html lang="es">
<head>
	<%- include('Head') %>
	<%- include('0-RUD-Head') %>
</head>
<body>
	<%- include('Header') %>
	<main class="flex-row">
		<%- codigo != "edicion" ? include('0-RUD-Cuerpo') : "" %>
		<%- codigo == "edicion" ? include('2-EdicionCuerpo') : "" %>
	</main>
</body>
</html>