<section id="imagen">
	<label for="imagen" id="imagenProducto">
		<img alt="<%= producto.nombre_castellano %>" src="<%= avatar %>" title="<%= producto.nombre_castellano %>">
	</label>
</section>
<section id="cuerpo-y-footer" class="flex-col grow">
	<%- include('23-Footer') %>
	<!--**************************** CUERPO ************************-->
	<div id="cuerpo">
		<%- codigo == "detalle" ? include('1-Detalle') : "" %>
		<%- codigo == "links"   ? include('3-Links') : "" %>
	</div>
	<!--****************************** FIN *************************-->
</section>
