<!DOCTYPE html>
<html lang="es">
<head>
	<%- include('0-Head', {titulo: "Detalle del Producto"}) %>
	<!-- Detalle de producto -->
	<% if (codigo == "detalle") { %>
		<link rel="stylesheet" href="/formatoDeVistas/3-Prod-RUD/0-RUD.css">
		<link rel="stylesheet" href="/formatoDeVistas/3-Prod-RUD/1-Detalles.css">
		<script src="/FE-javascript/3-Prod-RUD/MenuEditar.js"></script>
		<script src="https://www.gstatic.com/charts/loader.js"></script>
		
	<% } %>
</head>
<body>
	<%- include('1-Header') %>
	<main class="flex-row">
		<section id="imagenProducto">
			<img alt="<%= producto.nombre_castellano %>" src="<%= avatar %>" title="<%= producto.nombre_castellano %>">
		</section>
		<section id="cuerpo-y-footer" class="flex-col grow">
			<%- include('3-Footer') %>
			<!--**************************** CUERPO ************************-->
			<section id="cuerpo">
				<%- codigo == "detalle" ?	include('1-Detalle') : "" %>
			</section>
			<!--****************************** FIN *************************-->
		</section>
	</main>
</body>
</html>