<h1 id="titulo"><%= titulo %></h1>
<div id="datos">
	<section id="datosLargos">
		<div id="contenido">
			<!-- Tipo de Producto, Temporada, Capítulo, Colección -->
			<%- include("0-RUD-Encabezado") %>
			<!-- Sinopsis -->
			<div id="sinopsis">
				<nav><%= Producto.sinopsis %></nav>
				<!-- Ayuda -->
				<i class="fa-solid fa-circle-question"></i>
				<ul type="none" class="mensajeAyuda ocultar">
					<li>Podés deslizar el contenido con la ruedita del mouse</li>
				</ul>
			</div>
			<!-- País, Idioma, Castellano, Color -->
			<div class="datosAdicionales">
				<strong>País<%= paises.includes(",") ? "es" : "" %> de origen</strong>: <%= paises ? paises : "Sin datos" %>. 
				<strong>Idioma original</strong>: <%= Producto.idioma_original.nombre ? Producto.idioma_original.nombre : "Sin datos" %>. 
				<strong>En castellano:</strong> <%= Producto.en_castellano.productos ? Producto.en_castellano.productos : "Sin datos" %>. 
				<strong>Es a color:</strong> <%= Producto.en_color.productos ? Producto.en_color.productos : "Sin datos" %>. 
			</div>
			<!-- Dirección, Guión, Música, Producción -->
			<div class="datosAdicionales">
				<strong>Dirección:</strong> <%= Producto.direccion ? Producto.direccion : "Sin datos" %>. 
				<strong>Guión:</strong> <%= Producto.guion ? Producto.guion : "Sin datos" %>. 
				<strong>Música:</strong> <%= Producto.musica ? Producto.musica : "Sin datos" %>. 
				<strong>Producción:</strong> <%= Producto.produccion ? Producto.produccion : "Sin datos" %>. 
			</div>
			<!-- Actuación -->
			<div class="datosAdicionales">
				<strong>Actuación:</strong> <%= Producto.actuacion ? Producto.actuacion : "Sin datos" %>. 
			</div>	
		</div>
		<!-- Comandos -->
		<div id="comandos">
			<i class="fa-solid fa-t" tabindex="-1" title="Ver el Trailer"></i>
			<% if (entidad != "colecciones") { %>
				<i class="fa-solid fa-p" tabindex="-1" title="Ver <%- entidad == "capitulos" ? "el" : "la" %> <%= producto %>"></i>
			<% } %>
			<i class="fa-solid fa-user-graduate" tabindex="-1" title="Califica<%= (entidad=="capitulos" ? "lo" : "la") %>"></i>
			<i class="fa-solid fa-heart" tabindex="-1" title="Mi interés en <%= (entidad=="capitulos" ? "el capítulo" : "la " + (entidad=="peliculas" ? "película" : "colección")) %>"></i>
			<i class="fa-solid fa-book-open" tabindex="-1" title="Hacer o ver comentarios"></i>
		</div>
		<!-- Botones -->
		<%- include("0-RUD-Flechas") %> 
	</section>
	<section id="datosBreves">
		<div>
			<p><strong><u style="font-size: 1.1rem;">Calificaciones</u></strong></p>
			<p>General: <span>77%</span> / Tuya: <span>78%</span></p>
		</div>
		<div id="graficoCalificacion"></div>
		<div id="texto">
			<p><strong>Público Sugerido:</strong> <%= Producto.publico_sugerido.nombre %></p>
			<p><strong>Categoría:</strong> <%= Producto.categoria.nombre %></p>
			<p><strong>Sub-categoría:</strong> <%= Producto.subcategoria.nombre %></dd>
			<% if (Producto.personaje_id) { %>
				<dt>Personaje Histórico:</dt>
				<dd><%= Producto.personaje.nombre %> </dd>
			<% } %>
			<% if (Producto.hecho_id) { %>
				<dt>Hecho Histórico:</dt>
				<dd><%= Producto.hecho.nombre %> </dd>
			<% } %>
			<p><strong>Año de estreno:</strong> <%= Producto.ano_estreno %></p>
			<% if (entidad != "colecciones") { %><p><strong>Duracion:</strong> <%= Producto.duracion %> min.</p><% } %>
			<% if (Producto.status_Producto_id != 2) { %>
				<dt>Status del Registro:</dt>
				<dd><%= Producto.status_registro.productos %></dd>
			<% } %>
		</div>
	</section>
</div>
<script>
	google.charts.load('current', {packages: ['corechart', 'bar']});
	google.charts.setOnLoadCallback(drawBarColors);

	function drawBarColors() {
		// https://developers.google.com/chart/interactive/docs/gallery/barchart
		var data = google.visualization.arrayToDataTable([
			['Aptitud', 'Gral.', 'Tuya'],
			['IFV', .81, .80],
			['En.', .37, .36],
			['CSV', .26, .28],
		]);

		var options = {
			fontSize: 10,
			animation: {
				duration: 500,
				easing: 'out',
				startup: true,
			},
			numberStyle: 'percent',
			chartArea: {
				top: '10%'
			},
			colors: ['green', 'lightgreen'],
			legend: {
				position: 'bottom',
				alignment: 'start',
				textStyle: {italic: true,}
			},
			hAxis: {
				minValue: 0,
				maxValue: 1,
				ticks: [0, .5, 1],
				format: 'percent',
				gridlines: {count: 3},
				textStyle: {fontSize:10}
			},
		};
		var chart = new google.visualization.BarChart(document.getElementById('graficoCalificacion'));
		chart.draw(data, options);
	}
</script>