<h1 id="titulo"><%= titulo %></h1>
<div id="datos">
	<section id="datosLargos">
		<div id="contenido">
			<!-- Tipo de Producto, Temporada, Capítulo, Colección -->
			<div>
				<h1><%= registro.nombre_castellano %> <em><% if (registro.nombre_original) { %>(<%= registro.nombre_original %>)<% } %></em></h1>
				<!-- Cantidad de Temporadas y de Capítulos -->
				<% if (entidad == "colecciones") { %>
					<p><strong>Cantidad de Temporadas:</strong> <%= registro.cant_temporadas ? registro.cant_temporadas : "Sin temporada" %></p>
					<p><strong>Cantidad de Capítulos:</strong> <%= registro.cant_capitulos %></p>
					<% } %>
				<!-- Colección a la que pertenece -->
				<% if (entidad == "capitulos") { %>
					<p><strong>De la colección:</strong> <a href="/producto/detalle/?entidad=colecciones&id=<%= registro.coleccion_id %>"><%= registro.coleccion.nombre_castellano %></a></p>
					<p><strong>N° de Temporada y de Capítulo:</strong> <%= registro.temporada ? "Temp. " + registro.temporada : "Sin temporadas" %>, <%= "Capítulo " + registro.capitulo %></p>
				<% } %>
			</div>
			<!-- Sinopsis -->
			<div id="sinopsis">
				<nav><%= registro.sinopsis %></nav>
				<!-- Ayuda -->
				<i class="fas fa-question-circle"></i>
				<ul type="none" class="mensajeAyuda ocultar">
					<li>Podés deslizar el contenido con la ruedita del mouse</li>
				</ul>
			</div>
			<!-- País, Idioma, Castellano, Color -->
			<div class="datosAdicionales">
				<strong>País<%= paises.includes(",") ? "es" : "" %> de origen</strong>: <%= paises %>. 
				<strong>Idioma original</strong>: <%= registro.idioma_original.nombre %>. 
				<strong>En castellano:</strong> <%= registro.en_castellano.nombre %>. 
				<strong>Es a color:</strong> <%= registro.en_color.nombre %>. 
			</div>
			<!-- Dirección, Guión, Música, Producción -->
			<div class="datosAdicionales">
				<strong>Dirección:</strong> <%= registro.direccion %>. 
				<strong>Guión:</strong> <%= registro.guion %>. 
				<strong>Música:</strong> <%= registro.musica %>. 
				<strong>Producción:</strong> <%= registro.produccion %>. 
			</div>
			<!-- Actuación -->
			<div class="datosAdicionales">
				<strong>Actuación:</strong> <%= registro.actuacion %>. 
			</div>	
			<!-- Capítulos de Colección -->
		</div>
		<!-- Comandos -->
		<div id="comandos">
			<% if (entidad != "colecciones") { %>
				<i class="fa-solid fa-t" tabindex="-1" title="Ver el Trailer"></i>
				<i class="fa-solid fa-film" tabindex="-1" title="Ver <%- entidad == "capitulos" ? "el" : "la" %> <%= producto %>"></i>
			<% } else { %>
				<i class="fa-solid fa-layer-group" tabindex="-1" title="Ver el Detalle de un Capítulo"></i>
			<% } %>
			<i class="fa-solid fa-user-graduate" tabindex="-1" title="Califica<%= (entidad=="capitulos" ? "lo" : "la") %>"></i>
			<i class="fa-solid fa-heart" tabindex="-1" title="Mi interés en <%= (entidad=="capitulos" ? "el capítulo" : "la " + (entidad=="peliculas" ? "película" : "colección")) %>"></i>
			<i class="fa-solid fa-book-open" tabindex="-1" title="Hacer o ver comentarios"></i>
		</div>		
		<!-- Botones -->
		<div id="flechas">
			<i class="fa-solid fa-pen" tabindex="-1" title="Ir a la vista 'Edición'"></i>
			<i class="fa-solid fa-circle-info" tabindex="-1" title="Ir a la vista 'Detalle'" style="display: none;"></i>
			<i class="fa-solid fa-globe" tabindex="-1" title="Ir a la vista 'Links'"></i>
		</div>
	</section>
	<section id="datosBreves">
		<div>
			<p><strong><u style="font-size: 1.1rem;">Calificaciones</u></strong></p>
			<p>General: <span>77%</span> / Tuya: <span>78%</span></p>
		</div>
		<div id="graficoCalificacion"></div>
		<div id="texto">
			<p><strong>Público Sugerido:</strong> <%= registro.publico_sugerido.nombre %></p>
			<p><strong>Categoría:</strong> <%= registro.categoria.nombre %></p>
			<p><strong>Sub-categoría:</strong> <%= registro.subcategoria.nombre %></dd>
			<% if (registro.personaje_historico_id) { %>
				<dt>Personaje Histórico:</dt>
				<dd><%= registro.personaje_historico.nombre %> </dd>
			<% } %>
			<% if (registro.hecho_historico_id) { %>
				<dt>Hecho Histórico:</dt>
				<dd><%= registro.hecho_historico.nombre %> </dd>
			<% } %>
			<p><strong>Año de estreno:</strong> <%= registro.ano_estreno %></p>
			<% if (entidad != "colecciones") { %><p><strong>Duracion:</strong> <%= registro.duracion %> min.</p><% } %>
			<% if (registro.status_registro_id != 2) { %>
				<dt>Status de Aprobación:</dt>
				<dd><%= registro.status_registro.nombre %></dd>
			<% } %>
		</div>
	</section>
</div>
<script>
	google.charts.load('current', {packages: ['corechart', 'bar']});
	google.charts.setOnLoadCallback(drawBarColors);

	function drawBarColors() {
		// https://developers.google.com/chart/interactive/docs/gallery/barchart
		var data = google.visualization.arrayToDataTable([
			['Aptitud', 'Gral.', 'Tuya'],
			['IFV', .81, .80],
			['En.', .37, .36],
			['CSV', .26, .28],
		]);

		var options = {
			fontSize: 10,
			animation: {
				duration: 500,
				easing: 'out',
				startup: true,
			},
			numberStyle: 'percent',
			chartArea: {
				top: '10%'
			},
			colors: ['green', 'lightgreen'],
			legend: {
				position: 'bottom',
				alignment: 'start',
				textStyle: {italic: true,}
			},
			hAxis: {
				minValue: 0,
				maxValue: 1,
				ticks: [0, .5, 1],
				format: 'percent',
				gridlines: {count: 3},
				textStyle: {fontSize:10}
			},
		};
		var chart = new google.visualization.BarChart(document.getElementById('graficoCalificacion'));
		chart.draw(data, options);
	}
</script>