<div class="flex-row" id="datos">
	<section id="datosLargos">
		<div id="contenido">
			<!-- 1. Tipo de Producto, Temporada, Capítulo, Colección -->
			<div>
				<h1><%= producto.nombre_castellano %> <em><% if (producto.nombre_original) { %>(<%= producto.nombre_original %>)<% } %></em></h1>
				<!-- Tipo de Producto -->
				<h3 id="titulo">Detalle <%- entidad == "capitulos" ? "del" : "de la" %> <%= titulo %></h3>
				<!-- Cantidad de Temporadas y de Capítulos -->
				<% if (entidad == "colecciones") { %>
					<p><strong>Cantidad de Temporadas:</strong> <%= producto.cant_temporadas ? producto.cant_temporadas : "Sin temporada" %></p>
					<p><strong>Cantidad de Capítulos:</strong> <%= producto.cant_capitulos %></p>
					<% } %>
				<!-- Colección a la que pertenece -->
				<% if (entidad == "capitulos") { %>
					<p><strong>De la colección:</strong> <a href="/producto/detalle/?entidad=colecciones&id=<%= producto.coleccion_id %>"><%= producto.coleccion.nombre_castellano %></a></p>
					<p><strong>N° de Temporada y de Capítulo:</strong> <%= producto.temporada ? "Temp. " + producto.temporada : "Sin temporadas" %>, <%= "Capítulo " + producto.capitulo %></p>
				<% } %>
			</div>
			<!-- 2. Sinopsis -->
			<div id="sinopsis"><%= producto.sinopsis %></div>
			<!-- País, Idioma, Castellano, Color -->
			<div class="datosAdicionales">
				<strong>País<%= paises.includes(",") ? "es" : "" %> de origen</strong>: <%= paises %>. 
				<strong>Idioma original</strong>: <%= producto.idioma_original.nombre %>. 
				<strong>En castellano:</strong> <%= producto.en_castellano.nombre %>. 
				<strong>Es a color:</strong> <%= producto.en_color.nombre %>. 
			</div>
			<!-- Dirección, Guión, Música, Producción -->
			<div class="datosAdicionales">
				<strong>Dirección:</strong> <%= producto.direccion %>. 
				<strong>Guión:</strong> <%= producto.guion %>. 
				<strong>Música:</strong> <%= producto.musica %>. 
				<strong>Producción:</strong> <%= producto.produccion %>. 
			</div>
			<!-- Actuación -->
			<div class="datosAdicionales">
				<strong>Actuación:</strong> <%= producto.actuacion %>. 
			</div>	
			<!-- 4. Capítulos de Colección -->
		</div>
		<!-- 5. Botones -->
		<div id="botones">
			<button>Ver un Trailer</button>
			<% if (entidad != "colecciones") { %>
				<button>Ver <%- entidad == "capitulos" ? "el" : "la" %> <%= titulo %></button>
			<% } else { %>
				<button>Temporadas</button>
			<% } %>
			<button>Califica<%= (entidad=="capitulos" ? "lo" : "la") %></button>
			<button>
				Mi interés en
				<br>
				<%= (entidad=="capitulos" ? "el capítulo" : "la " + (entidad=="peliculas" ? "película" : "colección")) %>
			</button>
			<button>Comentarios</button>
		</div>
	</section>
	<section id="datosBreves">
		<div>
			<p><strong><u style="font-size: 1.1rem;">Calificaciones</u></strong></p>
			<p>General: <span>77%</span> / Tuya: <span>78%</span></p>
		</div>
		<div id="graficoCalificacion"></div>
		<div id="texto">
			<p><strong>Público Sugerido:</strong> <%= producto.publico_sugerido.nombre %></p>
			<p><strong>Categoría:</strong> <%= producto.categoria.nombre %></p>
			<p><strong>Sub-categoría:</strong> <%= producto.subcategoria.nombre %></dd>
			<% if (producto.personaje_historico_id) { %>
				<dt>Personaje Histórico:</dt>
				<dd><%= producto.personaje_historico.nombre %> </dd>
			<% } %>
			<% if (producto.hecho_historico_id) { %>
				<dt>Hecho Histórico:</dt>
				<dd><%= producto.hecho_historico.nombre %> </dd>
			<% } %>
			<p><strong>Año de estreno:</strong> <%= producto.ano_estreno %></p>
			<% if (entidad != "colecciones") { %><p><strong>Duracion:</strong> <%= producto.duracion %> min.</p><% } %>
			<% if (producto.status_registro_id != 2) { %>
				<dt>Status de Aprobación:</dt>
				<dd><%= producto.status_registro.nombre %></dd>
			<% } %>
		</div>
	</section>
</div>
<script>
	google.charts.load('current', {packages: ['corechart', 'bar']});
	google.charts.setOnLoadCallback(drawBarColors);

	function drawBarColors() {
		// https://developers.google.com/chart/interactive/docs/gallery/barchart
		var data = google.visualization.arrayToDataTable([
			['Aptitud', 'Gral.', 'Tuya'],
			['IFV', .81, .80],
			['En.', .37, .36],
			['CSV', .26, .28],
		]);

		var options = {
			fontSize: 10,
			animation: {
				duration: 500,
				easing: 'out',
				startup: true,
			},
			numberStyle: 'percent',
			chartArea: {
				top: '10%'
			},
			colors: ['green', 'lightgreen'],
			legend: {
				position: 'bottom',
				alignment: 'start',
				textStyle: {italic: true,}
			},
			hAxis: {
				minValue: 0,
				maxValue: 1,
				ticks: [0, .5, 1],
				format: 'percent',
				gridlines: {count: 3},
				textStyle: {fontSize:10}
			},
		};
		var chart = new google.visualization.BarChart(document.getElementById('graficoCalificacion'));
		chart.draw(data, options);
	}
</script>