<form action="/producto/detalle" method="post">
	<label for="imagen" id="imagenProducto"><img alt="<%= producto.nombre_castellano %>" src="<%= avatar %>" title="<%= producto.nombre_castellano %>"></label>
	<section id="cuerpo-y-footer" class="flex-col grow">
		<%- include('3-Footer') %>
		<!--**************************** CUERPO ************************-->
		<section id="cuerpo">
			<%- include('2-EdicionForm') : "" %>
		</section>
		<!--****************************** FIN *************************-->
	</section>
</form>
