<form action="<%= vista %>" method="POST" >
	<%- include('CartelAdvertencia') %>
	<section id="imagen" class="input-error">
		<label for="avatar" id="imagenProducto">
			<img alt="<%= producto.nombre_castellano %>" src="<%= avatar %>" title="<%= producto.nombre_castellano %>">
		</label>
		<input name="avatar" id="avatar" type="file" accept="image/*" class="input ocultar">
		<!-- Ayuda -->
		<i class="fa-solid fa-circle-question"></i>
		<ul type="dots" class="mensajeAyuda ocultar">
			<li>Haciendo <em>click</em> en la imagen podés reemplazarla por otra.</li>
			<li>La extensión de la imagen debe ser <em><strong>JPG</strong></em> o <em><strong>PNG</strong></em></li>
		</ul>		
		<!-- Errores -->
		<i class="fa-solid fa-circle-xmark <%- !errores.avatar ? 'ocultar' : '' %>">
			<span class="mensajeError"><%= errores.avatar %></span>
		</i>
		<i class="fa-solid fa-circle-check ocultar"></i>
	</section>
	<section id="cuerpo-y-footer" class="flex-col grow">
		<%- include('Footer') %>
		<!--**************************** CUERPO ************************-->
		<div id="cuerpo">
			<p class="ocultar" id="existeEdicion"><%= existeEdicion %></p>
			<p class="ocultar" id="status_creada"><%= registro.status_registro.creado %></p>
			<button type="text" id="contador" class="ocultar" tabindex="-1"><%= tiempo %> min.</button>
			<h1 id="titulo"><%= titulo %></h1>
			<%- include('2-EdicionForm') %>
		</div>
		<!--****************************** FIN *************************-->
	</section>
</form>
