<form action="<%= vista %>guardar" method="POST" enctype="multipart/form-data">
	<section id="imagen" class="input-error">
		<label for="inputImagen" id="imagenProducto">
			<img src="<%= avatar %>" class="pointer">
		</label>
		<input name="avatar" type="file" id="inputImagen" accept="image/*" class="input ocultar">
		<label id="imagenProducto2" class="ocultar">
			<img src="<%= avatar %>" class="ocultar">
		</label>
		<!-- Ayuda -->
		<i class="fa-solid fa-circle-question"></i>
		<ul type="dots" class="mensajeAyuda ocultar">
			<li>Haciendo <em>click</em> en la imagen podés reemplazarla por otra.</li>
			<li>La extensión de la imagen debe ser <em><strong>JPG</strong></em> o <em><strong>PNG</strong></em></li>
		</ul>		
		<!-- Errores -->
		<i class="fa-solid fa-circle-xmark <%- !errores.avatar ? 'ocultar' : '' %>">
			<span class="mensajeError"><%= errores.avatar %></span>
		</i>
		<i class="fa-solid fa-circle-check ocultar"></i>
		<!-- Aviso de cambio en el data-entry -->
		<i class="fa-solid fa-arrow-right-long ocultar"></i>
	</section>
	<section id="cuerpo-y-footer">
		<%- include('23-Footer') %>
		<!--**************************** CUERPO ************************-->
		<div id="cuerpo">
			<%- include('TimerContador') %>
			<%- include('Cartel') %>
			<div id="tituloConAyuda">
				<h1 id="titulo"><%= titulo %></h1>
				<!-- Ayuda -->
				<i id="iconoAyuda" class="fa-solid fa-circle-question"></i>
				<ul class="mensajeAyuda ocultar" type="dots">
					<p>Al terminar, es importante que salgas de esta vista y vayas a la de 'Detalle' para:</p>
					<li>Liberar el producto</li>
					<li>Ver el resultado de tu edición</li>
				</ul>	
			</div>
			<div id="edicionForm">
				<%- include('2-EdicionForm') %>
			</div>
		</div>
		<!--****************************** FIN *************************-->
	</section>
	<!-- Entidad e ID -->
	<input type="text" name="entidad" value="<%= entidad %>" class="ocultar">
	<input type="text" name="id" value="<%= prodID %>" class="ocultar">
</form>
