<h1 id="titulo"><%= titulo %></h1>
<section id="datos">
	<!-- Tipo de Producto, Temporada, Capítulo, Colección -->
	<%- include("0-RUD-Encabezado") %>
	<select id="tipoLink">
		<option value="TR">Trailer</option>
		<option value="PL">Película</option>
		<option value="IN">Inactivos</option>
		<option value="TD">Todos</option>
	</select>
	<form action="<%= vista %>" method="POST">
		<table>
			<thead>
				<tr>
					<th>Url</th>
					<th>Calidad (px)</th>
					<th>Tipo</th>
					<th>Completo</th>
					<th>Parte</th>
					<th>Gratuito</th>
					<th>Status</th>
					<th>Acción</th>
				</tr>
			</thead>
			<tbody>
				<% for (link of linksAprob.filter(n => n.link_tipo_id == 1)) { %><%- include("31-Links-Datos") %><% } %>
				<% for (link of linksAprob.filter(n => n.link_tipo_id == 2)) { %><%- include("31-Links-Datos") %><% } %>
				<!-- Fila para nuevo link -->
				<tr id="dataEntry">
					<!-- Url y Proveedor_id-->
					<td id="url">
						<div class="input-error">
							<input name="url" type="text" autofocus class="input" value="<%- dataEntry.url ? dataEntry.url : "" %>">
							<input name="link_prov_id" class="ocultar">
							<!-- Errores -->
							<i class="fa-solid fa-circle-xmark ocultar" style="z-index: 10"><span class="mensajeError "></span></i>
							<i class="fa-solid fa-circle-question prov_id"></i>
							<i class="fa-solid fa-circle-check prov_id"></i>
						</div>
					</td>
					<!-- Calidad -->
					<td id="calidad">
						<div class="input-error">
							<select name="calidad" class="input" autofocus>
								<option value="" class="ocultar" <%- dataEntry.calidad=="" ? "selected" : "" %>>Elejí</option>
								<option value="144" <%- dataEntry.calidad=="144" ? "selected" : "" %>>144</option>
								<option value="240" <%- dataEntry.calidad=="240" ? "selected" : "" %>>240</option>
								<option value="360" <%- dataEntry.calidad=="360" ? "selected" : "" %>>360</option>
								<option value="480" <%- dataEntry.calidad=="480" ? "selected" : "" %>>480</option>
								<option value="720" <%- dataEntry.calidad=="720" ? "selected" : "" %>>720</option>
								<option value="1080">1080 <%- dataEntry.calidad=="1080" ? "selected" : "" %></option>
								<option value="1081" <%- dataEntry.calidad=="1081" ? "selected" : "" %>>>1080</option>
							</select>
							<!-- Errores -->
							<i class="fa-solid fa-circle-xmark ocultar" style="z-index: 9"><span class="mensajeError "></span></i>
							<i class="fa-solid fa-circle-check ocultar"></i>
						</div>
					</td>
					<!-- Tipo -->
					<td id="tipo">
						<div class="input-error">
							<select name="link_tipo_id" class="input">
								<option value="" class="ocultar">Elejí</option>
								<% for (tipo of links_tipos) { %>
									<option value="<%= tipo.id %>" <%- dataEntry.link_tipo_id==tipo.id ? "selected" : "" %>><%= tipo.nombre %></option>
								<% } %>
							</select>
							<!-- Errores -->
							<i class="fa-solid fa-circle-xmark ocultar" style="z-index: 8"><span class="mensajeError "></span></i>
							<i class="fa-solid fa-circle-check ocultar"></i>
						</div>
					</td>
					<!-- Completo -->
					<td id="completo">
						<div class="input-error">
							<select name="completo" class="input">
								<option value="" class="ocultar" <%- dataEntry.completo=="" ? "selected" : "" %>>Elejí</option>
								<option value="1" <%- dataEntry.completo=="1" ? "selected" : "" %>>SI</option>
								<option value="0" <%- dataEntry.completo=="0" ? "selected" : "" %>>NO</option>
							</select>
							<!-- Errores -->
							<i class="fa-solid fa-circle-xmark ocultar" style="z-index: 7"><span class="mensajeError "></span></i>
							<i class="fa-solid fa-circle-check ocultar"></i>
						</div>
					</td>
					<!-- Parte -->
					<td id="parte">
						<div class="input-error">
							<input name="parte" type="number" class="input" <%- dataEntry.parte ? dataEntry.parte : "" %>>
							<!-- Errores -->
							<i class="fa-solid fa-circle-xmark ocultar" style="z-index: 6"><span class="mensajeError "></span></i>
							<i class="fa-solid fa-circle-check ocultar"></i>
						</div>
					</td>
					<!-- Gratuito -->
					<td id="gratuito">
						<div class="input-error">
							<select name="gratuito" class="input">
								<option value="" class="ocultar" <%- dataEntry.gratuito=="" ? "selected" : "" %>>?</option>
								<option value="1" <%- dataEntry.gratuito=="1" ? "selected" : "" %>>SI</option>
								<option value="0" <%- dataEntry.gratuito=="0" ? "selected" : "" %>>NO</option>
							</select>
							<!-- Errores -->
							<i class="fa-solid fa-circle-xmark ocultar" style="z-index: 5"><span class="mensajeError "></span></i>
							<i class="fa-solid fa-circle-check ocultar"></i>
						</div>
					</td>
					<!-- Status -->
					<td class="desperdicio"></td>
					<!-- Acción -->
					<td>
						<label for="guardar">
							<i class="fa-solid fa-floppy-disk inactivo" tabindex="-1" title='Guardar'></i>
						</label>
						<button type="submit" id="guardar" class="ocultar"></button>				
					</td>
				</tr>
			</tbody>
		</table>
		<!-- Entidad e ID -->
		<input type="text" name="entidad" value="<%= entidad %>" class="ocultar">
		<input type="text" name="id" value="<%= prodID %>" class="ocultar">
	</form>
	<ul>
		Comentarios
		<li>Por favor intentá incluir por lo menos un link gratuito</li>
		<li>Sé muy cuidadoso de incluir links que respeten los derechos de autor</li>
	</ul>
</section>
<!-- Comandos -->
<section id="comandos">
	<% for (prov of provs.filter(n => n.buscador_automatico)) { %>
		<a 
			href="//<%= prov.url_distintivo + prov.url_buscar_pre + registro.nombre_castellano %><% if (prov.url_buscar_post) { %>&<%= prov.url_buscar_post %><% } %>" 
			target="_blank"
			tabindex="-1"
		>
			<img src="/imagenes/0-Logos/<%= prov.avatar %>" tabindex="-1">
		</a>
	<% } %>
</section>
<!-- Botones -->
<%- include("0-RUD-Flechas") %> 
