<%- include('TimerContador') %>
<%- include('Cartel') %>
<section id="tituloConAyuda">
	<h1 id="titulo"><%= titulo %></h1>
	<!-- Ayuda -->
	<i id="iconoAyuda" class="fa-solid fa-circle-question"></i>
	<ul class="mensajeAyuda ocultar" type="dots">
		<li>Por favor intentá incluir por lo menos un link gratuito</li>
		<li>Sé muy cuidadoso de incluir links que respeten los derechos de autor</li>
		<li>Al terminar, es importante que salgas de esta vista y vayas a la de 'Detalle' para liberar el producto</li>
	</ul>
</section>
<section id="contenido">
	<div id="datos">
		<!-- Tipo de Producto, Temporada, Capítulo, Colección -->
		<%- include("0-RUD-Encabezado") %>
		<select id="tipoLink">
			<option value="1">Trailer</option>
			<option value="2">Película</option>
			<option value="TD" selected>Todos</option>
		</select>
		<form action="<%= vista %>guardar" method="POST">
			<div id="tags" class="flex-row">
				<div id="activo">Activos</div>
				<div id="inactivo" class="traslucido">Inactivos</div>
			</div>
			<table>
				<thead>
					<tr>
						<th class="ancho_url url">Url</th>
						<th class="ancho_calidad calidad">Calidad (px)</th>
						<th class="ancho_tipo tipo">Tipo</th>
						<th class="ancho_completo completo">Completo</th>
						<th class="ancho_parte parte">Parte</th>
						<th class="ancho_gratuito gratuito">Gratuito</th>
						<th class="ancho_status status">Status</th>
						<th class="ancho_accion accion">Acción</th>
					</tr>
				</thead>
				<tbody>
					<!-- Filas para links existentes -->
					<% let fila = 0 %> 
					<% for (let link of links) { %>
						<!-- Links pendientes de aprobar y creados por este usuario -->
						<% let cond = link.status_registro.creado && link.creado_por_id == userID %> 
						<!-- Links pendientes de aprobar y creados por otro usuario -->
						<!-- Links en status 'grupo_inactivo' -->
						<% let ocultar = link.status_registro.creado && link.creado_por_id != userID || link.status_registro.gr_inactivos ? ' ocultar' : '' %>
						<%- include("Links1-Datos", {link, cond, ocultar}) %>
						<%- include("Links2-Edicion", {fila, link}) %>
						<% fila++ %> 
					<% } %>
					<!-- Fila para nuevo link -->
					<%- include("30-Links-Altas", {fila}) %>
				</tbody>
			</table>
			<!-- Entidad e ID -->
			<input type="text" name="prodEntidad" value="<%= entidad %>" class="ocultar">
			<input type="text" name="prodID" value="<%= prodID %>" class="ocultar">
			<input type="number" name="numeroFila" value="" class="ocultar">
		</form>
	</div>
	<!-- Comandos -->
	<div id="comandos">
		<% for (let prov of provs.filter(n => n.buscador_automatico)) { %>
			<a 
				href="//<%= prov.url_distintivo + prov.url_buscar_pre + producto.nombre_castellano %><% if (prov.url_buscar_post) { %>&<%= prov.url_buscar_post %><% } %>" 
				target="_blank"
				tabindex="-1"
			>
				<img src="/imagenes/0-Logos/<%= prov.avatar %>" tabindex="-1">
			</a>
		<% } %>
	</div>
	<!-- Flechas -->
	<%- include("0-RUD-Flechas") %>
</section>
