<%- include('TimerContador') %>
<%- include('Cartel') %>
<section id="tituloConAyuda">
	<h1 id="titulo"><%= titulo %></h1>
	<!-- Ayuda -->
	<i id="iconoAyuda" class="fa-solid fa-circle-question"></i>
	<ul class="mensajeAyuda ocultar" type="dots">
		<li>Por favor intentá incluir por lo menos un link gratuito</li>
		<li>Sé muy cuidadoso de incluir links que respeten los derechos de autor</li>
	</ul>	
</section>
<section id="contenido">
	<div id="datos">
		<!-- Tipo de Producto, Temporada, Capítulo, Colección -->
		<%- include("0-RUD-Encabezado") %>
		<select id="tipoLink">
			<option value="TR">Trailer</option>
			<option value="PL">Película</option>
			<option value="TD" selected>Todos</option>
		</select>
		<form action="<%= vista %>altas-editar" method="POST">
			<table>
				<thead>
					<tr>
						<th class="url">Url</th>
						<th class="calidad">Calidad (px)</th>
						<th class="tipo">Tipo</th>
						<th class="completo">Completo</th>
						<th class="parte">Parte</th>
						<th class="gratuito">Gratuito</th>
						<th class="status">Status</th>
						<th class="accion">Acción</th>
					</tr>
				</thead>
				<tbody>
					<!-- Filas para links existentes -->
					<% let fila = 0 %> 
					<% for (let link of linksActivos) { %>
						<% console.log(link) %> 
						<%- include("31-Links-Datos", {link}) %>
						<%- include("32-Links-Edicion", {fila, link}) %>
						<% fila++ %> 
					<% } %>
					<!-- Fila para nuevo link -->
					<%- include("33-Links-Altas", {fila}) %>
				</tbody>
			</table>
			<!-- Entidad e ID -->
			<input type="text" name="prodEntidad" value="<%= entidad %>" class="ocultar">
			<input type="text" name="prodID" value="<%= prodID %>" class="ocultar">
			<input type="number" name="numeroFila" value="" class="ocultar">
		</form>
	</div>
	<!-- Comandos -->
	<div id="comandos">
		<% for (let prov of provs.filter(n => n.buscador_automatico)) { %>
			<a 
				href="//<%= prov.url_distintivo + prov.url_buscar_pre + producto.nombre_castellano %><% if (prov.url_buscar_post) { %>&<%= prov.url_buscar_post %><% } %>" 
				target="_blank"
				tabindex="-1"
			>
				<img src="/imagenes/0-Logos/<%= prov.avatar %>" tabindex="-1">
			</a>
		<% } %>
	</div>
	<!-- Flechas -->
	<%- include("0-RUD-Flechas") %>
</section>
