<h1 id="titulo"><%= titulo %></h1>
<section id="datos">
	<h1><%= registro.nombre_castellano %> <em><% if (registro.nombre_original) { %>(<%= registro.nombre_original %>)<% } %></em></h1>
	<!-- Tabla con links ya existentes -->
	<table id="yaExistentes">
		<caption>Links ya Existentes</caption>
		<thead>
			<tr>
				<th>Proveedor</th>
				<th>Link</th>
				<th>Tipo</th>
				<th>Fecha Prov.</th>
				<th>Gratuito</th>
				<th>Creado en</th>
				<th>Creado por</th>
				<% if (usuario.rol_usuario.aut_gestion_prod) { %>
					<th>Alta analizada por</th>
					<th>Revisada en</th>
					<th>Revisada por</th>
				<% } %>
				<th>Eliminar</th>
			</tr>
		</thead>
		<tbody>
			<% for (link of links) { %>
				<tr>
					<td class="logoProv"><img src="/imagenes/0-Logos/<%= link.link_prov.avatar %>" alt="<%= link.link_prov.nombre %>"></td>
					<td class="url"><a href="//<%= link.url %>" target="_blank"><%= link.url %></a></td>
					<td><%= link.link_tipo.nombre %></td>
					<td><%= link.fecha_prov.slice(-2) + "/" + link.fecha_prov.slice(5, 7) + "/" + link.fecha_prov.slice(0, 4) %></td>
					<td><%= link.gratuito ? "SI" :  "NO" %></td>
					<td><%= link.creado_en.toLocaleString("en-GB").slice(0, 10) %></td>
					<td><%= link.creado_por.nombre %></td>
					<td>
						<i class="fa-solid fa-trash-can" title='Eliminar definitivamente tu edición'></i>
					</td>
				</tr>
			<% } %>
		</tbody>
	</table>
	<!-- Tabla para nuevo link -->
	<form>
		<table>
			<caption>Agregar links</caption>
			<thead>
				<tr>
					<th>Proveedor</th>
					<th>Link</th>
					<th>Tipo</th>
					<th>Fecha Prov.</th>
					<th>Gratuito</th>
					<th>Agregar</th>
				</tr>
			</thead>
				<tbody>
					<tr>
						<!-- Proveedor -->
						<td style="z-index: 6;" class="logoProv">
							<div class="input-error">
								<img>
								<input name="link_prov_id" class="input ocultar">
								<!-- Errores -->
								<i class="fas fa-times-circle ocultar invisible"><span class="mensajeError "></span></i>
								<i class="fas fa-check-circle ocultar invisible"></i>
							</div>
						</td>
						<!-- url -->
						<td style="z-index: 5;">
							<div class="input-error">
								<input name="url" type="text" autofocus class="input">
								<!-- Errores -->
								<i class="fas fa-times-circle ocultar"><span class="mensajeError "></span></i>
								<i class="fas fa-check-circle ocultar"></i>
							</div>
						</td>
						<!-- Tipo de Link -->
						<td style="z-index: 4;">
							<div class="input-error">
								<select name="link_tipo_id" class="input">
									<option value="" class="ocultar">Elejí</option>
									<% for (tipo of links_tipos) { %>
										<option value="<%= tipo.id %>"><%= tipo.nombre %></option>
									<% } %>
								</select>
								<!-- Errores -->
								<i class="fas fa-times-circle ocultar"><span class="mensajeError "></span></i>
								<i class="fas fa-check-circle ocultar"></i>
							</div>
						</td>
						<!-- Fecha del proveedor -->
						<td style="z-index: 3;">
							<div class="input-error">
								<input name="fecha_prov" type="date" class="input">
								<!-- Errores -->
								<i class="fas fa-times-circle ocultar"><span class="mensajeError "></span></i>
								<i class="fas fa-check-circle ocultar"></i>
							</div>
						</td>
						<!-- Gratuito -->
						<td style="z-index: 2;">
							<div class="input-error">
								<select name="gratuito" class="input">
									<option value="" class="ocultar" selected>?</option>
									<option value="1">SI</option>
									<option value="0">NO</option>
								</select>
								<!-- Errores -->
								<i class="fas fa-times-circle ocultar"><span class="mensajeError "></span></i>
								<i class="fas fa-check-circle ocultar"></i>
							</div>
						</td>
						<!-- Guardar -->
						<td>
							<i class="fa-solid fa-floppy-disk botonInactivado" title='Guardar'></i>
						</td>
					</tr>
				</tbody>
		</table>
		<ul>
			Comentarios
			<li>Por favor intentá incluir por lo menos un link gratuito</li>
			<li>Sé muy cuidadoso de incluir un link que respete los derechos de autor</li>
		</ul>
	</form>

</section>
<!-- Botones -->
<section id="flechas">
	<div id="pack1">
		<i class="fa-solid fa-circle-info" tabindex="-1" title="Ir a la vista 'Detalle'"></i>
		<i class="fas fa-pencil-alt" tabindex="-1" title="Ir a la vista 'Edición'"></i>
	</div>
	<div id="pack2">
		<% for (prov of provs.filter(n => n.buscador_automatico)) { %>
			<a 
				href="//<%= prov.url_distintivo + prov.url_buscar_pre + registro.nombre_castellano %><% if (prov.url_buscar_post) { %>&<%= prov.url_buscar_post %><% } %>" 
				target="_blank"
			>
				<img src="/imagenes/0-Logos/<%= prov.avatar %>" alt="">
			</a>
		<% } %>
	</div>
</section>
