<!DOCTYPE html>
<html lang="es">
<head>
	<%- include('GN1-Head') %>
	<%- include('CMP-RV-Head') %>
</head>
<body>
	<%- include('GN2-Header') %>
	<main class="flex-row">
		<section id="imagen-derecha">
			<img src="<%= avatar %>" title="<%= title %>">
		</section>
		<section id="cuerpo-y-footer">
			<%- include('GN3-Footer') %>
			<div id="cuerpo">
				<%- codigo == "producto/alta" ? include("RE1-Prod-Alta") : "" %>
				<%- codigo == "producto/edicion" ? include("RE1-Prod-Demas") : "" %>
				<%- codigo == "links" ? include("RE3-Links") : "" %>
				<%- codigo == "validarIdentidad" ? include("RU1-Validar-Identidad") : "" %>
			</div>
		</section>
	</main>
</body>
</html>