<!DOCTYPE html>
<html lang="es">
<head>
	<% let tema=locals.tema %> 
	<!-- Head genérico -->
	<%- include('CMP-1Head') %>
	<!-- Heads personalizados -->
	<% if (tema == "usuario") { %><%- include("US-1Head") %><% } %>
	<% if (tema == "prod_agregar") { %><%- include("PA-1Head") %><% } %>
	<% if (tema == "prod_rud" || tema == "rclv_crud" || tema == "links_crud") { %><%- include("CR-1Head") %><% } %>	
	<% if (tema && tema.startsWith("revision")) { %><%- include("CMP-RV-Head") %><% } %>
	<% if (tema == "productos") { %><%- include("0-Productos-Head") %><% } %>
	<% if (tema == "miscelaneas") { %><%- include("MI-1Head") %><% } %>
</head>
<body>
	<!-- Header genérico -->
	<%- include('CMP-2Header') %>
	<main class="flex-row-reverse">
		<!-- Imagen Derecha -->
		<%- include('CMP-ImagenDerecha', {si: !locals.omitirImagenDerecha}) %>
		<!-- Cuerpo y Footer -->
		<section id="cuerpoFooter">
			<!-- Footer -->
			<%- include('CMP-3Footer', {si: !locals.omitirImagenDerecha}) %>
			<section id="cuerpo">
				<!-- Cartel -->
				<%- include('CMP-Cartel', {si: !locals.omitirImagenDerecha && locals.cartel}) %>
				<% if (tema == "usuario") { %><%- include("US-2Cuerpo") %><% } %>
				<% if (tema == "prod_agregar") { %><%- include("PA-2Cuerpo") %><% } %>
				<% if (tema == "prod_rud") { %><%- include("PR-2Cuerpo") %><% } %>
				<% if (tema == "rclv_crud") { %><%- include("RCLV-2Cuerpo") %><% } %>
				<% if (tema == "links_crud") { %><%- include("LK-2Cuerpo") %><% } %>
				<% if (tema == "revisionEnts") { %><%- include("RE-2Cuerpo") %><% } %>
				<% if (tema == "revisionUs") { %><%- include("RU-2Cuerpo") %><% } %>
				<% if (tema == "productos") { %><%- include("0-Productos-Cuerpo") %><% } %>
				<% if (tema == "miscelaneas") { %><%- include("MI-2Cuerpo") %><% } %>
			</section>
		</section>
	</main>
</body>
</html>