<!DOCTYPE html>
<html lang="es">
<head>
	<% let tema=locals.tema %> 
	<!-- Head genérico -->
	<%- include('CMP-1Head') %>
	<!-- Heads personalizados -->
	<% if (tema == "usuario") { %><%- include("US-1Head") %><% } %>
	<% if (tema == "prod_agregar") { %><%- include("PA-1Head") %><% } %>
	<% if (tema == "prod_rud" || tema == "rclv_crud" || tema == "links_crud" || tema == "responsabilidad") { %><%- include("CR-1Head") %><% } %>
	<% if (tema == "revisionEnts") { %><%- include("RE-1Head") %><% } %>
	<% if (tema == "revisionUs") { %><%- include("RU-1Head") %><% } %>
	<% if (tema == "consultas") { %><%- include("CN-1Head") %><% } %>
	<% if (tema == "institucional") { %><%- include("MI-1Head") %><% } %>
</head>
<body>
	<!-- Header genérico -->
	<%- include('CMP-2Header') %>
	<main class="flexRowReverse">
		<%- include('CMP-ImagenDerecha', {mostrar: !locals.omitirImagenDerecha}) %>
		<!-- Cuerpo y Footer -->
		<section id="cuerpoFooter">
			<%- include('CMP-3Footer', {mostrar: !locals.omitirFooter}) %>
			<section id="cuerpo">
				<%- include('CMP-Cartel', {mostrar: locals.mostrarCartel}) %>
				<% if (tema == "usuario") { %><%- include("US-2Cuerpo") %>
				<% } else if (tema == "prod_agregar") { %><%- include("PA-2Cuerpo") %>
				<% } else if (tema == "prod_rud") { %><%- include("PR-2Cuerpo") %>
				<% } else if (tema == "rclv_crud") { %><%- include("RCLV-2Cuerpo") %>
				<% } else if (tema == "links_crud") { %><%- include("LK-2Cuerpo") %>
				<% } else if (tema == "revisionEnts") { %><%- include("RE-2Cuerpo") %>
				<% } else if (tema == "revisionUs") { %><%- include("RU-2Cuerpo") %>
				<% } else if (tema == "consultas") { %><%- include("CN-2Consultas") %>
				<% } else if (tema == "miscelaneas" || tema == "institucional") { %><%- include("MI-2Cuerpo") %>
				<% } else if (tema == "responsabilidad") { %><%- include(locals.vista) %>
				<% } %>
			</section>
		</section>
	</main>
</body>
</html>