<!DOCTYPE html>
<html lang="es">
<head>
	<% let tema=locals.tema %> 
	<!-- Head genérico -->
	<%- include('CMP-1Head') %>
	<!-- Heads personalizados -->
	<% if (tema == "usuario") { %><%- include("US-1Head") %><% } %>
	<% if (tema == "prodAgregar") { %><%- include("PA-1Head") %><% } %>
	<% if (tema == "prod_rud") { %><%- include("PR-1Head") %><% } %>
	<% if (tema == "rclv_crud") { %><%- include("RCLV-1Head") %><% } %>
	<% if (tema == "linksCRUD") { %><%- include("LK-1Head") %><% } %>
	<% if (tema == "responsabilidad" || tema == "crud") { %><%- include("FM-1Head") %><% } %>
	<% if (tema == "revisionEnts") { %><%- include("RE-1Head") %><% } %>
	<% if (tema == "revisionUs") { %><%- include("RU-1Head") %><% } %>
	<% if (tema == "mantenimiento") { %><%- include("MT-1Head") %><% } %>
	<% if (tema == "consultas") { %><%- include("CN-1Head") %><% } %>
	<% if (tema == "institucional") { %><%- include("IN-1Head") %><% } %>
	<% if (tema == "gráficos") { %><%- include("GR-1Head") %><% } %>
</head>
<body>
	<!-- Header genérico -->
	<%- include('CMP-2Header') %>
	<main class="relative">
		<%- include('CMP-ImagenDerecha', {mostrar: !locals.omitirImagenDerecha}) %>
		<%- include('CMP-TodoElMain') %>
		<!-- Cuerpo y Footer -->
		<section id="cuerpoFooter">
			<%- include('CMP-3Footer', {mostrar: !locals.omitirFooter}) %>
			<section id="cuerpo">
				<% if (tema == "usuario") { %><%- include("US-2Cuerpo") %>
				<% } else if (tema == "crud") { %><%- include("FM-2Cuerpo") %>
				<% } else if (tema == "prodAgregar") { %><%- include("PA-2Cuerpo") %>
				<% } else if (tema == "prod_rud") { %><%- include("PR-2Cuerpo") %>
				<% } else if (tema == "rclv_crud") { %><%- include("RCLV-2Cuerpo") %>
				<% } else if (tema == "linksCRUD") { %><%- include("LK-2Cuerpo") %>
				<% } else if (tema == "revisionEnts") { %><%- include("RE-2Cuerpo") %>
				<% } else if (tema == "revisionUs") { %><%- include("RU-2Cuerpo") %>
				<% } else if (tema == "mantenimiento") { %><%- include("MT-2Cuerpo") %>
				<% } else if (tema == "consultas") { %><%- include("CN-2Cuerpo") %>
				<% } else if (tema == "institucional") { %><%- include("IN-2Cuerpo") %>
				<% } else if (tema == "responsabilidad") { %><%- include(locals.vista) %>
				<% } else if (tema == "gráficos") { %><%- include("GR-2Cuerpo") %>
				<% } %>
			</section>
		</section>
	</main>
</body>
</html>