<header>
	<!-- Home y Agregar -->
	<section>
		<!-- Menú de Home -->
		<div class="grupos">
			<i class="fa-solid fa-house scale desplClick iconoHeader" title="Menú de Inicio"></i>
			<%- include("CMP-1MenuHome") %>
		</div>
		<!-- Consultas -->
		<a href="/consultas" tabindex="-1" class="grupos">
			<div id="imagenMovie" class="scale">
				<img src="<%= localhost %>/imagenes/0-Base/Varios/Movie.jpg" title="Consulta de Películas">
			</div>
		</a>
		<!-- Búsqueda rápida -->
		<div id="busquedaRapida" class="grupos">
			<i class="fa-solid fa-magnifying-glass scale desplClick iconoHeader" title="Búsqueda rápida"></i>
			<%- include("CMP-2MenuBusqueda") %>
		</div>
		<!-- Agregar un Producto -->
		<a href="/producto/agregar/confirma" tabindex="-1" class="grupos margenDerecho">
			<div class="scale iconoComb" title="Agregar una Película">
				<i class="fa-solid fa-video iconoHeader"></i>
				<i class="fa-solid fa-plus iconoHeader adentro"></i>
			</div>
		</a>
		<!-- Tablero de Entidades -->
		<% if (locals.usuario && usuario.rolUsuario && usuario.rolUsuario.revisorEnts) { %>
			<a href="/revision/tablero-de-control" tabindex="-1" class="grupos">
				<div class="scale iconoComb" title="Tablero de Entidades">
					<i class="fa-solid fa-video iconoHeader revision"></i>
					<i class="fa-solid fa-check iconoHeader adentro"></i>
				</div>
			</a>
		<% } %>
		<!-- Tablero de Mantenimiento -->
		<% if (locals.usuario && usuario.rolUsuario && usuario.rolUsuario.permInputs) { %>
			<a href="/mantenimiento" tabindex="-1" class="grupos">
				<i class="fa-solid fa-tools scale iconoHeader revision" title="Tablero de Mantenimiento"></i>
			</a>
		<% } %>
	</section>
	<!-- Título del Encabezado -->
	<a href="/" id="tituloHeader" tabindex="-1"><p>ELC - Películas</p></a>
	<section>
		<!-- Tablero de Usuarios -->
		<% if (locals.usuario && usuario.rolUsuario && usuario.rolUsuario.revisorUs) { %>
			<a href="/revision/usuarios/tablero-de-control" tabindex="-1" class="grupos">
				<i class="fa-solid fa-user-check scale iconoHeader revision" title="Tablero de Usuarios"></i>
			</a>
		<% } %>
		<!-- Gráficos -->
		<% if (locals.usuario && usuario.rolUsuario && usuario.rolUsuario.revisorEnts) { %>
			<div class="grupos">
				<i class="fa-solid fa-chart-line scale desplClick iconoHeader revision" title="Menú de Gráficos"></i>
				<%- include("CMP-3MenuGraficos") %>
			</div>
		<% } %>
		<!-- Usuario -->
		<div class="grupos">
			<%- include("CMP-4IconoUsuario") %>
			<%- include("CMP-4MenuUsuario") %>
		</div>
	</section>
</header>
