<!DOCTYPE html>
<html lang="es">
<head>
	<!-- Head genérico -->
	<%- include('CMP-1Head') %>
	<!-- Heads personalizados -->
	<% if (tema == "usuario") { %><%- include("US-1Head") %><% } %>
	<% if (tema == "prod_agregar") { %><%- include("PA-1Head") %><% } %>
	<% if (tema == "prod_rud" || tema == "rclv_crud" || tema == "links_crud") { %><%- include("CR-1Head") %><% } %>	
	<% if (tema.startsWith("revision")) { %><%- include("CMP-RV-Head") %><% } %>
	<% if (tema == "productos") { %><%- include("0-Productos-Head") %><% } %>
	<% if (tema == "miscelaneas") { %><%- include("MI-1Head") %><% } %>
</head>
<body>
	<!-- Header genérico -->
	<%- include('CMP-2Header') %>
	<main class="flex-row-reverse">
		<!-- Cartel -->
		<% if (locals.cartel) { %><%- include('CMP-Cartel') %><% } %>
		<!-- Vistas fuera de estándar -->
		<% if (tema == "prod_rud" && codigo == "edicion") { %><%- include('PR-2Cuerpo') %>
		<% } else { %>
			<!-- Imagen Derecha -->
			<% if (tema != "rclv_crud" || codigo != "detalle") { %><section id="imagen-derecha"><img src="<%= locals.avatar ? avatar : '/imagenes/0-Base/ImagenDerecha.jpg' %>" title="<%= locals.title ? title : '' %>"></section><% } %>
			<!-- Vistas estándar -->
			<section id="cuerpo-y-footer">
				<%- include('CMP-3Footer') %>
				<section id="cuerpo">
					<% if (tema == "usuario") { %><%- include("US-2Cuerpo") %><% } %>
					<% if (tema == "prod_agregar") { %><%- include("PA-2Cuerpo") %><% } %>
					<% if (tema == "prod_rud") { %><%- include("PR-2Cuerpo") %><% } %>
					<% if (tema == "rclv_crud") { %><%- include("RCLV-2Cuerpo") %><% } %>
					<% if (tema == "links_crud") { %><%- include("LK-2Cuerpo") %><% } %>
					<% if (tema == "revisionEnts") { %><%- include("RE-2Cuerpo") %><% } %>
					<% if (tema == "revisionUs") { %><%- include("RU-2Cuerpo") %><% } %>
					<% if (tema == "productos") { %><%- include("0-Productos-Cuerpo") %><% } %>
					<% if (tema == "miscelaneas") { %><%- include("MI-2Cuerpo") %><% } %>
				</section>
			</section>
		<% } %>
	</main>
</body>
</html>