<!-- Oscuro si: -->
<!-- RUD: provisorio y ajeno -->
<!-- Revisión: propio o creado c/ediciones o aprobado/inactivo -->
<tr class="
	yaExistentes 
	inactivo_<%= cond.inactivos %> 
	<%- cond.inactivos ? 'inactivo_ocultar' : '' %> 
	<%= link.tipo_id==1 ? 'TR' : 'PL' %> 
	fila<%= fila %> 
	oscuro_<%- cond.rud ? cond.provAjeno : (cond.propio || (cond.creado && !!link.ediciones.length) || cond.estable) %>
">
	<!-- Url -->
	<td class="ancho_url url">
		<a href="//<%= link.url %>" target="_blank">
			<img src="/imagenes/0-Logos/<%= link.prov.avatar %>" alt="<%= link.prov.nombre %>" title="<%= link.url %>">
		</a>
		<input name='url' type="text" class="ocultar" value="<%= link.url %>">
	</td>
	<!-- Motivo -->
	<td colspan="6" class="motivo ocultar">
		<strong>Motivo: </strong>
		<select name="motivo_id">
			<option value="" class="ocultar" selected>Elejí el motivo</option>
			<% for (let motivo of motivos) { %>
				<option value="<%= motivo.id %>"><%= motivo.comentario %></option>
			<% } %>
		</select>
	</td>
	<!-- Calidad -->
	<td class="ancho_calidad taparMotivo <%- link.ediciones.find(n=>n.calidad && n.editado_por_id!=userID) ? 'rojo' : '' %>">
		<%= link.calidad %>
	</td>
	<!-- Castellano -->
	<td class="ancho_castellano taparMotivo <%- link.ediciones.find(n=>n.castellano!==null && n.editado_por_id!=userID) ? 'rojo' : '' %>">
		<%- link.castellano ? "SI" :  "NO" %>
	</td>
	<!-- Subtitulos -->
	<td class="ancho_subtitulo taparMotivo <%- link.ediciones.find(n=>n.subtit_castellano!==null && n.editado_por_id!=userID) ? 'rojo' : '' %>">
		<%- link.subtit_castellano===null ? "-" : link.subtit_castellano ? "SI" :  "NO" %>
	</td>
	<!-- Gratuito -->
	<td class="ancho_gratuito taparMotivo <%- link.ediciones.find(n=>n.gratuito!==null && n.editado_por_id!=userID) ? 'rojo' : '' %>">
		<%- link.gratuito ? "SI" :  "NO" %>
	</td>
	<!-- Tipo -->
	<td class="ancho_tipo taparMotivo <%- link.ediciones.find(n=>n.tipo_id && n.editado_por_id!=userID) ? 'rojo' : '' %>">
		<%- link.tipo_id==1 ? "Trailer" : "Película" %>
	</td>
	<!-- Completo -->
	<td class="ancho_completo taparMotivo <%- link.ediciones.find(n=>n.completo!==null && n.editado_por_id!=userID) ? 'rojo' : '' %>">
		<%- link.completo==1 ? "SI" : "NO" %>
	</td>
	<!-- Parte -->
	<td class="ancho_parte taparMotivo <%- link.ediciones.find(n=>n.parte && n.editado_por_id!=userID) ? 'rojo' : '' %>">
		<%- link.parte %>
	</td>
	<!-- Status -->
	<td class="ancho_status"><%= link.status_registro.nombre %></td>
	<!-- Propio -->
	<td class="ancho_propio"><%= cond.propio ? "SI" : cond.ajeno ? "NO" : "-" %></td>
	<!-- Acción -->
	<td class="ancho_accion">
		<!-- EDITAR -->
		<!-- Sólo en RUD para links creados y aprobados  -->
		<i class="fa-solid fa-pen editar <%- cond.rud && (!cond.creado && !cond.aprobado) || cond.revision ? 'ocultar' : '' %>" tabindex="-1" title="Editarlo"></i>
		<!-- APROBAR -->
		<!-- Solo para RUD inactivo y Revisión (no propio y sin edición o inactivo) -->
		<i class="fa-solid fa-circle-check in <%- (cond.rud && !cond.inactivo) || cond.revision && (cond.propio||link.ediciones.length||cond.estable) ? 'ocultar' : '' %>" tabindex="-1" title="Cambiarlo a <%- cond.rud ? 'Recuperar' : 'Aprobado' %>"></i>
		<!-- DESHACER -->
		<!-- Solo para provisorios propios en RUD -->
		<i class="fa-solid fa-rotate-left deshacer <%- cond.rud && !cond.provPropio || cond.revision ? 'ocultar' : '' %>" tabindex="-1" title="Regresarlo a <%- cond.inactivarPropio ? 'Aprobado' : 'Inactivo' %>"></i>
		<!-- ELIMINAR -->
		<!-- Eliminar permanente: Sólo para (RUD en status creado y propio) -->
		<!-- Inactivar sin necesidad de especificar el motivo: sólo para (Revisión en status provisorio y ajeno) -->
		<% if (cond.rud&&cond.creadoPropio || cond.revision&&cond.provAjeno) { %>
			<i class="fa-solid fa-trash-can out" tabindex="-1" title="Eliminarlo permanentemente"></i>
		<% } else { %>
			<!-- Especificar el motivo de Inactivar: Sólo para (RUD y aprobado) o (Revisión en status creado, ajeno y sin edición) -->
			<!-- No está permitido para (RUD creado y ajeno, para que pueda ser revisado) -->
			<i class="fa-solid fa-circle-xmark out <%- cond.rud&&!link.status_registro.aprobado || cond.revision&&(cond.creadoPropio||!!link.ediciones.length||cond.estable) ? 'ocultar' : '' %>" tabindex="-1" title="<%- cond.rud ? 'Inactivarlo' : 'Cambiarlo a Inactivo' %>"></i>
		<% } %>
		<!-- Sólo para status provisorio o inactivo -->
		<i class="fa-solid fa-circle-question ayudaClick<%- !link.status_registro.gr_pasivos ? ' ocultar' : '' %>" tabindex="-1" title="Motivo">
			<p class="ayudaMostrar ocultar"><%= link.motivo ? link.motivo.comentario : "Motivo inexistente" %> </p>
		</i>
	</td>
</tr>
