<section class="labelInput">
	<% let inputOK = idioma_id && !errores.idiomaOriginal_id %>
	<label>Idioma original</label>
	<div class="inputError">
		<select name="idiomaOriginal_id" autofocus class="input<% if (inputOK) { %> desplClick<% } %>" <% if (inputOK) { %>disabled<% } %> required>
			<option value="" <% if (idioma_id=="") { %>selected<% } %>>Elejí un idioma</option>
			<optgroup label="Más frecuentes">
				<% for (let idioma of idiomas.filter(n => n.mas_frecuente)) { %>
					<option value="<%= idioma.id %>" <% if (idioma.id==idioma_id) { %>selected<% } %>><%= idioma.nombre %></option>
				<% } %>	
			</optgroup>
			<optgroup label="Demás idiomas">
				<% for (let idioma of idiomas.filter(n => !n.mas_frecuente)) { %>
					<option value="<%= idioma.id %>" <% if (idioma.id==idioma_id) { %>selected<% } %>><%= idioma.nombre %></option>
				<% } %>	
			</optgroup>
		</select>
		<%- include("PA3-DD9-Ayuda", {inputOK}) %>
		<%- include("CMP-Errores", {nombre: "idiomaOriginal_id"}) %>
	</div>
</section>
