<% campo = camposDA.find(n => n.nombre == nombre) %>
<% let {titulo, valores, grupo} = campo %>
<section id="<%= nombre %>" class="labelSelect flexRowAlign">
	<label><%= titulo %></label>
	<div class="inputError">
		<!-- Input -->
		<select name="<%= nombre %>" class="input" autofocus>
			<optgroup label="Casos Puntuales">
				<% for (let valor of valores.filter(n => n.id < 10)) { %>
					<option value="<%= valor.id %>" class="RCLV" <% if (dataEntry[nombre] == valor.id) { %>selected<% } %>><%= valor.nombre %></option>
				<% } %>
			</optgroup>
			<optgroup label="Listado General">
				<% for (let valor of valores.filter(n => n.id > 10)) { %>
					<option value="<%= valor.id %>" class="RCLV" <% if (dataEntry[nombre] == valor.id) { %>selected<% } %>><%= valor.nombre %></option>
				<% } %>
			</optgroup>	
		</select>

		<%- include("PA4-DA9-Ayuda") %>
		<!-- Link a Relación con la vida -->
		<% if (grupo=="RCLV") { %>
			<i class="linkRCLV fa-solid fa-circle-plus alta <%= nombre %>" title='Agregar "<%= titulo.toLowerCase() %>"'></i>
			<i class="linkRCLV fa-solid fa-square-pen edicion ocultar <%= nombre %>" title='Editar "<%= titulo.toLowerCase() %>"'></i>
		<% } %>
	</div>
</section>
