<% campo = camposDA.find(n => n.nombre == nombre) %>
<% let {titulo, valores} = campo %>
<section class="labelSelect flexRowAlign">
	<label><%= titulo %></label>
	<div class="inputError altoFila">
		<!-- Input -->
		<select name="<%= nombre %>" class="input" autofocus>
			<% for (let valor of valores) { %>
				<option value="<%= valor.id %>" class="RCLV <%= valor.clase %>" <% if (dataEntry[nombre] == valor.id) { %>selected<% } %>><%= valor.nombre %></option>
			<% } %>
		</select>
		<%- include("CMP-Errores", {nombre, ocultarOK: true}) %>
	</div>
</section>
