<% const {titulo, nombre} = campo %>
<% if (nombre=="color") { %><hr><% } %>
<div class="inputError flexRowAlign altoFila">
	<label id="siNoTitulo" class="negrita"><%= titulo %></label>
	<div id="siNoOpciones" class="flexRowAlign">
		<div class="flexRowAlign">
			<input id="<%= nombre %>SI" type="radio" name="<%= nombre %>" value="1" <% if (!camposDE.includes(nombre)&&nombre=="color" || dataEntry[nombre]==1) { %>checked<% } %> class="radioSI">
			<label for="<%= nombre %>SI">SI</label>
		</div>
		<div class="flexRowAlign">
			<input id="<%= nombre %>NO" type="radio" name="<%= nombre %>" value="0" <% if (!camposDE.includes(nombre)&&nombre=="musical" || camposDE.includes(nombre)&&(dataEntry[nombre]==0)) { %>checked<% } %> class="radioNO">
			<label for="<%= nombre %>NO">NO</label>
		</div>
	</div>
	<%- include("CMP-Errores", {nombre, ocultarOK: true}) %>
</div>
