<section id="encabezado">
	<div id="nombres">
		<h1><%= registro.nombre_castellano %></h1>
		<% if (registro.nombre_original) { %>
			<h2><em><%= registro.nombre_original %></em></h2>
		<% } %>
	</div>
	<div id="colCap">
		<!-- Cantidad de Temporadas y de Capítulos -->
		<% if (entidad == "colecciones") { %>
			<p><strong>Cantidad de Temporadas:</strong> <%= registro.cant_temporadas ? registro.cant_temporadas : "Sin temporada" %></p>
			<p><strong>Cantidad de Capítulos:</strong> <%= registro.cant_capitulos %></p>
			<% } %>
		<!-- Colección a la que pertenece -->
		<% if (entidad == "capitulos") { %>
			<p><strong>De la colección:</strong> <a href="/producto/detalle/?entidad=colecciones&id=<%= registro.coleccion_id %>"><%= registro.coleccion.nombre_castellano %></a></p>
			<div class="flex">
				<select id="">
					<% for (temp = 1; temp <= registro.coleccion.cant_temporadas; temp++) { %>
						<option <% if (registro.temporada == temp) { %>selected<% } %> >Temporada <%= temp %></option>
					<% } %>
				</select>
				<select id="">
					<% for (cap of registro.capitulos) { %>
						<option <% if (registro.capitulo == cap) { %>selected<% } %> >Capítulo <%= cap %></option>
					<% } %>
				</select>
			</div>
		<% } %>
	</div>
</section>
