<section id="encabezado">
	<div id="nombres">
		<h1><%= Producto.nombre_castellano %></h1>
		<% if (Producto.nombre_original) { %>
			<h2><em><%= Producto.nombre_original %></em></h2>
		<% } %>
	</div>
	<div id="colCap">
		<!-- Cantidad de Temporadas y de Capítulos -->
		<% if (entidad == "colecciones") { %>
			<div id="colecciones">
				<i class="fa-solid fa-arrow-right-arrow-left" tabindex="-1" title="Ver el Detalle de un<%= entidad == "colecciones" ? " Capítulo" : "a Colección" %>"></i>
				<div>
					<p><strong>Cantidad de Temporadas:</strong> <%= Producto.cant_temporadas ? Producto.cant_temporadas : "Sin temporada" %></p>
					<p><strong>Cantidad de Capítulos:</strong> <%= Producto.cant_capitulos %></p>
				</div>
			</div>
			<% } %>
		<!-- Colección a la que pertenece -->
		<% if (entidad == "capitulos") { %>
			<div id="tempCapI">
				<i class="fa-solid fa-arrow-right-arrow-left" tabindex="-1" title="Ver el Detalle de un<%= entidad == "colecciones" ? " Capítulo" : "a Colección" %>"></i>
				<p><strong>De la colección:</strong> <a href="/producto/detalle/?entidad=colecciones&id=<%= Producto.coleccion_id %>"><%= Producto.coleccion.nombre_castellano %></a></p>
			</div>
			<div id="tempCapS">
				<div class="pack">
					<i class="fa-solid fa-circle-left" tabindex="-1" title="Ir al capítulo anterior"></i>
					<i class="fa-solid fa-circle-right" tabindex="-1" title="Ir al capítulo posterior"></i>
				</div>
				<select id="temporada">
					<% for (temp = 1; temp <= Producto.coleccion.cant_temporadas; temp++) { %>
						<option <% if (Producto.temporada == temp) { %>selected<% } %> >Temporada <%= temp %></option>
					<% } %>
				</select>
				<select id="capitulo">
					<% for (cap of Producto.capitulos) { %>
						<option <% if (Producto.capitulo == cap) { %>selected<% } %> >Capítulo <%= cap %></option>
					<% } %>
				</select>
			</div>
		<% } %>
	</div>
</section>
