<section class="label-input">
	<label><%= campo.titulo %></label>
	<!-- Data-entry y Errores -->
	<div class="input-error">
		<input type="text" name="<%= campo.campo %>" value="<%= registro[campo.campo] %>" autofocus autocomplete="off" 
			class="input <% if (campo.numero) { %>numero<% } %>"
			<% if (campo.numero) { %>placeholder="sólo números"<% } %>
		>
		<!-- Errores -->
		<i class="fa-solid fa-circle-xmark <%- !errores[campo.campo] ? 'ocultar' : '' %>">
			<span class="mensajeError "><%= errores[campo.campo] %></span>
		</i>
		<i class="fa-solid fa-circle-check ocultar"></i>
	</div>
</section>
