<section class="label-input">
	<label><%= campo.titulo %></label>
	<!-- Data-entry y Errores -->
	<div class="input-error">
		<input type="text" name="<%= campo.campo %>" value="<%= registro[campo.campo] %>" autofocus 
			<%- campo.numero ? 'class="input numero" placeholder="sólo números"' : 'class="input"' %>
		>
		<!-- Ayuda -->
		<%- (registro[campo.campo] && !errores[campo.campo]) ? include("39-DD-Mensajes") : "" %>
		<!-- Errores -->
		<i class="fas fa-times-circle <%= campo.campo %><%- !errores[campo.campo] ? ' ocultar' : '' %>">
			<span class="mensajeError <%= campo.campo %>"><%= errores[campo.campo] %></span>
		</i>
		<i class="fas fa-check-circle ocultar"></i>
	</div>
</section>
