<section id="paises_id" class="label-input">
	<label>País/es de origen</label>
	<div class="input-error">
		<!-- Lugar donde almacenar los ID -->
		<input name="paises_id" type="text" value="<%= producto.paises_id %>" class="ocultar input">
		<!-- Lugar donde mostrar los nombres -->
		<input id="mostrarPaises" type="text" value="<%= paises %>" readonly tabindex="-1">
		<!-- Opciones de países -->
		<select>
			<option value="borrar">Borrar todo/s</option>
			<% continentes = ["América", "Europa", "Africa", "Asia", "Oceanía"] %> 
			<% for (continente of continentes) { %>
				<optgroup label="<%= continente %>">
					<% for (pais of BD_paises.filter(m => m.continente == continente)) { %>
						<option value="<%= pais.id %>"><%= pais.nombre %></option>
					<% } %>	
				</optgroup>
			<% } %> 
		</select>
		<!-- Errores -->
		<i class="fa-solid fa-circle-xmark<%- !errores.paises_id ? ' ocultar' : '' %>">
			<span class="mensajeError"><%= errores.paises_id %></span>
		</i>
		<i class="fa-solid fa-circle-check ocultar"></i>
		<!-- Aviso de cambio en el data-entry -->
		<i class="fa-solid fa-arrow-right-long ocultar"></i>
	</div>
</section>
