<% let campo = camposDP.find(n => n.nombreDelCampo == nombreDelCampo) %>
<section class="label-input <% if (campo.grupo=="RCLV") { %> RCLV<% } %>">
	<label><%= campo.titulo %></label>
	<div class="input-error">
		<!-- Input -->
		<select name="<%= campo.nombreDelCampo %>" class="input <%= campo.angosto ? 'angosto' : '' %>">
			<option value="" class="ocultar" <% if (!producto[campo.nombreDelCampo]) { %>selected<% } %>>Elejí<% if (!campo.angosto) { %> una opción<% } %></option>
			<% for (let valor of campo.valores) { %>
				<option value="<%= valor.id %>" 
					<% if (producto[campo.nombreDelCampo] == valor.id) { %>selected<% } %>
					<% if (campo.nombreDelCampo == "subcategoria_id") { %>class="<%= valor.categoria_id %>"<% } %>
					<% if (entidad != "colecciones" && (campo.nombreDelCampo == "en_castellano_id" || campo.nombreDelCampo == "en_color_id") && valor.id == 2) { %>class="ocultar"<% } %>
				>
					<%= valor[nombre] %>
				</option>
			<% } %>
		</select>
		<!-- Ayuda -->
		<i class="fa-solid fa-circle-question"></i>
		<ul type="dots" class="mensajeAyuda ocultar">
			<% if (!campo.mensajes) {campo.mensajes = (campo.entidad == "peliculas") ? campo.mensajePeli : campo.mensajeColec} %>
			<% for (let mensaje of campo.mensajes) { %><li><%= mensaje %></li><% } %> 
		</ul>
		<!-- Errores -->
		<i class="fa-solid fa-circle-xmark<%- !errores[campo.nombreDelCampo] ? ' ocultar' : '' %>">
			<span class="mensajeError"><%= errores[campo.nombreDelCampo] %></span>
		</i>
		<i class="fa-solid fa-circle-check ocultar"></i>
		<!-- Aviso de cambio en el data-entry -->
		<i class="fa-solid fa-arrow-right-long ocultar"></i>
		<!-- Link a Relación con la vida -->
		<% if (campo.grupo=="RCLV") { %>
			<i class="fa-solid fa-circle-plus linkRCLV <%= campo.nombreDelCampo %>" title='Link a "Agregar <%= campo.titulo.toLowerCase() %>"' tabindex="-1"></i>
		<% } %>
	</div>
</section>
