<section class="label-input <% if (campo.RCLV) { %> ocultar RCLV<% } %>">
	<label><%= campo.titulo %></label>
	<div class="input-error">
		<!-- Input -->
		<select name="<%= campo.campo %>" class="input <%= campo.clase ? campo.clase : '' %>">
			<% if (campo.RCLV) { %><option value="" <% if (!registro[campo.campo]) { %>selected<% } %>>Ninguno del listado / No aplica</option><% } %>
			<% for (valor of campo.valores) { %>
				<option value="<%= valor.id %>" 
					<% if (registro[campo.campo] == valor.id) { %>selected<% } %>
					<% if (campo.campo == "subcategoria_id") { %>class="<%= valor.categoria_id %>"<% } %>
					<% if (campo.entidad == "peliculas" && (campo.campo == "en_castellano_id" || campo.campo == "en_color_id") && valor.id == 2) { %>class="ocultar"<% } %>
				>
					<%= valor.nombre %>
				</option>
			<% } %>
		</select>
		<!-- Ayuda -->
		<i class="fas fa-question-circle"></i>
		<ul type="dots" class="mensajeAyuda ocultar">
			<% if (!campo.mensajes) {campo.mensajes = (campo.entidad == "peliculas") ? campo.mensajePeli : campo.mensajeColec} %>
			<% for (mensaje of campo.mensajes) { %><li><%= mensaje %></li><% } %> 
		</ul>
		<!-- Errores -->
		<i class="fas fa-times-circle<%- !errores[campo.campo] ? ' ocultar' : '' %>">
			<span class="mensajeError"><%= errores[campo.campo] %></span>
		</i>
		<i class="fas fa-check-circle ocultar" style="display: none;"></i>
		<!-- Link a Relación con la vida -->
		<% if (campo.RCLV) { %>
			<a class="fas fa-plus-circle linkRCLV <%= campo.campo %>" title='Link a "Agregar <%= campo.titulo.toLowerCase() %>"' tabindex="-1"></a>
		<% } %>
	</div>
</section>
