<tr class="yaExistentes">
	<!-- Url -->
	<td class="logoProv" title="<%= link.url %>">
		<a href="//<%= link.url %>" target="_blank">
			<img src="/imagenes/0-Logos/<%= link.proveedor_link.avatar %>" alt="<%= link.proveedor_link.nombre %>">
		</a>
		<div class="ocultar" id="link_id"><%= link.id %></div>
	</td>
	<!-- Motivo -->
	<td colspan="6" id="motivo" class="ocultar">
		<strong>Motivo: </strong>
		<select name="motivo">
			<option value="" class="ocultar" selected>Elejí el motivo</option>
			<% for (motivo of motivos) { %>
				<option value="<%= motivo.id %>"><%= motivo.comentario %></option>
			<% } %>
		</select>
	</td>
	<!-- Calidad -->
	<td class="taparMotivo"><%= link.calidad %></td>
	<!-- Tipo -->
	<td class="taparMotivo"><%= link.tipo_link.nombre %></td>
	<!-- Completo -->
	<td class="taparMotivo"><%- link.completo ? "SI" : "NO" %></td>
	<!-- Parte -->
	<td class="taparMotivo <%- link.completo ? 'desperdicio' : '' %>">
		<%- !link.completo ? link.parte : '' %>
	</td>
	<!-- Gratuito -->
	<td class="taparMotivo"><%= link.gratuito ? "SI" :  "NO" %></td>
	<!-- Status -->
	<td class="taparMotivo"><%= link.status_registro.links %> </td>
	<!-- Acción -->
	<td>
		<% if (link.creado_por_id == usuario.id && link.creado_en > haceUnaHora && link.status_registro.creado) { %>
			<i class="fa-solid fa-trash-can out" title='Eliminar'></i>
		<% } else { %>
			<i class="fa-solid fa-circle-xmark out" title='Inactivar'></i>
		<% } %>
	</td>
</tr>
