<tr class="yaExistentes">
	<!-- Url -->
	<td class="url">
		<a href="//<%= link.url %>" target="_blank">
			<img src="/imagenes/0-Logos/<%= link.link_prov.avatar %>" alt="<%= link.link_prov.nombre %>" title="<%= link.url %>">
		</a>
		<div class="ocultar link_id"><%= link.id %></div>
	</td>
	<!-- Motivo -->
	<td colspan="6" class="motivo ocultar">
		<strong>Motivo: </strong>
		<select name="motivo_id">
			<option value="" class="ocultar" selected>Elejí el motivo</option>
			<% for (let motivo of motivos) { %>
				<option value="<%= motivo.id %>"><%= motivo.comentario %></option>
			<% } %>
		</select>
	</td>
	<!-- Calidad -->
	<td class="taparMotivo"><%= link.calidad %></td>
	<!-- Tipo -->
	<td class="taparMotivo"><%= link.link_tipo.nombre %></td>
	<!-- Completo -->
	<td class="taparMotivo"><%- link.completo ? "SI" : "NO" %></td>
	<!-- Parte -->
	<td class="taparMotivo <%- link.completo ? 'desperdicio' : '' %>"><%- !link.completo ? link.parte : '' %></td>
	<!-- Gratuito -->
	<td class="taparMotivo"><%- link.gratuito ? "SI" :  "NO" %></td>
	<!-- Status -->
	<td class="taparMotivo"><%- link.status_registro.nombre %> </td>
	<!-- Acción -->
	<td class="">
		<!-- Los demás links se pueden editar siempre -->
		<i class="fa-solid fa-pen editar" tabindex="-1" title="Editar"></i>
		<% if (link.status_registro.creado && link.creado_por_id == usuario.id) { %>				
			<!-- Los links en status 'creado' y creados por el usuario, se pueden eliminar definitivamente -->
			<i class="fa-solid fa-trash-can out" tabindex="-1" title='Eliminar'></i>
		<% } else { %>
			<!-- Los demás links se pueden 'inactivar' -->
			<i class="fa-solid fa-circle-xmark out" tabindex="-1" title='Inactivar'></i>
		<% } %>				
	</td>
</tr>
