<tr class="yaExistentes">
	<!-- Url -->
	<td class="ancho_url url">
		<a href="//<%= link.url %>" target="_blank">
			<img src="/imagenes/0-Logos/<%= link.link_prov.avatar %>" alt="<%= link.link_prov.nombre %>" title="<%= link.url %>">
		</a>
		<div class="ocultar link_id"><%= link.id %></div>
	</td>
	<!-- Motivo -->
	<td colspan="6" class="motivo ocultar">
		<strong>Motivo: </strong>
		<select name="motivo_id">
			<option value="" class="ocultar" selected>Elejí el motivo</option>
			<% for (let motivo of motivos) { %>
				<option value="<%= motivo.id %>"><%= motivo.comentario %></option>
			<% } %>
		</select>
	</td>
	<!-- Calidad -->
	<td class="ancho_calidad taparMotivo"><%= link.calidad %></td>
	<!-- Tipo -->
	<td class="ancho_tipo taparMotivo"><%= link.link_tipo.nombre %></td>
	<!-- Completo -->
	<td class="ancho_completo taparMotivo"><%- link.completo ? "SI" : "NO" %></td>
	<!-- Parte -->
	<td class="ancho_parte taparMotivo <%- link.completo ? 'desperdicio' : '' %>"><%- !link.completo ? link.parte : '' %></td>
	<!-- Gratuito -->
	<td class="ancho_gratuito taparMotivo"><%- link.gratuito ? "SI" :  "NO" %></td>
	<!-- Status -->
	<td class="ancho_status taparMotivo"><%- link.status_registro.nombre %> </td>
	<!-- Acción -->
	<td class="ancho_accion">
		<!-- Ícono editar -->
		<i class="fa-solid fa-pen editar <%= mostrar %>" tabindex="-1" title="Editar"></i>
		<!-- Íconos borrar -->
		<% if (link.creado_por_id == userID) { %>
			<!-- Los links propios se pueden eliminar -->
			<i class="fa-solid fa-trash-can out <%= mostrar %>" tabindex="-1" title='Eliminar'></i>
		<% } else { %>
			<!-- Los demás links se pueden 'inactivar' -->
			<i class="fa-solid fa-circle-xmark out <%= mostrar %>" tabindex="-1" title='Inactivar'></i>
		<% } %>
	</td>
</tr>
