<tr class="yaExistentes">
	<!-- Url -->
	<td class="logoProv" title="<%= link.url %>">
		<a href="//<%= link.url %>" target="_blank">
			<img src="/imagenes/0-Logos/<%= link.link_prov.avatar %>" alt="<%= link.link_prov.nombre %>">
		</a>
	</td>
	<!-- Calidad -->
	<td><%= link.calidad %></td>
	<!-- Tipo -->
	<td><%= link.link_tipo.nombre %></td>
	<!-- Completo -->
	<td><%- link.completo ? "SI" : "NO" %></td>
	<!-- Parte -->
	<td class="<%- link.completo ? 'desperdicio' : '' %>">
		<%- !link.completo ? link.parte : '' %>
	</td>
	<!-- Gratuito -->
	<td><%= link.gratuito ? "SI" :  "NO" %></td>
	<!-- Status -->
	<td><%= link.status_registro.links %> </td>
	<!-- Acción -->
	<td>
		<% if (!link.status_registro.sugerido_borrar && !link.status_registro.borrado) { %>
			<i class="fa-solid fa-pen" title="Editar"></i>
		<% } %>
		<i class="fa-solid fa-trash-can" title='Inactivar'></i>
	</td>
</tr>
