<tr class="edicion ocultar inactivo_<%= link.status_registro.gr_pasivos %> <%- link.status_registro.gr_pasivos ? 'inactivo_ocultar' : '' %>">
	<!-- Url -->
	<td class="ancho_url url" title="<%= link.url %>">
		<div class="inputError">
			<img src="/imagenes/0-Logos/<%= link.link_prov.avatar %>" alt="<%= link.link_prov.nombre %>">
			<input name="url" type="text" class="input ocultar" value="<%= link.url %>">
			<input name="id" type="text" class="ocultar" value="<%= link.id %>">
			<i class="fa-solid fa-circle-xmark ocultar" style="display: none"><span class="mensajeError"></span></i>
			<i class="fa-solid fa-circle-check" style="display: none"></i>
			<i class="fa-solid fa-question prov_id" style="display: none"></i>
		</div>
	</td>
	<!-- Calidad -->
	<td class="ancho_calidad calidad">
		<div class="inputError">
			<select name="calidad" class="input">
				<% for (let calidad of calidades) { %>
					<option value="<%= calidad %>" <%- link.calidad==calidad ? "selected" : "" %>><%= calidad %></option>
				<% } %>
				<option value="1081" <%- link.calidad=="1081" ? "selected" : "" %>>>1080</option>
			</select>
			<!-- Errores -->
			<i class="fa-solid fa-circle-xmark ocultar" style="z-index: 9"><span class="mensajeError"></span></i>
			<i class="fa-solid fa-circle-check ocultar"></i>
		</div>
	</td>
	<!-- Tipo -->
	<td class="ancho_tipo tipo">
		<div class="inputError">
			<select name="link_tipo_id" class="input">
				<option value="<%= links_tipos[0].id %>" <%- link.link_tipo_id==links_tipos[0].id ? "selected" : "" %>><%= links_tipos[0].nombre %></option>
				<% if (entidad != "colecciones") { %>
					<option value="<%= links_tipos[1].id %>" <%- link.link_tipo_id==links_tipos[1].id ? "selected" : "" %>><%= links_tipos[1].nombre %></option>
				<% } %>
			</select>
			<!-- Errores -->
			<i class="fa-solid fa-circle-xmark ocultar" style="z-index: 8"><span class="mensajeError"></span></i>
			<i class="fa-solid fa-circle-check ocultar"></i>
		</div>
	</td>
	<!-- Completo -->
	<td class="ancho_completo completo">
		<div class="inputError">
			<select name="completo" class="input">
				<option value="1" <%- link.completo=="1" ? "selected" : "" %>>SI</option>
				<option value="0" <%- link.completo=="0" ? "selected" : "" %>>NO</option>
			</select>
			<!-- Errores -->
			<i class="fa-solid fa-circle-xmark ocultar" style="z-index: 7"><span class="mensajeError"></span></i>
			<i class="fa-solid fa-circle-check ocultar"></i>
		</div>
	</td>
	<!-- Parte -->
	<td class="ancho_parte parte">
		<div class="inputError">
			<input name="parte" type="number" class="input" value="<%- link.parte != "-" ? link.parte : '' %>">
			<!-- Errores -->
			<i class="fa-solid fa-circle-xmark ocultar" style="z-index: 6"><span class="mensajeError "></span></i>
			<i class="fa-solid fa-circle-check ocultar"></i>
		</div>
	</td>
	<!-- Gratuito -->
	<td class="ancho_gratuito gratuito">
		<div class="inputError">
			<select name="gratuito" class="input">
				<option value="1" <%- link.gratuito == "1" ? "selected" : "" %>>SI</option>
				<option value="0" <%- link.gratuito == "0" ? "selected" : "" %>>NO</option>
			</select>
			<!-- Errores -->
			<i class="fa-solid fa-circle-xmark ocultar" style="z-index: 5"><span class="mensajeError "></span></i>
			<i class="fa-solid fa-circle-check ocultar"></i>
		</div>
	</td>
	<!-- Status -->
	<td class="ancho_status status taparMotivo"><%= link.status_registro.nombre %> </td>
	<!-- Propio -->
	<td class="ancho_propio taparMotivo"><%= cond.propio ? "SI" : cond.ajeno ? "NO" : "-" %></td>
	<!-- Acción -->
	<td class="ancho_accion accion">
		<i class="fa-solid fa-floppy-disk" title='Guardar'></i>
	</td>
</tr>
