<tr class="altas">
	<!-- Url y Proveedor_id-->
	<td class = "ancho_url url">
		<div class="inputError">
			<input name="url" type="text" autofocus class="input" value="<%- (dataEntry.numeroFila == fila && dataEntry.url) ? dataEntry.url : "" %>" autocomplete="off">
			<input name="link_prov_id" class="ocultar" value="<%- (dataEntry.numeroFila == fila && dataEntry.link_prov_id) ? dataEntry.link_prov_id : "" %>">
			<!-- Errores -->
			<i class="fa-solid fa-circle-xmark ocultar" style="z-index: 10"><span class="mensajeError"></span></i>
			<i class="fa-solid fa-circle-check prov_id"></i>
			<i class="fa-solid fa-circle-question prov_id"></i>
		</div>
	</td>
	<!-- Calidad -->
	<td class = "ancho_calidad calidad">
		<div class="inputError">
			<select name="calidad" class="input">
				<option value="" class="ocultar" <%- (dataEntry.numeroFila == fila && !dataEntry.calidad) ? "selected" : "" %>>Elejí</option>
				<% for (let calidad of calidades) { %>
					<option value="<%= calidad %>" <%- (dataEntry.numeroFila == fila && dataEntry.calidad == calidad) ? "selected" : "" %>><%= calidad %></option>
				<% } %>
				<option value="1081" <%- (dataEntry.numeroFila == fila && dataEntry.calidad == "1081") ? "selected" : "" %>>>1080</option>
			</select>
			<!-- Errores -->
			<i class="fa-solid fa-circle-xmark ocultar" style="z-index: 9"><span class="mensajeError"></span></i>
			<i class="fa-solid fa-circle-check ocultar"></i>
		</div>
	</td>
	<!-- Tipo -->
	<td class = "ancho_tipo tipo">
		<div class="inputError">
			<select name="link_tipo_id" class="input">
				<option value="" class="ocultar">Elejí</option>
				<option value="<%= links_tipos[0].id %>" <%- (dataEntry.numeroFila == fila && dataEntry.link_tipo_id == links_tipos[0].id || entidad == "colecciones") ? "selected" : "" %>><%= links_tipos[0].nombre %></option>
				<% if (entidad != "colecciones") { %>
					<option value="<%= links_tipos[1].id %>" <%- (dataEntry.numeroFila == fila && dataEntry.link_tipo_id==links_tipos[1].id) ? "selected" : "" %>><%= links_tipos[1].nombre %></option>
				<% } %>
			</select>
			<!-- Errores -->
			<i class="fa-solid fa-circle-xmark ocultar" style="z-index: 8"><span class="mensajeError"></span></i>
			<i class="fa-solid fa-circle-check ocultar"></i>
		</div>
	</td>
	<!-- Completo -->
	<td class = "ancho_completo completo">
		<div class="inputError">
			<select name="completo" class="input">
				<option value="" class="ocultar" <%- (dataEntry.numeroFila == fila && dataEntry.completo == "") ? "selected" : "" %>>Elejí</option>
				<option value="1" <%- (dataEntry.numeroFila == fila && dataEntry.completo == "1") ? "selected" : "" %>>SI</option>
				<option value="0" <%- (dataEntry.numeroFila == fila && dataEntry.completo == "0") ? "selected" : "" %>>NO</option>
			</select>
			<!-- Errores -->
			<i class="fa-solid fa-circle-xmark ocultar" style="z-index: 7"><span class="mensajeError"></span></i>
			<i class="fa-solid fa-circle-check ocultar"></i>
		</div>
	</td>
	<!-- Parte -->
	<td class = "ancho_parte parte">
		<div class="inputError">
			<input name="parte" type="number" class="input" value="<%- (dataEntry.numeroFila == fila && dataEntry.parte != "-") ? dataEntry.parte : '' %>">
			<!-- Errores -->
			<i class="fa-solid fa-circle-xmark ocultar" style="z-index: 6"><span class="mensajeError "></span></i>
			<i class="fa-solid fa-circle-check ocultar"></i>
		</div>
	</td>
	<!-- Gratuito -->
	<td class = "ancho_gratuito gratuito">
		<div class="inputError">
			<select name="gratuito" class="input">
				<option value="" class="ocultar" <%- (dataEntry.numeroFila == fila && dataEntry.gratuito == "") ? "selected" : "" %>>?</option>
				<option value="1" <%- (dataEntry.numeroFila == fila && dataEntry.gratuito == "1") ? "selected" : "" %>>SI</option>
				<option value="0" <%- (dataEntry.numeroFila == fila && dataEntry.gratuito == "0") ? "selected" : "" %>>NO</option>
			</select>
			<!-- Errores -->
			<i class="fa-solid fa-circle-xmark ocultar" style="z-index: 5"><span class="mensajeError "></span></i>
			<i class="fa-solid fa-circle-check ocultar"></i>
		</div>
	</td>
	<!-- Status -->
	<td class = "ancho_status status desperdicio">
	</td>
	<!-- Acción -->
	<td class = "ancho_accion accion">
		<i class="fa-solid fa-floppy-disk inactivo" title='Guardar'></i>
	</td>
</tr>
