<!DOCTYPE html>
<html lang="es">
<head>
	<!-- Head -->
	<% let titulo = informacion.titulo ? informacion.titulo: "Error" %>
	<%- include('GN1-Head', {titulo}) %>
	<link rel="stylesheet" href="/formatoDeVistas/0-Compartido/Cartel.css">
</head>
<body>
	<%- include('GN2-Header') %>
	<main class="flex-row">
		<%- include('CMP-ImagenDerecha', {url: '/imagenes/0-Base/ImagenDerecha.jpg'}) %>
		<section id="cuerpo-y-footer">
			<%- include('GN3-Footer') %>
			<!--**************************** CUERPO ******************************-->
			<section id="tapar-el-fondo"></section>
			<section id="cartel" class="<%- informacion.colorFondo ? informacion.colorFondo : '' %>">
				<i id="error" class="fa-solid fa-triangle-exclamation"></i>
				<% if (informacion.mensajes.length > 1) { %>
					<ul id="mensajes">
						<% for (mensaje of informacion.mensajes) { %>
							<li><%= mensaje %> </li>
						<% } %>
					</ul>
				<% } else { %>
					<p id="mensajes"><%= informacion.mensajes[0] %> </p>
				<% } %>
				<div id="flechasCartel">
					<% let autoFocus = informacion.iconos.length==1 %> 
					<% for (icono of informacion.iconos) { %>
						<a href="<%= icono.link %>" <% if (autoFocus) { %>autofocus<% } %>><i class="fa-solid <%= icono.nombre %>" title="<%= icono.titulo %>"></i></a>
					<% } %>
				</div>
			</section>
			<!--****************************** FIN *******************************-->
		</section>
	</main>
</body>
</html>