<div id="tituloInfoDetalle" class="relative">
	<h3>Tu calificación</h3>
	<!-- Ayuda -->
	<div class="ayuda">
		<i class="fa-solid fa-circle-question ayudaClick desplClick">
			<ul type="dots" class="ayudaMostrar ocultar desplMostrar">
				<p>El impacto de cada atributo en el resultado es el siguiente:</p>
				<li>Deja Huella: 50%</li>
				<li>Entretiene: 35%</li>
				<li>Calidad Técnica: 15%</li>
			</ul>
		</i>
	</div>
</div>
<form method="POST" class="marco">
	<div id="calificaciones">
		<div id="individuales">
			<% const atributos = Object.keys(atributosCalific) %>
			<% atributos.forEach(function(atributo, i) { %>
				<% const atributo_id = atributo + "_id" %>
				<div>
					<h4>
						<% if ([0, 2].includes(i)) { %>
							<!-- Ayuda para 'Deja huella' y 'Calidad técnica' -->
							<i class="fa-solid fa-circle-question ayudaClick desplClick">
								<ul type="dots" class="ayudaMostrar ocultar desplMostrar">
									<% if (!i) { %>
										<p>Se refiere a si deja un impacto positivo en el espectador en su <em>Fe Católica</em> y/o sus <em>Valores</em>.</p>
									<% } else { %>
										<p>Se refiere a la calidad del sonido, de la imagen, de la actuación.</p>
									<% } %>
								</ul>
							</i>
						<% } %>
						<%= atributosTitulo[i] %>
					</h4>
					<select name="<%= atributo_id %>">
						<option value="" <% if (!califUsuario[atributo_id]) { %>selected<% } %>>Elegí una opción</option>
						<% for (let opcion of atributosCalific[atributo]) { %>
							<option value="<%= opcion.id %>" <% if (opcion.id == califUsuario[atributo_id]) {%>selected<% } %>><%= opcion.nombre %></option>
						<% } %>
					</select>
				</div>
			<% }) %>
		</div>
		<div id="sector2">
			<div id="consolidado">
				<div id="resultado">Resultado</div>
				<div id="valor"><%= califUsuario ? (califUsuario.resultado + "%") : "-" %></div>
			</div>
			<%- include("PR3-CalificarButtons") %>
		</div>
	</div>
	<%- include("PR3-CalificarButtons") %>
</form>
