<!DOCTYPE html>
<html lang="es">
<head>
	<%- include('1-Head') %>
	<%- include('0-Revisar-Head') %>
</head>
<body>
	<%- include('21-Header') %>
	<main class="flex-row">
		<section id="imagen-derecha">
			<img src="<%= avatar %>" title="<%= prodOriginal.nombre_castellano %>">
		</section>
		<section id="cuerpo-y-footer">
			<%- include('23-Footer') %>
			<section id="cuerpo">
				<%- codigo == "producto/alta" ? include("2-Prod1-Alta") : "" %>
			</section>
	</main>
</body>
</html>