<div id="cuerpo">
	<h1 id="titulo"><%= titulo %></h1>
	<!-- Datos -->
	<section id="entidades">
		<!-- Datos generales -->
		<div id="primeraColumna">
			<h2>Productos</h2>
			<!-- Para inactivar -->
			<%- include("11-Vision-Registros", {titulo: "Inactivar", estado: status.find(n => n.inactivar).id, registros: productos}) %>
			<!-- Aprobar la edici贸n de aprobados -->
			<!-- titulo: "Ediciones" -->
			<!-- Aprobar la edici贸n de altas -->
			<%- include("11-Vision-Registros", {titulo: "Ediciones de Altas", estado: status.find(n => n.alta_aprob).id, registros: productos}) %>
			<!-- Aprobar el Alta -->
			<%- include("11-Vision-Registros", {titulo: "Altas", estado: status.find(n => n.creado).id, registros: productos}) %>
			<!-- Recuperar -->
			<%- include("11-Vision-Registros", {titulo: "Recuperar", estado: status.find(n => n.recuperar).id, registros: productos}) %>
		</div>
		<div id="segundaColumna">
			<!-- Personas -->
			<div>
				<h2>Relaci贸n con la Vida (RCLV)</h2>
				<!-- Aprobar la edici贸n de aprobados -->
				<!-- titulo: "Ediciones" -->
				<!-- Aprobar el Alta -->
				<%- include("11-Vision-Registros", {titulo: "Altas Pendientes de Aprobar", estado: status.find(n => n.creado).id, registros: RCLVs}) %>
			</div>
			<div>
				<h2>Links</h2>
				<table>
					<tbody>
					<% for (let prodLinks of prodsLinks) { %>
						<tr>
							<td>
								<a href="/revision/links/?entidad=<%= prodLinks.entidad %>&id=<%= prodLinks.id %>">
									<%= prodLinks.nombre %>
								</a>
							</td>
							<td><%= prodLinks.entidad.slice(0,3).toUpperCase() %></td>
						</tr>
					<% } %>
					</tbody>
				</table>
	
			</div>
		</div>
	</section>
</div>
