<div id="cuerpo">
	<h1 id="titulo"><%= titulo %></h1>
	<!-- Datos -->
	<section id="entidades">
		<!-- Datos generales -->
		<div id="primeraColumna">
			<h2>Productos</h2>
			<!-- Para inactivar -->
			<%- include("11-Vision-Registros", {titulo: "Inactivar", estado: status.filter(n => n.inactivar).map(n => n.id), registros: productos}) %>
			<!-- Aprobar la edición de aprobados -->
			<%- include("11-Vision-Registros", {titulo: "Aprobados c/Edición", estado: aprobados, registros: prodsConEdicion}) %>
			<!-- Aprobar la edición de altas -->
			<%- include("11-Vision-Registros", {titulo: "Edición de Altas", estado: status.filter(n => n.alta_aprob).map(n => n.id), registros: productos}) %>
			<!-- Aprobar el Alta -->
			<%- include("11-Vision-Registros", {titulo: "Altas", estado: status.filter(n => n.creado).map(n => n.id), registros: productos}) %>
			<!-- Recuperar -->
			<%- include("11-Vision-Registros", {titulo: "Recuperar", estado: status.filter(n => n.recuperar).map(n => n.id), registros: productos}) %>
		</div>
		<div id="segundaColumna">
			<!-- Personas -->
			<div>
				<h2>Relación con la Vida (RCLV)</h2>
				<!-- Aprobar la edición de aprobados -->
				<!-- titulo: "Ediciones" -->
				<!-- Aprobar el Alta -->
				<%- include("11-Vision-Registros", {titulo: "Altas Pendientes de Aprobar", estado: status.filter(n => n.creado).map(n => n.id), registros: RCLVs}) %>
			</div>
			<div>
				<h2>Links</h2>
				<table>
					<tbody>
					<% for (let prodConLinks of prodsConLinks) { %>
						<tr>
							<td>
								<a href="/revision/links/?entidad=<%= prodConLinks.entidad %>&id=<%= prodConLinks.id %>">
									<%= prodConLinks.nombre %>
								</a>
							</td>
							<td><%= prodConLinks.entidad.slice(0,3).toUpperCase() %></td>
						</tr>
					<% } %>
					</tbody>
				</table>
	
			</div>
		</div>
	</section>
</div>
