<div id="cuerpo">
	<h1 id="titulo"><%= titulo %></h1>
	<!-- Datos -->
	<section id="entidades">
		<!-- Datos generales -->
		<div id="primeraColumna">
			<h2>Productos</h2>
			<!-- Para inactivar -->
			<%- include("11-Vision-Prods", {titulo: "Inactivar", estado: status.find(n => n.inactivar).id}) %>
			<!-- Aprobar la edición de productos aprobados -->

			<!-- Aprobar la edición de productos pendientes de aprobar -->
			<%- include("11-Vision-Prods", {titulo: "Ediciones Pendientes de Aprobar", estado: status.find(n => n.alta_aprob).id}) %>
			<!-- Aprobar el Alta -->
			<%- include("11-Vision-Prods", {titulo: "Altas Pendientes de Aprobar", estado: status.find(n => n.creado).id}) %>
			<!-- Recuperar -->
			<%- include("11-Vision-Prods", {titulo: "Recuperar", estado: status.find(n => n.recuperar).id}) %>
		</div>
		<div id="segundaColumna">
			<!-- Personas -->
			<div>
				<h2>Relación con la Vida (RCLV)</h2>
				<table>
					<tbody>
					<% for (let RCLV of RCLVs) { %>
						<tr>
							<td>
								<a href="/revision/rclv/?entidad=<%= RCLV.entidad %>&id=<%= RCLV.id %>">
									<%= RCLV.nombre %>
								</a>
							</td>
							<td><%= RCLV.entidad.slice(5,8).toUpperCase() %></td>
						</tr>
					<% } %>
					</tbody>
				</table>	
			</div>
			<div>
				<h2>Links</h2>
				<table>
					<tbody>
					<% for (let prodLinks of prodsLinks) { %>
						<tr>
							<td>
								<a href="/revision/links/?entidad=<%= prodLinks.entidad %>&id=<%= prodLinks.id %>">
									<%= prodLinks.nombre %>
								</a>
							</td>
							<td><%= prodLinks.entidad.slice(0,3).toUpperCase() %></td>
						</tr>
					<% } %>
					</tbody>
				</table>
	
			</div>
		</div>
	</section>
</div>
