<div id="cuerpo">
	<h1 id="titulo"><%= titulo %></h1>
	<!-- Datos -->
	<section id="entidades">
		<!-- Datos generales -->
		<div id="primeraColumna">
			<h2>Productos</h2>
			<table>
				<tbody>
				<% for (producto of Productos) { %>
					<tr>
						<td>
							<a href="/revision/producto/?entidad=<%= producto.entidad %>&id=<%= producto.id %>">
								<%= producto.nombre %>
							</a>
						</td>
						<td><%= producto.abrev %></td>
					</tr>
				<% } %>
				</tbody>
			</table>
		</div>
		<div id="segundaColumna">
			<!-- Personas -->
			<div>
				<h2>Relación con la Vida (RCLV)</h2>
				<table>
					<tbody>
					<% for (RCLV of RCLVs) { %>
						<tr>
							<td>
								<a href="/revision/rclv/?entidad=<%= RCLV.entidad %>&id=<%= RCLV.id %>">
									<%= RCLV.nombre %>
								</a>
							</td>
							<td><%= RCLV.entidad.slice(5,8).toUpperCase() %></td>
						</tr>
					<% } %>
					</tbody>
				</table>	
			</div>
			<div>
				<h2>Links</h2>
				<table>
					<tbody>
					<% for (prodLinks of prodsLinks) { %>
						<tr>
							<td>
								<a href="/revision/links/?entidad=<%= prodLinks.entidad %>&id=<%= prodLinks.id %>">
									<%= prodLinks.nombre %>
								</a>
							</td>
							<td><%= prodLinks.entidad.slice(0,3).toUpperCase() %></td>
						</tr>
					<% } %>
					</tbody>
				</table>
	
			</div>
		</div>
	</section>
</div>
