<%- include('TimerContador') %>
<%- include('Cartel') %>
<h1 id="titulo"><%= titulo %></h1>
<form id="dataEntry" class="flex-col">
	<!-- Datos -->
	<section id="datos" class="flex-row OK">
		<!--Primera columna-->
		<div id="primeraCol">
			<!-- Nombre: Título, Ayuda y Error/OK -->
			<div class="flex-row">
				<div class="margenBottomTitulo relative">
					<!-- Título -->
					<h3>Nombre</h3>
					<!-- Ayuda -->
					<i class="fa-solid fa-circle-question"></i>
					<ul type="dots" class="mensajeAyuda ocultar">
						<% if (entidad == "RCLV_personajes") { %>
							<li>El nombre sin prefijo (San, Santa, Madre, Don, Papa).</li>
							<li>Si la persona cambió su nombre, se usa el más conocido.</li>
						<% } %>
						<li>Si querés editar los datos de un registro existente, escribí el nombre.</li>
					</ul>
					<!-- Error/OK -->			
					<i class="fa-solid fa-circle-xmark<%- !errores.nombre ? ' ocultar' : '' %>">
						<span class="mensajeError"><%= errores.nombre %></span>
					</i>
					<i class="fa-solid fa-circle-check ocultar"></i>
				</div>
			</div>
			<!-- Nombre: Input -->
			<input type="text" name="nombre" class="input" value="<%= prodOriginal.nombre %>" autofocus autocomplete="off">
			<!-- Fecha Representativa: Título, Ayuda y Error/OK -->
			<div class="borderTop flex-row">
				<div class="margenBottomTitulo relative">
					<!-- Título -->
					<h3>Fecha más representativa</h3>
					<!-- Ayuda -->
					<i class="fa-solid fa-circle-question"></i>
					<ul type="dots" class="mensajeAyuda ocultar">
						<li>Usamos la fecha en que se lo recuerda.</li>
						<li>Para los santos o beatos, es la fecha en el santoral.</li>
						<li>Para los demás, suele ser la fecha de su muerte.</li>
					</ul>
					<!-- Error/OK -->			
					<i class="fa-solid fa-circle-xmark<%- !errores.fecha ? ' ocultar' : '' %>">
						<span class="mensajeError"><%= errores.dia %></span>
					</i>
					<i class="fa-solid fa-circle-check ocultar"></i>
				</div>
			</div>
			<!-- Fecha Representativa: Valores -->
			<div id="valoresFecha" class="flex-col space-between">
				<!-- Meses -->
				<div class="flexRowAlign">
					<label style="width: 40px;">Mes:</label>
					<select name="mes_id" class="input">
						<option value="" class="ocultar" <% if (!prodOriginal.mes_id) { %>selected<% } %>>Elegí</option>
						<% for (let mes of meses) { %>
							<option value="<%= mes.id %>" <% if (mes.id == mes_id) { %>selected<% } %>>
								<%= mes.nombre %>
							</option>
						<% } %>
					</select>
					<a href="//es.wikipedia.org/wiki/<%= prodOriginal.nombre %>" id="wiki" target="blank" class="ocultar" tabindex="-1">
						<img src="/imagenes/0-Logos/BD-Wiki.jpg" title="Consultar en Wikipedia">
					</a>
					<a href="//santopedia.com/buscar?q=<%= prodOriginal.nombre %>" id="santopedia" target="blank" class="ocultar" tabindex="-1">
						<img src="/imagenes/0-Base/Cruz.jpg" title="Consultar en Santopedia">
					</a>
				</div>
				<!-- Días -->
				<div class="flexRowAlign">
					<label style="width: 40px;">Día:</label>
					<select name="dia" class="input">
						<option value="" class="ocultar" <% if (!prodOriginal.dia) { %>selected<% } %>>Elegí</option>
						<% for (let dia = 1; dia < 32; dia++) { %>
							<option value="<%= dia %>" 
								<% if (dia > 29) { %>class="ocultar"<% } %>
								<% if (dia == diaOriginal) { %>selected<% } %>
							>
								<%= dia %>
							</option>
						<% } %>
					</select>
				</div>
				<!-- Fecha desconocida -->
				<div class="flex-row align-center">
					<input class="input" type="checkbox" name="desconocida" style="margin-right: 5px;" 
						<% if (!prodOriginal.dia_del_ano_id) { %>checked<% } %>
						tabindex="-1"
					>
					<label>Sin fecha representativa</label>
				</div>
			</div>
			<!-- Año de nacimiento u ocurrencia -->
			<% if (entidad != "RCLV_valores") { %>
				<div class="borderTop flex-row">
					<div class="margenBottomTitulo relative flex-row align-center">
						<!-- Título -->
						<h3>Año de <%= entidad == "RCLV_personajes" ? "Nacimiento" : "Ocurrencia" %></h3>
						<input type="number" name="ano" class="input" value="<%= prodOriginal.ano %>" autofocus autocomplete="off">
						<!-- Ayuda -->
						<i class="fa-solid fa-circle-question"></i>
						<ul type="dots" class="mensajeAyuda ocultar">
							<li>Nos ayuda a ubicar cronológicamente al <%= prodOriginal.producto_RCLV %>.</li>
							<li>Si es anterior a Cristo, elegí un valor negativo.</li>
							<li>Si no se conoce el año exacto, por favor hacé tu mejor estimación.</li>
						</ul>
						<!-- Error/OK -->			
						<i class="fa-solid fa-circle-xmark<%- !errores.nombre ? ' ocultar' : '' %>">
							<span class="mensajeError"><%= errores.nombre %></span>
						</i>
						<i class="fa-solid fa-circle-check ocultar"></i>
					</div>
				</div>
			<% } %>
		</div>
		<!--Segunda columna-->
		<div id="segundaCol">
			<div class="relative">
				<h3>Nombres con esa fecha</h3>
				<!-- Error/OK -->			
				<i class="fa-solid fa-circle-xmark<%- !errores.duplicados ? ' ocultar' : '' %>">
					<span class="mensajeError"><%= errores.duplicados %></span>
				</i>
				<i class="fa-solid fa-circle-check ocultar"></i>
			</div>
			<p>Destildalos para controlar si no está ya en nuestra BD</p>
			<ul type="none" id="posiblesDuplicados"></ul>
		</div>
	</section>
	<!-- Relación con la Iglesia (sólo para personajes históricos) -->
	<% if (entidad == "RCLV_personajes") { %>
		<section id="RCLI" class="borderTop flex-row space-between OK">
			<!-- Primera columna -->
			<div class="flex-col">
				<!-- En proceso de canonización: Título y Error/OK -->
				<div class="margenBottomTitulo relative">
					<!-- Título -->
					<h3 class="">Relación con la Iglesia</h3>
					<!-- Error/OK -->
					<i class="fa-solid fa-circle-xmark<%- !errores.RCLI ? ' ocultar' : '' %>">
						<span class="mensajeError"><%= errores.RCLI %></span>
					</i>
					<i class="fa-solid fa-circle-check ocultar"></i>
				</div>
				<!-- ¿En proceso de canonización? -->
				<h4 id="santosanta">Es santo o está en proceso de canonización:</h4>
				<div id="opcionesIglesia" class="flex-row">
					<div class="flexRowAlign">
						<input type="radio" name="enProcCan" value="1" <% if (prodOriginal.proceso_canonizacion_id) { %>checked<% } %>>
						<label>SI</label>
					</div>
					<div class="flexRowAlign">
						<input type="radio" name="enProcCan" value="0" <% if (!prodOriginal.proceso_canonizacion_id) { %>checked<% } %>>
						<label>NO</label>
					</div>
				</div>
			</div>
			<!-- Sectores ocultos salvo que esté en proceso de canonización -->
			<div id="ocultar" class="invisible flex-col space-between">
				<!-- Genero -->
				<div id="genero" class="flex-row oculta">
					<h4>Género:</h4>
					<div class="flex-row">
						<% let rol_iglesia_id = prodOriginal.rol_iglesia_id ? prodOriginal.rol_iglesia_id.slice(-1) : "" %>
						<div class="flexRowAlign">
							<input type="radio" name="genero" value="V" <% if (rol_iglesia_id=="V") { %>checked<% } %>>
							<label>Varón</label>
						</div>
						<div class="flexRowAlign">
							<input type="radio" name="genero" value="M" <% if (rol_iglesia_id=="M") { %>checked<% } %>>
							<label>Mujer</label>
						</div>
					</div>
				</div>
				<!-- Status del proceso de canonización -->
				<div class="flexRowAlign">
					<label>Status del proceso:</label>
					<select name="proceso_canonizacion_id">
						<option value="" <% if (prodOriginal.proceso_canonizacion_id=="") { %> selected <% } %> class="ocultar">Elejí</option>
						<% for (let proceso of procesos_canonizacion) { %>
							<option value="<%= proceso.id %>" <% if (proceso.id == prodOriginal.proceso_canonizacion_id) { %> selected <% } %>><%= proceso.nombre %></option>
						<% } %> 
					</select>
				</div>
				<!-- Rol en la Iglesia -->
				<div class="flexRowAlign">
					<label>Rol en la Iglesia:</label>
					<select name="rol_iglesia_id">
						<option value="" <% if (prodOriginal.rol_iglesia_id=="") { %> selected <% } %> class="ocultar">Elejí una opción</option>
						<% for (let rol_iglesia of roles_iglesia) { %>
							<option value="<%= rol_iglesia.id %>" <% if (prodOriginal.rol_iglesia_id==rol_iglesia.id) { %> selected <% } %><% if (rol_iglesia.id=="PC") {%> class="ocultar" <% } %>><%= rol_iglesia.nombre %></option>
						<% } %> 
					</select>
				</div>
			</div>
		</section>	
	<% } %>
	<!-- Flechas y Botón -->
	<section id="flechas">
		<i id="liberarSalir" class="fa-solid fa-circle-left"></i>
		<button type="text" class="inactivo"><i class="fa-solid fa-circle-check"></i></button>
	</section>
</form>
