<%- include('TimerContador') %>
<%- include('Cartel') %>
<section id="tituloConAyuda">
	<h1 id="titulo"><%= titulo %></h1>
	<!-- Ayuda -->
	<i id="iconoAyuda" class="fa-solid fa-circle-question"></i>
	<ul class="mensajeAyuda ocultar" type="dots">
		<li>Sé muy cuidadoso de aprobar sólo links que respeten los derechos de autor</li>

	</ul>	
</section>
<section id="contenido">
	<div id="datos">
		<!-- Tipo de Producto, Temporada, Capítulo, Colección -->
		<%- include("0-Revisar-Encabezado") %>
		<select id="tipoLink">
			<option value="TR">Trailer</option>
			<option value="PL">Película</option>
			<option value="TD" selected>Todos</option>
		</select>
		<div id="tabla">
			<table>
				<thead>
					<tr>
						<th class="ancho_url url">Url</th>
						<th class="ancho_calidad calidad">Calidad (px)</th>
						<th class="ancho_tipo tipo">Tipo</th>
						<th class="ancho_completo completo">Completo</th>
						<th class="ancho_parte parte">Parte</th>
						<th class="ancho_gratuito gratuito">Gratuito</th>
						<th class="ancho_status status">Status</th>
						<th class="ancho_accion accion">Acción</th>
					</tr>
				</thead>
				<tbody>
					<!-- Filas para links existentes -->
					<% let fila = 0 %> 
					<% for (let link of linksAnalizar) { %>
						<%- include("31-Links-Datos", {link}) %>
						<%- include("32-Links-Edicion", {fila, link}) %>	
						<% fila++ %> 
					<% } %>
				</tbody>
			</table>
		</div>
	</div>
	<!-- Comandos -->
	<div id="comandos">
		<% for (let prov of provs.filter(n => n.buscador_automatico)) { %>
			<a 
				href="//<%= prov.url_distintivo + prov.url_buscar_pre + producto.nombre_castellano %><% if (prov.url_buscar_post) { %>&<%= prov.url_buscar_post %><% } %>" 
				target="_blank"
				tabindex="-1"
			>
				<img src="/imagenes/0-Logos/<%= prov.avatar %>" tabindex="-1">
			</a>
		<% } %>
	</div>
	<!-- Flechas -->
	<div id="flechas">
		<i id="liberarSalir" class="fa-solid fa-circle-left"></i>
	</div>
</section>
