<link rel="stylesheet" href="/formatos/2.0-Familias-CRUD/FM-Encabezado.css">
<div id="nombres">
	<h2><%- registro.nombre_castellano ? registro.nombre_castellano : registro.nombre ? registro.nombre : '' %></h2>
	<% if (registro.nombre_original || registro.apodo) { %>
		<h3><em><%= familia == "rclv" ? registro.apodo : registro.nombre_original %></em></h3>
	<% } %>
</div>
<% if (entidad != "peliculas") { %>
	<div id="colCap">
		<!-- Cantidad de Temporadas y de Capítulos -->
		<% if (entidad == "colecciones") { %>
			<div id="colecciones">
				<% if (["prod_rud", "links_crud"].includes(tema)) { %>
					<a href="<%= '/inactivar-captura/?entidad=' + entidad + '&id=' + id + '&prodEntidad=capitulos&prodID=' + prodID + '&origen=' + rutaCRUD %>">
						<i class="fa-solid fa-arrow-right-arrow-left" tabindex="-1" title="Ver el Detalle de un Capítulo" %>"></i>
					</a>
				<% } %>
				<div>
					<p><strong>Cant. de Temporadas:</strong> <%= registro.cant_temps ? registro.cant_temps : "Sin datos" %></p>
					<p><strong>Cant. de Capítulos:</strong> <%= registro.capitulos.length %></p>
				</div>
			</div>
			<% } %>
		<!-- Colección a la que pertenece -->
		<% if (entidad == "capitulos") { %>
			<script src="/javascript/2.1-Prod-RUD/PR0-AlternarTempCap.js"></script>
			<script src="/javascript/2.1-Prod-RUD/PR0-AvanzaRetrCap.js"></script>
			<!-- Ir a la colección -->
			<div id="tempCapI">
				<p><strong>De la colección:</strong>
					<a href="/producto/edicion/?entidad=colecciones&id=<%= registro.coleccion_id %>">
						<span><em><%= registro.coleccion.nombre_castellano %></em></span>
					</a>
				</p>
			</div>
			<div id="tempCapS">
				<% if (tema == "prod_rud" || tema == "links_crud") { %>
					<!-- Cambiar de capítulo -->
					<div class="pack">
						<i class="fa-solid fa-circle-left inactivo" tabindex="-1" title="Ir al capítulo anterior"></i>
						<i class="fa-solid fa-circle-right inactivo" tabindex="-1" title="Ir al capítulo posterior"></i>
					</div>
					<select id="temporada" <% if (tema != "prod_rud") { %> readonly <% } %>>
						<% for (let temp = 1; temp <= registro.coleccion.cant_temps; temp++) { %>
							<option <% if (registro.temporada == temp) { %>selected<% } %> >Temporada <%= temp %></option>
						<% } %>
					</select>
					<select id="capitulo">
						<% for (let capitulo of registro.capitulos) { %>
							<option <% if (registro.capitulo == capitulo) { %>selected<% } %> >Capítulo <%= capitulo %></option>
						<% } %>
					</select>
				<% } else { %>
					<!-- Temporada y Capítulo -->
					<div class="flexRow">
						<p style="margin-right: 15px;"><strong>Temporada:</strong> <%= registro.temporada %></p>
						<p><strong>Capítulo:</strong> <%= registro.capitulo %></p>
					</div>
				<% } %>
			</div>
		<% } %>
	</div>
<% } %>
