<!-- Información -->
<div id="informacion" class="<%= locals.subcodigo ? subcodigo : codigo %>">
    
    <!-- PRODUCTO: Detalle y Revisión de Alta -->
    <% if (familia == "producto" && ["detalle", "producto/alta"].includes(codigo)) { %><%- include("PR1-Detalle") %>

    <!-- PRODUCTO: Calificar -->
    <% } else if (codigo == "calificar") { %><%- include("PR3-Calificar") %>

    <!-- RCLV: Detalle -->
    <% } else if (tema == "rclv_crud") { %><%- include("RCLV-DT1-Largos") %>

    <!-- RCLV: Revisión de Alta -->
    <% } else if (tema == "revisionEnts" && codigo.endsWith("/alta")) { %><%- include("RCLV-DT1-Largos") %>

    <!-- AMBOS: Revisión de Edición -->
    <% } else if (tema == "revisionEnts" && codigo.endsWith("/edicion")) { %><%- include("RE9-Edic-Largos") %>

    <!-- AMBOS: Inactivar y Rechazo -->
    <% } else if (codigo == "inactivar" || codigo == "rechazo") { %><%- include("FM8-Inactivar") %>
    
    <!-- AMBOS: Recuperar/Eliminar y Revisión de Inactivar/Recuperar -->
    <% } else if (["recuperar", "eliminar", "inactivar-o-recuperar"].includes(codigo)) { %><%- include("FM8-Recuperar") %>

    <!-- Fin -->
    <% } %>
</div>
<!-- Botones -->
<div id="botones">
    <%- include("Flechas-1Estandar") %>
    <%- include("Flechas-2ProdRUD") %>
    <%- include("Flechas-3CambioStatus") %>
    <%- include("Flechas-4ProdsPortales") %>
</div>
