<% if (locals.cartelGenerico || locals.cartelRechazo) { %><%- include('MN-TimerContador') %><% } %>
<div id="tituloPrincipal" class="flexCol">
	<h1 id="titulo"><%= locals.tituloDetalle ? tituloDetalle : titulo %></h1>
	<% if (codigo == "mirarLink") { %>
		<h2 id="secundario">
			Gentileza de
			<img src="/Externa/6-LogosProvs/<%= link.prov.avatar %>" alt="<%= link.prov.nombre %>" title="<%= link.prov.nombre %>">
		</h2>
	<% } %>
	<% if (codigo == "detalle") { %>
		<div id="iconosDelTitulo" class="flexRowAlign">
			<% const clase = "compFm" %>
			<% if (locals.ayudasTitulo) { %>
				<%- include("MN-Ayuda", {ayudaClass: clase, [typeof ayudasTitulo == "string" ? "mensaje" : "mensajes"]: ayudasTitulo}) %>
			<% } %>

			<!-- Compartir la vista -->
			<%- include("FM-Compartir", {mostrarLeyenda: "Enlace copiado", clase}) %>
		</div>
	<% } %>
</div>
