<% if (locals.cartelGenerico || locals.cartelRechazo) { %><%- include('MN-TimerContador') %><% } %>
<div id="tituloPrincipal" class="flexCol">
	<h1 id="titulo"><%= locals.tituloDetalle ? tituloDetalle : titulo %></h1>
	<% if (codigo == "visualizacion") { %>
		<h2 id="secundario">
			Gentileza de
			<img src="/Externa/6-LogosProvs/<%= link.prov.avatar %>" alt="<%= link.prov.nombre %>" title="<%= link.prov.nombre %>">
		</h2>
	<% } %>
	<% if (locals.ayudasTitulo) { %>
		<%- include("MN-Ayuda", {[typeof ayudasTitulo == "string" ? "mensaje" : "mensajes"]: ayudasTitulo}) %>
	<% } %>
	<% if (codigo == "detalle") { %>
		<div id="iconosDelTitulo" class="flexRowAlign">
			<% if (locals.ayudasTitulo) { %>
				<%- include("MN-Ayuda", {[typeof ayudasTitulo == "string" ? "mensaje" : "mensajes"]: ayudasTitulo, ayudaClass: "static"}) %>
			<% } %>

			<!-- Compartir la consulta -->
			<div id="compartirUrl" class="scale pointer">
				<i class="fa-solid fa-share-nodes" title="Compartir las preferencias"></i>
			</div>
			<p id="consCopiada" class="ocultar">Dirección copiada</p>
		</div>
	<% } %>
</div>
