<!-- Izquierda -->
<div id="nombres">
	<% if (codigo != "detalle") { %><a href="/producto/detalle/?entidad=<%= entidad %>&id=<%= id %><%= locals.origen && !origen.startsWith("DT") ? '&origen=' + origen : '' %>"><% } %>
		<h2>
			<%= registro.capitulo ? (registro.capitulo + ". ") : "" %>
			<%= registro.nombreCastellano ? (registro.nombreCastellano + (registro.anoEstreno ? " (" + registro.anoEstreno + ")" : "")) : (locals.canonNombre + registro.nombre) %>
		</h2>
		<% const nombre2 = registro.nombreOriginal ? registro.nombreOriginal : registro.nombreAltern %>
		<% if (nombre2) { %>
			<h3><em><%= nombre2 %></em></h3>
		<% } %>
	<% if (codigo != "detalle") { %></a><% } %>
</div>

<!-- Derecha -->
<% if (familia == "producto" && entidad != "peliculas") { %>
	<div id="colCap">
		<% if (entidad == "colecciones") { %>
			<!-- Cantidad de Temporadas y de Capítulos -->
			<div id="coleccion">
				<% const anchor = ["prodRud", "linksCRUD", "revisionEnts"].includes(tema) %>
				<% if (anchor) { %><a href="/inactivar-captura/?entidad=colecciones&id=<%= id %>&prodEntidad=capitulos&prodID=<%= capID %>&origen=<%= rutaCRUD %>"><% } %>
					<button type="button" class="scaleCh">
						<% if (registro.cantTemps > 1) { %>
							<p id="temporadas"><b>Temporadas:</b> <%= registro.cantTemps ? registro.cantTemps : "Sin datos" %></p>
						<% } %>
						<p><b>Cant. de Capítulos:</b> <%= registro.capitulos.length %></p>
					</button>
				<% if (anchor) { %></a><% } %>
			</div>
		<% } %>
		<% if (entidad == "capitulos") { %>
			<!-- Ir a la colección -->
			<div id="tempCapI">
				<p id="coleccionTitulo"><b>Colección:</b></p>
				<a href="<%= '/inactivar-captura/?entidad=capitulos&id=' + id + '&prodEntidad=colecciones&prodID=' + registro.coleccion_id + '&origen=' + rutaCRUD %>">
					<button type="button" class="scaleCh"><%= registro.coleccion.nombreCastellano %></button>
				</a>
			</div>
			<!-- Cambiar de capítulo -->
			<div id="tempCapS">
				<!-- Avanza/Retrocede un capítulo -->
				<script src="/publico/javascript/2.1-Prods-RUD/PR0-AvanzaRetrCap.js"></script>
				<div class="pack">
					<i class="fa-solid fa-circle-left inactivo pointer" tabindex="-1" title="Ir al capítulo anterior"></i>
					<i class="fa-solid fa-circle-right inactivo pointer" tabindex="-1" title="Ir al capítulo posterior"></i>
				</div>
				<% if (["prodRud", "linksCRUD"].includes(tema)) { %>
					<!-- Elige una temporada o capítulo -->
					<script src="/publico/javascript/2.1-Prods-RUD/PR0-CambioTempCap.js"></script>
					<% if (registro.coleccion.cantTemps > 1) { %>
						<select id="temporada">
							<% for (let temp = 1; temp <= registro.coleccion.cantTemps; temp++) { %>
								<option value="<%= temp %>" <% if (registro.temporada == temp) { %>selected<% } %> >Temporada <%= temp %></option>
							<% } %>
						</select>
					<% } %>
					<select id="capitulo">
						<% for (let capitulo of registro.capitulos) { %>
							<option value="<%= capitulo.numero %>" <% if (registro.capitulo == capitulo.numero) { %>selected<% } %> ><%= capitulo.numero + ". " + capitulo.nombre %></option>
						<% } %>
					</select>
				<% } else { %>
					<!-- Información de Temporada y Capítulo - no se cambia -->
					<p style="margin-right: 15px;"><b>Temporada:</b> <%= registro.temporada %></p>
					<p><b>Capítulo:</b> <%= registro.capitulo %></p>
				<% } %>
			</div>
		<% } %>
	</div>
<% } %>
<% if (familia == "rclv" && codigo == "detalle") { %>
	<div id="vinculadas">Películas: <%= prodsDelRCLV.length %></div>
<% } %>
