<section>
	<h3>Historial de status:</h3>
	<table>
		<tbody>
			<% for (let reg of historialStatus) { %>
			<tr>
				<td class="fecha"><%= reg.fecha %></td>
				<td>-</td>
				<td id="<%= reg.statusCodigo %>" class="status"><b><%= reg.statusNombre %></b><em><%= reg.comentario %></em></td>
			</tr>
			<% } %>
		</tbody>
	</table>
</section>
<%- codigo != "eliminar" ? include("FM-PR-Comentario") : null %>
