<!-- Motivos -->
<section id="motivos" class="flexCol">
    <h3>Elegí el motivo</h3>
    <select name="motivo_id" id="">
        <option value="">Elegí un motivo</option>
        <% let grupoAnt %>
        <% for (let motivo of motivos) { %>
            <% if (motivo.codigo && entidades.includes(motivo.codigo) && motivo.codigo != entidad) continue %>
            <% if (grupoAnt && motivo.grupo != grupoAnt) { %></optgroup><% } %>
            <% if (motivo.grupo != grupoAnt) { %><optgroup label="Motivos <%= motivo.grupo %>"><% } %>
                <option value="<%= motivo.id %>"><%= motivo.descripcion %></option>
            <% grupoAnt = motivo.grupo %>
        <% } %>
        </optgroup>
    </select>
    <div id="sectorDuplicado" class="flexCol ocultar">
        <h3>Datos del otro producto</h4>
        <div class="flexRow">
            <select name="entDupl">
                <option value="">Entidad</option>
                <% entsNombre.forEach((entNombre,i) => { %>
                    <option value="<%= entidades[i] %>"><%= entNombre %></option>
                <% }) %>
            </select>
            <input name="idDupl" type="number" placeholder="id">
        </div>
        <div id="resultadoDuplicado"></div>
    </div>
</section>
<%- include("FM-PR-Comentario") %>
