<% if (codigo == "cambiarMotivo") { %>
    <!-- Motivo Actual -->
    <div id="motivoActual" class="columna">
        <h2>Actual</h3>
        <h3><%- motivo ? 'Motivo:' : "Sin motivo" %></h4>
        <% if (motivo) { %>
            <div id="motivo" class="info"><%= motivo.descripcion %></div>
        <% } %>
        <h3><%- motivo && motivo.comentNeces ? 'Comentario:' : "Sin comentario" %></h4>
        <% if (motivo && motivo.comentNeces) { %>
            <div class="info"><%= ultHist.comentario %></div>
        <% } %>
    </div>
<% } %>

<!-- Motivos -->
<section id="motivos" class="columna">
    <h2 class="ocultar">Nuevo</h2>
    <select name="motivo_id" id="">
        <option value="">Elegí un motivo</option>
        <% let grupoAnt %>
        <% for (let motivo of motivos) { %>
            <% if (motivo.codigo && entidades.includes(motivo.codigo) && motivo.codigo != entidad) continue %>
            <% if (grupoAnt && motivo.grupo != grupoAnt) { %></optgroup><% } %>
            <% if (motivo.grupo != grupoAnt) { %><optgroup label="Motivos <%= motivo.grupo %>"><% } %>
                <option value="<%= motivo.id %>"><%= motivo.descripcion %></option>
            <% grupoAnt = motivo.grupo %>
        <% } %>
        </optgroup>
    </select>
    <div id="sectorDuplicado" class="flexCol ocultar">
        <h3>Datos del otro producto</h4>
        <div class="flexRow">
            <select name="entDupl">
                <option value="">Entidad</option>
                <% entsNombre.forEach((entNombre,i) => { %>
                    <option value="<%= entidades[i] %>"><%= entNombre %></option>
                <% }) %>
            </select>
            <input name="idDupl" type="number" placeholder="id">
        </div>
        <div id="resultadoDuplicado"></div>
    </div>
    <%- include("FM-PR-Comentario") %>
</section>
