<% for (prod_nuevo of prod_nuevos) { %>
	<form action="<%= link %>" method="POST">
		<!-- Campos para luego enviar a Datos Duros -->
		<input class="ocultar" type="text" name="fuente" value="TMDB">
		<input class="ocultar" type="text" name="entidad_TMDB" value="<%= prod_nuevo.entidad_TMDB %>">
		<input class="ocultar" type="text" name="TMDB_id" value="<%= prod_nuevo.TMDB_id %>">
		<input class="ocultar" type="text" name="nombre_original" value="<%= prod_nuevo.nombre_original %>">
		<!-- Info a mostrar -->
		<button type="submit" class="flex-row" id= "prod_nuevo">
			<img id="imagenChica" 
				src="<%= "https://image.tmdb.org/t/p/original" + prod_nuevo.avatar %>"
				alt="<%= prod_nuevo.nombre_original %>" 
				title="<%= prod_nuevo.nombre_original %>"
			>
			<section id="texto">
				<!-- Datos del producto -->
				<div id="infoPeli">
					<p><strong><%= prod_nuevo.nombre_original %></strong></p>
					<p class="interlineadoChico"></p>
					<p><%= prod_nuevo.lanzamiento + " - " + prod_nuevo.producto %></p>
					<p class="interlineadoChico"></p>
					<p><em><%= prod_nuevo.nombre_castellano %></em></p>	
				</div>
				<!-- Coleccion -->
				<% if (errores && prod_nuevo.entidad_TMDB == "movie" && prod_nuevo.TMDB_id == errores.peli_TMDB_id) { %>
					<div id="mensaje">
						<p id="colec_TMDB_id" class="ocultar"><%= errores.colec_TMDB_id %></p>
						<p>Si la elejís, serás redirigido para cargar primero su colección:</p>
						<p id="colec_nombre"><%= errores.colec_nombre %></p>
					</div>
				<% } %>
			</section>
		</button>
	</form>
<% } %>
