<section id="paises_id">
	<label>País/es de origen</label>
	<div class="input-error">
		<% if (dataEntry.paises_id) { %>
			<!-- Lugar donde mostrar los nombres -->
			<input type="text" class="input" value="<%= paises %>" disabled>
			<%- include("39-DD-Mensajes") %>
		<% } else { %>
			<!-- Lugar donde mostrar los nombres -->
			<input id="mostrarPaises" type="text" readonly>
			<!-- Lugar donde almacenar los ID -->
			<input name="paises_id" type="text" class="ocultar" >
			<!-- Opciones de países -->
			<select autofocus class="input">
				<option value="" selected class="ocultar">Elejí un país</option>
				<% continentes = ["América", "Europa", "Africa", "Asia", "Oceanía"] %> 
				<% for (continente of continentes) { %>
					<optgroup label="<%= continente %>">
						<% for (n of paises.filter(m => m.continente == continente)) { %>
							<option value="<%= n.id %>"><%= n.nombre %></option>
						<% } %>	
					</optgroup>
				<% } %> 
			</select>
		<% } %>
		<i class="fas fa-times-circle<%- !errores.paises_id ? ' ocultar' : '' %>">
			<span class="mensajeError"><%= errores.paises_id %></span>
		</i>
	</div>
</section>
