<% dato = datosPers_select.find(n => n.campo == campo) %>
<section class="label-input flex-row">
	<label><%= dato.titulo %></label>
	<div id="<%= campo %>" class="input-error<%- (campo == 'subcategoria_id') ? ' ocultar' : '' %>">
		<!-- Input -->
		<select name="<%= campo %>" class="input" <% if (autofocus) { %>autofocus<% } %>>
			<option value="" class="ocultar" <% if (!dataEntry[campo]) { %>selected<% } %>>Elegí una opción</option>
			<% for (valor of dato.valores) { %>
				<option value="<%= valor.id %>" 
					<% if (dataEntry[campo] == valor.id) { %>selected<% } %>
					<% if (dataEntry.rubroAPI=="movie" && valor.id==2) { %>class="ocultar"<% } %>
				>
					<%= valor.nombre %>
				</option>
			<% } %>
		</select>
		<!-- Ayuda -->
		<i class="fas fa-question-circle"></i>
		<ul type="dots" class="mensajeAyuda ocultar">
			<% mensajes = (dataEntry.rubroAPI == "movie") ? dato.mensajePeli : dato.mensajeColec %>
			<% for (mensaje of mensajes) { %><li><%= mensaje %></li><% } %>
		</ul>
		<!-- Errores -->
		<i class="fas fa-times-circle<%- !errores[campo] ? ' ocultar' : '' %>">
			<span class="mensajeError"><%= errores[campo] %></span>
		</i>
	</div>
</section>
