<% registro = datosPersInput.find(n => n.campo == campo) %>
<% if (registro[dataEntry.entidad]) { %>
	<section class="label-input flex-row">
		<label><%- dataEntry.entidad=="peliculas" ? registro.tituloPeli : registro.tituloColec %></label>
		<div class="input-error">
			<input type="text" name="<%= registro.campo %>" autocomplete="off"
				value="<%= dataEntry[registro.campo] %>" class="input">
			<!-- Ayuda -->
			<i class="fas fa-question-circle"></i>
			<ul type="dots" class="mensajeAyuda ocultar">
				<% for (mensaje of registro.mensajes) { %>
					<% if (dataEntry.entidad == "coleccion" || mensaje != registro.mensajes[0]) { %>
						<li><%= mensaje %></li>
					<% } %> 
				<% } %> 
			</ul>
			<!-- Errores -->			
			<i class="fas fa-times-circle<%- !errores[registro.campo] ? ' ocultar' : '' %>">
				<span class="mensajeError"><%= errores[registro.campo] %></span>
			</i>
			<i class="fas fa-check-circle ocultar"></i>
		</div>
	</section>
<% } %>