<% dato = datosPers_input.find(n => n.campo == campo) %>
<% if (registro[dataEntry.entidad]) { %>
	<section style="order: <%= dato.orden %>" class="label-input flex-row">
		<label id="<%= campo %>">
			<%- dataEntry.entidad=="peliculas" ? dato.tituloPeli : dato.tituloColec %>
		</label>
		<div class="input-error">
			<input type="text" name="<%= dato.campo %>" autocomplete="off"
				value="<%= dataEntry[dato.campo] %>" class="input">
			<!-- Ayuda -->
			<i class="fas fa-question-circle"></i>
			<ul type="dots" class="mensajeAyuda ocultar">
				<% for (mensaje of dato.mensajes) { %>
					<% if (dataEntry.entidad == "coleccion" || mensaje != dato.mensajes[0]) { %>
						<li><%= mensaje %></li>
					<% } %> 
				<% } %> 
			</ul>
			<!-- Errores -->			
			<i class="fas fa-times-circle<%- !errores[dato.campo] ? ' ocultar' : '' %>">
				<span class="mensajeError"><%= errores[dato.campo] %></span>
			</i>
			<i class="fas fa-check-circle ocultar"></i>
		</div>
	</section>
<% } %>