<form method="POST" enctype="multipart/form-data">
	<%- include("RCLV1-AltaEdicion1-Avatar") %> 
	<section id="formCuerpoFooter">
		<%- include('CMP-3Footer', {mostrar: true}) %>
		<!--**************************** CUERPO ************************-->
		
		<div id="formCuerpo">
			<%- codigo != "agregar" ? include('CMP-TimerContador') : "" %>
			<div id="tituloPrincipal">
				<h1 id="titulo"><%= titulo %></h1>
				<!-- Ayuda -->
				<div class="ayuda">
					<i class="fa-solid fa-circle-question ayudaClick desplClick">
						<ul class="ayudaMostrar ocultar desplMostrar" type="dots">
							<li>Al terminar, te pedimos que vayas a la vista <em>Detalle de Producto</em> para liberarlo.</li>
						</ul>	
					</i>
				</div>
			</div>
			<div id="datos" class="flexRow grow spaceEvenly">
				<div id="dataEntry" class="bordeConSombra">
					<%- include('RCLV1-AltaEdicion2-Datos') %>
				</div>
				<% if (locals.bloqueDer) { %>
					<div id="datosBreves" class="sectorConDesplV bordeConSombra aparece">
						<%- include("RE0-Breves") %>
					</div>
				<% } %>
			</div>
		</div>
		<!--****************************** FIN *************************-->
	</section>
</form>