<% if (codigo != "agregar") { %>
	<!--  include('CMP-TimerContador') -->
<% } %>
<div id="tituloPrincipal">
	<h1 id="titulo"><%= tituloCuerpo %> </h1>
	<!-- Ayuda -->
	<div class="ayuda">
		<i class="fa-solid fa-circle-question ayudaClick desplClick">
			<ul type="dots" class="ayudaMostrar ocultar desplMostrar">
				<li>Ayuda...</li>
			</ul>
		</i>
	</div>
</div>
<form method="POST" id="dataEntry" class="aparece">
	<!-- Preguntas de Encabezado -->
	<section id="inicio" class="OK">
		<!--Primera columna-->
		<div id="primeraCol">
			<!-- Nombres -->
			<div class="flexCol">
				<!-- Título, Ayuda y Error/OK -->
				<div class="flexRow">
					<div class="margenBottomTitulo inputError" style="z-index: 5;">
						<!-- Título -->
						<h3>Nombre</h3>
						<!-- Ayuda -->
						<div class="ayuda">
							<i class="fa-solid fa-circle-question ayudaClick desplClick">
								<ul id="ayudaNombrePers" type="dots" class="ayudaMostrar ocultar desplMostrar">
									<li>Necesitamos un nombre breve, claro, y que <br> no esté ya en nuestra Base de Datos.</li>
								</ul>	
							</i>
						</div>
						<%- include("CMP-Errores", {nombre:"nombre", display: true}) %>
					</div>
				</div>
				<!-- Valor -->
				<div id="nombre" class="flexCol spaceBetween">
					<!-- Nombre -->
					<div class="flexRowAlign inputError"  style="z-index: 4;">
						<input type="text" name="nombre" class="input" value="<%= dataEntry.nombre %>" autofocus autocomplete="off">
					</div>
				</div>
			</div>
			<!-- Vigencia -->
			<div class="borderTop flexCol">
				<!-- Título, Ayuda y Error/OK -->
				<div class="flexRowAlign spaceBetween">
					<div class="margenBottomTitulo inputError" style="z-index: 4;">
						<!-- Título -->
						<h3>Vigencia</h3>
						<!-- Ayuda -->
						<div class="ayuda">
							<i class="fa-solid fa-circle-question ayudaClick desplClick">
								<ul type="dots" class="ayudaMostrar ocultar desplMostrar">
									<li>Podés fijar un rango de fechas, o especificar 'sin fecha'</li>
									<li>El rango puede ser de un día</li>
								</ul>
							</i>
						</div>
						<%- include("CMP-Errores", {nombre:"vigencia", display: true}) %>
					</div>
					<!-- Fecha desconocida -->
					<div class="flexRowAlign altoFila">
						<input id="sinFecha" class="input" type="checkbox" name="desconocida" tabindex="-1" <% if (!dataEntry && dataEntry && dataEntry.dia_del_ano_id >= 400) { %>checked<% } %>>
						<label for="sinFecha">Sin fecha</label>
					</div>
				</div>
				<!-- Valores -->
				<div id="vigencia" class="flexCol">
					<!-- Desde -->
					<div class="flexRowAlign spaceBetween">
						<p>Desde:</p>
						<!-- Meses -->
						<div class="flexRowAlign altoFila">
							<select name="desde_mes_id" class="input">
								<option value="" <% if (!dataEntry.desde_mes_id) { %>selected<% } %>>Mes</option>
								<% for (let mes of meses) { %>
									<option value="<%= mes.id %>" <% if (mes.id == dataEntry.desde_mes_id) { %>selected<% } %>>
										<%= mes.nombre %>
									</option>
								<% } %>
							</select>
						</div>
						<!-- Días -->
						<div id="desde_dia" class="flexRowAlign altoFila separarDiv">
							<select name="desde_dia" class="input">
								<option value="" <% if (!dataEntry.desde_dia) { %>selected<% } %>>Día</option>
								<% for (let dia = 1; dia < 32; dia++) { %>
									<option value="<%= dia %>" 
										<% if (dia > 29) { %>class="ocultar"<% } %>
										<% if (dia == dataEntry.desde_dia) { %>selected<% } %>
									>
										<%= dia %>
									</option>
								<% } %>
							</select>
						</div>
					</div>
					<!-- Hasta -->
					<div class="flexRowAlign spaceBetween">
						<p>Hasta:</p>
						<!-- Meses -->
						<div class="flexRowAlign altoFila">
							<select name="desde_mes_id" class="input">
								<option value="" <% if (!dataEntry.desde_mes_id) { %>selected<% } %>>Mes</option>
								<% for (let mes of meses) { %>
									<option value="<%= mes.id %>" <% if (mes.id == dataEntry.desde_mes_id) { %>selected<% } %>>
										<%= mes.nombre %>
									</option>
								<% } %>
							</select>
						</div>
						<!-- Días -->
						<div id="desde_dia" class="flexRowAlign altoFila separarDiv">
							<select name="desde_dia" class="input">
								<option value="" <% if (!dataEntry.desde_dia) { %>selected<% } %>>Día</option>
								<% for (let dia = 1; dia < 32; dia++) { %>
									<option value="<%= dia %>" 
										<% if (dia > 29) { %>class="ocultar"<% } %>
										<% if (dia == dataEntry.desde_dia) { %>selected<% } %>
									>
										<%= dia %>
									</option>
								<% } %>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Segunda columna-->
		<div id="segundaCol" class="spaceBetween">
			<!-- Descripción -->
			<div class="flexCol">
				<!-- Título, Ayuda y Error/OK -->
				<div class="flexRow spaceBetween">
					<div class="margenBottomTitulo inputError" style="z-index: 5;">
						<!-- Título -->
						<h3>Descripción</h3>
						<!-- Ayuda -->
						<div class="ayuda">
							<i class="fa-solid fa-circle-question ayudaClick desplClick">
								<ul id="ayudaNombrePers" type="dots" class="ayudaMostrar ocultar desplMostrar">
									<li>Necesitamos una descripción breve y sencilla.</li>
								</ul>	
							</i>
						</div>
						<%- include("CMP-Errores", {nombre:"descripcion", display: true}) %>
					</div>
					<p><span id="pendiente">100</span>/100</p>
				</div>
				<!-- Valor -->
				<div id="descripcion" class="flexCol">
					<!-- Nombre -->
					<div class="flexRowAlign inputError"  style="z-index: 3;">
						<textarea name="descripcion" class="input" value="<%= dataEntry.descripcion %>"></textarea>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Flechas y Botón -->
	<div class="flexRowAlign spaceEvenly">
		<%- include("Flechas-1Estandar") %>
		<%- include("Flechas-3CambioStatus") %>
	</div>
</form>
