<%- include('TimerContador') %>
<%- include('Cartel') %>
<h1 id="titulo"><%= titulo %></h1>
<section id="datos">
	<div id="encabCont">
		<!-- Encabezado y Contenido -->
		<div id="encabezado">
			<h1><%= tituloCanoniz %> <%= prodOriginal.nombre %></h1>
			<div id="iconos">
				<a href="//es.wikipedia.org/wiki/<%= prodOriginal.nombre %>" target="_blank" tabindex="-1">
					<img src="/imagenes/0-Logos/BD-Wiki.jpg" title="Consultar en Wikipedia">
				</a>
				<a href="//santopedia.com/buscar?q=<%= prodOriginal.nombre %>" target="blank" tabindex="-1">
					<img src="/imagenes/0-Base/Cruz.jpg" title="Consultar en Santopedia">
				</a>
				<a href="">
					<i class="fa-solid fa-pencil" tabindex="-1" title='Edición'></i>
				</a>
			</div>
		</div>
		<!-- Contenido -->
		<div id="contenido">
			<table>
				<tbody>
				<% for (campo of ingresos) { %>
					<tr class="fila">
						<%- include("21-ProdEdic-Ingresos", {campo}) %> 
					</tr>
				<% } %>
				</tbody>
			</table>
		</div>
	</div>
	<!-- Botones -->
	<div id="flechas">
		<i id="liberarSalir" class="fa-solid fa-circle-left" tabindex="-1" title="Liberar y salir"></i>
	</div>
</section>

// RCLVform2: async (req, res) => {
	// 	// 1. Tema y Código
	// 	let tema = "revision";
	// 	let codigo = "RCLV";
	// 	// 2. Variables
	// 	let entidad = req.query.entidad;
	// 	let prodID = req.query.id;
	// 	let userID = req.session.usuario.id;
	// 	let haceUnaHora = funciones.nuevoHorario(-1);
	// 	let includes = [];
	// 	if (entidad == "personajes") includes.push("proceso_canonizacion", "rol_iglesia");
	// 	let mes_id, diaOriginal, procesos_canonizacion, roles_iglesia, motivos, prodsEditados;
	// 	// Obtener la versión original
	// 	let RCLV_original = await BD_genericas.obtenerPorIdConInclude(entidad, prodID, [
	// 		...includes,
	// 		"status_registro",
	// 		"peliculas",
	// 		"colecciones",
	// 		"capitulos",
	// 	]);
	// 	// Obtener todas las ediciones ajenas
	// 	let producto_id = funciones.obtenerEntidad_id(entidad);
	// 	// PENDIENTE
	// 	// Obtener los motivos de rechazo
	// 	if (RCLV_original.status_registro.aprobado) {
	// 		motivos = await BD_genericas.obtenerTodos("edic_motivos_rech", "orden");
	// 		prodsEditados = await BD_especificas.obtenerEdicsAjenasUnProd(
	// 			producto_id,
	// 			prodID,
	// 			userID,
	// 			haceUnaHora
	// 		);
	// 	}
	// 	// Obtener el título de canonización
	// 	let tituloCanoniz = procesar.RCLV_tituloCanoniz({...RCLV_original, entidad});
	// 	// Datos para la vista
	// 	// Títulos
	// 	let prodNombre = funciones.obtenerEntidadNombre(entidad);
	// 	let titulo = "Revisar el " + prodNombre;
	// 	// Mes y día del año
	// 	let meses = await BD_genericas.obtenerTodos("meses", "id");
	// 	if (RCLV_original.dia_del_ano_id) {
	// 		let dia_del_ano = await BD_genericas.obtenerPorId("dias_del_ano", RCLV_original.dia_del_ano_id);
	// 		mes_id = dia_del_ano.mes_id;
	// 		diaOriginal = dia_del_ano.dia;
	// 	}
	// 	// Otros
	// 	if (RCLV_original.rol_iglesia_id) {
	// 		procesos_canonizacion = await BD_genericas.obtenerTodos("procesos_canonizacion", "orden");
	// 		procesos_canonizacion = procesos_canonizacion.filter((m) => m.id.length == 3);
	// 		roles_iglesia = await BD_genericas.obtenerTodos("roles_iglesia", "orden");
	// 		roles_iglesia = roles_iglesia.filter((m) => m.id.length == 3);
	// 	}
	
	// 	// Ir a la vista
	// 	//return res.send(RCLV_original);
	// 	return res.render("0-Estructura-Gral", {
	// 		tema,
	// 		codigo,
	// 		titulo,
	// 		RCLV_original,
	// 		prodsEditados,
	// 		motivos,
	// 		entidad,
	// 		prodNombre,
	// 		tituloCanoniz,
	// 		errores: {},
	// 		meses,
	// 		mes_id,
	// 		diaOriginal,
	// 		roles_iglesia,
	// 		procesos_canonizacion,
	// 	});
	// },
	