<%- include('CMP-TimerContador') %>
<section id="tituloConAyuda">
	<h1 id="titulo"><%= titulo %></h1>
	<!-- Ayuda -->
	<i id="iconoAyuda" class="fa-solid fa-circle-question despl_click">
		<ul class="mensajeAyuda ocultar despl_mostrar" type="dots">
			<li>Por favor intentá incluir por lo menos un link gratuito</li>
			<li>Sé muy cuidadoso de incluir links que respeten los derechos de autor</li>
			<li>Al terminar, conviene que vayas a la de 'Detalle' para liberar el producto</li>
			<li>Si hay datos en rojo, es porque están editados por otro usuario</li>
		</ul>
	</i>
</section>
<section id="contenido">
	<div id="datos">
		<!-- Tipo de Producto, Temporada, Capítulo, Colección -->
		<%- include("CR-Encabezado") %>
		<select id="tipoLink">
			<option value="1">Trailer</option>
			<option value="2">Película</option>
			<option value="TD" selected>Todos</option>
		</select>
		<form id="tabla" class=""> <!-- Necesita ser un 'form' acá, porque no se acepta dentro de la tabla -->
			<!-- Activo/Inactivo -->
			<div id="tags" class="flex-row">
				<div id="activo">Activos</div>
				<div id="inactivo" class="traslucido">Pasivos</div>
			</div>
			<!-- Tabla -->
			<table>
				<!-- Títulos -->
				<%- include("CMP-LK-TituloTabla") %> 
				<tbody>
					<!-- Filas para links existentes -->
					<% links.forEach((link,fila)=> { %>
						<% let cond = {} %>
						<%- include("CMP-LK-Condiciones", {link, cond}) %>
						<%- include("CMP-LK-Datos", {link, cond, fila}) %>
						<%- include("LK2-Edicion", {fila, link, cond}) %>
					<% }) %>
					<!-- Fila para nuevo link -->
					<%- include("LK2-Alta", {fila: links.length}) %>
				</tbody>
			</table>
		</form>
	</div>
	<!-- Comandos -->
	<div id="comandos">
		<% for (let prov of provs.filter(n => n.buscador_automatico)) { %>
			<a 
				href="//<%= prov.url_distintivo + prov.url_buscar_pre + producto.nombre_castellano %><% if (prov.url_buscar_post) { %>&<%= prov.url_buscar_post %><% } %>" 
				target="_blank"
				tabindex="-1"
			>
				<img src="/imagenes/0-Logos/<%= prov.avatar %>" tabindex="-1">
			</a>
		<% } %>
	</div>
	<!-- Flechas -->
	<%- include("CR-Flechas") %>
</section>
