<% if (codigo != "agregar") { %>
	<%- include('CMP-TimerContador') %>
	<%- include('CMP-Cartel') %>
<% } %>
<div id="tituloPrincipal">
	<h1 id="titulo"><%= tituloCuerpo %> </h1>
	<!-- Ayuda -->
	<div class="ayuda">
		<i class="fa-solid fa-circle-question ayudaClick despl_click">
			<ul class="ayudaMostrar ocultar despl_mostrar" type="dots">
				<li>Ayuda...</li>
			</ul>
		</i>
	</div>
</div>
<form method="POST" id="dataEntry" class="aparece">
	<!-- Preguntas de Encabezado -->
	<section id="datos" class="OK">
		<!--Primera columna-->
		<div id="primeraCol">
			<!-- Nombre -->
			<div class="flexCol">
				<% if (entidad == "personajes") { %>
					<!-- Título, Ayuda y Error/OK -->
					<div class="flexRow">
						<div class="margenBottomTitulo inputError" style="z-index: 5;">
							<!-- Título -->
							<h3>Nombres</h3>
							<!-- Ayuda -->
							<div class="ayuda">
								<i class="fa-solid fa-circle-question ayudaClick despl_click">
									<ul type="dots" class="ayudaMostrar ocultar despl_mostrar">
										<p>Para las personas que cambiaron su nombre:</p>
										<li><strong>Formal</strong>: usamos el nuevo nombre por el que se hicieron llamar (ej: Juan Pablo II o Teresa de Calcuta).</li>
										<li><strong>Alternativo</strong>: usamos algún otro nombre por el que sean conocidos, sea el original (ej: Karol Wojtyla) o un alternativo del nuevo nombre (ej: Madre Teresa).</li>
										<p>Para las personas que <em>no</em> cambiaron su nombre:</p>
										<li><strong>Formal</strong>: usamos su nombre de civil (ej: Juan Bosco).</li>
										<li><strong>Alternativo</strong>: usamos algún otro nombre por el que sean conocidos (ej: Don Bosco), o se deja vacío.</li>
										<p>El Nombre es <em>obligatorio</em>, el Alternativo es <em>opcional.</em></p>
									</ul>
								</i>
							</div>
							<%- include("CMP-errores", {campo:"nombre", display: true}) %>
						</div>
					</div>
				<% } %>
				<!-- Valores -->
				<div id="valoresNombre" class="flexCol spaceBetween">
					<!-- Nombre -->
					<div class="flexRowAlign <%- entidad != "personajes" ? 'inputError' : 'spaceBetween altoFila' %>"  style="z-index: 4;">
						<% if (entidad == "personajes") { %><label>Formal</label>
						<% } else { %><h3>Nombre</h3><% } %>
						<input type="text" name="nombre" class="input" value="<%= dataEntry.nombre %>" autofocus autocomplete="off">
						<% if (entidad != "personajes") { %><%- include("CMP-errores", {campo:"nombre", display: true}) %><% } %>
					</div>
					<% if (entidad == "personajes") { %>
						<div class="flexRowAlign spaceBetween altoFila">
							<label>Alternativo</label>
							<input type="text" name="apodo" class="input" value="<%= dataEntry.apodo %>" autocomplete="off">
						</div>
					<% } %>
				</div>
			</div>
			<!-- Fecha Representativa -->
			<div class="borderTop flexCol">
				<!-- Título, Ayuda y Error/OK -->
				<div class="flexRow">
					<div class="margenBottomTitulo inputError" style="z-index: 4;">
						<!-- Título -->
						<h3>Fecha más representativa</h3>
						<!-- Ayuda -->
						<div class="ayuda">
							<i class="fa-solid fa-circle-question ayudaClick despl_click">
								<ul type="dots" class="ayudaMostrar ocultar despl_mostrar">
									<p>Usamos la fecha en que se lo recuerda.</p>
									<% if (entidad == "personajes") { %>
										<li>Para los santos o beatos, se usa la fecha del santoral (Novus Ordo).</li>
										<li>Para los demás, suele ser la fecha de su muerte.</li>
									<% } %>
								</ul>
							</i>
						</div>
						<%- include("CMP-errores", {campo:"fecha", display: true}) %>
					</div>
				</div>
				<!-- Valores -->
				<div id="valoresFecha" class="flexCol spaceBetween">
					<div class="flexRowAlign">
						<!-- Meses -->
						<div class="flexRowAlign altoFila">
							<select name="mes_id" class="input">
								<option value="" <% if (!dataEntry.mes_id) { %>selected<% } %>>Mes</option>
								<% for (let mes of meses) { %>
									<option value="<%= mes.id %>" <% if (dataEntry.mes_id == mes.id) { %>selected<% } %>>
										<%= mes.nombre %>
									</option>
								<% } %>
							</select>
						</div>
						<!-- Días -->
						<div id="dia" class="flexRowAlign altoFila separarDiv">
							<select name="dia" class="input">
								<option value="" <% if (!dataEntry.dia) { %>selected<% } %>>Día</option>
								<% for (let dia = 1; dia < 32; dia++) { %>
									<option value="<%= dia %>" 
										<% if (dia > 29) { %>class="ocultar"<% } %>
										<% if (dataEntry.dia == dia) { %>selected<% } %>
									>
										<%= dia %>
									</option>
								<% } %>
							</select>
						</div>
						<a id="wiki" target="blank" class="links ocultar" tabindex="-1"><img src="//localhost/imagenes/0-Base/Logos/BD-Wiki.jpg" title="Consultar en Wikipedia"></a>
						<% if (entidad == "personajes") { %>
							<a id="santopedia" target="blank" class="links ocultar" tabindex="-1">
								<img src="//localhost/imagenes/0-Base/Logos/BD-Santopedia.jpg" title="Consultar en Santopedia">
							</a>
						<% } %>
					</div>
					<!-- Fecha desconocida -->
					<div class="flexRowAlign altoFila">
						<input id="desconocida" class="input" type="checkbox" name="desconocida" tabindex="-1" <% if ((codigo != "agregar") && dataEntry && !dataEntry.dia_del_ano_id) { %>checked<% } %>>
						<label for="desconocida">Sin fecha representativa</label>
					</div>
				</div>
			</div>
		</div>
		<!--Segunda columna-->
		<div id="segundaCol">
			<!-- Repetidos -->
			<div id="repetidos">
				<!-- Título, Ayuda y Error/OK -->
				<div class="flexRow">
					<div class="margenBottomTitulo inputError" style="z-index: 3;">
						<!-- Título -->
						<h3>Nombres con esa fecha</h3>
						<!-- Ayuda -->
						<div class="ayuda">
							<i class="fa-solid fa-circle-question ayudaClick despl_click">
								<ul type="none" class="ayudaMostrar ocultar despl_mostrar">
									<li>Destildalos para controlar si no está ya en nuestra BD</li>
								</ul>
							</i>
						</div>
						<%- include("CMP-errores", {campo:"repetido", display: true}) %>
					</div>
				</div>
				<ul type="none" id="posiblesRepetidos"></ul>
			</div>
		</div>
	</section>
	<% if (entidad != "valores") { %>
		<!-- Preguntas de Contexto -->
		<section id="preguntas" class="borderTop OK">
			<!-- Título y Error/OK -->
			<div class="flexRow margenBottomTitulo inputError">
				<!-- Título -->
				<h3 class="">Preguntas de contexto</h3>
				<%- include("CMP-errores", {campo:"RCLI", display: true}) %>
			</div>
			<% if (entidad == "personajes") { %>
				<div id="personaje">
					<!-- Sexo y CFC/VPC -->
					<div class="flexRowAlign spaceBetween">
						<!-- Sexo -->
						<div id="sexo_id" class="flexRowAlign cfc">
							<label class="margenDer">Sexo</label>
							<div class="flexRowAlign">
								<input type="radio" name="sexo_id" value="V" id="V" <% if (dataEntry.sexo_id=="V") { %>checked<% } %> class="RCLI">
								<label for="V">Varón</label>
							</div>
							<div class="flexRowAlign" style="margin-left: 10px;">
								<input type="radio" name="sexo_id" value="M" id="M" <% if (dataEntry.sexo_id=="M") { %>checked<% } %> class="RCLI">
								<label for="M">Mujer</label>
							</div>
						</div>
						<!-- CFC/VPC -->
						<div class="flexRowAlign altoFila cfc">
							<label class="margenDer">¿Relacionado con la Iglesia Católica?</label>
							<div class="flexRowAlign siNo">
								<div class="flexRowAlign">
									<input id="catSI" type="radio" name="categoria_id" value="CFC" <% if (dataEntry.categoria_id=="CFC") { %>checked<% } %> class="RCLI">
									<label for="catSI">SI</label>
								</div>
								<div class="flexRowAlign">
									<input id="catNO" type="radio" name="categoria_id" value="VPC" <% if (dataEntry.categoria_id=="VPC") { %>checked<% } %> class="RCLI">
									<label for="catNO">NO</label>
								</div>
							</div>
						</div>
					</div>
					<!-- Año de Nacimiento y Rol Iglesia -->
					<div class="flexRowAlign spaceBetween">
						<!-- Año de Nacimiento -->
						<div class="flexRowAlign inputError cfc">
							<label>Año de Nacimiento</label>
							<input type="text" name="ano" class="input angosto RCLI" value="<%= dataEntry.ano %>" autofocus autocomplete="off">
							<!-- Ayuda -->
							<div class="ayuda">
								<i class="fa-solid fa-circle-question ayudaClick despl_click">
									<ul type="dots" class="ayudaMostrar ocultar despl_mostrar">
										<li>Si es anterior a Cristo, elegí un valor negativo.</li>
										<li>Si no se conoce el año exacto, podés dejarlo vacío.</li>
									</ul>
								</i>
							</div>
						</div>
						<!-- Rol en la Iglesia -->
						<div id="sectorRol_iglesia" class="flexRowAlign ocultar cfc">
							<label for="rol_iglesia_id" class="margenDer">Rol en la Iglesia</label>
							<select name="rol_iglesia_id" class="RCLI">
								<option value="" selected>Elejí una opción</option>
								<% for (let rol_iglesia of roles_iglesia) { %>
									<option value="<%= rol_iglesia.id %>" <% if (dataEntry.rol_iglesia_id==rol_iglesia.id) { %>selected<% } %><% if (rol_iglesia.id=="PC") {%> class="ocultar" <% } %>><%= rol_iglesia.nombre %></option>
								<% } %> 
							</select>
						</div>
					</div>
					<!-- ¿En proceso de canonización? y status -->
					<div class="flexRowAlign altoFila spaceBetween ocultar cfc">
						<!-- ¿En proceso de canonización? -->
						<div class="flexRowAlign">
							<label id="santosanta" class="margenDer">¿Santo o en proceso de canonización?</label>
							<div class="flexRowAlign siNo">
								<div class="flexRowAlign">
									<input id="enProcCanSI" type="radio" name="enProcCan" value="1" <% if (dataEntry.enProcCan==1 || dataEntry.proceso_id) { %>checked<% } %> class="RCLI">
									<label for="enProcCanSI">SI</label>
								</div>
								<div class="flexRowAlign">
									<input id="enProcCanNO" type="radio" name="enProcCan" value="0" <% if (DE&&(dataEntry.enProcCan==0 || !dataEntry.proceso_id)) { %>checked<% } %> class="RCLI">
									<label for="enProcCanNO">NO</label>
								</div>
							</div>
						</div>
						<!-- Status del proceso de canonización -->
						<select name="proceso_id" class="ocultar RCLI cfc">
							<option value="" selected>Elejí una opción</option>
							<% for (let proceso of procs_canon) { %>
								<option class="<%- dataEntry.sexo_id != proceso.id.slice(-1) ? 'ocultar' : '' %>" value="<%= proceso.id %>" <% if (dataEntry.proceso_id==proceso.id) { %> selected <% } %>><%= proceso.nombre %></option>
							<% } %> 
						</select>
					</div>
					<!-- Contemporáneo de Jesús -->
					<div id="sector_cnt" class="flexRowAlign altoFila ocultar cfc">
						<label class="margenDer">¿Es contemporáneo de Jesús?</label>
						<div class="flexRowAlign siNo">
							<div class="flexRowAlign">
								<input id="cntSI" type="radio" name="cnt" value="1" <% if (dataEntry.cnt==1 || dataEntry.subcategoria_id=="CNT") { %>checked<% } %> class="RCLI">
								<label for="cntSI">SI</label>
							</div>
							<div class="flexRowAlign">
								<input id="cntNO" type="radio" name="cnt" value="0" <% if (DE&&(dataEntry.cnt==0|| dataEntry.subcategoria_id && dataEntry.subcategoria_id!="CNT")) { %>checked<% } %> class="RCLI">
								<label for="cntNO">NO</label>
							</div>
						</div>
					</div>
					<!-- Aparición Mariana -->
					<div id="sector_ama" class="flexRowAlign altoFila spaceBetween ocultar cfc">
						<div class="flexRowAlign">
							<label class="margenDer">¿Participó en una aparición mariana?</label>
							<div class="flexRowAlign siNo">
								<div class="flexRowAlign">
									<input id="ap_marSI" type="radio" name="ama" value="1" <% if (dataEntry.ama==1 || dataEntry.ap_mar_id) { %>checked<% } %> class="RCLI">
									<label for="ap_marSI">SI</label>
								</div>
								<div class="flexRowAlign">
									<input id="ap_marNO" type="radio" name="ama" value="0" <% if (DE&&(dataEntry.ama==0 || !dataEntry.ap_mar_id)) { %>checked<% } %> class="RCLI">
									<label for="ap_marNO">NO</label>
								</div>
							</div>
						</div>
						<select name="ap_mar_id" id="ap_mar_id" class="ocultar RCLI cfc">
							<option value="" selected>Elejí una opción</option>
							<% apariciones_marianas.forEach(aparicion => { %>
								<option value="<%= aparicion.id %>" <% if (dataEntry.ap_mar_id==aparicion.id) { %>selected<% } %>><%= aparicion.nombre %></option>
							<% }) %> 
						</select>
					</div>
				</div>
			<% } %>
			<% if (entidad == "hechos") { %>
				<div id="hechos">
					<!-- Año de ocurrencia -->
					<div class="flexRowAlign spaceBetween cfc">
						<div class="flexRowAlign inputError">
							<label>Año de Ocurrencia</label>
							<input type="text" name="ano" class="input angosto RCLI" value="<%= dataEntry.ano %>" autofocus autocomplete="off">
							<!-- Ayuda -->
							<div class="ayuda">
								<i class="fa-solid fa-circle-question ayudaClick despl_click">
									<ul type="dots" class="ayudaMostrar ocultar despl_mostrar">
										<li>Nos ayuda a ubicarlo cronológicamente.</li>
										<li>Si es anterior a Cristo, elegí un valor negativo.</li>
										<li>Si no se conoce el año exacto, podés dejarlo vacío.</li>
										<% if (entidad=="hechos") { %>
											<li>Si el hecho ocurrió durante más de un año, por favor poné el año de comienzo.</li>
										<% } %>
									</ul>
								</i>
							</div>
						</div>
					</div>
					<!-- Sólo CFC -->
					<div class="flexRowAlign altoFila cfc">
						<div class="flexRowAlign siNo">
							<div class="flexRowAlign">
								<input id="solo_cfcSI" type="radio" name="solo_cfc" value="1" <% if (dataEntry.solo_cfc==1) { %>checked<% } %> class="RCLI">
								<label for="solo_cfcSI">SI</label>
							</div>
							<div class="flexRowAlign">
								<input id="solo_cfcNO" type="radio" name="solo_cfc" value="0" <% if (DE&&dataEntry.solo_cfc==0) { %>checked<% } %> class="RCLI">
								<label for="solo_cfcNO">NO</label>
							</div>
						</div>
						<label class="margenIzq">¿Es un hecho específico de la historia de la Iglesia Católica?</label>
					</div>
					<!-- Hecho JSS -->
					<div id="sector_jss" class="flexRowAlign altoFila cfc ocultar">
						<div class="flexRowAlign siNo">
							<div class="flexRowAlign">
								<input id="jssSI" type="radio" name="jss" value="1" <% if (dataEntry.jss==1) { %>checked<% } %> class="RCLI">
								<label for="jssSI">SI</label>
							</div>
							<div class="flexRowAlign">
								<input id="jssNO" type="radio" name="jss" value="0" <% if (DE&&dataEntry.jss==0) { %>checked<% } %> class="RCLI">
								<label for="jssNO">NO</label>
							</div>
						</div>
						<label class="margenIzq">¿Ocurrió durante la vida de Jesús?</label>
					</div>
					<!-- Hecho CNT -->
					<div id="sector_cnt" class="flexRowAlign altoFila cfc ocultar">
						<div class="flexRowAlign siNo">
							<div class="flexRowAlign">
								<input id="cntSI" type="radio" name="cnt" value="1" <% if (dataEntry.cnt==1) { %>checked<% } %> class="RCLI">
								<label for="cntSI">SI</label>
							</div>
							<div class="flexRowAlign">
								<input id="cntNO" type="radio" name="cnt" value="0" <% if (DE&&dataEntry.cnt==0) { %>checked<% } %> class="RCLI">
								<label for="cntNO">NO</label>
							</div>
						</div>
						<label class="margenIzq">¿Ocurrió durante la vida de los apóstoles?</label>
					</div>
					<!-- Hecho No CNT -->
					<div id="sector_ncn" class="flexRowAlign altoFila cfc ocultar">
						<div class="flexRowAlign siNo">
							<div class="flexRowAlign">
								<input id="ncnSI" type="radio" name="ncn" value="1" <% if (dataEntry.ncn==1) { %>checked<% } %> class="RCLI">
								<label for="ncnSI">SI</label>
							</div>
							<div class="flexRowAlign">
								<input id="ncnNO" type="radio" name="ncn" value="0" <% if (DE&&dataEntry.ncn==0) { %>checked<% } %> class="RCLI">
								<label for="ncnNO">NO</label>
							</div>
						</div>
						<label class="margenIzq">¿Ocurrió también fuera de la vida de los Apóstoles?</label>
					</div>
					<!-- Aparición Mariana -->
					<div id="sector_ama" class="flexRowAlign altoFila cfc ocultar">
						<div class="flexRowAlign siNo">
							<div class="flexRowAlign">
								<input id="amaSI" type="radio" name="ama" value="1" <% if (dataEntry.ama==1) { %>checked<% } %> class="RCLI">
								<label for="amaSI">SI</label>
							</div>
							<div class="flexRowAlign">
								<input id="amaNO" type="radio" name="ama" value="0" <% if (DE&&dataEntry.ama==0) { %>checked<% } %> class="RCLI">
								<label for="amaNO">NO</label>
							</div>
						</div>
						<label class="margenIzq">¿Es una aparición mariana?</label>
					</div>
				</div>
			<% } %>
		</section>	
	<% } %>
	<!-- Flechas y Botón -->
	<section class="flechas">
		<a href="<%= rutaSalir %>">
			<i id="salir" class="fa-solid fa-circle-left" title="Salir"></i>
		</a>
		<i id="submit" class="fa-solid fa-circle-check inactivo" title="Guardar"></i>
	</section>
</form>
