<section id="tituloPrincipal">
	<h1 id="titulo"><%= titulo %></h1>
	<!-- Ayuda -->
	<div class="ayuda">
		<i class="fa-solid fa-circle-question ayudaClick desplClick">
			<ul class="ayudaMostrar ocultar desplMostrar" type="dots">
				<li>El grupo de películas con fondo azul, son las que ya tenemos en nuestra BD.</li>
				<li>El grupo de películas con fondo verde, son las que no tenemos en nuestra BD y podés agregar.</li>
				<li>Dentro de cada grupo, primero figuran las colecciones y luego las películas, y están ordenadas desde la más reciente a las más antigua.</li>
			</ul>
		</i>	
	</div>
</section>
<section id="datos">
	<div id="datosLargos">
		<div id="encabezado">
			<div id="tituloSecundario">
				<h2>Películas sobre <em><%= procCanoniz %><%= RCLVnombre %></em></h2>
				<!-- Ayuda -->
				<div class="ayuda ocultar">
					<i class="fa-solid fa-circle-question ayudaClick desplClick">
						<ul class="ayudaMostrar ocultar desplMostrar" type="dots">
						</ul>	
					</i>
				</div>
			</div>
			<p>Cantidad de Hallazagos: <%= prodsDelRCLV.length %></p>
		</div>	
		<div id="cuadroDeResultados">
			<i class="fa-solid fa-caret-left mover inactivo"></i>
			<ul id="listado">
				<% if (prodsDelRCLV.length) { %><%- include('RCLV-DT1-prodsDelRCLV', {prodsDelRCLV}) %>
				<% } else { %><%- include('RCLV-DT3-SinCasos') %><% } %>
			</ul>
			<i class="fa-solid fa-caret-right mover inactivo"></i>
		</div>
		<!-- Flechas -->
		<div class="flechas">
			<a href="/rclv/edicion/?origen=DT_RCLV&entidad=<%= entidad %>&id=<%= RCLV_id %>" target="_self">
				<i class="fa-solid fa-pen" tabindex="-1" title="Ir a la vista 'Edición'"></i>
			</a>
		</div>
	</div>
	<div id="datosBreves">
		<h3>Datos del <%= entidadNombre %></h3>
		<div id="texto">
			<% for (campo of bloqueDerecha.resumenRCLV) { %>
				<p><strong><%= campo.titulo %>:</strong> <span><%= campo.valor %></span></p>
			<% } %>
		</div>
		<h3>Datos del Registro</h3>
		<div id="texto">
			<% for (campo of bloqueDerecha.resumenRegistro) { %>
				<p <% if (campo.titulo.startsWith("Status")) { %>class="status" id="status<%= campo.id %>"<% } %>>
					<strong><%= campo.titulo %>:</strong> <span><%= campo.valor %></span>
				</p>
			<% } %>
		</div>
	</div>
</section>
