<tr class="yaExistentes inactivo_<%= cond.inactivos %> <%- cond.inactivos ? 'inactivo_ocultar' : '' %>">
	<!-- Url -->
	<td class="ancho_url url">
		<a href="//<%= link.url %>" target="_blank">
			<img src="/imagenes/0-Logos/<%= link.link_prov.avatar %>" alt="<%= link.link_prov.nombre %>" title="<%= link.url %>">
		</a>
		<div class="ocultar link_id"><%= link.id %></div>
	</td>
	<!-- Motivo -->
	<td colspan="6" class="motivo ocultar">
		<strong>Motivo: </strong>
		<select name="motivo_id">
			<option value="" class="ocultar" selected>Elejí el motivo</option>
			<% for (let motivo of motivos) { %>
				<option value="<%= motivo.id %>"><%= motivo.comentario %></option>
			<% } %>
		</select>
	</td>
	<!-- Calidad -->
	<td class="ancho_calidad taparMotivo"><%= link.calidad %></td>
	<!-- Tipo -->
	<td class="ancho_tipo taparMotivo"><%= link.link_tipo.nombre %></td>
	<!-- Completo -->
	<td class="ancho_completo taparMotivo"><%- link.completo ? "SI" : "NO" %></td>
	<!-- Parte -->
	<td class="ancho_parte taparMotivo <%- link.completo ? 'desperdicio' : '' %>"><%- !link.completo ? link.parte : '' %></td>
	<!-- Gratuito -->
	<td class="ancho_gratuito taparMotivo"><%- link.gratuito ? "SI" :  "NO" %></td>
	<!-- Status -->
	<td class="ancho_status taparMotivo"><%= link.status_registro.nombre %></td>
	<!-- Propio -->
	<td class="ancho_propio taparMotivo"><%= cond.propio ? "SI" : cond.ajeno ? "NO" : "-" %></td>
	<!-- Acción -->
	<td class="ancho_accion">
		<!-- Editar -->
		<!-- Sólo en RUD para links creados y aprobados  -->
		<i class="fa-solid fa-pen editar <%- cond.rud&&(!cond.creado && !cond.aprobado) || cond.revision ? 'ocultar' : '' %>" tabindex="-1" title="Editarlo"></i>
		<!-- Aprobar -->
		<!-- Solo para RUD inactivo y Revisión (no propio y sin edición o inactivo) -->
		<i class="fa-solid fa-circle-check in <%- (cond.rud && !cond.inactivo) || cond.revision && (cond.propio||link.ediciones.length||cond.estable) ? 'ocultar' : '' %>" tabindex="-1" title="Cambiarlo a <%- cond.rud ? 'Recuperar' : 'Aprobado' %>"></i>
		<!-- Deshacer -->
		<!-- Solo para provisorios propios en RUD -->
		<i class="fa-solid fa-rotate-left <%- cond.rud&&!cond.provPropio || cond.revision ? 'ocultar' : '' %>" tabindex="-1" title="Regresarlo a <%- cond.inactivarPropio ? 'Aprobado' : 'Inactivo' %>"></i>
		<!-- Eliminar permanente -->
		<!-- Sólo para (RUD en status creado y propio) o (Revisión y status inactivo) -->
		<% if (cond.rud&&cond.creadoPropio || cond.revision&&cond.inactivo) { %>
			<i class="fa-solid fa-trash-can out" tabindex="-1" title="Eliminarlo permanentemente"></i>
		<% } else { %>
			<!-- Inactivar -->
			<!-- Sólo para (RUD y aprobado) o (Revisión ajeno) -->
			<i class="fa-solid fa-circle-xmark out <%- cond.rud&&!cond.aprobado || cond.revision&&(cond.propio||cond.estable) ? 'ocultar' : '' %>" tabindex="-1" title="<%- cond.rud ? 'Inactivarlo' : 'Cambiarlo a Inactivo' %>"></i>
		<% } %>
		<!-- Sólo para status provisorio o inactivo -->
		<i class="fa-solid fa-circle-question relative <%- !link.status_registro.gr_pasivos ? 'ocultar' : '' %>" tabindex="-1" title="Motivo">
			<p class="mensajeAyuda ocultar"><%= link.motivo ? link.motivo.comentario : "Motivo inexistente" %> </p>
		</i>
	</td>
</tr>
