<link rel="stylesheet" href="/formatos/2.0-Familias-CRUD/FM-Detalle.css">
<%- include("FM-TituloPrincipal") %>
<section id="datos" class="flexRow grow">
	<section id="datosLargos">
		<div id="recuadro">

			<!-- Encabezado -->
			<div id="encabezado">
				<!-- Sólo el alta/baja de RCLV tiene un encabezado distinto -->
				<% if (tema == "rclv_crud") { %><%- include("RCLV-Encabezado") %>
				<!-- Los demás, tienen el mismo encabezado -->
				<% } else { %><%- include("FM-Encabezado") %>
				<!-- Fin -->
				<% } %>
			</div>

			<!-- Contenido -->
			<% let operacCRUD = tema == "crud" || tema == "revisionEnts" %>
			<!-- Las operaciones CRUD requieren form (Inactivar/Recuperar/Rechazo/Revisión de Inactivar o Recuperar) -->
			<% if (operacCRUD) { %><form method="POST" id="contenido" class="flexCol grow">
			<!-- Las demás requieren que no sea form -->
			<% } else { %><div id="contenido" class="flexCol grow"><% } %>

				<!-- Información -->
				<div id="informacion" class="<%= codigo %>">
					<% if (tema == "prod_rud" || (tema == "revisionEnts" && codigo == "producto/alta")) { %><%- include("FM1-Largos") %>
					<% } else if (tema == "rclv_crud") { %><%- include("RCLV-DT1-Largos") %>
					<% } else if (tema == "crud") { %>
						<% if (codigo == "inactivar" || codigo == "rechazo") { %><%- include("FM1-Inactivar") %><% } %>
						<% if (codigo == "recuperar") { %><%- include("FM1-Recuperar") %><% } %>
					<% } else if (tema == "revisionEnts" && codigo == "producto/edicion") { %><%- include("RE9-Edic-Largos") %>
					<% } %>
				</div>
				<!-- Botones -->
				<div id="botones" class="flexRow">
					<%- include("Flechas-1Estandar") %>
					<%- include("Flechas-2ProdsInfo") %>
					<%- include("Flechas-3CambioStatus") %>
					<%- include("Flechas-4ProdsPortales") %>
				</div>

			<% if (operacCRUD) { %></form><% } else { %></div><% } %>

		</div>
	</section>
	<section id="datosBreves" class="sectorConDesplV bordeConSombra aparece">
		<% if (tema.endsWith("rud") && familias == "productos") { %><%- include("PR1-DT2-Breves") %>
		<% } else if (familias == "rclvs") { %><%- include("RCLV-DT2-Breves") %>
		<% } else if (tema == "revisionEnts") { %><%- include("RE0-Breves") %>
		<% } %>
	</section>
</section>
