<% if (locals.cartelGenerico || locals.cartelRechazo) { %><%- include('CMP-TimerContador') %><% } %>
<div id="tituloPrincipal">
	<h1 id="titulo"><%= titulo %></h1>
	<!-- Ayuda -->
	<div class="ayuda">
		<i class="fa-solid fa-circle-question ayudaClick desplClick">
			<ul class="ayudaMostrar ocultar desplMostrar" type="<%- ayudasTitulo.length > 1 ? 'dots' : 'none' %>">
				<% for (let ayuda of ayudasTitulo) { %>
					<li><%= ayuda %></li>
				<% } %>
			</ul>
		</i>
	</div>
</div>
<section id="datos" class="flexRow grow">
	<section id="datosLargos">
		<div id="recuadro">
			<!-- Encabezado -->
			<div id="encabezado">
				<% if (tema.endsWith("rud") && familias == "productos") { %>
					<%- include("FM-Encabezado") %>
				<% } else if (tema == "rclv_crud") { %>
					<%- include("RCLV-Encabezado") %>
				<% } else if (tema == "revisionEnts") { %>
					<%- include("RE0-Encabezado") %>
				<% } %>
			</div>
			<!-- Contenido -->
			<% if (tema=="crud" || tema=="revisionEnts") { %><form method="POST" id="contenido" class="flexCol grow">
			<% } else { %><div id="contenido" class="flexCol grow"><% } %>
				<!-- Información -->
				<div id="informacion" class="<%= codigo %>">
					<% if (tema == "prod_rud" || tema == "revisionEnts") { %><%- include("FM1-Largos") %>
					<% } else if (tema == "rclv_crud") { %><%- include("RCLV-DT1-Largos") %>
					<% } else if (tema == "crud") { %>
						<% if (codigo == "inactivar") { %><%- include("FM1-Inactivar") %><% } %>
						<% if (codigo == "recuperar") { %><%- include("FM1-Recuperar") %><% } %>
					<% } %>
				</div>
				<!-- Botones -->
				<div id="botones" class="flexRow">
					<%- include("FM-Flechas1Std") %>
					<%- include("FM-Flechas2Prod") %>
					<%- include("FM-Flechas3Esp") %>
				</div>
			<% if (tema=="crud") { %></form><% } else { %></div><% } %>
		</div>
	</section>
	<section id="datosBreves" class="sectorConDesplV bordeConSombra aparece">
		<% console.log(50,tema,familias) %>
		<% if (tema.endsWith("rud") && familias == "productos") { %><%- include("PR1-DT2-Breves") %>
		<% } else if (familias == "rclvs") { %><%- include("RCLV-DT2-Breves") %>
		<% } else if (tema == "revisionEnts") { %><%- include("RE1-PA-Breves") %>
		<% } %>
	</section>
</section>
