<link rel="stylesheet" href="/formatos/2.0-Familias-CRUD/FM-Detalle.css">
<link rel="stylesheet" href="/formatos/0-Compartido/Main/DatosBreves.css">
<%- include("FM-TituloPrincipal") %>
<section id="datos" class="flexRow grow">
	<section id="datosLargos">
		<div id="recuadro">

			<!-- Encabezado -->
			<div id="encabezado">
				<!-- Sólo el 'Detalle de RCLV' tiene un encabezado distinto -->
				<% if (tema == "rclv_crud") { %><%- include("RCLV-Encabezado") %>
				<!-- Los demás, tienen el mismo encabezado -->
				<% } else { %><%- include("FM-Encabezado") %>
				<!-- Fin -->
				<% } %>
			</div>

			<!-- Contenido apertura (Form o Div) -->
			<% let operacCRUD = tema == "crud" || tema == "revisionEnts" %>
			<!-- Las operaciones CRUD requieren form (Inactivar/Recuperar/Rechazo/Revisión de Inactivar o Recuperar) -->
			<% if (operacCRUD) { %><form method="POST" id="contenido" class="flexCol grow">
			<!-- Las demás requieren que no sea form -->
			<% } else { %><div id="contenido" class="flexCol grow">
			<!-- Fin -->
			<% } %>

				<!-- Información -->
				<div id="informacion" class="<%= locals.subcodigo ? subcodigo : codigo %>">
					
					<!-- PRODUCTO: Detalle y Revisión de Alta -->
					<% if (familia == "producto" && (codigo == "detalle" || codigo == "producto/alta")) { %><%- include("PR1-Detalle") %>
					
					<!-- RCLV: Detalle -->
					<% } else if (tema == "rclv_crud") { %><%- include("RCLV-DT1-Largos") %>

					<!-- AMBOS: Revisión de Edición -->
					<% } else if (tema == "revisionEnts" && codigo.endsWith("/edicion")) { %><%- include("RE9-Edic-Largos") %>

					<!-- AMBOS: Inactivar y Rechazo -->
					<% } else if (codigo == "inactivar" || codigo == "rechazo") { %><%- include("FM1-Inactivar") %>
					
					<!-- AMBOS: Recuperar y Revisión de Inactivar/Recuperar -->
					<% } else if (codigo == "recuperar" || codigo == "inactivar-o-recuperar") { %><%- include("FM1-Recuperar") %>

					<!-- Fin -->
					<% } %>
				</div>
				<!-- Botones -->
				<div id="botones">
					<%- include("Flechas-1Estandar") %>
					<%- include("Flechas-2ProdRUD") %>
					<%- include("Flechas-3CambioStatus") %>
					<%- include("Flechas-4ProdsPortales") %>
				</div>

			<!-- Contenido cierre (Form o Div) -->
			<% if (operacCRUD) { %></form>
			<% } else { %></div>
			<% } %>

		</div>
	</section>
	<section id="datosBreves" class="sectorConDesplV bordeConSombra aparece">
		<!-- CRUD para Productos -->
		<% if (familia == "producto" && tema != "revisionEnts") { %><%- include("PR0-Breves") %>
		
		<!-- CRUD para RCLVs -->
		<% } else if (familia == "rclv" && tema != "revisionEnts") { %><%- include("RCLV-Breves") %>

		<!-- Revisión -->
		<% } else if (tema == "revisionEnts") { %><%- include("RE0-Breves") %>

		<!-- Fin -->
		<% } %>
	</section>
</section>
