<%- include("FM-TituloPrincipal") %>
<section id="datos" class="flexRow grow">
	<section id="datosLargos">
		<div id="recuadro">
			<!-- Encabezado -->
			<div id="encabezado">
				<% if (tema == "rclv_crud") { %>
					<%- include("RCLV-Encabezado") %>
				<% } else if (tema.endsWith("rud")) { %>
					<%- include("FM-Encabezado") %>
				<% } else if (tema == "revisionEnts") { %>
					<%- include("RE0-Encabezado") %>
				<% } %>
			</div>
			<!-- Contenido -->
			<% if (tema=="crud" || tema=="revisionEnts") { %><form method="POST" id="contenido" class="flexCol grow">
			<% } else { %><div id="contenido" class="flexCol grow"><% } %>
				<!-- Información -->
				<div id="informacion" class="<%= codigo %>">
					<% if (tema == "prod_rud" || (tema == "revisionEnts" && codigo == "producto/alta")) { %><%- include("FM1-Largos") %>
					<% } else if (tema == "rclv_crud") { %><%- include("RCLV-DT1-Largos") %>
					<% } else if (tema == "crud") { %>
						<% if (codigo == "inactivar" || codigo == "rechazo") { %><%- include("FM1-Inactivar") %><% } %>
						<% if (codigo == "recuperar") { %><%- include("FM1-Recuperar") %><% } %>
					<% } else if (tema == "revisionEnts" && codigo == "producto/edicion") { %><%- include("RE9-Edic-Largos") %>
					<% } %>
				</div>
				<!-- Botones -->
				<div id="botones" class="flexRow">
					<%- include("Flechas-1Estandar") %>
					<%- include("Flechas-2ProdsInfo") %>
					<%- include("Flechas-3CambioStatus") %>
					<%- include("Flechas-4ProdsPortales") %>
				</div>
			<% if (tema=="crud") { %></form><% } else { %></div><% } %>
		</div>
	</section>
	<section id="datosBreves" class="sectorConDesplV bordeConSombra aparece">
		<% if (tema.endsWith("rud") && familias == "productos") { %><%- include("PR1-DT2-Breves") %>
		<% } else if (familias == "rclvs") { %><%- include("RCLV-DT2-Breves") %>
		<% } else if (tema == "revisionEnts") { %><%- include("RE1-PA-Breves") %>
		<% } %>
	</section>
</section>
