<!-- Zona de Preferencias -->
<section id="configCons" class="bordeConSombra">
	<%- include('CN-2Filtros') %>
</section>
<!-- Encabezado + Productos -->
<section id="encabMasPelis">
	<!-- Encabezado -->
	<div id="encabezado">
		<%- include('CN-1Encabezado') %>
	</div>

	<!-- Zona de Productos -->
	<div id="zonaDisponible">
		<div id="vistaDeResults" class="bordeConSombra">
			<!-- Zona de scroll -->
			<div id="scroll">
				<ul id="sectorIconos"></ul>
				<div id="listados"></div>
			</div>

			<!-- Telón de fondo, Zona 'Esperando Resultados' y Actualizar -->
			<img id="telonFondo" src="/publico/imagenes/Varios/Cortinas.jpg">
			<div id="actualizar" class="scale"><i class="fa-solid fa-rotate-right" title="Actualizar"></i></div>

			<!-- Zona de carteles -->
			<div id="carteles">
				<!-- Carteles -->
				<button id="quieroVer" class="cartel scale pointer ocultar agrandaAchica">Quiero ver las<br>películas propuestas</button>
				<button id="esperandoResultados" class="cartel ocultar">Esperando resultados</button>
				<button id="noTenemos" class="cartel ocultar">Sin resultados<br>para esa consulta</button>
				<button id="asegurate" class="cartel ocultar">Asegurate de elegir<br>una opción (en rojo)</button>
				<button id="loginNecesario" class="cartel ocultar">Tenés que estar<br><span><a href="/usuarios/login">logueado</a></span> para<br>usar esta opción</button>
				<%- include("CN-Cartel1OrdenPPP") %>
				<%- include("CN-Cartel2UsSinPPP") %>
				<%- include("CN-Cartel3LoginPend") %>
				<%- include("CN-Cartel4VerVideo") %>
			</div>
		</div>
	</div>

	<!-- Pie de página -->
	<%- include("CMP-4Footer", {mostrar: true}) %>
</section>
