<div id="tituloPrincipal">
	<h1 id="titulo">Agregá una Película o Colección a nuestra Base de Datos</h1>
</div>
<div id="dataEntry">
	<div id="encabezado">
		<div id="tituloSecundario">
			<h2>Paso 2 de 5: Desambiguar - Elegí tu opción</h2>
			<%- include("MN-Ayuda", {mensajes: ["<u>Fondo verde</u>: películas que no tenemos en nuestra BD.", "<u>Fondo azul</u>: películas que ya tenemos en nuestra BD.", "Están ordenadas desde la más reciente a las más antigua."]}) %>
		</div>
		<p id="mensaje"></p>
		<p><u>Palabra/s clave</u>: <b><%= palabrasClave %></b></p>
	</div>
	<div id="cuadroDeResultados">
		<%- include('MN-CartelProgreso', {tarea: "Buscando las películas"}) %>
		<i class="<%= iconos.faSolid %> fa-caret-left mover inactivo"></i>
		<ul type="none" id="listado">
			<%- include("PA2-DS1-ProdsNuevos") %>
			<%- include("PA2-DS2-IngrManual") %>
			<%- include("PA2-DS3-ProdsYaEnBD") %>
		</ul>
		<i class="<%= iconos.faSolid %> fa-caret-right mover inactivo"></i>
	</div>
	<div id="sectorIconos">
		<div class="iconos">
			<a href="agregar-pc" title="Volver al paso anterior"><i class="<%= iconos.faSolid %> <%= iconos.izquierda %>"></i></a>
		</div>
	</div>
</div>