<%- include("PA9-TituloPrincipal") %>
<form method="POST" id="dataEntry" class="flexCol">
	<section class="flexCol">
		<!-- Título y Ayuda -->
		<div id="tituloSecundario">
			<h2>Paso 5 de 5: Confirmá el agregado</h2>
			<!-- Ayuda -->
			<div class="ayuda">
				<i class="fa-solid fa-circle-question ayudaClick desplClick">
					<ul class="ayudaMostrar ocultar desplMostrar" type="dots">
						<li>Éste es el último paso.</li>
						<li>Una vez que confirmes, <u><b style="color:var(--amarillo-claro)">no hay marcha atrás</b></u>.</li>
						<li>Figurará para siempre como creada por vos.</li>
					</ul>
				</i>
			</div>
		</div>
		<ul type="dots" id="datos">
			<li class="texto">Estamos listos para agregar el producto a nuestra Base de Datos</li>
			<div id="liConAyuda" class="inputError">
				<li class="texto">La calidad de tu trabajo, hace a la confianza que te vamos teniendo</li>
				<i class="fa-solid fa-circle-question ayudaClick desplClick">
					<ul class="ayudaMostrar ocultar desplMostrar" type="disc">
						<li>Aspectos que consideramos:</li>
						<ol id="subPuntos">
							<li>Que el producto esté alineado con nuestro perfil.</li>
							<li>La precisión de los datos personalizados aportados.</li>
							<li>Los links de Trailer y de Película, que podrás agregar luego de este paso.</li>
						</ol>
						<li>La confianza nos permite evaluarte como potencial <em>Revisor</em> del trabajo de otros usuarios.</li>
					</ul>
				</i>
			</div>
		</ul>
		<div id="datosProd">
			<p><%= dataEntry.entidadNombre %>: <b><%= dataEntry.nombreCastellano %></b></p>
			<p>Año de estreno: <b><%= dataEntry.anoEstreno %></b></p>
			<p>Dirección: <b><%= direccion %></b></p>
			<p>Actores: <%= actores %></p>
		</div>
	</section>
	<!-- Iconos y Botón -->
	<section id="sectorIconos">
		<div class="iconos">
			<a href="/producto/agregar/datos-adicionales" tabindex="-1" title="Volver al paso anterior"><i class="fa-solid fa-circle-left"></i></a>
			<button type="submit" autofocus title="Avanzar">
				<i  class="fa-solid fa-circle-check" tabindex="-1"></i>
			</button>
		</div>
	</section>
</form>
