<section id="Form" class="flex-col">
	<%- codigo == "mail" ? include("1-FormMail") : "" %>
	<%- codigo == "perennes" ? include("2-FormPerennes") : "" %>
	<%- codigo == "editables" ? include("3-FormEditables") : "" %>
	<%- codigo == "detalle" ? include("4-DetalleUsuario") : "" %>
	<%- codigo == "editar" ? include("editar") : "" %>
	<%- codigo == "login" ? include("9-LoginForm") : "" %>
</section>
