<div id="tapar-el-fondo"></div>
<form action="<%= link %>" method="POST">
	<h1>Registro de Datos Perennes</h1>
	<section class="label-input flex-row"><!--Nombre-->
		<label for="nombre">Nombre</label>
		<div class="form-grupo">
			<% nombre = dataEntry ? dataEntry.nombre : "" %>
			<input type="text" class="input" name="nombre" placeholder="Nombre" value="<%= nombre %>">
			<i class="fa-solid fa-circle-xmark <%- !(errores && errores.nombre) ? 'ocultar' : '' %> ">
				<span class="mensajeError"><%- (errores && errores.nombre) ? errores.nombre : "" %></span>
			</i>
		</div>
	</section>
	<section class="label-input flex-row"><!--Apellido-->
		<label for="apellido">Apellido</label>
		<div class="form-grupo">
			<% apellido = dataEntry ? dataEntry.apellido : "" %>
			<input type="text" class="input" name="apellido" placeholder="Apellido" value="<%= apellido %>">
			<i class="fa-solid fa-circle-xmark <%- !(errores && errores.apellido) ? 'ocultar' : '' %> ">
				<span class="mensajeError"><%- (errores && errores.apellido) ? errores.apellido : "" %></span>
			</i>
		</div>
	</section>
	<section class="label-input flex-row"><!--Sexo-->
		<label for="sexo_id">Sexo</label>
		<div class="form-grupo">
			<% sexo_id = dataEntry ? dataEntry.sexo_id : "" %>
			<select name="sexo_id" class="input">
				<option value=""  <% if (sexo_id=="")  {%>selected<% } %> style="display: none;">Elegí una opción</option>
				<option value="F" <% if (sexo_id=="F") {%>selected<% } %>>Femenino</option>
				<option value="M" <% if (sexo_id=="M") {%>selected<% } %>>Masculino</option>
			</select>
			<i class="fa-solid fa-circle-xmark <%- !(errores && errores.sexo_id) ? 'ocultar' : '' %> ">
				<span class="mensajeError"><%- (errores && errores.sexo_id) ? errores.sexo_id : "" %></span>
			</i>
		</div>
	</section>
	<section class="label-input flex-row"><!--Fecha de Nacimiento-->
		<label for="fecha_nacimiento">Fecha de Nacimiento</label>
		<div class="form-grupo">
			<% fecha_nacimiento = dataEntry ? dataEntry.fecha_nacimiento : "" %>
			<input type="date" name="fecha_nacimiento" class="input" value="<%= fecha_nacimiento %>">
			<i class="fa-solid fa-circle-xmark <%- !(errores && errores.fecha_nacimiento) ? 'ocultar' : '' %> ">
				<span class="mensajeError"><%- (errores && errores.fecha_nacimiento) ? errores.fecha_nacimiento : "" %></span>
			</i>
		</div>
	</section>
	<section id="buttons" class="flex-row"><!--Buttons-->
		<button type="submit">Aceptar</button>
		<a href="/"><button type="button">Cancelar</button></a>
	</section>
</form>