<p id="tapar-el-fondo"></p>
<form action="<%= link %>" method="POST" enctype="multipart/form-data">
	<h1>Registro de Datos Editables</h1>
	<section class="label-input flex-row"><!--Apodo-->
		<label for="apodo">¿Cómo querés <br>que te llamemos?</label>
		<div class="form-grupo">
			<% apodo = data_entry ? data_entry.apodo : "" %>
			<input type="text" class="input" name="apodo" placeholder="Sobrenombre" value="<%= apodo %>">
			<i class="fas fa-times-circle <%- !(errores && errores.apodo) ? 'ocultar' : '' %> ">
				<span class="mensajeError"><%- (errores && errores.apodo) ? errores.apodo : "" %></span>
			</i>
		</div>
	</section>
	<section class="label-input flex-row"><!--Pais de residencia-->
		<label for="pais">País de residencia</label>
		<div class="form-grupo">
			<% pais_id = data_entry ? data_entry.pais_id : "" %>
			<select name="pais_id" class="input">
				<option value="" <% if (pais_id=="") {%> selected <%}%> class="ocultar">Elejí un país</option>
				<optgroup label="América (habla hispana)">
					<% for (n of hablaHispana.filter(n => n.continente == "América")) { %>
						<option  value="<%= n.id %>" <% if (pais_id==n.id) { %> selected <% } %>>
							<%= n.nombre %>
						</option>
					<% } %>	
				</optgroup>
				<optgroup label="Europa/África (habla hispana)">
					<% for (n of hablaHispana.filter(n => n.continente != "América")) { %>
						<option  value="<%= n.id %>" <% if (pais_id==n.id) { %> selected <% } %>>
							<%= n.nombre %>
						</option>
					<% } %>
				</optgroup>
				<optgroup label="Países de habla no hispana">
					<% for (n of hablaNoHispana) { %>
						<option  value="<%= n.id %>" <% if (pais_id==n.id) { %> selected <% } %>>
							<%= n.nombre %>
						</option>
					<% } %>
				</optgroup>
			</select>
			<i class="fas fa-times-circle <%- !(errores && errores.pais_id) ? 'ocultar' : '' %> ">
				<span class="mensajeError"><%- (errores && errores.pais_id) ? errores.pais_id : "" %></span>
			</i>
		</div>
	</section>
	<section class="label-input flex-row"><!--Estado de vida en la iglesia-->
		<label for="estado_eclesial_id">Estado de vida <br>en la iglesia</label>
		<div class="form-grupo">
			<% estado_eclesial_id = data_entry ? data_entry.estado_eclesial_id : "" %>
			<select name="estado_eclesial_id" class="input">
				<option value="" <% if (estado_eclesial_id=="") {%> selected <%}%> class="ocultar">Elejí un estado_eclesial</option>
				<% for (n of estados_eclesiales) { %>
					<option value="<%= n.id %>" <% if (estado_eclesial_id==n.id) { %> selected <% } %>><%= n.nombre %></option>
				<% } %> 
			</select>
			<i class="fas fa-times-circle <%- !(errores && errores.estado_eclesial_id) ? 'ocultar' : '' %> ">
				<span class="mensajeError"><%- (errores && errores.estado_eclesial_id) ? errores.estado_eclesial_id : "" %></span>
			</i>
		</div>
	</section>
	<section class="label-input flex-row"><!--Imagen de perfil-->
		<label>Imagen personal <br>(opcional)</label>
		<div class="form-grupo flex-col" id="divImagen">
			<% avatar = data_entry ? data_entry.avatar : "/imagenes/0-Base/Avatar genérico.png" %>
			<label for="inputImagen" id="preview">
				<img src="<%= avatar %>" alt="">
			</label>
			<input name="ruta" type="text" value="./public/imagenes/2-Usuarios" class="ocultar">
			<input name="avatar" type="file" id="inputImagen" accept="image/*" class="ocultar input">
			<i class="fas fa-times-circle <%- !(errores && errores.avatar) ? 'ocultar' : '' %> ">
				<span class="mensajeError"><%- (errores && errores.avatar) ? errores.avatar : "" %></span>
			</i>
			<i class="fas fa-check-circle ocultar"></i>
		</div>
	</section>
	<section id="buttons" class="flex-row"><!--Buttons-->
		<button type="submit">Aceptar</button>
		<a href="/"><button type="button">Cancelar</button></a>
	</section>
</form>