<div id="tituloPrincipal">
	<h1 id="titulo">
		Agregá un<%= dataEntry.entidad != "capitulos" ? "a" : "" %> <%= dataEntry.prodNombre %> a nuestra Base de Datos
	</h1>
</div>
<form action="<%= link %>" method="POST" id="dataEntry" class="flex-col" >
	<!-- Título y Ayuda -->
	<section id="tituloConAyuda">
		<h2>Paso 4 de 5: Datos Personalizados</h2>
		<!-- Ayuda -->
		<i id="iconoAyuda" class="fa-solid fa-circle-question"></i>
		<ul class="mensajeAyuda ocultar" type="dots">
			<li>Necesitamos que nos des la información que no disponemos.</li>
			<li>Para cada dato, te sugerimos que consultes las ayudas.</li>
		</ul>	
	</section>
	<!-- Datos -->
	<section id="datos">
		<!--Primera columna-->
		<div id="primeraColumna">
			<!-- Datos generales -->
			<div class="flex-col">
				<h3 style="margin-top: 0;">Datos generales</h3>
				<!--Existe una versión en castellano-->
				<%- include("41-DP", {campo: "en_castellano_id", nombre: "productos"}) %>
				<!--Es a Color-->
				<%- include("41-DP", {campo: "en_color_id", nombre: "productos"}) %>
				<!--Público sugerido-->
				<%- include("41-DP", {campo: "publico_sugerido_id", nombre: "nombre"}) %>
			</div>
			<!-- Relación con la vida -->
			<div id="bloqueRCLV" class="flex-col">
				<h3>Relación con la vida</h3>
				<!--Categoría-->
				<%- include("41-DP", {campo: "categoria_id", nombre: "nombre"}) %>
				<!--Sub-categoría-->
				<%- include("42-DP_subcat", {campo: "subcategoria_id", nombre: "nombre"}) %>
				<!--Personaje histórico-->
				<%- include("43-DP_RCLV", {campo: "personaje_id"}) %>
				<!--Hecho histórico-->
				<%- include("43-DP_RCLV", {campo: "hecho_id"}) %>
				<!--Valor-->
				<%- include("43-DP_RCLV", {campo: "valor_id"}) %>
			</div>
			<!-- Tu calificación -->
			<div class="flex-col">
				<h3>Tu calificación</h3>
				<!--Inspira fe y/o valores-->
				<%- include("41-DP", {campo: "fe_valores_id", nombre: "nombre"}) %>
				<!--Entretiene-->
				<%- include("41-DP", {campo: "entretiene_id", nombre: "nombre"}) %>
				<!--Calidad Técnica-->
				<%- include("41-DP", {campo: "calidad_tecnica_id", nombre: "nombre"}) %>
			</div>
		</div>
		<!--Segunda columna (Avatar)-->
		<div id="imagenPeli">
			<img src="<%= dataEntry.avatarDP %>" alt="afiche">
		</div>
	</section>
	<!-- Flechas y Botón -->
	<section id="flechas" class="flex-row">
		<a href="/producto/agregar/datos-duros" tabindex="-1" title="Volver al paso anterior"><i class="fa-solid fa-circle-left"></i></a>
		<i id="submit" class="fa-solid fa-circle-check inactivo" title="Avanzar" tabindex="0"></i>
	</section>
</form>
