<div id="tituloPrincipal">
	<h1 id="titulo">Agregá una Película o Colección a nuestra Base de Datos</h1>
</div>
<div id="dataEntry">
	<div id="encabezado">
		<div id="tituloSecundario">
			<h2>Paso 2 de 5: Desambiguar - Elegí tu opción</h2>
			<!-- Ayuda -->
			<div class="ayuda">
				<i class="fa-solid fa-circle-question ayudaClick desplClick">
					<ul class="ayudaMostrar ocultar desplMostrar" type="dots">
						<li><u>Fondo verde</u>: películas que no tenemos en nuestra BD.</li>
						<li><u>Fondo azul</u>: películas que ya tenemos en nuestra BD.</li>
						<li>Están ordenadas desde la más reciente a las más antigua.</li>
					</ul>
				</i>
			</div>
		</div>
		<p id="mensaje" class="flexRow"></p>
		<p><u>Palabra/s clave</u>: <b><%= palabrasClave %></b></p>
	</div>
	<div id="cuadroDeResultados">
		<%- include('CMP-CartelProgreso', {tarea: "Buscando las películas"}) %>
		<i class="fa-solid fa-caret-left mover inactivo"></i>
		<ul id="listado">
			<%- include("PA2-DS1-ProdsNuevos") %>
			<%- include("PA2-DS2-IngrManual") %>
			<%- include("PA2-DS3-ProdsYaEnBD") %>
		</ul>
		<i class="fa-solid fa-caret-right mover inactivo"></i>
	</div>
	<div id="sectorIconos">
		<div class="iconos">
			<a href="/producto/agregar/palabras-clave" title="Volver al paso anterior"><i class="fa-solid fa-circle-left"></i></a>
		</div>
	</div>
</div>