<div id="tituloPrincipal">
	<h1 id="titulo">
		Agregá un<%= dataEntry.entidad != "capitulos" ? "a" : "" %> <%= dataEntry.entidadNombre %> a nuestra Base de Datos
	</h1>
</div>
<form method="POST" enctype = "multipart/form-data" id="dataEntry" class="flexCol" >
	<section id="titulos">
		<!-- Título y Ayuda -->
		<div id="tituloSecundario">
			<h2>Paso 3 de 5: Datos a completar</h2>
			<!-- Ayuda -->
			<div class="ayuda">
				<i class="fa-solid fa-circle-question ayudaClick desplClick">
					<ul class="ayudaMostrar ocultar desplMostrar" type="dots">
						<li>Los links arriba de la imagen son para conseguir la información que no disponemos.</li>
						<li>Si no conseguís algún dato, podés poner <em>Desconocido</em>.</li>
					</ul>
				</i>
			</div>
		</div>
		<!-- Links a otras páginas de consulta -->
		<div class="flexCol" id="links">
			<p>Si necesitás consultar algún dato</p>
			<nav class="flexRow">
				<!-- TMDB -->
				<% tmdb = dataEntry.nombreOriginal ? "search?language=es&query=" + dataEntry.nombreOriginal : "" %>
				<a class="logos" href="//themoviedb.org/<%= tmdb %>" target="_blank" tabindex="-1">
					<img src="/publico/imagenes/Logos-gral/BD-TMDB.jpg" title="The Movie Database">
				</a>

				<!-- FA -->
				<% fa = dataEntry.nombreCastellano ? "search.php?stext=" + dataEntry.nombreCastellano : dataEntry.nombreOriginal ? "search.php?stext=" + dataEntry.nombreOriginal : "" %>
				<a class="logos" href="//filmaffinity.com/es/<%= fa %>" target="_blank" tabindex="-1">
					<img src="/publico/imagenes/Logos-gral/BD-FA.jpg" title="Film Affinity">
				</a>
				<!-- IMDB -->
				<% imdb = dataEntry.IMDB_id ? "title/"+dataEntry.IMDB_id+"/technical" : (dataEntry.nombreOriginal ? "find?q="+dataEntry.nombreOriginal : "") %>
				<a class="logos" href="//imdb.com/<%= imdb %>" target="_blank" tabindex="-1">
					<img src="/publico/imagenes/Logos-gral/BD-IMDB.jpg" title="Internet Movie Database">
				</a>
				<!-- Wikipedia -->
				<% wiki = dataEntry.nombreCastellano ? dataEntry.nombreCastellano.toLowerCase() : "" %>
				<a class="logos" href="//es.wikipedia.org/wiki/<%= wiki %>" target="_blank" tabindex="-1">
					<img src="/publico/imagenes/Logos-gral/BD-Wiki.jpg" title="Wikipedia">
				</a>
				<!-- Google -->
				<% google = dataEntry.nombreCastellano ? "search?q="+dataEntry.nombreCastellano.toLowerCase() : "" %>
				<a class="logos" href="//google.com/<%= google %>" target="_blank" tabindex="-1">
					<img src="/publico/imagenes/Logos-gral/BD-Google.jpg" title="Google">
				</a>
			</nav>
		</div>
	</section>
	<!-- Datos -->
	<section id="datos">
		<!--Primera columna-->
		<div id="primeraColumna">
			<!-- Primeros campos -->
			<% for (let registro of camposInput1) { %><%- include("PA3-DD1-Input", {registro, nombre: registro.nombre}) %><% } %>
			<!-- País -->
			<%- include("PA3-DD2-Pais") %>
			<!-- Idioma original -->
			<%- include("PA3-DD3-Idioma", {idioma_id: dataEntry.idiomaOriginal_id}) %>
			<!-- Siguientes campos -->
			<% for (let registro of camposInput2) { %><%- include("PA3-DD1-Input", {registro, nombre: registro.nombre}) %><% } %>
			<!--Sinopsis-->
			<%- include("PA3-DD4-Sinopsis") %>
		</div>
		<!--Segunda columna-->
		<div id="segundaColumna" class="inputError">
			<% if (dataEntry.avatarUrl) { %>
				<img src="/publico/imagenes/Avatar/Prod-Generico.jpg" title="Usaremos la imagen de la derecha">
			<% } else { %>
				<label for="inputImagen">
					<img src="/publico/imagenes/Avatar/Agrega-una-imagen.jpg">
				</label>
				<input name="avatar" id="inputImagen" type="file" accept="image/*" class="ocultar input">
				<%- include("CMP-Errores", {nombre: "avatar"}) %>
			<% } %>
		</div>
	</section>
	<!-- Flechas -->
	<section class="flechas">
		<a href="/producto/agregar/<%= origen %>" tabindex="-1" title="Volver al paso anterior">
			<i class="fa-solid fa-circle-left"></i>
		</a>
		<i id="submit" class="fa-solid fa-circle-check <%- errores.hay ? 'inactivo' : '' %>" title="Avanzar" tabindex="0" autofocus></i>
	</section>
	<p id="entidad" class="ocultar"><%= dataEntry.entidad %></p>
</form>
