<div id="tituloPrincipal">
	<h1 id="titulo">
		Agregá un<%= dataEntry.entidad != "capitulos" ? "a" : "" %> <%= dataEntry.entidadNombre %> a nuestra Base de Datos
	</h1>
</div>
<form method="POST" id="dataEntry" class="flexCol" >
	<!-- Título y Ayuda -->
	<div id="tituloSecundario">
		<h2>Paso 4 de 5: Datos Adicionales</h2>
		<!-- Ayuda -->
		<div class="ayuda">
			<i class="fa-solid fa-circle-question ayudaClick desplClick">
				<ul class="ayudaMostrar ocultar desplMostrar" type="dots">
					<li>Necesitamos que nos des la información que no disponemos.</li>
					<li>Para cada dato, te sugerimos que consultes las ayudas.</li>
				</ul>
			</i>
		</div>
	</div>
	<!-- Datos -->
	<section id="datos">
		<!--Primera columna-->
		<div id="primeraColumna">
			<!-- Datos generales -->
			<h3 id="tituloRCLV" class="">Datos Generales</h3>
			<div class="flexCol">
				<!-- Centrada en la Fe Católica, Ocurrió, Musical -->
				<% for (campo of camposDA.filter(n => n.siNo)) { %>
					<%- include("PA4-DA1-SI_NO", {campo}) %>
				<% } %>
				<hr>
				<!-- Tipo de Actuación -->
				<%- include("PA4-DA2-TipoActuac", {nombre: "tipoActuacion_id"}) %>
			</div>
		</div>
		<!--Segunda columna (Avatar)-->
		<div id="segundaColumna">
			<!-- Relación con la vida -->
			<div id="RCLV" class="flexCol ocultaCfc ocultaOcurrio">
				<div class="flexRowAlign inputError">
					<h3 id="tituloRCLV" class="">Relación con la Vida</h3>
					<!-- Ayuda para un RCLV -->
					<i class="ocultaAyudaRCLV fa-solid fa-circle-question ayudaClick desplClick">
						<ul class="ayudaMostrar ocultar desplMostrar" type="dots">
							<li>Podés ingresar un registro nuevo o modificar los actuales, haciendo <em>click</em> en los íconos de la derecha.</li>
							<li>Necesitamos que respondas por lo menos uno de los campos.</li>
						</ul>
					</i>
					<!-- Ayuda para dos RCLVs -->
					<i class="ocultaAyudaRCLV fa-solid fa-circle-question ayudaClick desplClick">
						<p class="ayudaMostrar ocultar desplMostrar" type="dots">
							Podés ingresar un registro nuevo o modificar el actual, haciendo <em>click</em> en los íconos de la derecha.
						</p>
					</i>
					<div id="errorRCLV" class="ocultar">
						<%- include("CMP-Errores", {display: true, nombre: "RCLV"}) %>
					</div>
				</div>
				<!--No lo voy a responder ahora-->
				<%- include("PA4-DA8-Checkbox", {nombre: "sinRCLV", }) %>
				<!-- Opciones -->
				<div id="selectsRCLV" class="flexCol">
					<!--Personaje histórico-->
					<%- include("PA4-DA4-RCLV_ph", {nombre: "personaje_id", grupos: gruposPers}) %>
					<!--Hecho histórico-->
					<%- include("PA4-DA4-RCLV_ph", {nombre: "hecho_id", grupos: gruposHechos}) %>
					<!--Tema-->
					<%- include("PA4-DA4-RCLV_val", {nombre: "tema_id"}) %>
				</div>
			</div>
		</div>
	</section>
	<!-- Flechas -->
	<section class="flechas">
		<a href="/producto/agregar/datos-duros" tabindex="-1" title="Volver al paso anterior">
			<i class="fa-solid fa-circle-left"></i>
		</a>
		<i id="submit" class="fa-solid fa-circle-check inactivo" title="Avanzar" tabindex="0"></i>
	</section>
</form>
