<div id="tituloPrincipal">
	<h1 id="titulo">
		Agregaste un<%= entidad != "capitulos" ? "a" : "" %> <%= entidadNombre %> a nuestra Base de Datos
	</h1>
</div>
<section id="dataEntry" class="flexCol">
	<div class="flexCol">
		<!-- Título y Ayuda -->
		<div id="tituloSecundario">
			<h2>¡Terminaste!</h2>
		</div>
		<img id="gracias" src="<%= imagenMG %>" alt="Muchas gracias">
		<ul type="dots" id="datos">
			<li class="texto">Hemos agregado la <%= entidadNombre.toLowerCase() %> <em><b><%= dataEntry.nombreCastellano %></b></em> a nuestra base de datos.</li>
			<li class="texto inputError">Nuestro equipo de Revisores analizará los datos ingresados.
				<i class="fa-solid fa-circle-question ayudaClick desplClick">
					<ul type="dots" class="ayudaMostrar ocultar desplMostrar">
						<li>Según la alineación del producto con nuestro perfil, el resultado será:</li>
						<ul type="dots" id="subPuntos">
							<li><b><em>Aprobado</em></b>.</li>
							<li><b><em>Desaprobado</em></b>.</li>
						</ul>
						<li>Si el registro queda aprobado, pasará a estar accesible en las consultas para todo el público.</li>
						<li>Enviaremos un único mail con las novedades del día.</li>
					</ul>
				</i>
			</li>
			<li class="texto">Mientras tanto, sólo <u>vos</u> y los revisores podrán ver la información agregada.</li>
			<li class="texto">Disponés de 1 hora, si querés editarla o agregarle los links.</li>
			<!-- Colección -->
			<% if (entidad == "colecciones") { %>
				<% if (dataEntry.fuente == "TMDB") { %>
					<li id="capitulos" class="texto"><span>Los capítulos de la colección se agregaron a nuestra BD en forma automática.</span></li>
				<% } else { %>
					<li class="texto">¡Muchas gracias! ¿Podrás ahora cargar los capítulos de la colección?</li>
				<% } %>
			<% } %>
		</ul>
	</div>
	<!-- Botones -->
	<%- include("Flechas-1Estandar") %>
	<% if (dataEntry.fuente != "TMDB" && entidad == "colecciones") { %>
		<div class="flechas">
			<a href="<%= ruta %>agregar/ingreso-manual/?entidad=capitulos&coleccion_id=<%= id %>&temporada=1">
				<i class="fa-solid fa-layer-group" title="Agregar un capítulo en forma manual"></i>
			</a>
		</div>
	<% } %>
</section>
