<div id="tituloPrincipal">
	<h1 id="titulo">
		Agregá un<%= dataEntry.entidad != "capitulos" ? "a" : "" %> <%= dataEntry.entidadNombre %> a nuestra Base de Datos
	</h1>
</div>
<div class="flexCol" id="dataEntry">
	<div id="tituloSecundario">
		<h2 id="paso2">Información de Film Affinity</h2>
	</div>
	<form method="POST">
		<div id="entidad" class="ocultar"><%= dataEntry.entidad %></div>
		<!-- Datos a completar -->
		<section id="datos">
			<% let campo; let display = true %>
			<h3>Ingresá la dirección url de la página</h3>
			<div class="inputError">
				<% campo = "url" %>
				<!-- Data Entry -->
				<input name="<%= campo %>" type="text" class="input"
					value="<%= dataEntry ? dataEntry[campo] : null %>"
					placeholder="Pegá acá la dirección"
					autocomplete="off"
					autofocus
				>
				<!-- Ayuda -->
				<div class="ayuda">
					<i class="fa-solid fa-circle-question ayudaClick desplClick">
						<ul class="ayudaMostrar ocultar desplMostrar" type="dots">
							<b><u>Pasos</u></b>:<br>
							<li>
								Buscá la película o colección en
								<a target="_blank" href="https://www.filmaffinity.com/es"><u>Film Affinity</u></a>.
							</li>
							<li>Seleccioná la dirección (url)</li>
							<li>Copiala</li>
							<li>Pegala en el casillero de la izquierda</li>
						</ul>
					</i>
				</div>
				<%- include("CMP-Errores", {nombre: campo, display}) %>
			</div>
			<h3>Ingresá la dirección de la imagen grande</h3>
			<div class="inputError">
				<% campo = "avatarUrl" %>
				<!-- Data Entry -->
				<input name="<%= campo %>" type="text" class="input"
					value="<%= dataEntry ? dataEntry[campo] : null %>"
					placeholder="Pegá acá la dirección"
					autocomplete="off"
				>
				<!-- Ayuda -->
				<div class="ayuda">
					<i class="fa-solid fa-circle-question ayudaClick desplClick" id="ayuda_avatar">
						<ul class="ayudaMostrar ocultar desplMostrar" type="dots">
							<p><b><u>Pasos</u></b>:</p>
							<li>En la página de FA, hacé <b><em>click izquierdo</em></b> sobre la imagen de la película.</li>
							<li>Una vez que la imagen se agranda, hacé <b><em>click derecho</em></b> sobre ella.</li>
							<li>En el menú que aparece, hacé <b><em>click izquierdo</em></b> sobre la opción <em>"Copiar dirección de la imagen"</em> y pegala en el casillero de la izquierda.</li>
						</ul>
					</i>
				</div>
				<%- include("CMP-Errores", {nombre: campo, display}) %>
			</div>
			<h3>Ingresá el contenido del cuerpo de la página</h3>
			<div class="inputError">
				<% campo = "contenido" %>
				<!-- Data Entry -->
				<textarea name="<%= campo %>" placeholder="Pegá acá el contenido" autocomplete="off" rows="1" class="input"><%- dataEntry ? dataEntry[campo] : "" %></textarea>
				<!-- Ayuda -->
				<div class="ayuda">
					<i class="fa-solid fa-circle-question ayudaClick desplClick">
						<ul class="ayudaMostrar ocultar desplMostrar" type="dots">
							<b><u>Pasos</u></b>:<br>
							<li>
								En la página de FA, seleccioná desde
								el <b><em><u>título en castellano</u></em></b>
								hasta el final de la <b><em><u>sinopsis</u></em></b>.
							</li>
							<li>Copialo.</li>
							<li>Pegalo en el casillero de la izquierda.</li>
						</ul>
					</i>
				</div>
				<%- include("CMP-Errores", {nombre: campo, display}) %>
			</div>
			<div id="resultado"><br></div>
		</section>
		<!-- Flechas -->
		<section class="iconos">
			<a href="/producto/agregar/ingreso-manual" tabindex="-1" title="Volver al paso anterior">
				<i class="fa-solid fa-circle-left"></i>
			</a>
			<button id="submit" class="inactivo" type="submit" title="Avanzar">
				<i class="fa-solid fa-circle-check"></i>
			</button>
		</section>
	</form>
</div>