<section id="cuerpo">
	<!--********************** CONTADOR ****************************-->
	<% if (opcionElegida && tipoElegido) { %>
		<button type="text" id="contador-de-peliculas">Contador</button>
	<% } %>
	<!--*********************** FILTROS ****************************-->
	<div id="zona-de-vitreaux">
		<% if (opcionElegida && tipoElegido) { %>
			<%- include('Filtros') %>
		<% } else { %>
			<img alt="Vitreaux" src="/imagenes/0-Base/Vitraux.jpg" title="Vitreaux">
		<% } %>
	</div>
	<!--******************* ZONA DE PELÍCULAS **********************-->
	<div id="zona-de-pelis" class="flex-col grow">
		<!--///////////////////// TÍTULO PRINCIPAL ///////////////////-->
		<select name="" onchange="location = this.value;" id="menu-opciones">
			<% if (!opcionElegida) { %>
				<option class="ocultar" selected>
					Elegí una opción
				</option>
			<% } %> 
			<% for (opcion of opciones) { %>
				<option value="/productos/<%= opcion.opcion %>" <% if (opcionElegida && opcionElegida.opcion == opcion.opcion) { %>selected<% } %>>
					<%= opcion.nombre %>
				</option>
			<% } %>
		</select>
		<% if (opcionElegida) { %><p id="explicacion"><%= opcionElegida.comentario %></p><% } %>
		<!--///////////////////// TÍTULO SECUNDARIO ///////////////////-->
		<% if (opcionElegida) { %>
			<select name="" onchange="location = this.value;" id="menu-tipos">
			<% if (!tipoElegido) { %>
				<option style="font-style: italic" class="ocultar" selected>
					Elegí una opción
				</option>
			<% } %>
			<% for (let tipo of tipos) { %>
				<option
					value="/productos/<%= tipo.url %>"
					<% if (tipoElegido && tipoElegido.url == tipo.url) { %>selected<% } %>
				>
					<%= tipo.nombre %>
				</option>
			<% } %>
			</select>
		<% } %>
		<!--///////////////////// Redireccionar ///////////////////-->
		<%- opcionElegida && tipoElegido ? include(opcionElegida.vista) : "" %>
	</div>
</section>
