<section id="cuerpo" class="flex-row grow">
	<!--********************** CONTADOR ****************************-->
	<% if (opcionElegida && tipoElegido) { %>
		<button type="text" id="contador-de-peliculas">Contador</button>
	<% } %>
	<!--*********************** FILTROS ****************************-->
	<%- include('Filtros') %>
	<!--******************* ZONA DE PELÍCULAS **********************-->
	<div id="zona-de-pelis" class="flex-col grow">
		<!--///////////////////// TÍTULO PRINCIPAL ///////////////////-->
		<select name="" onchange="location = this.value;" class="titulo">
			<% if (!opcionElegida) { %>
				<option class="ocultar" selected>
					Elegí una opción
				</option>
			<% } %> 
			<% for (opcion of opciones) { %>
				<option value="/productos/<%= opcion.url %>" <% if (opcionElegida && opcionElegida.id == opcion.id) { %>selected<% } %>>
					<%= opcion.nombre %>
				</option>
			<% } %>
		</select>
		<% if (opcionElegida) { %><p id="explicacion"><%= opcionElegida.comentario %></p><% } %>
		<!--///////////////////// TÍTULO SECUNDARIO ///////////////////-->
		<% if (opcionElegida) { %>
			<select name="" onchange="location = this.value;" class="subtitulo">
			<% if (!tipoElegido) { %>
				<option style="font-style: italic" class="ocultar" selected>
					Elegí una opción
				</option>
			<% } %>
			<% for (let n of tipos_BD) { %>
				<option
					value="/productos/<%= n.url %>"
					<% if (tipoElegido && tipoElegido.id == n.id) { %>selected<% } %>
				>
					<%= n.nombre %>
				</option>
			<% } %>
			</select>
		<% } %> 

		<!--///////////////////// Redireccionar ///////////////////-->
		<%- opcionElegida && tipoElegido ? include(opcionElegida.vista) : "" %>
	</div>
</section>
