<tr class="edicion revisar inactivo_false fila<%= fila %>">
	<!-- Url -->
	<td class="ancho_url url campo"></td>
	<!-- Con valor agregado -->
	<% let campos=["calidad", "tipo_id", "completo", "parte", "gratuito"] %>
	<% for (campo of campos) { %>
		<td class="ancho_<%= campo %> <%= campo %>">
			<% if (edicion[campo]!==null) { %>
				<div class="inputError">
					<% let valor= campo=="tipo_id" ? (edicion[campo]==1?"Trailer":"Película") : (campo=="completo" || campo=="gratuito") ? (edicion[campo]?"SI":"NO") : edicion[campo] %> 
					<input name="<%= campo %>" type="text" value="<%= valor %>" disabled>
					<!-- Errores -->
					<i class="fa-solid fa-circle-check"></i>
					<i class="fa-solid fa-circle-xmark"></i>
				</div>
				<% break %>
			<% } %>
		</td>
	<% } %>
</tr>	
