<% let edicPropia=edicion.editado_por_id==userID %> 
<tr class="
	edicion 
	revisar 
	inactivo_false 
	fila<%= fila %> 
	oscuro_<%= edicPropia %>
">
	<!-- Url -->
	<td class="ancho_url url campo"></td>
	<!-- Demás campos con valor agregado -->
	<% for (campo of camposARevisar) { %>
		<td class="ancho_<%= campo %> <%= campo %>">
			<% if (edicion[campo]!==null) { %>
				<div class="inputError">
					<% let valor= campo=="tipo_id" ? (edicion[campo]==1?"Trailer":"Película") : (campo=="castellano" || campo=="gratuito" || campo=="completo") ? (edicion[campo]?"SI":"NO") : edicion[campo] %> 
					<input class="inputs" name="<%= campo %>" type="text" value="<%= valor %>" disabled>
					<!-- Errores -->
					<i class="fa-solid fa-circle-check <%- edicPropia ? 'ocultar' : '' %>"></i>
					<i class="fa-solid fa-circle-xmark <%- edicPropia ? 'ocultar' : '' %>"></i>
					<!-- Edición ID -->
					<div class="edicion_id ocultar"><%= edicion.id %></div>
				</div>
				<% break %>
			<% } %>
		</td>
	<% } %>
</tr>	
