<% let edicPropia=edicion.editado_por_id==userID %> 
<tr class="
	edicion 
	revisar 
	inactivo_false 
	fila<%= fila %> 
	oscuro_<%= edicPropia %>
">
	<!-- Url -->
	<td class="ancho_url url campo"></td>
	<!-- Con valor agregado -->
	<% let campos=["calidad", "tipo_id", "completo", "parte", "gratuito"] %>
	<% let ocultar=false %> 
	<% for (campo of campos) { %>
		<td class="ancho_<%= campo %> <%= campo %>">
			<% if (edicion[campo]!==null && !ocultar) { %>
				<div class="inputError">
					<% let valor= campo=="tipo_id" ? (edicion[campo]==1?"Trailer":"Película") : (campo=="completo" || campo=="gratuito") ? (edicion[campo]?"SI":"NO") : edicion[campo] %> 
					<input name="<%= campo %>" type="text" value="<%= valor %>" disabled>
					<!-- Errores -->
					<i class="fa-solid fa-circle-check <%- edicPropia ? 'ocultar' : '' %>"></i>
					<i class="fa-solid fa-circle-xmark <%- edicPropia ? 'ocultar' : '' %>"></i>
				</div>
				<% ocultar=true %>
			<% } %>
		</td>
	<% } %>
	<!-- Status -->
	<td class="ancho_status taparMotivo"></td>
	<!-- Propio -->
	<td class="ancho_propio"></td>
	<!-- Acción -->
	<td class="ancho_accion"></td>

</tr>	
