<!-- Oscuro si: -->
<!-- RUD: provisorio y ajeno -->
<!-- Revisión: propio o creado c/ediciones o aprobado/inactivo -->
<tr class="
	yaExistentes
	inactivo_<%= link.cond.inactivos %>
	<%- link.cond.inactivos ? 'ocultaInactivo' : '' %>
	<%= link.tipo_id == 1 ? 'TR' : 'PL' %>
	fila<%= fila %>
	oscuro_<%- link.cond.rud ? link.cond.provisorio : ((link.cond.creado && !!link.ediciones.length) || link.cond.estable) %>
">
	<!-- 1. Url -->
	<td class="ancho_url url">
		<a href="//<%= link.url %>" target="_blank">
			<img src="/publico/imagenes/Logos-provs/<%= link.prov.avatar %>" alt="<%= link.prov.nombre %>" title="<%= link.url %>">
		</a>
		<input name='url' type="text" class="ocultar" value="<%= link.url %>">
	</td>
	<!-- Motivo -->
	<td colspan="7" class="motivo ancho_motivo ocultar">
		<b>Motivo:</b>
		<select name="motivo_id">
			<option value="" selected>Elejí el motivo</option>
			<% for (let motivo of motivos) { %>
				<option value="<%= motivo.id %>"><%= motivo.descripcion %></option>
			<% } %>
		</select>
	</td>
	<!-- 2. Calidad -->
	<td class="ancho_calidad taparMotivo <%- link.ediciones.find(n=>n.calidad && n.editadoPor_id!=userID) ? 'rojo' : '' %>">
		<%= link.calidad %>
	</td>
	<!-- 3. Castellano -->
	<td class="ancho_castellano taparMotivo <%- link.ediciones.find(n=>n.castellano!==null && n.editadoPor_id!=userID) ? 'rojo' : '' %>">
		<%- link.castellano ? "SI" : "NO" %>
	</td>
	<!-- 4. Subtitulos -->
	<td class="ancho_subtitulos taparMotivo <%- link.ediciones.find(n=>n.subtitulos!==null && n.editadoPor_id!=userID) ? 'rojo' : '' %>">
		<%- link.subtitulos===null ? "-" : link.subtitulos ? "SI" : "NO" %>
	</td>
	<!-- 5. Gratuito -->
	<td class="ancho_gratuito taparMotivo <%- link.ediciones.find(n=>n.gratuito!==null && n.editadoPor_id!=userID) ? 'rojo' : '' %>">
		<%- link.gratuito ? "SI" : "NO" %>
	</td>
	<!-- 6. Tipo -->
	<td class="ancho_tipo_id taparMotivo <%- link.ediciones.find(n=>n.tipo_id && n.editadoPor_id!=userID) ? 'rojo' : '' %>">
		<%- link.tipo_id==1 ? "Trailer" : "Película" %>
	</td>
	<!-- 7. Completo -->
	<td class="ancho_completo taparMotivo <%- link.ediciones.find(n=>n.completo!==null && n.editadoPor_id!=userID) ? 'rojo' : '' %>">
		<%- link.completo==1 ? "SI" : "NO" %>
	</td>
	<!-- 8. Parte -->
	<td class="ancho_parte taparMotivo <%- link.ediciones.find(n=>n.parte && n.editadoPor_id!=userID) ? 'rojo' : '' %>">
		<%- link.parte %>
	</td>
	<!-- 9. Status -->
	<td class="ancho_status"><%= link.statusRegistro.nombre %></td>
	<!-- 10. Propio -->
	<td class="ancho_propio"><%= link.cond.propios ? "SI" : link.cond.ajenos ? "NO" : "-" %></td>
	<!-- 11. Acción -->
	<td class="ancho_accion">
		<% let ocultar, mostrar %>
		<!-- Sólo para RUD -->
		<% if (link.cond.rud) { %>
			<!-- Status creado y propio, o status aprobado -> EDICION -->
			<% mostrar = link.cond.creadoPropio || link.cond.aprobado %>
			<i class="fa-solid fa-pen edicion <%- !mostrar ? 'ocultar' : '' %>" tabindex="-1" title="Editarlo"></i>

			<!-- Status provisorio y propio -> DESHACER -->
			<% mostrar = link.cond.provPropio %>
			<i class="fa-solid fa-rotate-left deshacer <%- !mostrar ? 'ocultar' : '' %>" tabindex="-1" title="Regresarlo a <%- link.cond.inactivarPropio ? 'Aprobado' : 'Inactivo' %>"></i>

			<!-- Status inactivo -> RECUPERAR -->
			<% mostrar = link.cond.inactivo %>
			<i class="fa-solid fa-circle-check in <%- !mostrar ? 'ocultar' : '' %>" tabindex="-1" title="Cambiarlo a Recuperar"></i>

			<!-- ELIMINAR -->
			<% if (link.cond.creadoPropio || usuario.rolUsuario.revisorLinks && link.cond.inactivo) { %>
				<!-- Status creado+propio, o Revisor+Inactivo -> ELIMINAR PERMANENTEMENTE -->
				<i class="fa-solid fa-trash-can out" tabindex="-1" title="Eliminarlo permanentemente"></i>
			<% } else if (link.cond.creadoAprob || link.cond.aprobado) { %>
				<!-- Status aprobado -> INACTIVAR -->
				<i class="fa-solid fa-circle-xmark out" tabindex="-1" title="Cambiarlo a 'Inactivar'"></i>
			<% } else { %>
				<!-- Sólo para que exista un 'out' -->
				<i class="ocultar out"></i>
			<% } %>
		<% } %>

		<!-- Sólo para Revisión -->
		<% if (link.cond.revision) { %>
			<% if (link.cond.grCreado) { // && !link.cond.creadoPropio %>
				<!-- Status creado y ajeno -> APROBADO/INACTIVO -->
				<i class="fa-solid fa-circle-check in aprob" tabindex="-1" title="Cambiarlo a 'Aprobado'"></i>
				<i class="fa-solid fa-circle-xmark out" tabindex="-1" title="Cambiarlo a 'Inactivo'"></i>
				<i class="ocultar fuera"></i>
			<% } else if (link.cond.inactivar) { // && !link.cond.inactivarPropio %>
				<!-- Status inactivar y ajeno -> APROBADO/INACTIVO -->
				<i class="fa-solid fa-circle-left in" tabindex="-1" title="Cambiarlo a 'Aprobado'"></i>
				<i class="fa-solid fa-circle-right fuera aprob" tabindex="-1" title="Cambiarlo a 'Inactivo'"></i>
				<i class="ocultar out"></i>
			<% } else if (link.cond.recuperar) { // && !link.cond.recuperarPropio %>
				<!-- Status recuperar y ajeno -> APROBADO/INACTIVO -->
				<i class="fa-solid fa-circle-left fuera" tabindex="-1" title="Cambiarlo a 'Inactivo'"></i>
				<i class="fa-solid fa-circle-right in aprob" tabindex="-1" title="Cambiarlo a 'Aprobado'"></i>
				<i class="ocultar out"></i>
			<% } else { %>
				<i class="ocultar in"></i>
				<i class="ocultar out"></i>
				<i class="ocultar fuera"></i>
			<% } %>
		<% } %>

		<!-- MOTIVO POR EL QUE ESTÁ EN STATUS PROVISORIO O INACTIVO -->
		<% if (link.motivo) { %>
			<i class="fa-solid fa-circle-question " tabindex="-1" title="<%= link.motivo.descripcion %>"></i>
		<% } %>
	</td>
</tr>
