<tr class="edicion crud ocultar inactivo_false">
	<% let aux %>
	<!-- Url -->
	<td class="ancho_url url campo" title="<%= link.url %>">
		<div class="inputError">
			<img src="/Externa/6-LogosProvs/<%= link.prov.avatar %>" alt="<%= link.prov.nombre %>">
			<input name="url" type="text" class="input ocultar" value="<%= link.url %>">
			<div class="errores">
				<i class="fa-solid fa-circle-xmark ocultar" style="display: none"><span class="mensajeError"></span></i>
				<i class="fa-solid fa-circle-check" style="display: none"></i>
				<i class="fa-solid fa-question prov_id" style="display: none"></i>
			</div>
		</div>
	</td>
	<!-- Calidad -->
	<td class="ancho_calidad calidad campo">
		<div class="inputError">
			<% aux = link.ediciones.find(n => n.calidad&&n.editadoPor_id!=userID) %>
			<select name="calidad" class="input <%- aux ? 'rojo' : '' %>" <% if (aux) { %>disabled<% } %>>
				<% for (let calidad of calidades) { %>
					<option value="<%= calidad %>" <%- link.calidad==calidad ? "selected" : "" %>><%= calidad %></option>
				<% } %>
				<option value="1081" <%- link.calidad=="1081" ? "selected" : "" %>>>1080</option>
			</select>
			<%- include("CMP-Errores", {z_index: 7, display: true}) %>
		</div>
	</td>
	<!-- Castellano -->
	<td class="ancho_castellano castellano campo">
		<div class="inputError">
			<% aux = link.ediciones.find(n => n.castellano!==null&&n.editadoPor_id!=userID) %>
			<select name="castellano" class="input <%- aux ? 'rojo' : '' %>" <% if (aux) { %>disabled<% } %>>
				<option value="1" <%- link.castellano ? "selected" : "" %>>SI</option>
				<option value="0" <%- !link.castellano ? "selected" : "" %>>NO</option>
			</select>
			<%- include("CMP-Errores", {z_index: 6, display: true}) %>
		</div>
	</td>
	<!-- Sub-Títulos -->
	<td class="ancho_subtitulos subtitulos campo">
		<div class="inputError">
			<% aux = link.ediciones.find(n => n.subtitulos!==null&&n.editadoPor_id!=userID) %>
			<select name="subtitulos" class="input <%- aux ? 'rojo' : '' %>" <% if (aux) { %>disabled<% } %>>
				<option value="1" <%- link.subtitulos ? "selected" : "" %>>SI</option>
				<option value="0" <%- link.subtitulos === false ? "selected" : "" %>>NO</option>
				<option value="-" <%- link.subtitulos === null ? "selected" : "" %> class="ocultar">-</option>
			</select>
			<%- include("CMP-Errores", {z_index: 5, display: true}) %>
		</div>
	</td>
	<!-- Gratuito -->
	<td class="ancho_gratuito gratuito campo">
		<div class="inputError">
			<% aux = link.ediciones.find(n => n.gratuito!==null&&n.editadoPor_id!=userID) %>
			<select name="gratuito" class="input <%- aux ? 'rojo' : '' %>" <% if (aux) { %>disabled<% } %>>
				<option value="1" <%- link.gratuito ? "selected" : "" %>>SI</option>
				<option value="0" <%- !link.gratuito ? "selected" : "" %>>NO</option>
			</select>
			<%- include("CMP-Errores", {z_index: 4, display: true}) %>
		</div>
	</td>
	<!-- Tipo -->
	<td class="ancho_tipo_id tipo_id campo">
		<div class="inputError">
			<% aux = link.ediciones.find(n => n.tipo_id&&n.editadoPor_id!=userID) %>
			<select name="tipo_id" class="input <%- aux ? 'rojo' : '' %>" <% if (aux) { %>disabled<% } %>>
				<option value="<%= linksTipos[0].id %>" <%- link.tipo_id==linksTipos[0].id ? "selected" : "" %>><%= linksTipos[0].nombre %></option>
				<% if (entidad != "colecciones") { %>
					<option value="<%= linksTipos[1].id %>" <%- link.tipo_id==linksTipos[1].id ? "selected" : "" %>><%= linksTipos[1].nombre %></option>
				<% } %>
			</select>
			<%- include("CMP-Errores", {z_index: 3, display: true}) %>
		</div>
	</td>
	<!-- Completo -->
	<td class="ancho_completo completo campo">
		<div class="inputError">
			<% aux = link.ediciones.find(n => n.completo!==null&&n.editadoPor_id!=userID) %>
			<select name="completo" class="input <%- aux ? 'rojo' : '' %>" <% if (aux) { %>disabled<% } %>>
				<option value="1" <%- link.completo ? "selected" : "" %>>SI</option>
				<option value="0" <%- !link.completo ? "selected" : "" %>>NO</option>
			</select>
			<%- include("CMP-Errores", {z_index: 2, display: true}) %>
		</div>
	</td>
	<!-- Parte -->
	<td class="ancho_parte parte campo">
		<div class="inputError">
			<% aux = link.ediciones.find(n => n.parte&&n.editadoPor_id!=userID) %>
			<input name="parte" type="text" class="input <%- aux ? 'rojo' : '' %>" value="<%= link.parte %>" <% if (aux) { %>disabled<% } %>>
			<%- include("CMP-Errores", {z_index: 1, display: true}) %>
		</div>
	</td>
	<!-- Status -->
	<td class="ancho_status status taparMotivo"><%= link.statusRegistro.nombre %></td>
	<!-- Propio -->
	<td class="ancho_propio taparMotivo"><%= link.cond.propios ? "SI" : link.cond.ajenos ? "NO" : "-" %></td>
	<!-- Acción -->
	<td class="ancho_accion accion">
		<button type="button" class="inactivo" title='Guardar'>
			<i class="fa-solid fa-floppy-disk"></i>
		</button>
	</td>
</tr>
