<%- include('0-Head') %>
<body>
  <%- include('1-Header') %>
  <main class="flex-row">
    <%- include('9-ImagenDerecha') %>
    <section id="main-y-footer" class="flex-col grow">
      <%- include('3-Footer') %>
      <!--**************************** CUERPO ************************-->
      <section class="flex-row grow cuerpo">
        <!--********************** CONTADOR ****************************-->
        <button type="text" id="contador-de-peliculas">Contador</button>
        
        <!--*********************** FILTROS ****************************-->
        <%- include('19-Filtros') %>
        <!--******************* ZONA DE PELÍCULAS **********************-->
        <section id="zona-de-pelis" class="flex-col grow">
          <!--///////////////////// TÍTULO PRINCIPAL ///////////////////-->
          <select name="" onchange="location = this.value;" class="titulo">
            <% if (!opcion_url) { %><option style="font-style: italic">Elegí una opción</option><% } %> 
            <% for (let n of opciones_BD) { %>
              <option 
                value="/<%= rubro_url %>/<%= n.codigo %>"
                <% if (n.codigo == opcion_url) { %>selected<% } %>>
                <%= n.nombre %>
              </option>
            <% } %>
          </select> 

          <!--///////////////////// TÍTULO SECUNDARIO ///////////////////-->
          <% if (opcion_url) { %>
            <select name="" onchange="location = this.value;" class="subtitulo">
              <% if (!tipo_url) { %><option style="font-style: italic">Elegí una opción</option><% } %>
              <% for (let n of tipos_BD) { %>
                <option 
                  value="/<%= rubro_url %>/<%= opcion_url %>/<%= n.codigo %>"
                  <% if (n.codigo == tipo_url) { %>selected<% } %>>
                  <%= n.nombre %>
                </option>
              <% } %>
            </select>          
          <% } %> 

          <!--///////////////////// Redireccionar ///////////////////-->
          <div>
            <%- tipo_url ? include(opcion_objeto.vista) : "" %>
          </div>
        </section>
        <!--*************************** FIN ****************************-->
      </section>      
      <!--****************************** FIN *************************-->
    </section>
  </main>
</body>
</html>