<%- include('0-Head') %>
<body>
  <%- include('1-Header') %>
  <main class="flex-row">
    <%- include('9-ImagenDerecha') %>
    <section id="main-y-footer" class="flex-col grow">
      <%- include('3-Footer') %>
      <!--**************************** CUERPO ************************-->
      <section class="flex-row grow cuerpo">
        <!--********************** CONTADOR ****************************-->
        <button type="text" id="contador-de-peliculas">Contador</button>
        <!--*********************** FILTROS ****************************-->
        <%- grupo == "Opciones-3" ? include('19-Filtros') : "" %>
        <!--******************* ZONA DE PELÍCULAS **********************-->
        <section id="zona-de-pelis" class="flex-col grow">
          
          <!--////////////////////// OPCIONES 1 y 2 ////////////////////-->
          <div>
            <% if (grupo <= "Opciones-2") { %>
              <!---------- TÍTULO PRINCIPAL: ELEGÍ UNA OPCIÓN ------------>
              <button onclick="desplegable('menu-opciones')" class="titulo boton-desplegable">
                <% if (grupo == "Opciones-1") { %>
                  Elegí una opción
                <% } %>
                <% if (grupo == "Opciones-2") { %>
                  <%= opcion_objeto.nombre %>
                <% } %>
              </button>
              <!--------------------- OPCIONES --------------------------->
              <div id="menu-opciones" class="dropdown-content">
                <% for (let n of opciones_BD) { %>
                  <a href="/<%= rubro_url %>/<%= n.codigo %>"><%= n.nombre %></a>
                <% }%>    
              </div>
              <!------------------------ FIN ----------------------------->
            <% } %>
          </div>
      
          <!--////////////////////// OPCIONES 2 ////////////////////////-->
          <div>
            <% if (grupo == "Opciones-2") { %>
              <!--------- TÍTULO PRINCIPAL: OPCIÓN YA ELEGIDA ------------>
              
              <div id="opciones">
                <a href="/<%= rubro_url %>"><button><%= opcion_objeto.nombre %></button></a>
              </div>

              <div id="menu-opciones" class="flex-col dropdown-content">
                <% for (let n of opciones_BD) { %>
                  <a href="/<%= rubro_url %>/<%= n.codigo %>"><%= n.nombre %></a>
                <% }%>    
              </div>              

              <!---------- TÍTULO SECUNDARIO: ELEGÍ UNA OPCIÓN ----------->
              <div id="opciones">
                <button>Elegí una opción</button>
              </div>
              <!----------------------- OPCIONES ------------------------->
              <div class="flex-col">
                <% for (let n of tipos_BD) { %>
                  <a href="/<%= rubro_url %>/<%= opcion_objeto.codigo %>/<%= n.codigo %>"><button><%= n.nombre %></button></a>
                <% } %>
              </div>
            <% } %>
      
          </div>
      
          <!--////////////////////// OPCIONES 3////////////////////////-->
          <div>
            <% if (grupo == "Opciones-3") { %>
              <!--------- TÍTULO PRINCIPAL: OPCIÓN YA ELEGIDA ------------>
              <div id="opciones">
                <a href="/<%= rubro_url %>"><button><%= opcion_objeto.nombre %></button></a>
              </div>
              <!--------- TÍTULO SECUNDARIO: OPCIÓN YA ELEGIDA ----------->
              <div id="opciones">
                <a href="/<%= rubro_url %>/<%= opcion_url %>"><button><%= tipo_objeto.nombre %></button></a>
              </div>
              <!------------------- REDIRECCIONAR ------------------------>
              <%- include(opcion_objeto.vista) %>
            <% } %>
      
          </div>
      
        </section>
        <!--*************************** FIN ****************************-->
      </section>      
      <!--****************************** FIN *************************-->
    </section>
  </main>
</body>
</html>