<!-- Oscuro si: -->
<!-- RUD: provisorio y ajeno -->
<!-- Revisión: propio o creado c/ediciones o aprobado/inactivo -->
<tr class="
	yaExistentes 
	inactivo_<%= cond.inactivos %> 
	<%- cond.inactivos ? 'ocultaInactivo' : '' %> 
	<%= link.tipo_id==1 ? 'TR' : 'PL' %> 
	fila<%= fila %>
	oscuro_<%- cond.rud ? cond.provAjeno : (cond.propio || (cond.creado && !!link.ediciones.length) || cond.estable) %>
">
	<!-- Url -->
	<td class="ancho_url url">
		<a href="//<%= link.url %>" target="_blank">
			<img src="<%= localhost %>/imagenes/0-Base/Logos/<%= link.prov.avatar %>" alt="<%= link.prov.nombre %>" title="<%= link.url %>">
		</a>
		<input name='url' type="text" class="ocultar" value="<%= link.url %>">
	</td>
	<!-- Motivo -->
	<td colspan="7" class="motivo ocultar">
		<strong>Motivo: </strong>
		<select name="motivo_id">
			<option value="" selected>Elejí el motivo</option>
			<% for (let motivo of motivos) { %>
				<option value="<%= motivo.id %>"><%= motivo.descripcion %></option>
			<% } %>
		</select>
	</td>
	<!-- Calidad -->
	<td class="ancho_calidad taparMotivo <%- link.ediciones.find(n=>n.calidad && n.editado_por_id!=userID) ? 'rojo' : '' %>">
		<%= link.calidad %>
	</td>
	<!-- Castellano -->
	<td class="ancho_castellano taparMotivo <%- link.ediciones.find(n=>n.castellano!==null && n.editado_por_id!=userID) ? 'rojo' : '' %>">
		<%- link.castellano ? "SI" : "NO" %>
	</td>
	<!-- Subtitulos -->
	<td class="ancho_subtitulo taparMotivo <%- link.ediciones.find(n=>n.subtitulos!==null && n.editado_por_id!=userID) ? 'rojo' : '' %>">
		<%- link.subtitulos===null ? "-" : link.subtitulos ? "SI" : "NO" %>
	</td>
	<!-- Gratuito -->
	<td class="ancho_gratuito taparMotivo <%- link.ediciones.find(n=>n.gratuito!==null && n.editado_por_id!=userID) ? 'rojo' : '' %>">
		<%- link.gratuito ? "SI" : "NO" %>
	</td>
	<!-- Tipo -->
	<td class="ancho_tipo_id taparMotivo <%- link.ediciones.find(n=>n.tipo_id && n.editado_por_id!=userID) ? 'rojo' : '' %>">
		<%- link.tipo_id==1 ? "Trailer" : "Película" %>
	</td>
	<!-- Completo -->
	<td class="ancho_completo taparMotivo <%- link.ediciones.find(n=>n.completo!==null && n.editado_por_id!=userID) ? 'rojo' : '' %>">
		<%- link.completo==1 ? "SI" : "NO" %>
	</td>
	<!-- Parte -->
	<td class="ancho_parte taparMotivo <%- link.ediciones.find(n=>n.parte && n.editado_por_id!=userID) ? 'rojo' : '' %>">
		<%- link.parte %>
	</td>
	<!-- Status -->
	<td class="ancho_status"><%= link.status_registro.nombre %></td>
	<!-- Propio -->
	<td class="ancho_propio"><%= cond.propio ? "SI" : cond.ajeno ? "NO" : "-" %></td>
	<!-- Acción -->
	<td class="ancho_accion">
		<% let ocultar, mostrar %>
		<!-- Sólo para RUD -->
		<% if (cond.rud) { %>
			<!-- Status creado y propio, o status aprobado -> EDICION -->
			<% mostrar = cond.creadoPropio || cond.aprobado %>
			<i class="fa-solid fa-pen editar <%- !mostrar ? 'ocultar' : '' %>" tabindex="-1" title="Editarlo"></i>

			<!-- Status provisorio y propio -> DESHACER -->
			<% mostrar = cond.provPropio %>
			<i class="fa-solid fa-rotate-left deshacer <%- !mostrar ? 'ocultar' : '' %>" tabindex="-1" title="Regresarlo a <%- cond.inactivarPropio ? 'Aprobado' : 'Inactivo' %>"></i>

			<!-- Status inactivo -> RECUPERAR -->
			<% mostrar = cond.inactivo %>
			<i class="fa-solid fa-circle-check in <%- !mostrar ? 'ocultar' : '' %>" tabindex="-1" title="Cambiarlo a Recuperar"></i>
		
			<!-- ELIMINAR -->
			<% if (cond.creadoPropio) { %>
				<!-- Status creado y propio -> ELIMINAR PERMANENTEMENTE -->
				<i class="fa-solid fa-trash-can out" tabindex="-1" title="Eliminarlo permanentemente"></i>
			<% } else if (cond.aprobado) { %>
				<!-- Status aprobado -> INACTIVAR -->
				<i class="fa-solid fa-circle-xmark out" tabindex="-1" title="Cambiarlo a 'Inactivar'"></i>
			<% } else { %>
				<i class="ocultar out"></i>
			<% } %>
		<% } %>

		<!-- Sólo para Revisión -->
		<% if (cond.revision) { %>
			<% if (cond.creado && !cond.creadoPropio) { %>
				<!-- Status creado y ajeno -> APROBADO/INACTIVO -->
				<i class="fa-solid fa-circle-check in aprob" tabindex="-1" title="Cambiarlo a 'Aprobado'"></i>
				<i class="fa-solid fa-circle-xmark out" tabindex="-1" title="Cambiarlo a 'Inactivo'"></i>
				<i class="ocultar fuera"></i>
			<% } else if (cond.inactivar && !cond.inactivarPropio) { %>
				<!-- Status inactivar y ajeno -> APROBADO/INACTIVO -->
				<i class="fa-solid fa-circle-left in" tabindex="-1" title="Cambiarlo a 'Aprobado'"></i>
				<i class="fa-solid fa-circle-right fuera aprob" tabindex="-1" title="Cambiarlo a 'Inactivo'"></i>
				<i class="ocultar out"></i>
			<% } else if (cond.recuperar && !cond.recuperarPropio) { %>
				<!-- Status recuperar y ajeno -> APROBADO/INACTIVO -->
				<i class="fa-solid fa-circle-left fuera" tabindex="-1" title="Cambiarlo a 'Inactivo'"></i>
				<i class="fa-solid fa-circle-right in aprob" tabindex="-1" title="Cambiarlo a 'Aprobado'"></i>
				<i class="ocultar out"></i>
			<% } else { %>
				<i class="ocultar in"></i>
				<i class="ocultar out"></i>
				<i class="ocultar fuera"></i>
			<% } %>
		<% } %>

		<!-- MOTIVO POR EL QUE ESTÁ EN STATUS PROVISORIO O INACTIVO -->
		<% if (link.motivo) { %>
			<i class="fa-solid fa-circle-question " tabindex="-1" title="<%= link.motivo.descripcion %>"></i>
		<% } %>
	</td>
</tr>
