<nav class="flexRowAlign">
	<% for (let grupo in links) { %>
		<% if (!links[grupo].length) {continue} %>
		<% if (links[grupo].length == 1) { %>
			<p><%= links[grupo][0].leyenda %></p>
		<% } else { %>
			<select id="" onchange="location = this.options[this.selectedIndex].value">
				<option value="" disabled selected><%= links[grupo][0].titulo %></option>
				<% for (const link of links[grupo]) { %>
					<option value="<%= link.url %>" class="<%= link.idioma %>"><%= link.leyenda %></option>
				<% } %>
			</select>
		<% } %>
	<% } %>
</nav>
