<% let campo = camposDA.find(n => n.nombre == nombre) %>
<% let {titulo, valores, angosto} = campo %>
<section class="labelInput">
	<label><%= titulo %></label>
	<div class="inputError">
		<!-- Input -->
		<select name="<%= nombre %>" class="input <%= angosto ? 'angosto ' : '' %>">
			<option value="" <% if (!registro[nombre]) { %>selected<% } %>>Elejí<% if (!angosto) { %> una opción<% } %></option>
			<% for (let valor of valores) { %>
				<option value="<%= valor.id %>" <% if (registro[nombre] == valor.id) { %>selected<% } %>>
					<%= valor.nombre %>
				</option>
			<% } %>
		</select>
		<% if (!campo.mensajes) campo.mensajes = (campo.entidad == "peliculas") ? campo.mensajePeli : campo.mensajeColec %>
		<% if (campo.mensajes) { %>
			<!-- Ayuda -->
			<div class="ayuda">
				<i class="fa-solid fa-circle-question ayudaClick desplClick">
					<ul type="dots" class="ayudaMostrar ocultar desplMostrar">
						<% for (let mensaje of campo.mensajes) { %><li><%= mensaje %></li><% } %>
					</ul>
				</i>
			</div>
		<% } %>
		<%- include("CMP-Errores", {nombre, ocultarOK: true}) %>
		<!-- Aviso de cambio en el data-entry -->
		<i class="fa-solid fa-arrow-right-long ocultar"></i>
	</div>
</section>
