<section class="labelInput">
	<label>Idioma original</label>
	<div class="inputError">
		<select name="idiomaOriginal_id" class="input">
			<optgroup label="Más frecuentes">
				<% for (let idioma of idiomas.filter(n => n.masFrecuente)) { %>
					<option value="<%= idioma.id %>" <% if (idioma.id==idioma_id) { %>selected<% } %>><%= idioma.nombre %></option>
				<% } %>
			</optgroup>
			<optgroup label="Demás idiomas">
				<% for (let idioma of idiomas.filter(n => !n.masFrecuente)) { %>
					<option value="<%= idioma.id %>" <% if (idioma.id==idioma_id) { %>selected<% } %>><%= idioma.nombre %></option>
				<% } %>
			</optgroup>
		</select>
		<%- include("CMP-Errores", {nombre: "idiomaOriginal_id"}) %>
		<!-- Aviso de cambio en el data-entry -->
		<i class="fa-solid fa-arrow-right-long ocultar"></i>
	</div>
</section>
