<% let {titulo, valores} = camposDA.find(n => n.nombre == nombre) %>
<section id="tipoActuacion" class="inputError flexRowAlign altoFila">
	<label class="negrita"><%= titulo %></label>
	<div id="tipos" class="flexRowAlign relative altoFila grow spaceBetween">
		<% for (let valor of valores) { %>
			<div class="flexRowAlign">
				<input id="<%= valor.id %>" type="radio" name="tipoActuacion_id" value="<%= valor.id %>" <% if (registro.tipoActuacion_id==valor.id) { %>checked<% } %> class="tipoActuacion">
				<label for="<%= valor.id %>"><%= valor.nombre %></label>
			</div>
		<% } %>
		<!-- Aviso de cambio en el data-entry -->
		<i class="fa-solid fa-arrow-right-long ocultar"></i>
	</div>
	<%- include("CMP-Errores", {nombre}) %>
</section>
