<% const campo = camposDA.find(n => n.nombre == nombre) %>
<% const {titulo, valores, grupo} = campo %>
<section id="<%= nombre %>" class="labelInput">
	<label><%= titulo %></label>
	<div class="inputError">
		<!-- Input -->
		<select name="<%= nombre %>" class="input RCLV">
			<optgroup label="Casos Puntuales">
				<% for (let valor of valores.filter(n => n.id < 10)) { %>
					<option value="<%= valor.id %>" class="RCLV" <% if (registro[nombre] == valor.id) { %>selected<% } %>><%= valor.nombre %></option>
				<% } %>
			</optgroup>
			<optgroup label="Listado General">
				<% for (let valor of valores.filter(n => n.id > 10)) { %>
					<option value="<%= valor.id %>" class="RCLV" <% if (registro[nombre] == valor.id) { %>selected<% } %>><%= valor.nombre %></option>
				<% } %>
			</optgroup>
		</select>

		<%- include("P-Ayuda", {campo}) %>
		<!-- Link a Relación con la vida -->
		<i id="alta" class="linkRCLV fa-solid fa-circle-plus <%= nombre %>" title='Agregar "<%= titulo.toLowerCase() %>"'></i>
		<i id="edicion" class="linkRCLV fa-solid fa-square-pen ocultar <%= nombre %>" title='Editar "<%= titulo.toLowerCase() %>"'></i>

		<!-- Aviso de cambio en el data-entry -->
		<i class="fa-solid fa-arrow-right-long ocultar"></i>
	</div>
</section>
