<section id="paises_id">
	<label>País/es de origen</label>
	<div class="input-error">
		<!-- Lugar donde almacenar los ID -->
		<input name="paises_id" type="text" <% if (dataEntry.paises_id) { %>value="<%= dataEntry.paises_id %>" disabled<% } %> class="input">
		<!-- Lugar donde mostrar los nombres -->
		<input id="mostrarPaises" type="text" readonly tabindex="-1" value="<%= paises %>" <% if (dataEntry.paises_id) { %>disabled<% } %>>
		<!-- Opciones de países -->
		<% if (!dataEntry.paises_id) { %>
			<select autofocus>
				<option value="" selected class="ocultar">Elejí un país</option>
				<option value="borrar">Borrar todo/s</option>
				<% continentes = ["América", "Europa", "Africa", "Asia", "Oceanía"] %> 
				<% for (let continente of continentes) { %>
					<optgroup label="<%= continente %>">
						<% for (let pais of BD_paises.filter(n => n.continente == continente)) { %>
							<option value="<%= pais.id %>"><%= pais.nombre %></option>
						<% } %>	
					</optgroup>
				<% } %> 
			</select>
		<% } else { %>
			<!-- Ayuda -->
			<%- include("39-DD-Mensajes") %>
		<% } %>
		<!-- Errores -->
		<i class="fa-solid fa-circle-xmark ocultar"><span class="mensajeError"></span></i>
	</div>
</section>
