<section class="label-input">
	<label>Idioma original</label>
	<div class="input-error">
		<select name="idioma_original_id" autofocus class="input" <% if (idioma_id) { %>disabled<% } %>>
			<option value="" <% if (idioma_id=="") { %>selected<% } %> class="ocultar">Elejí un idioma</option>
			<optgroup label="Más frecuentes">
				<% for (let idioma of idiomas.filter(n => n.mas_frecuente)) { %>
					<option value="<%= idioma.id %>" <% if (idioma_id==idioma.id) { %>selected<% } %>><%= idioma.nombre %></option>
				<% } %>	
			</optgroup>
			<optgroup label="Demás idiomas">
				<% for (let idioma of idiomas.filter(n => !n.mas_frecuente)) { %>
					<option value="<%= idioma.id %>" <% if (idioma_id==idioma.id) { %>selected<% } %>><%= idioma.nombre %></option>
				<% } %>	
			</optgroup>
		</select>
		<!-- Ayuda -->
		<%- (dataEntry.idioma_original_id && !errores.idioma_original_id) ? include("39-DD-Mensajes") : "" %>
		<!-- Errores -->
		<i class="fa-solid fa-circle-xmark ocultar"><span class="mensajeError"></span></i>
	</div>
</section>
