<div id="cambioStatus" class="iconos">
	<% condicUsuario = locals.usuario && locals.usuario.statusRegistro_id == perennes_id %>
	<% condicRegistro = !!locals.registro && !!(entidad != "capitulos" || aprobados_ids.includes(registro.statusColeccion_id)) %>
	<% condicDetalle = ["prodRud", "rclvCrud"].includes(tema) && codigo == "detalle" %>
	<% condicHistorial = [...aprobados_ids, inactivo_id].includes(locals.status_id) %>
	<% const origenHTML = (locals.origen ? ('&origen=' + origen) : '') %>

	<% if (locals.statusAlineado && condicHistorial && condicRegistro && condicDetalle) { %>
		<!-- Ir al historial -->
		<a href="<%= '/' + familia + '/historial/?entidad=' + entidad + '&id=' + id + origenHTML %>">
			<i class="fa-solid fa-arrow-right-arrow-left" tabindex="-1" title="Ir al historial"></i>
		</a>
	<% } %>
	<% if (condicUsuario && condicRegistro && condicDetalle) { %>
		<!-- DETALLE -->
		<% if (locals.statusAlineado) { %>
			<% if (locals.status_id == creado_id && locals.creadoPor_id == usuario.id) { %>
				<!-- Eliminarlo definitivamente: Status creado y si fue creado por el usuario -->
				<a href="<%= '/' + familia + '/eliminadoPorCreador/?entidad=' + entidad + '&id=' + id + origenHTML %>">
					<i class="fa-solid fa-trash-can" tabindex="-1" title="Ir a 'Eliminar definitivamente'"></i>
				</a>
			<% } %>
			<% if (locals.revisorPERL && [...inacRecup_ids, creado_id].includes(locals.status_id)) { %>
				<!-- Revisar: Alta, Inactivar, Recuperar -->
				<% const url = status_id == creado_id ? "alta" : status_id == inactivar_id ? "inactivar" : "recuperar" %>
				<a href="<%= '/revision/' + familia + '/' + url + '/?entidad=' + entidad + '&id=' + id + origenHTML %>">
					<i class="fa-solid fa-user-graduate" tabindex="-1" title="Ir a 'Inactivar'"></i>
				</a>
			<% } %>
		<% } else if (!locals.statusAlineado && locals.revisorPERL) { %>
			<!-- Corregir Status -->
			<a href="<%= '/correccion/status/?entidad=' + entidad + '&id=' + id + origenHTML %>">
				<i class="fa-solid fa-circle-xmark" tabindex="-1" title="Ir a 'Corregir Status'"></i>
			</a>
		<% } %>
	<% } %>
	<% if (condicUsuario && condicRegistro && codigo == "historial") { %>
		<!-- HISTORIAL -->
		<% if (aprobados_ids.includes(locals.status_id)) { %>
			<!-- Inactivar -->
			<a href="<%= '/' + familia + '/inactivar/?entidad=' + entidad + '&id=' + id + origenHTML %>">
				<i class="fa-solid fa-circle-xmark" tabindex="-1" title="Ir a 'Inactivar'"></i>
			</a>
		<% } %>
		<% if (locals.status_id == inactivo_id && codigo != "eliminar") { %>
			<!-- Recuperar -->
			<a href="<%= '/' + familia + '/recuperar/?entidad=' + entidad + '&id=' + id + origenHTML %>">
				<i class="fa-solid fa-circle-check" tabindex="-1" title="Ir a 'Recuperar'"></i>
			</a>
			<% if (locals.usuario && usuario.rolUsuario.revisorPERL) { %>
				<!-- Eliminar -->
				<a href="<%= '/' + familia + '/eliminar/?entidad=' + entidad + '&id=' + id + origenHTML %>">
					<i class="fa-solid fa-trash-can" tabindex="-1" title="Ir a 'Eliminar definitivamente'"></i>
				</a>
			<% } %>
		<% } %>
	<% } %>

	<% condicRclvCrud = tema == "rclvCrud" && (["agregar", "edicion"].includes(codigo)) %>
	<% condicRevision = tema == "revisionEnts" && codigo == "rclv/alta" %>
	<% condicRevSolapam = tema == "revisionEnts" && codigo == "rclv/solapamiento" %>
	<% if (condicRclvCrud || condicRevision || condicRevSolapam) { %>
		<!-- CRUD - Aprobar -->
		<button type="submit" autofocus class="inactivo">
			<i class="fa-solid fa-circle-check" title="Guardar"></i>
		</button>
		<!-- CRUD - Eliminar edición RCLV -->
		<% if (tema == "rclvCrud" && codigo == "edicion" && edicID) { %>
			<label for="eliminaEdicion" title="Eliminar la Edición">
				<i class="fa-solid fa-trash-can"></i>
			</label>
			<input id="eliminaEdicion" type="submit" class="submit" formaction="<%= originalUrl %>&eliminarEdic=true" formmethod="post" >
		<% } %>
	<% } %>

	<% if (tema == "revisionEnts") { %>
		<% if (locals.statusCreado) { %>
			<!-- REVISION ALTA - Aprobar -->
			<button type="submit" autofocus>
				<i class="fa-solid fa-circle-check" title="Aprobar"></i>
			</button>
			<!-- REVISION ALTA - Ir a la vista Rechazar -->
			<a href="<%= '/revision/' + familia + '/rechazar/?entidad=' + entidad + '&id=' + id + origenHTML %>">
				<i class="fa-solid fa-circle-xmark" tabindex="-1" title="Rechazar"></i>
			</a>
		<% } %>
		<% if (["revisionInactivar", "revisionRecuperar"].includes(codigo)) {  %>
			<!-- REVISION INACTIVAR Y RECUPERAR - Rechaza el cambio de status -->
			<label for="desaprueba" class="inactivo">
				<i class="fa-solid fa-circle-xmark" tabindex="-1" title="Desaprueba el cambio de status"></i>
			</label>
			<input type="submit" id="desaprueba" formaction="<%= urlActual %>&desaprueba=true" formmethod="post">

			<!-- REVISION INACTIVAR Y RECUPERAR - Confirma el cambio de status -->
			<button type="submit" id="aprueba">
				<i class="fa-solid fa-circle-right" tabindex="-1" title="Aprueba el cambio de status"></i>
			</button>
		<% } %>
	<% } %>
</div>

<% condicCrud = tema == "fmCrud" %>
<% condicCrudEliminar = tema == "fmCrud" && codigo == "eliminar" %>
<% condicRevRech = tema == "revisionEnts" && codigo == "rechazar" %>
<% if (condicCrud && codigo != "historial" || condicRevRech || tema == "correccion") {  %>
	<button type="submit" class="iconos <%- codigo != 'eliminar' ? 'inactivo' : '' %>">
		<% if (condicCrud && !condicCrudEliminar || condicRevRech || tema == "correccion") {  %>
			<!-- VISTAS CRUD (Inactivar/Recuperar) - Para cambiar el status y enviar a Revisión -->
			<!-- VISTAS REVISION (Inactivar/Recuperar/Rechazo) - Para confirmar el cambio de status -->
			<i class="fa-solid fa-circle-check" tabindex="-1" title="Confirma el cambio de status"></i>
		<% } %>
		<% if (condicCrudEliminar) {  %>
			<!-- Elimina definitivamente -->
			<i class="fa-solid fa-trash-can" tabindex="-1" title="Eliminar definitivamente"></i>
		<% } %>
	</button>
<% } %>
