<% if (locals.informacion || locals.mostrar) { %>
	<!-- Formato -->
	<link rel="stylesheet" href="/formatos/0-Compartido/Main/CMP-Cartel.css">
	<!-- Tapar el fondo -->
	<section id="tapar-el-fondo" class="<%- !locals.informacion ? 'ocultar' : '' %>"></section>
	<!-- Cartel -->
	<section id="cartel" class="<%- !locals.informacion ? 'ocultar' : informacion.check ? 'check' : informacion.trabajando ? 'trabajando' : '' %>">

		<!-- Íconos -->
		<i id="alerta" class="fa-solid fa-triangle-exclamation inicio <%- !locals.informacion || locals.informacion.check || locals.informacion.trabajando ? 'ocultar' : '' %>"></i>
		<img id="check" src="//localhost/imagenes/0-Base/Varios/Check.png" class="inicio <%- !locals.informacion || !locals.informacion.check ? 'ocultar' : '' %>" height="60px">
		<i id="trabajando" class="fa-solid fa-tools inicio <%- !locals.informacion || !locals.informacion.trabajando ? 'ocultar' : '' %>"></i>

		<!-- Título -->
		<p id="titulo"></p>

		<!-- Si existe información, la muestra -->
		<% if (locals.informacion) { %>
			<ul id="mensajes" type="<%- informacion.mensajes.length > 1 ? 'dots' : 'none' %>">
				<% for (mensaje of informacion.mensajes) { %>
					<li><%= mensaje %> </li>
				<% } %>
			</ul>
		<% } else { %>
			<!-- Si no existe información, se deja preparado el sector -->
			<ul id="mensajes"></ul>
		<% } %>
		<!-- Se usa para Información y Front-End -->
		<div id="flechasCartel">
			<% if (locals.informacion) { %>
				<% for (icono of informacion.iconos) { %>
					<% let autoFocus = informacion.iconos.length == 1 || icono.autofocus %> 
					<a href="<%= icono.link %>" tabindex="-1">
						<i class="fa-solid <%= icono.nombre %>" title="<%= icono.titulo %>" <% if (autoFocus) { %>autofocus<% } %>></i>
					</a>
				<% } %>
			<% } %>
		</div>
	</section>
<% } %>
