<% if (mostrar) { %>
	<!-- Mostrar la Imagen -->
	<section id="imgDerecha">
		<% let ruta, titulo, destino %>
		<% if (locals.tema == "institucional" || locals.institucional) { %>
			<!-- 1. Imagen Institucional -->
			<% ruta = localhost + '/imagenes/0-Base/Varios/Institucional-Imagen.jpg'; titulo = "ELC-Películas" %>
			<% destino = "/" %>
		<% } %>
		<% if (!ruta && locals.imgDerPers) { %>
			<!-- 2. Imagen Personalizada -->
			<% ruta = imgDerPers %>
			<% titulo = tituloImgDerPers %>
		<% } %>
		<% if (!ruta) { %>
			<!-- 3. Imagen Diaria -->
			<% const ahora = new Date() %>
			<% const diaLocal = ("0" + ahora.getDate()).slice(-2) %>
			<% const mesLocal = mesesAbrev[ahora.getMonth()] %>
			<% const anoLocal = ahora.getFullYear().toString().slice(-2) %>
			<% const hoyLocal = diaLocal + "-" + mesLocal + "-" + anoLocal %>
			<% ruta = localhost + "/imagenes/4-ImagenDerecha/" + hoyLocal + ".jpg" %>
			<% titulo = ImagenesDerecha[hoyLocal].titulo %>
			<% console.log(24,hoyLocal, titulo) %>
			<% destino = "/rclv/detalle/?entidad=" + ImagenesDerecha[hoyLocal].entidad + "&id=" + ImagenesDerecha[hoyLocal].id %>
		<% } %>
		<% if (destino) { %>
			<a href="<%= destino %>">
				<img src="<%= ruta %>" title="<%= titulo %>">
			</a>
		<% } else { %>
			<img src="<%= ruta %>" title="<%= titulo %>">
		<% } %>
	</section>
<% } %>
