<div id="tituloPrincipal" class="<%= tema %>">
	<h1 id="titulo"><%= titulo %></h1>
	<!-- Ayuda -->
	<div class="ayuda">
		<i class="fa-solid fa-circle-question ayudaClick desplClick">
			<ul class="ayudaMostrar ocultar desplMostrar" type="dots">
				<li>Estos registros están pendientes de información.</li>
				<li>Las tareas figuran por orden de prioridad.</li>
			</ul>
		</i>
	</div>
</div>
<!-- Datos -->
<section id="familias">
	<!-- Productos -->
	<div id="primeraColumna">
		<div class="bloques">
			<!-- Título y ayuda -->
			<div class="tituloSecundario">
				<!-- Título -->
				<h2>PRODUCTOS</h2>
				<!-- Ayuda -->
				<div class="ayuda">
					<i class="fa-solid fa-circle-question ayudaClick desplClick">
						<ul class="ayudaMostrar ocultar desplMostrar" type="dots">
							<li>Para cada <em>producto</em>, la novedad fue propuesta por otro usuario hace más de una hora.</li>
							<li>Las columnas son: fecha de la novedad, tipo y nombre del producto, y año de lanzamiento</li>
						</ul>
					</i>
				</div>
			</div>
			<!-- Registros -->
			<div class="temas">
				<% if (revisor) { %>
					<%- include("CMP-RegsTC", {titulo: "Inactivos", regs: productos.IN, url: "producto/detalle", origen: "MT"}) %>
				<% } %>
				<%- include("CMP-RegsTC", {titulo: "Aprobados sin calificar", regs: productos.SC, url: "producto/detalle", origen: "MT"}) %>
			</div>
		</div>
	</div>
	<div id="segundaColumna">
		<!-- RCLV -->
		<div class="bloques" id="rclv">
			<!-- Título y ayuda -->
			<div class="tituloSecundario">
				<!-- Título -->
				<h2>RCLV</h2>
				<!-- Ayuda -->
				<div class="ayuda">
					<i class="fa-solid fa-circle-question ayudaClick desplClick">
						<ul class="ayudaMostrar ocultar desplMostrar" type="dots">
							<p>Los RCLV cumplen alguna de estas condiciones:</p>
							<li>Las <em>altas a analizar</em>, fueron creadas por otro usuario y están relacionadas con un producto aprobado.</li>
							<li>Las <em>ediciones</em> a revisar son de algún RCLV aprobado.</li>
							<li>Las <em>altas sin producto</em> no tienen ningún producto asociado.</li>
							<p>Si se le cambia el nombre a algún registro, debe seguir refiriéndose a la misma entidad (personaje, hecho, tema).</p>
						</ul>
					</i>
				</div>
			</div>
			<!-- Registros -->
			<div class="temas">
				<% if (revisor) { %>
					<%- include("CMP-RegsTC", {titulo: "Inactivos c/Producto", regs: rclvs.INP, url: "rclv/detalle", origen: "MT"}) %>
					<%- include("CMP-RegsTC", {titulo: "Inactivos", regs: rclvs.IN, url: "rclv/detalle", origen: "MT"}) %>
				<% } %>
				<%- include("CMP-RegsTC", {titulo: "Inconsistencia con el año", regs: rclvs.PST, url: "rclv/edicion", origen: "MT"}) %>
				<%- include("CMP-RegsTC", {titulo: "Solapamiento de Fechas", regs: rclvs.SF, url: "rclv/edicion", origen: "MT"}) %>
				<%- include("CMP-RegsTC", {titulo: "Sin Avatar", regs: rclvs.SA, url: "rclv/edicion", origen: "MT"}) %>
				<!-- <%- include("CMP-RegsTC", {titulo: "Fecha Móvil", regs: rclvs.FM, url: "rclv/edicion", origen: "MT"}) %> -->
			</div>
		</div>
		<!-- Links -->
		<div class="bloques" id="links">
			<div class="tituloSecundario">
				<h2>LINKS</h2>
				<!-- Ayuda -->
				<div class="ayuda">
					<i class="fa-solid fa-circle-question ayudaClick desplClick">
						<ul class="ayudaMostrar ocultar desplMostrar" type="dots">
							<p>Los <u>productos</u> cumplen todas estas condiciones:</p>
							<li>Están aprobados.</li>
							<li>Tienen algún link cuya novedad es ajena a vos.</li>
						</ul>
					</i>
				</div>
			</div>
			<div class="temas">
				<%- include("CMP-RegsTC", {titulo: "Inactivos", regs: productos.LI, url: "links/abm", origen: "MT"}) %>
				<%- include("CMP-RegsTC", {titulo: "Sin links", regs: productos.SL, url: "links/abm", origen: "MT"}) %>
				<%- include("CMP-RegsTC", {titulo: "Sin links gratuitos", regs: productos.SLG, url: "links/abm", origen: "MT"}) %>
				<%- include("CMP-RegsTC", {titulo: "Sin links en castellano", regs: productos.SLC, url: "links/abm", origen: "MT"}) %>
			</div>
		</div>
	</div>
</section>
