<div id="tituloPrincipal" class="<%= tema %>">
	<h1 id="titulo"><%= titulo %></h1>
	<!-- Ayuda -->
	<div class="ayuda">
		<i class="fa-solid fa-circle-question ayudaClick desplClick">
			<ul class="ayudaMostrar ocultar desplMostrar" type="dots">
				<li>Estos registros están pendientes de información.</li>
				<li>Las tareas figuran por orden de prioridad.</li>
			</ul>
		</i>
	</div>
</div>
<!-- Datos -->
<% let familias, DE %>
<section id="familias">
	<div id="primeraColumna">
		<!-- PRODUCTOS -->
		<div class="bloques">
			<!-- Título y ayuda -->
			<div class="tituloSecundario">
				<!-- Título -->
				<% familias = "productos" %>
				<h2><%= familias.toUpperCase() %></h2>
				<!-- Ayuda -->
				<div class="ayuda">
					<i class="fa-solid fa-circle-question ayudaClick desplClick">
						<ul class="ayudaMostrar ocultar desplMostrar" type="dots">
							<li>Para cada <em>producto</em>, la novedad fue propuesta por otro usuario hace más de una hora.</li>
							<li>Las columnas son: fecha de la novedad, tipo y nombre del producto, y año de lanzamiento</li>
						</ul>
					</i>
				</div>
			</div>
			<!-- Registros -->
			<div class="temas">
				<% DE = dataEntry[familias] %>
				<%- include("CMP-RegsTC", {DE, titulo: "Altas sin Edición", regs: prods.SE, url: "producto/edicion", mostrarOrigen: true}) %>
				<%- include("CMP-RegsTC", {DE, titulo: "Capítulos sin Edición", regs: prods.SE_cap, url: "producto/edicion", mostrarOrigen: true}) %>
				<%- include("CMP-RegsTC", {DE, titulo: "Sin calificar", regs: prods.SC, url: "producto/detalle", mostrarOrigen: true}) %>
				<%- include("CMP-RegsTC", {DE, titulo: "Sin tema", regs: prods.ST, url: "producto/edicion", mostrarOrigen: true}) %>
				<%- include("CMP-RegsTC", {DE, titulo: "Sin época", regs: prods.SEP, url: "producto/edicion", mostrarOrigen: true}) %>
				<% if (revisor) { %>
					<%- include("CMP-RegsTC", {DE, titulo: "Inactivos", regs: prods.IN, url: "producto/detalle", mostrarOrigen: true}) %>
				<% } %>
			</div>
		</div>
	</div>
	<div id="segundaColumna">
		<!-- RCLVs -->
		<div class="bloques" id="rclv">
			<!-- Título y ayuda -->
			<div class="tituloSecundario">
				<!-- Título -->
				<% familias = "rclvs" %>
				<h2><%= familias.toUpperCase() %></h2>
				<!-- Ayuda -->
				<div class="ayuda">
					<i class="fa-solid fa-circle-question ayudaClick desplClick">
						<ul class="ayudaMostrar ocultar desplMostrar" type="dots">
							<p>Los RCLV cumplen alguna de estas condiciones:</p>
							<li>Las <em>altas a analizar</em>, fueron creadas por otro usuario y están relacionadas con un producto aprobado.</li>
							<li>Las <em>ediciones</em> a revisar son de algún RCLV aprobado.</li>
							<li>Las <em>altas sin producto</em> no tienen ningún producto asociado.</li>
							<p>Si se le cambia el nombre a algún registro, debe seguir refiriéndose a la misma entidad (personaje, hecho, tema).</p>
						</ul>
					</i>
				</div>
			</div>
			<!-- Registros -->
			<div class="temas">
				<% DE = dataEntry[familias] %>
				<% if (revisor) { %>
					<%- include("CMP-RegsTC", {DE, titulo: "Inactivos c/Producto", regs: rclvs.INP, url: "rclv/detalle", mostrarOrigen: true}) %>
					<%- include("CMP-RegsTC", {DE, titulo: "Inactivos", regs: rclvs.IN, url: "rclv/detalle", mostrarOrigen: true}) %>
				<% } %>
				<%- include("CMP-RegsTC", {DE, titulo: "Inconsistencia con el año", regs: rclvs.PST, url: "rclv/edicion", mostrarOrigen: true}) %>
				<%- include("CMP-RegsTC", {DE, titulo: "Solapamiento de Fechas", regs: rclvs.SF, url: "rclv/edicion", mostrarOrigen: true}) %>
				<%- include("CMP-RegsTC", {DE, titulo: "Sin Avatar", regs: rclvs.SA, url: "rclv/edicion", mostrarOrigen: true}) %>
				<!-- <%- include("CMP-RegsTC", {DE, titulo: "Fecha Móvil", regs: rclvs.FM, url: "rclv/edicion", mostrarOrigen: true}) %> -->
			</div>
		</div>
		<!-- Links -->
		<div class="bloques" id="links">
			<!-- Título y ayuda -->
			<div class="tituloSecundario">
				<!-- Título -->
				<% familias = "links" %>
				<h2><%= familias.toUpperCase() %></h2>
				<!-- Ayuda -->
				<div class="ayuda">
					<i class="fa-solid fa-circle-question ayudaClick desplClick">
						<ul class="ayudaMostrar ocultar desplMostrar" type="dots">
							<p>Los <u>productos</u> cumplen todas estas condiciones:</p>
							<li>Están aprobados.</li>
							<li>Tienen algún link cuya novedad es ajena a vos.</li>
						</ul>
					</i>
				</div>
			</div>
			<div class="temas">
				<% DE = dataEntry[familias] %>
				<%- include("CMP-RegsTC", {DE, titulo: "Inactivos", regs: prods.LI, url: "links/abm", mostrarOrigen: true, grupo: "inactivo"}) %>
				<%- include("CMP-RegsTC", {DE, titulo: "Sin links", regs: prods.SL, url: "links/abm", mostrarOrigen: true}) %>
				<%- include("CMP-RegsTC", {DE, titulo: "Sin links gratuitos", regs: prods.SLG, url: "links/abm", mostrarOrigen: true}) %>
				<%- include("CMP-RegsTC", {DE, titulo: "Sin links en castellano", regs: prods.SLC, url: "links/abm", mostrarOrigen: true}) %>
			</div>
		</div>
	</div>
</section>
