<div id="tituloPrincipal" class="<%= tema %>">
	<h1 id="titulo"><%= titulo %></h1>
	<%- include("MN-Ayuda", {mensaje: "Estos registros están pendientes de revisar. Se necesita revisarlos a todos."}) %>
</div>
<!-- Datos -->
<div id="familias">
	<div id="primeraColumna">
		<!-- IDENTIDAD DE USUARIO -->
		<div class="bloques">
			<div class="datos tituloSecundario">
				<h2>VALIDAR LA IDENTIDAD DE USUARIOS</h2>
				<%- include("MN-Ayuda", {mensaje: "Son los usuarios interesados en aportar información a nuestra Base de Datos."}) %>
			</div>
		</div>
	</div>
	<div id="segundaColumna">
		<!-- PERMISO FILM AFFINITY -->
		<div class="bloques">
			<div class="datos tituloSecundario">
				<h2 class="inactivo">PERMISO FILM AFFINITY</h2>
				<%- include("MN-Ayuda", {mensaje: "Son usuarios a quienes se les autoriza el ingreso manual mediante información de Film Affinity."}) %>
			</div>
		</div>
		<!-- CAMBIO DE ROL -->
		<div class="bloques">
			<div class="datos tituloSecundario">
				<h2 class="inactivo">CAMBIO DE ROL</h2>
				<%- include("MN-Ayuda", {mensaje: "Para aumentar o disminuir el rol de un usuario."}) %>
			</div>
		</div>
	</div>
</div>
