<div id="tituloInfoDetalle" class="relative">
	<% const oa = locals.entidad == "capitulos" ? 'o' : 'a' %>
	<h3>Links para verl<%= oa %></h3>
</div>
<!-- Links -->
<div id="links" class="marco">
	<!-- Película/Capítulo -->
	<% if (entidad != "colecciones") { %>
		<div class="flexRowAlign">
			<% if (links.TR.length) { %><h4>Película</h4><% } %>
			<% if (links.PL.length) { %>
				<!-- Ayuda -->
				<%- include("PR1-DetalleAyuda") %>
				<!-- Íconos -->
				<%- include("PR1-DetalleLinks", {linksProd: links.PL}) %>
			<% } else { %>
				<p><em>- No disponemos de links. ¿Podés aportarnos alguno? -</em></p>
			<% } %>
		</div>
	<% } else { %>
		<!-- Colección -->
		<div class="flexRowAlign">
			<% if (links.TR.length) { %><h4 id="coleccion">Colección</h4><% } %>
			<% const cola = locals.urlDestino ? ("&urlDestino=" + urlDestino) : "&prodEntidad=capitulos&prodID=" + capID + "&origen=" + rutaCRUD %> %>
			<a href="/inactivar-captura/?entidad=colecciones&id=<%= id %><%= cola  %>">
				<button type="button" class="pointer scale">Ir al primer capítulo</button>
			</a>
		</div>
	<% } %>
	<% if (links.TR.length) { %>
		<!-- Trailer -->
		<div class="flexRowAlign">
			<h4>Trailer</h4>
			<% if (links.TR.length) { %>
				<!-- Ayuda -->
				<%- include("PR1-DetalleAyuda") %>
				<!-- Íconos -->
				<%- include("PR1-DetalleLinks", {linksProd: links.TR}) %>
			<% } else { %>
				<p><em>- No disponemos -</em></p>
			<% } %>
		</div>
	<% } %>
</div>
<!-- Información -->
<div id="marcoDetalle">
	<div id="etiquetas" class="flexRow">
		<p class="resaltar">Sinopsis</p>
		<p>Información General</p>
		<p>Actores</p>
		<!-- RCLVs -->
		<% for (let i=0; i < asocs.length; i++) { %>
			<% if (bloqueIzq[asocs[i]]) { %>
				<p><%= rclvsNombre[i] %></p>
			<% } %>
		<% } %>
	</div>
	<div id="datosDetalle">
		<!-- Sinopsis -->
		<div id="sinopsis" class="datosParcial">
			<p><%= registro.sinopsis ? registro.sinopsis : 'No disponemos de esa información' %></p>
		</div>
		<!-- Inormación general -->
		<div id="masInfo" class="datosParcial" style="display: none;">
			<% if (!bloqueIzq.infoGral.length) { %>
				<p>No disponemos de esa información</p>
			<% } else { %>
				<div id="infoGral">
					<% for (let campo of bloqueIzq.infoGral) { %>
						<p><%= campo.titulo %>: <b><%= campo.valor %></b></p>
					<% } %>
				</div>
			<% } %>
		</div>
		<!-- Actores -->
		<div id="actores" class="datosParcial" style="display: none;">
			<p><%= bloqueIzq.actores ? bloqueIzq.actores : 'No disponemos de esa información' %></p>
		</div>
		<% for (RCLV of RCLVs) { %>
			<% if (bloqueIzq[RCLV.asociacion]) { %>
				<div id="rclv" class="datosParcial" style="display: none;">
					<% for (let campo of bloqueIzq[RCLV.asociacion]) { %>
						<p>
							<% if (bloqueIzq[RCLV.asociacion].length > 1) { %><%= campo.titulo + ": " %><% } %><b><%= campo.valor %></b>
							<% if (campo.titulo == bloqueIzq[RCLV.asociacion][0].titulo) { %>
								<span>
									<a href="/rclv/detalle/?entidad=<%= RCLV.entidad %>&id=<%= + registro[RCLV.campo_id] %>">
										<i class="fa-solid fa-circle-info" tabindex="-1" title="Ir a la vista 'Detalle'"></i>
									</a>
								</span>
							<% } %>
						</p>
					<% } %>
				</div>
			<% } %>
		<% } %>
	</div>
</div>