<section id="encabezadoDatos" class="flexCol">
	<!-- Tipo de Producto, Temporada, Capítulo, Colección -->
	<div id="encabezado">
		<%- include("FM-Encabezado") %>
	</div>
	<!-- Datos -->
	<div id="info">
		<!-- Datos generales -->
		<div id="primeraColumna" class="columna">
			<h3>Datos Generales</h3>
			<!-- Primeros campos -->
			<% for (let campo of camposInput1) { %><%- include("PR2-Edic-Input", {campo}) %><% } %>

			<!-- Otros -->
			<%- include("PR2-Edic-Pais") %>
			<%- include("PR2-Edic-Idioma", {idioma_id: registro.idiomaOriginal_id}) %>

			<!-- Cast/Crew -->
			<% for (let campo of camposInput2) { %><%- include("PR2-Edic-Input", {campo}) %><% } %>
			<%- include("PR2-Edic-Input", {campo: produccion}) %>

			<!--Sinopsis-->
			<%- include("PR2-Edic-Sinopsis") %>
		</div>
		<div id="segundaColumna" class="columna">
			<h3>Datos Adicionales</h3>
			<!-- Campos radioBtn -->
			<% for (let campo of camposDA.filter(n => n.radioBtn)) { %>
				<%- include("P-RadioBtn", {campo}) %>
			<% } %>

			<!-- Campos checkBox -->
			<% for (let campo of camposDA.filter(n => n.chkBox)) { %>
				<%- include("P-CheckBox", campo) %>
			<% } %>

			<!-- Tipo de Actuación -->
			<%- include("PR2-Edic-Select", {nombre: "tipoActuacion_id"}) %>
			<% if (usuario.rolUsuario.autTablEnts || registro.statusRegistro_id == aprobado_id) { %>
				<!-- Público -->
				<%- include("PR2-Edic-Select", {nombre: "publico_id"}) %>
			<% } %>

			<!-- Relación con la vida -->
			<div class="labelInput">
				<h3>Relación con la vida</h3>
				<div id="errorRCLV" class="inputError">
					<%- include("CMP-Errores", {nombre: "RCLV"}) %>
				</div>
			</div>

			<!--Personaje histórico-->
			<%- include("PR2-Edic-RCLV1_perHec", {nombre: "personaje_id", grupos: gruposPers}) %>
			<!--Hecho histórico-->
			<%- include("PR2-Edic-RCLV1_perHec", {nombre: "hecho_id", grupos: gruposHechos}) %>
			<!--Tema-->
			<%- include("PR2-Edic-RCLV2_demas", {nombre: "tema_id"}) %>
			<!--Evento-->
			<%- include("PR2-Edic-RCLV2_demas", {nombre: "evento_id"}) %>
			<!--Época del año-->
			<%- include("PR2-Edic-RCLV2_demas", {nombre: "epocaDelAno_id"}) %>
			<% if (usuario.rolUsuario.autTablEnts || registro.statusRegistro_id == aprobado_id) { %>
				<!--Época respecto a Cristo -->
				<%- include("PR2-Edic-Select", {nombre: "epocaOcurrencia_id"}) %>
			<% } %>
		</div>
	</div>
</section>

<!-- Botones y Comandos -->
<section id="sectorIconos">
	<%- include("Iconos-1Estandar") %>
	<!-- Específicos de edición -->
	<%- include("Iconos-2ProdRUD") %>
	<!-- Portales -->
	<%- include("Iconos-4LogosPortales") %>
</section>
