<form id="edicCuerpoFooterImgDer" method="POST" enctype="multipart/form-data">
	<section id="edicCuerpoFooter">
		<div id="edicCuerpo">
			<%- include('CMP-TimerContador') %>
			<div id="tituloPrincipal">
				<h1 id="titulo"><%= titulo %></h1>
				<!-- Ayuda -->
				<div class="ayuda">
					<i class="fa-solid fa-circle-question ayudaClick desplClick">
						<ul class="ayudaMostrar ocultar desplMostrar" type="dots">
							<li>Recordá guardar los cambios para que queden efectivos</li>
							<li>Para guardar los cambios, es necesario que no haya ningún error (<i class="fa-solid fa-circle-xmark"></i>).</li>
							<li>Se pueden guardar los cambios, aunque no se hayan resuelto todas las advertencias (<i class="fa-solid fa-triangle-exclamation"></i>).</li>
							<li>Si no tenés experiencia completando los campos que tienen ícono de ayuda, por favor consultalos.</li>
						</ul>
					</i>
				</div>
			</div>
			<div id="edicDatos">
				<%- include('PR2-Edicion2-Datos') %>
			</div>
		</div>
		<%- include('CMP-3Footer', {mostrar: true}) %>
	</section>
	<%- include("PR2-Edicion1-Avatar") %>
</form>