<form method="POST" enctype="multipart/form-data">
	<%- include("PR2-Edicion1-Avatar") %> 
	<section id="formCuerpoFooter">
		<%- include('CMP-3Footer', {mostrar: true}) %>
		<!--**************************** CUERPO ************************-->
		<div id="formCuerpo">
			<%- include('CMP-TimerContador') %>
			<div id="tituloPrincipal">
				<h1 id="titulo"><%= titulo %></h1>
				<!-- Ayuda -->
				<div class="ayuda">
					<i class="fa-solid fa-circle-question ayudaClick desplClick">
						<ul class="ayudaMostrar ocultar desplMostrar" type="dots">
							<li>.</li>
						</ul>	
					</i>
				</div>
			</div>
			<div id="edicionForm">
				<%- include('PR2-Edicion2-Datos') %>
			</div>
		</div>
		<!--****************************** FIN *************************-->
	</section>
</form>