<section id="imgDerecha" class="inputError">
	<!-- Input de avatar nuevo -->
	<label for="inputImagen">
		<img id="imgEdicN" src="<%= imgDerPers.edic %>" class="imgAvatar edicN">
	</label>
	<input name="avatar" id="inputImagen" type="file" accept="image/*" class="input ocultar">
	<!-- Demás avatars -->
	<img id="avatarEdicG" src="<%= imgDerPers.edic %>" class="ocultar imgAvatar edicG">
	<img id="avatarOrig" src="<%= imgDerPers.orig %>" class="ocultar imgAvatar orig">
	<div class="ayudaErrores absoluteCentro">
		<!-- Ayuda -->
		<div class="ayuda">
			<i class="fa-solid fa-circle-question ayudaClick desplClick">
				<ul type="dots" class="ayudaMostrar ocultar desplMostrar">
					<li>Haciendo <em>click</em> en la imagen podés reemplazarla.</li>
					<li>Podés elegir una imagen de internet sin descargarla en tu equipo, ingresando su dirección url</li>
					<li>La extensión de la imagen debe ser <em><b>JPG</b></em>, <em><b>JPEG</b></em> o <em><b>PNG</b></em></li>
				</ul>
			</i>
		</div>
		<%- include("CMP-Errores", {nombre: "avatar"}) %>
	</div>
	<!-- Aviso de cambio en el data-entry -->
	<i class="fa-solid fa-arrow-right-long ocultar"></i>
	<!-- Links a sitios externos para buscar imágenes alternativas -->
	<nav class="agregados">
		<% const nombre = registro.nombreCastellano ? registro.nombreCastellano.toLowerCase() : registro.nombreOriginal ? registro.nombreOriginal.toLowerCase() : "" %>
		<a href="<%= '//google.com/search?q=' + nombre + '&tbm=isch&tbs=isz:l&hl=es-419' %>" target="_blank">
			<img src="/publico/imagenes/Logos-gral/BD-Google.jpg" title="Buscar en Google" class="scale">
		</a>
	</nav>
</section>
