<div id="tituloInfoDetalle" class="relative">
	<h3>Tu calificación</h3>
	<!-- Ayuda -->
	<div class="ayuda">
		<i class="fa-solid fa-circle-question ayudaClick desplClick">
			<ul type="dots" class="ayudaMostrar ocultar desplMostrar">
				<p>El impacto de cada atributo en el resultado es el siguiente:</p>
				<li>Deja Huella: 50%</li>
				<li>Entretiene: 35%</li>
				<li>Calidad Técnica: 15%</li>
			</ul>
		</i>
	</div>
</div>
<form method="POST" class="marco flexColAlign">
	<div id="calificaciones">
		<div id="individuales" class="flexColAlign">
			<% const atributos = Object.keys(atributosCalific) %>
			<% atributos.forEach(function(atributo, i) { %>
				<% const atributo_id = atributo + "_id" %>
				<div>
					<h4>
						<% if (!i || i==atributos.length-1) { %>
							<i class="fa-solid fa-circle-question ayudaClick desplClick">
								<ul type="dots" class="ayudaMostrar ocultar desplMostrar">
									<% if (!i) { %>
										<p>Se refiere a si deja un impacto positivo en el espectador en su <em>Fe Católica</em> y/o sus <em>Valores</em>.</p>
									<% } else { %>
										<p>Se refiere a la calidad del sonido, de la imagen, de la escenografía.</p>
									<% } %>
								</ul>
							</i>
						<% } %>
						<%= atributosTitulo[i] %>
					</h4>
					<select name="<%= atributo_id %>">
						<option value="" <% if (!califUsuario[atributo_id]) { %>selected<% } %>>Elegí una opción</option>
						<% for (let opcion of atributosCalific[atributo]) { %>
							<option value="<%= opcion.id %>" <% if (opcion.id == califUsuario[atributo_id]) {%>selected<% } %>><%= opcion.nombre %></option>
						<% } %>
					</select>
				</div>
			<% }) %>
		</div>
		<div id="consolidado">
			<div id="resultado">Resultado</div>
			<div id="valor"><%= califUsuario.resultado ? (califUsuario.resultado + "%") : "-" %></div>
		</div>
	</div>
	<!-- Guardar cambios -->
	<div id="guardarCambios" class="iconos">
		<!-- Guarda la calificación -->
		<button type="submit">
			<i id="guardar" class="fa-solid fa-circle-check inactivo" title='Guardá tu calificación'></i>
		</button>
		<!-- Elimina tu calificación guardada -->
		<i id="eliminar" class="fa solid fa-circle-xmark inactivo" tabindex="-1" title='Eliminá tu calificación guardada'></i>
	</div>
</form>
