<%- include('CMP-TimerContador') %>
<section id="tituloPrincipal">
	<!-- Título y Ayuda -->
	<h1 id="titulo"><%= titulo %></h1>
	<!-- Ayuda -->
	<div class="ayuda">
		<i class="fa-solid fa-circle-question ayudaClick desplClick">
			<ul class="ayudaMostrar ocultar desplMostrar" type="dots">
				<li>Necesitamos que nos digas si los datos coinciden con el documento.</li>
				<li>Si el documento no corresponde, te vamos a pedir que nos digas el motivo.</li>
			</ul>
		</i>
	</div>
</section>
<form method="POST" id="subCuerpo" class="flexCol">
	<section id="datos" class="bordeConSombra">
		<div id="feedback">
			<!-- ¿Imagen válida? -->
			<div>
				<h2>Cómo es la imagen</h2>
				<select name="motivo_docum_id" id="motivo_docum" autofocus required>
					<option value="" selected>Elegí una opción</option>
					<option value="0">La imagen es correcta</option>
					<% for (motivo of motivos_docum) { %>
						<option value="<%= motivo.id %>" class="rojo"><%= motivo.descripcion %></option>
					<% } %>
				</select>
			</div>
			<div id="texto" class="invisible">
				<h2>Datos a verificar</h2>
				<% for (campo of campos) { %>
					<div class="campos">
						<!-- Aprobar y Rechazar -->
						<div class="aprobRech">
							<label for="<%= campo.nombre %>-SI">
								<i class="fa-solid sinDecision fa-circle-check"></i>
							</label>
							<input id="<%= campo.nombre %>-SI" type="radio" name="<%= campo.nombre %>" value="SI" class="ocultar">
							<label for="<%= campo.nombre %>-NO">
								<i class="fa-solid sinDecision fa-circle-xmark"></i>
							</label>
							<input id="<%= campo.nombre %>-NO" type="radio" name="<%= campo.nombre %>" value="NO" class="ocultar">
						</div>
						<!-- Campo y Valor -->
						<p><%= campo.titulo %>: <b><%= campo.valor %></b></p>
					</div>
				<% } %>
			</div>
		</div>
		<div id="documento">
			<img src="<%= documAvatar %>" alt="documento" title="Documento">
		</div>
	</section>
	<section class="iconos">
		<a href="/inactivar-captura/?entidad=usuarios&id=<%= userID %>&origen=TU" target="_self">
			<i id="liberarSalir" class="fa-solid fa-circle-left" tabindex="-1" title="Volver al Tablero"></i>
		</a>
		<button type="submit">
			<i id="submit" class="fa-solid fa-circle-check inactivo" title="Entendido"></i>
		</button>
	</section>
</form>
