<% rubro = data_entry.rubroAPI=="movie" ? "Película" : "Colección" %>
<button type="menu" class="titulo">Agregá una <%= rubro %> a nuestra Base de Datos</button>
<form action="<%= link %>" method="POST" enctype = "multipart/form-data" id="data_entry" class="flex-col" >
	<section id="titulos">
		<h2>Paso 3 de 4: Completá los Datos Pendientes</h2>
		<div class="flex-col" id="links">
			<p>Si necesitás consultar algún dato</p>
			<nav class="flex-row">
				<% tmdb = data_entry.fuente!="TMDB" && data_entry.nombre_original ? "search?language=es&query="+data_entry.nombre_original : "" %>
				<% fa = data_entry.fuente!="FA" && data_entry.nombre_original ? "search.php?stext="+data_entry.nombre_original : "" %>
				<% imdb = (data_entry.peli_imdb_id) ? ("title/"+data_entry.peli_imdb_id+"/technical") : data_entry.nombre_original ? "find?q="+data_entry.nombre_original : "" %>
				<% if (tmdb != "") { %>
					<a class="logos" href="https://www.themoviedb.org/<%= tmdb %>" target="_blank"><img src="/imagenes/0-Base/LogoTMDB.jpg" alt="TMDB"></a>
				<% } %>
				<% if (fa) { %>
					<a class="logos" href="https://www.filmaffinity.com/es/<%= fa %>" target="_blank"><img src="/imagenes/0-Base/LogoFA.jpg" alt="FA"></a>
				<% } %>
				<a class="logos" href="https://www.imdb.com/<%= imdb %>" target="_blank"><img src="/imagenes/0-Base/LogoIMDB.jpg" alt="IMDB"></a>
			</nav>
		</div>
	</section>
	<section id="cuerpo">
		<!--Primera columna-->
		<div class="flex-col">
			<% for (let i=0; i < datos.length; i++) { %>
				<%- include("31-Input", {i}) %> 
			<% } %> 
			<!-- País -->
			<section style="order: 4;" class="label-input flex-row">
				<label>País de origen</label>
				<div class="input-error">
					<% if (pais) { %>
						<input type="text" class="input" value="<%= pais %>" disabled>
					<% } else { %>
						<select name="pais_id" class="input">
							<option value="" <% if (pais_id=="") {%> selected <%}%> class="ocultar">Elejí un país</option>
							<% continentes = ["América", "Europa", "Africa", "Asia", "Oceanía"] %> 
							<% for (continente of continentes) { %>
								<optgroup label="<%= continente %> ">
									<% for (n of paises.filter(m => m.continente == continente)) { %>
										<option value="<%= n.id %>"><%= n.nombre %></option>
									<% } %>	
								</optgroup>
							<% } %> 
						</select>
					<% } %>
					<i class="fas fa-times-circle<%- !errores.pais_id ? ' ocultar' : '' %>">
						<span class="mensajeError"><%= errores.pais_id %></span>
					</i>
				</div>
			</section>
			<!--Sinopsis-->
			<section style="order: 9;" class="label-input flex-row">
				<label>Sinopsis</label>
				<div class="input-error">
					<textarea 
						name="sinopsis" rows="1" class="input" placeholder="Ingresa aquí la sinopsis"
						<% if (data_entry.sinopsis && !errores.sinopsis) { %>disabled<% } %>
					><%= data_entry.sinopsis %></textarea>
					<i class="fas fa-times-circle<%- !errores.sinopsis ? ' ocultar' : '' %>">
						<span class="mensajeError"><%= errores.sinopsis %></span>
					</i>
				</div>
			</section>
		</div>
		<!--Columna intermedia-->
		<div id="columnaMedio">
		</div>
		<!--Segunda columna-->
		<div id="imagenPeli" class="form-grupo">
			<!-- Si viene desde TMDB -->
			<% if (data_entry && data_entry.fuente!="TMDB") { %><label for="imagen" id="preview"></label><% } %>
			<% if (data_entry.avatar && data_entry.fuente=="TMDB") { %><img id="imgTMDB" src="<%= data_entry.avatar %>" alt="afiche"><% } %>
			<!-- Si viene desde FA -->
			<% if (data_entry.avatar && data_entry.fuente=="FA") { %>
				<button type="button">Hacé <em>click</em> acá y luego<br>pegá con <em>Ctrl + V</em></button>
				<p id="url" class="ocultar"><%= data_entry.avatar %></p>
			<% } %>
			<!-- Si viene desde Ingreso Manual -->
			<% if (!data_entry.avatar || data_entry.fuente=="Manual") { %><button type="button">Elegí una imagen de<br>la web y pegá el URL</button><% } %>
			<!-- Rutina para todos los casos -->
			<input name="ruta" type="text" value="./public/imagenes/4-Provisorio" class="ocultar">
			<input name="avatar" type="file" accept="image/*" id="imagen" class="input ocultar">
			<i class="fas fa-times-circle <%- data_entry.avatar && data_entry.fuente=="TMDB" ? 'ocultar' : '' %>">
				<span class="mensajeError"><%= errores.avatar %></span>
			</i>
		</div>	
	</section>
	<section id="flechas" class="flex-row space-between">
		<% retroceso = data_entry.fuente != "FA" ? "desambiguar" : "copiar-fa" %>
		<a href="/productos/agregar/<%= retroceso %>"><i class="fas fa-arrow-alt-circle-left"></i></a>
		<button type="submit">Avanzar</button>
		<% if (false) { %>
			<a href="#"><i class="fas fa-arrow-alt-circle-right"></i></a>
		<% } else { %>
			<i class="fas fa-arrow-alt-circle-right flechaSinLink"></i>
		<% } %>
	</section>
</form>
