<button type="menu" class="titulo">Agregá una película a nuestra Base de Datos</button>
<form action="<%= link %>" method="POST" enctype = "multipart/form-data" id="data_entry" class="flex-col" >
	<section id="titulos">
		<h1>Paso 3 de 4: Completá los Datos Pendientes</h1>
		<div class="flex-col" id="links">
			<p>Si necesitás consultar algún dato</p>
			<nav class="flex-row">
				<% tmdb = !(data_entry.rubroAPI && data_entry.tmdb_id) && data_entry.nombre_original ? "search?language=es&query="+data_entry.nombre_original : "" %>
				<% fa = data_entry.fa_id ? "film" + data_entry.fa_id + ".html" : data_entry.nombre_original ? "search.php?stext="+data_entry.nombre_original : "" %>
				<% imdb = (data_entry.imdb_id) ? ("title/"+data_entry.imdb_id+"/technical") : data_entry.nombre_original ? "find?q="+data_entry.nombre_original : "" %>
				<% if (tmdb != "") { %>
					<a class="logos" href="https://www.themoviedb.org/<%= tmdb %>" target="_blank"><img src="/imagenes/0-Base/LogoTMDB.jpg" alt="TMDB"></a>
				<% } %>
				<% if (fa) { %>
					<a class="logos" href="https://www.filmaffinity.com/es/<%= fa %>" target="_blank"><img src="/imagenes/0-Base/LogoFA.jpg" alt="FA"></a>
				<% } %>
				<a class="logos" href="https://www.imdb.com/<%= imdb %>" target="_blank"><img src="/imagenes/0-Base/LogoIMDB.jpg" alt="IMDB"></a>
			</nav>
		</div>
	</section>
	<section id="cuerpo">
		<div class="flex-col">  <!--Primera columna-->
			<section class="label-input flex-row">  <!--Título original-->
				<label id="tituloOriginal">Título original</label>
				<div class="form-grupo">
					<input type="text" class="input" name="nombre_original"
						value="<%= data_entry.nombre_original %>"
					>
					<i class="fas fa-times-circle<%- !errores.nombre_original ? ' ocultar' : '' %>">
						<span class="mensajeError"><%= errores.nombre_original %></span>
					</i>
				</div>
			</section>
			<section class="label-input flex-row">  <!--Título en castellano -->
				<label>Título en castellano</label>
				<div class="form-grupo">
					<input class="input" type="text" name="nombre_castellano"
						value="<%= data_entry.nombre_castellano %>"
					>
					<i class="fas fa-times-circle<%- !errores.nombre_castellano ? ' ocultar' : '' %>">
						<span class="mensajeError"><%= errores.nombre_castellano %></span>
					</i>
				</div>
			</section>
			<section class="label-input flex-row">  <!--Año de estreno-->
				<label>Año de estreno</label>
				<div class="form-grupo">
					<input type="text" id="numero" class="input" name="ano_estreno" placeholder="sólo números"
						value="<%= data_entry.ano_estreno %>"
					>
					<i class="fas fa-times-circle<%- !errores.ano_estreno ? ' ocultar' : '' %>">
						<span class="mensajeError"><%= errores.ano_estreno %></span>
					</i>
				</div>
			</section>
			<section class="label-input flex-row">  <!--Duración-->
				<label>Duración (minutos)</label>
				<div class="form-grupo">
					<input type="text" id="numero" class="input" name="duracion" placeholder="sólo números"
					value="<%= data_entry.duracion %>">
					<i class="fas fa-times-circle<%- !errores.duracion ? ' ocultar' : '' %>">
						<span class="mensajeError"><%= errores.duracion %></span>
					</i>
				</div>
			</section>
			<section class="label-input flex-row">  <!--País de origen-->
				<label>País de origen</label>
				<div class="form-grupo">
					<% pais_id = data_entry.pais_id && data_entry.pais_id.length ? data_entry.pais_id[0] : "" %>
					<select name="pais_id" class="input">
						<option value="" <% if (pais_id=="") {%> selected <%}%> class="ocultar">Elejí un país</option>
						<% continentes = ["América", "Europa", "Africa", "Asia", "Oceanía"] %> 
						<% for (continente of continentes) { %>
							<optgroup label="<%= continente %> ">
								<% for (n of paises.filter(m => m.continente == continente)) { %>
									<option value="<%= n.id %>" <% if (pais_id==n.id) { %> selected <% } %>>
										<%= n.nombre %>
									</option>
								<% } %>	
							</optgroup>
						<% } %> 
					</select>
					<i class="fas fa-times-circle<%- !errores.pais_id ? ' ocultar' : '' %>">
						<span class="mensajeError"><%= errores.pais_id %></span>
					</i>
				</div>
			</section>
			<section class="label-input flex-row">  <!--Director-->
				<label>Director</label>
				<div class="form-grupo">
					<input type="text" class="input" name="director" placeholder=""
						value="<%= locals.data_entry ? data_entry.director : null %>"
					>
					<i class="fas fa-times-circle<%- !errores.director ? ' ocultar' : '' %>">
						<span class="mensajeError"><%= errores.director %></span>
					</i>
				</div>
			</section>
			<section class="label-input flex-row">  <!--Guión-->
				<label>Guión</label>
				<div class="form-grupo">
					<input type="text" class="input" name="guion" placeholder=""
						value="<%= locals.data_entry ? data_entry.guion : null %>"
					>
					<i class="fas fa-times-circle<%- !errores.guion ? ' ocultar' : '' %>">
						<span class="mensajeError"><%= errores.guion %></span>
					</i>
				</div>
			</section>
			<section class="label-input flex-row">  <!--Música-->
				<label>Música</label>
				<div class="form-grupo">
					<input type="text" class="input" name="musica" placeholder=""
						value="<%= locals.data_entry ? data_entry.musica : null %>"
					>
					<i class="fas fa-times-circle<%- !errores.musica ? ' ocultar' : '' %>">
						<span class="mensajeError"><%= errores.musica %></span>
					</i>
				</div>
			</section>
			<section class="label-input flex-row">  <!--Actores-->
				<label>Actores</label>
				<div class="form-grupo">
					<input type="text" class="input" name="actores" placeholder=""
						value="<%= locals.data_entry ? data_entry.actores : null %>"
					>
					<i class="fas fa-times-circle<%- !errores.actores ? ' ocultar' : '' %>">
						<span class="mensajeError"><%= errores.actores %></span>
					</i>
				</div>
			</section>
			<section class="label-input flex-row">  <!--Productor-->
				<label>Productor</label>
				<div class="form-grupo">
					<input type="text" class="input" name="productor" placeholder=""
						value="<%= locals.data_entry ? data_entry.productor : null %>"
					>
					<i class="fas fa-times-circle<%- !errores.productor ? ' ocultar' : '' %>">
						<span class="mensajeError"><%= errores.productor %></span>
					</i>
				</div>
			</section>
		</div>
		<div id="columnaMedio"> <!--Columna intermedia-->
		</div>
		<div id="imagenPeli" class="form-grupo">  <!--Segunda columna-->
			<% if (data_entry.avatar) { %>
				<button type="button">Hacé <em>click</em> acá y pegá <br>el URL de la imagen</button>
			<% } else { %>
				<button type="button">Elegí una imagen de<br>tu PC o internet (URL)</button>
			<% } %> 
			<label for="imagen" id="preview">
				<img src="<%= data_entry.avatar %>" alt="" class="ocultar">
			</label>
			<input name="ruta" type="text" value="./public/imagenes/4-Provisorio" class="ocultar">
			<input name="avatar" type="file" accept="image/*" id="imagen" class="input ocultar">
			<i class="fas fa-times-circle <%- !errores.avatar ? 'ocultar' : '' %>">
				<span class="mensajeError"><%= errores.avatar %></span>
			</i>
		</div>	
	</section>
	<section id="flechas" class="flex-row space-between">
		<% console.log(data_entry.fuente) %> 
		<% retroceso = data_entry.fuente == "TMDB" ? "desambiguar" : "copiarfa" %>
		<a href="/peliculas/agregar/<%= retroceso %>"><i class="fas fa-arrow-alt-circle-left"></i></a>
		<button type="submit">Enviar</button>
		<% if (false) { %>
			<a href="#"><i class="fas fa-arrow-alt-circle-right"></i></a>
		<% } else { %>
			<i class="fas fa-arrow-alt-circle-right flechaSinLink"></i>
		<% } %>
	</section>
</form>
