<div class="flex-row" id="data_entry">
	<!--Primera columna-->
	<section class="flex-col">
		<!--Existe una versión en castellano-->
		<%- include("41-Select", {campo: "en_castellano"}) %>
		<!--Es a Color-->
		<%- include("41-Select", {campo: "color"}) %>
		<!--Categoría-->
		<%- include("41-Select", {campo: "categoria_id"}) %>
		<!--Sub-categoría-->
		<%- include("41-Select", {campo: "subcategoria_id"}) %>
		<!--Público sugerido-->
		<%- include("41-Select", {campo: "publico_sugerido_id"}) %>
		<!--Calificación-->
		<h3 style="order: 6;">Tu calificación</h3>
		<!--Inspira fe y/o valores-->
		<%- include("41-Select", {campo: "fe_valores_id"}) %>
		<!--Entretiene-->
		<%- include("41-Select", {campo: "entretiene_id"}) %>
		<!--Calidad Técnica-->
		<%- include("41-Select", {campo: "calidad_sonora_visual_id"}) %>
		<!--Links del trailer-->
		<h3 style="order: 9;">Links del trailer:</h3>
			<!--Primer Link-->
			<%- include("42-Input", {campo: "trailer1"}) %>
			<!--Segundo Link-->
			<%- include("42-Input", {campo: "trailer2"}) %>
		<!--Links gratuitos para ver la película-->
		<h3 style="order: 11;">Links gratuitos para ver la película:</h3>
			<!--Primer Link-->
			<%- include("42-Input", {campo: "pelicula1"}) %>
			<!--Segundo Link-->
			<%- include("42-Input", {campo: "pelicula2"}) %>
	</section>
	<!--Columna del medio-->
	<section id="columnaMedio">
	</section>
	<!--Segunda columna-->
	<section class="flex-col">
		<!--Sinopsis-->
		<div class="label-input flex-col">
			<label>Sinopsis:</label>
			<div class="input-error">
				<textarea name="sinopsis" cols="18" rows="1" placeholder="Ingresa aquí la sinopsis" ><%= data_entry.sinopsis %></textarea>
				<i class="fas fa-times-circle<%- !errores[dato.campo] ? ' ocultar' : '' %>">
					<span class="mensajeError"><%= errores[dato.campo] %></span>
				</i>
			</div>
		</div>
	</section>
</div>
<button type="submit">Enviar</button>