<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Listado de Países</title>
</head>
<body>
	<div>
		<% for (let n of paises) { %>
			<p><%= n.alpha2Code %>#<%= n.alpha3Code %>#<%= n.name %>#<%= n.nativeName %>#<%= n.region %>#<%= n.subregion %>#<%= n.languages[0].name %>#<%= n.timezones[0] %>#<%= n.population %>#<%= n.flag %></p>
		<% } %>
	</div>
</body>
</html>