<section class="flex-row grow" id="cuerpo">
  <!--********************** CONTADOR ****************************-->
  <button type="text" id="contador-de-películas">Contador</button>
  <!--*********************** FILTROS ****************************-->
  <%- grupo == "Opciones-3" ? include('10-Filtros') : "" %>
  <!--******************* ZONA DE PELÍCULAS **********************-->
  <section id="zona-de-pelis" class="flex-col grow">

    <!--********************** OPCIONES 1 ************************-->
    <div>
      <% if (grupo == "Opciones-1") { %>
        <!---------- TÍTULO PRINCIPAL: ELEGÍ UNA OPCIÓN ------------>
        <div id="opciones">
          <button>Elegí una opción</button>
        </div>
        <!--------------------- OPCIONES --------------------------->
        <div class="flex-col">
          <% for (let n of opciones_BD) { %>
            <a href="/<%= rubro_url %>/<%= n.código %>"><button><%= n.nombre %></button></a>
          <% }%>    
        </div>
        <!------------------------ FIN ----------------------------->
      <% } %>  
    </div>

    <!--********************** OPCIONES 2 ************************-->
    <div>
      <% if (grupo == "Opciones-2") { %>
        <!--------- TÍTULO PRINCIPAL: OPCIÓN YA ELEGIDA ------------>
        <div id="opciones">
          <a href="/<%= rubro_url %>"><button><%= opción_objeto.nombre %></button></a>
        </div>
        <!---------- TÍTULO SECUNDARIO: ELEGÍ UNA OPCIÓN ----------->
        <div id="opciones">
          <button>Elegí una opción</button>
        </div>
        <!----------------------- OPCIONES ------------------------->
        <div class="flex-col">
          <% for (let n of tipos_BD) { %>
            <a href="/<%= rubro_url %>/<%= opción_objeto.código %>/<%= n.código %>"><button><%= n.nombre %></button></a>
          <% } %>
        </div>
      <% } %>

    </div>
  </section>
  <!--*************************** FIN ****************************-->
</section>
