<% for (let prodYaEnBD of prodsYaEnBD) { %>
	<li>
		<a href="/producto/detalle/?entidad=<%= prodYaEnBD.entidad %>&id=<%= prodYaEnBD.YaEnBD %>">
			<!-- Info a mostrar -->
			<button type="text" class="flex-row pointer" id= "prodYaEnBD" autofocus>
				<img class="imagenChica" src="https://image.tmdb.org/t/p/original<%= prodYaEnBD.avatar %>" alt="<%= prodYaEnBD.nombre_original %>" title="<%= prodYaEnBD.nombre_original %>">
				<div id="infoPeli" class="flex-col">
					<p><strong><%= prodYaEnBD.nombre_original %></strong></p>
					<p class="interlineadoChico"><em><%= prodYaEnBD.nombre_castellano %></em></p>	
					<br>
					<p class="interlineadoChico"><%= prodYaEnBD.ano_estreno + " - " + prodYaEnBD.prodNombre %></p>
				</div>
			</button>
		</a>
	</li>
<% } %>
