<% for (let prod_nuevo of prod_nuevos) { %>
<li>
	<form method="POST">
		<!-- Campos para luego enviar a Datos Duros -->
		<input class="ocultar" type="text" name="TMDB_entidad" value="<%= prod_nuevo.TMDB_entidad %>">
		<input class="ocultar" type="text" name="TMDB_id" value="<%= prod_nuevo.TMDB_id %>">
		<!-- Los dos siguientes campos se agregan porque las colecciones no tienen este dato en el detalle -->
		<input class="ocultar" type="text" name="nombre_original" value="<%= prod_nuevo.nombre_original %>">
		<input class="ocultar" type="text" name="idioma_original_id" value="<%= prod_nuevo.idioma_original_id %>">
		<!-- Info a mostrar -->
		<button type="submit" class="flex-row" id= "prod_nuevo" <% if (prod_nuevo==prod_nuevos[0]) { %>autofocus<% } %>>
			<img id="imagenChica" 
				src="<%= "https://image.tmdb.org/t/p/original" + prod_nuevo.avatar %>"
				alt="<%= prod_nuevo.nombre_original %>" 
				title="<%= prod_nuevo.nombre_original %>"
			>
			<section id="texto">
				<!-- Datos del producto -->
				<div id="infoPeli">
					<p><strong><%= prod_nuevo.nombre_original %></strong></p>
					<p class="interlineadoChico"><em><%= prod_nuevo.nombre_castellano %></em></p>	
					<br>
					<p class="interlineadoChico"><%= prod_nuevo.lanzamiento + " - " + prod_nuevo.prodNombre %></p>
					<% if (prod_nuevo.capitulos) { %>
						<p class="interlineadoChico"><%= prod_nuevo.capitulos %> capitulos</p>
					<% } %>
				</div>
				<!-- Coleccion -->
				<div id="coleccion" class="ocultar">
					<p>Si la elejís, serás redirigido para cargar la colección:</p>
					<p id="colec_nombre"></p>
				</div>
			</section>
		</button>
		<!-- Mensaje de Error -->
		<i class="fa-solid fa-circle-xmark ocultar">
			<span class="mensajeError">
				<p>Esta película pertenece a una colección, que no figura en nuestra BD. Para avanzar, podés agregar la colección y la película se agregará automáticamente.</p>
			</span>
		</i>
	</form>
</li>
<% } %>
