<% for (let prod_enBD of prod_yaEnBD) { %>
	<a href="/producto/detalle/?entidad=<%= prod_enBD.entidad %>&id=<%= prod_enBD.YaEnBD %>">
		<!-- Info a mostrar -->
		<button type="text" class="flex-row pointer" id= "prod_yaEnBD">
			<img id="imagenChica" src="https://image.tmdb.org/t/p/original<%= prod_enBD.avatar %>" alt="<%= prod_enBD.nombre_original %>" title="<%= prod_enBD.nombre_original %>">
			<div id="infoPeli" class="flex-col">
				<p><strong><%= prod_enBD.nombre_original %></strong></p>
				<p class="interlineadoChico"><em><%= prod_enBD.nombre_castellano %></em></p>	
				<br>
				<p class="interlineadoChico"><%= prod_enBD.lanzamiento + " - " + prod_enBD.prodNombre %></p>
				<% if (prod_enBD.capitulos) { %>
					<p class="interlineadoChico"><%= prod_enBD.capitulos %> capitulos</p>
				<% } %>
			</div>
		</button>
	</a>
<% } %>
