<% for (let prodNuevo of prodsNuevos) { %>
	<li>
		<form method="POST">
			<!-- Campos para luego enviar a Datos Duros -->
			<input class="ocultar" type="text" name="TMDB_entidad" value="<%= prodNuevo.TMDB_entidad %>">
			<input class="ocultar" type="text" name="TMDB_id" value="<%= prodNuevo.TMDB_id %>">
			<% if (prodNuevo.TMDB_entidad=="collections") { %>
				<!-- Los siguientes campos se agregan porque las colecciones no tienen este dato en el detalle -->
				<input class="ocultar" type="text" name="nombre_original" value="<%= prodNuevo.nombre_original %>">
				<input class="ocultar" type="text" name="idioma_original_id" value="<%= prodNuevo.idioma_original_id %>">
			<% } %>
			<!-- Info a mostrar -->
			<button type="submit" class="flex-row" id= "prodNuevo" autofocus>
				<img class="imagenChica" 
					src="<%= "https://image.tmdb.org/t/p/original" + prodNuevo.avatar %>"
					alt="<%= prodNuevo.nombre_original %>" 
					title="<%= prodNuevo.nombre_original %>"
				>
				<section id="texto">
					<!-- Datos del producto -->
					<div id="infoPeli">
						<p><strong><%= prodNuevo.nombre_original %></strong></p>
						<p class="interlineadoChico"><em><%= prodNuevo.nombre_castellano %></em></p>	
						<br>
						<p class="interlineadoChico"><%= prodNuevo.ano_estreno + " - " + prodNuevo.prodNombre %></p>
					</div>
					<!-- Coleccion -->
					<div id="coleccion" class="ocultar">
						<p>Si la elejís, serás redirigido para cargar la colección:</p>
						<p id="colec_nombre"></p>
					</div>
				</section>
			</button>
			<!-- Mensaje de Error -->
			<i class="fa-solid fa-circle-xmark ocultar">
				<span class="mensajeError">Esta película pertenece a una colección, que no figura en nuestra BD. Para avanzar, podés agregar la colección y la película se agregará automáticamente.</span>
			</i>
		</form>
	</li>
<% } %>
