<section id="paises_id">
	<% let inputOK = dataEntry.paises_id && !errores.paises_id %>
	<label>País/es de origen</label>
	<div class="inputError">
		<!-- Lugar donde almacenar los ID -->
		<input name="paises_id" type="text" <% if (inputOK) { %>value="<%= dataEntry.paises_id %>" disabled<% } %> class="input">
		<!-- Lugar donde mostrar los nombres -->
		<input id="mostrarPaises" type="text" readonly tabindex="-1" value="<%= paises %>" <% if (inputOK) { %>disabled class="despl_click"<% } %> placeholder="Elegí un país">
		<!-- Opciones de países -->
		<% if (!inputOK) { %>
			<select autofocus>
				<option value="borrar">Borrar todo/s</option>
				<% continentes = ["América", "Europa", "Africa", "Asia", "Oceanía"] %> 
				<% for (let continente of continentes) { %>
					<optgroup label="<%= continente %>">
						<% for (let pais of BD_paises.filter(n => n.continente == continente)) { %>
							<option value="<%= pais.id %>"><%= pais.nombre %></option>
						<% } %>	
					</optgroup>
				<% } %> 
			</select>
		<% } else { %>
			<%- include("PA3-DD9-Ayuda", {inputOK}) %>
		<% } %>
		<%- include("CMP-Errores", {campo: "paises_id"}) %>
	</div>
</section>
