<section class="label-input">
	<% let inputOK = dataEntry[campo] && !errores[campo] %>
	<label><%= registro.titulo %></label>
	<!-- Data-entry y Errores -->
	<div class="inputError">
		<input type="text" class="input<% if (inputOK) { %> despl_click<% } %>" name="<%= campo %>" autocomplete="off"
			value="<%= dataEntry[campo] %>"
			<% if (registro.numero) { %>id="numero" placeholder="sólo números"<% } %>
			<% if (inputOK) { %>disabled<% } else { %>autofocus<% } %>
		>
		<%- include("PA3-DD9-Ayuda", {inputOK}) %>
		<%- include("CMP-Errores") %>
	</div>
</section>
