<section class="labelInput">
	<% let inputOK = !errores[nombre] %>
	<label><%= registro.titulo %></label>
	<!-- Data-entry y Errores -->
	<div class="inputError">
		<input type="<%- registro.numero ? 'number' : 'text' %>" class="input<% if (inputOK) { %> desplClick<% } %>" name="<%= nombre %>" autocomplete="off"
			value="<%= dataEntry[nombre] %>"
			<% if (registro.numero) { %>id="numero" placeholder="sólo números"<% } %>
			<% if (inputOK) { %>disabled<% } else { %>autofocus<% } %>
			placeholder="Ingresá el texto"
		>
		<%- include("PA3-DD9-Ayuda", {inputOK}) %>
		<% if (nombre=="actores" && dataEntry.actores && (!locals.errores || !errores.actores)) { %>
			<%- include("PA3-DD8-Ayuda") %>
		<% } %>
		<%- include("CMP-Errores", {nombre}) %>
	</div>
</section>
