<% registro = camposDP.find(n => n.nombreDelCampo == "subcategoria_id") %>
<section class="label-input">
	<label><%= registro.titulo %></label>
	<div id="ayudaSubcat" class="inputError">
		<!-- Input -->
		<select name="subcategoria_id" class="input <%- registro.angosto ? 'angosto' : '' %>" autofocus>
			<option value="" class="ocultar" <% if (!dataEntry.subcategoria_id) { %>selected<% } %>>Elegí<%- !registro.angosto ? ' una opción' : '' %></option>
			<% for (let valor of registro.valores) { %>
				<option value="<%= valor.id %>" 
					class="<%= (valor.cfc ? 'CFC ' : '') + (valor.vpc ? 'VPC ' : '')  %>" <% // Coloca la categoría_id en la clase %>
					<% if (valor.id == dataEntry.subcategoria_id) { %>selected<% } %> <% // Agregar como selected si el valor de la opción coincide con el data-entry %> 
				>
					<%= valor[nombre] %>
				</option>
			<% } %>
		</select>
		<%- include("PA4-DP9-Ayuda") %>
		<%- include("CMP-Errores", {errores:"", display: false}) %>
	</div>
</section>
