<% const campo = "tipo_actuacion_id" %>
<% let {valores} = camposDA.find(n => n.nombre == campo) %>
<div id="AAD_opciones" class="inputError flexRowAlign altoFila">
	<% for (let valor of valores) { %>
		<div class="flexRowAlign">
			<label for="<%= valor.id %>"><%= valor.nombre %></label>
			<input id="<%= valor.id %>" type="radio" name="tipo_actuacion_id" value="<%= valor.id %>" <% if (!camposDE.includes(campo)&&valor.id=="1" || dataEntry.tipo_actuacion_id==valor.id) { %>checked<% } %> class="tipoActuacion">
		</div>
	<% } %>
	<%- include("CMP-Errores", {display: true, campo}) %>
</div>
