<% registro = camposDP.find(n => n.nombre == campo) %>
<section class="label-input invisible RCLV">
	<label><%= registro.titulo %></label>
	<div class="inputError">
		<!-- Input -->
		<select name="<%= campo %>" class="input RCLV" autofocus>
			<option value="1">Ninguno</option>
			<option value="2">Varios</option>
			<!-- "valor" es cada Personaje, Hecho, Valor -->
			<% for (let valor of registro.valores.filter(n => n.id > 1)) { %>
				<option value="<%= valor.id %>" 
					class="RCLV
						<% // Datos para PERSONAJES %>
						<% if (campo == "personaje_id") { %>
							<% if (valor.categoria_id) { %><%= valor.categoria_id %><% } %>
							<% if (valor.subcategoria_id) { %><%= valor.subcategoria_id %><% } %>
							<% if (valor.ap_mar_id) { %><%= 'AMA AM'+valor.ap_mar_id %><% } %>
						<% } %>
						<% // Datos para HECHOS %>
						<% if (campo == "hecho_id") { %>
							CFC
							<% if (!valor.solo_cfc) { %><%= 'VPC' %><% } %>
							<% if (valor.jss) { %><%= 'jss' %><% } %>
							<% if (valor.cnt) { %><%= 'cnt' %><% } %>
							<% if (valor.ncn) { %><%= 'ncn' %><% } %>
							<% if (valor.ama) { %><%= 'ama' %><% } %>
						<% } %>
					"
					<% // Agregar como selected si el valor de la opción coincide con el data-entry %> 
					<% if (dataEntry[campo] == valor.id) { %>selected<% } %>
				>
					<%= valor.nombre %>
				</option>
			<% } %>
		</select>
		<%- include("PA4-DP9-Ayuda") %>
		<%- include("CMP-Errores", {display: true}) %>
		<!-- Link a Relación con la vida -->
		<% if (registro.grupo=="RCLV") { %>
			<i class="linkRCLV fa-solid fa-circle-plus alta <%= campo %>" title='Agregar "<%= registro.titulo.toLowerCase() %>"'></i>
			<i class="linkRCLV fa-solid fa-square-pen edicion ocultar <%= campo %>" title='Editar "<%= registro.titulo.toLowerCase() %>"'></i>
		<% } %>
	</div>
</section>
