<% registro = camposDP.find(n => n.nombreDelCampo == campo) %>
<section class="label-input">
	<label><%= registro.titulo %></label>
	<div class="inputError">
		<!-- Input -->
		<select name="<%= campo %>" class="input <%- registro.angosto ? 'angosto' : '' %>" autofocus>
			<option value="" class="ocultar" <% if (!dataEntry[campo]) { %>selected<% } %>>Elegí<%- !registro.angosto ? ' una opción' : '' %></option>
			<% for (let valor of registro.valores) { %>
				<option value="<%= valor.id %>" 
					class="<% if ((campo == "en_color_id") && dataEntry.entidad == "peliculas" && valor.id == 2) { %><%= 'ocultar' %><% } %>" <% // Para el campo color, quita el 'parcial' en las películas %>
					<% if (dataEntry[campo] == valor.id) { %>selected<% } %> <% // Agregar como selected si el valor de la opción coincide con el data-entry %> 
				>
					<%= valor[nombre] %>
				</option>
			<% } %>
		</select>
		<%- include("PA4-DP9-Ayuda") %>
		<%- include("CMP-Errores", {display: true}) %>
	</div>
</section>
