<section id="cuerpo">
	<%- codigo == "palabrasClave" ? include("PA1-PalabrasClave") : "" %>
	<%- codigo == "desambiguar" ? include("PA2-1DesambTMDB") : "" %>
	<%- codigo == "tipoProducto" ? include("PA2-2TP-IM") : "" %>
	<%- codigo == "copiarFA" ? include("PA2-3TP-FA") : "" %>
	<%- codigo == "datosDuros" ? include("PA3-DatosDuros") : "" %>
	<%- codigo == "datosPers" ? include("PA4-DatosPers") : "" %>
	<%- codigo == "confirma" ? include("PA5-Confirma") : "" %>
	<%- codigo == "terminaste" ? include("PA6-Terminaste") : "" %>
	<%- codigo == "responsabilidad" ? include("PA9-Responsab") : "" %>
</section>
