<div id="tituloPrincipal">
	<h1 id="titulo">
		Agregá un<%= dataEntry.entidad != "capitulos" ? "a" : "" %> <%= dataEntry.prodNombre %> a nuestra Base de Datos
	</h1>
</div>
<form method="POST" enctype = "multipart/form-data" id="dataEntry" class="flexCol" >
	<section id="titulos">
		<!-- Título y Ayuda -->
		<div id="tituloSecundario">
			<h2>Paso 3 de 5: Completá los Datos Duros</h2>
			<!-- Ayuda -->
			<div class="ayuda">
				<i class="fa-solid fa-circle-question ayudaClick despl_click">
					<ul class="ayudaMostrar ocultar despl_mostrar" type="dots">
						<li>Necesitamos que nos des la información que no disponemos.</li>
						<li>Arriba de la imagen, disponés de links útiles para conseguirla.</li>
						<li>Si no conseguís algún dato que nos falte, podés  poner <em>Desconocido</em>.</li>
					</ul>	
				</i>
			</div>
		</div>
		<!-- Links a otras páginas de consulta -->
		<div class="flexCol" id="links">
			<p>Si necesitás consultar algún dato</p>
			<nav class="flexRow">
				<!-- TMDB -->
				<% if (dataEntry.fuente != "TMDB") { %>
					<% tmdb = dataEntry.nombre_original ? "search?language=es&query=" + dataEntry.nombre_original : "" %>
					<a class="logos" href="//themoviedb.org/<%= tmdb %>" target="_blank"><img src="/imagenes/0-Base/Logos/BD-TMDB.jpg" title="The Movie Database"></a>
				<% } %>
				<!-- FA -->
				<% if (dataEntry.fuente!="FA") { %>
					<% fa = dataEntry.nombre_original ? "search.php?stext=" + dataEntry.nombre_original : "" %>
					<a class="logos" href="//filmaffinity.com/es/<%= fa %>" target="_blank"><img src="/imagenes/0-Base/Logos/BD-FA.jpg" title="Film Affinity"></a>
				<% } %>
				<!-- IMDB -->
				<% imdb = dataEntry.IMDB_id ? "title/"+dataEntry.IMDB_id+"/technical" : (dataEntry.nombre_original ? "find?q="+dataEntry.nombre_original : "") %>
				<a class="logos" href="//imdb.com/<%= imdb %>" target="_blank"><img src="/imagenes/0-Base/Logos/BD-IMDB.jpg" title="Internet Movie Database"></a>
				<!-- Wikipedia -->
				<% wiki = dataEntry.nombre_castellano ? dataEntry.nombre_castellano.toLowerCase() : "" %>
				<a class="logos" href="//es.wikipedia.org/wiki/<%= wiki %>" target="_blank"><img src="/imagenes/0-Base/Logos/BD-Wiki.jpg" title="Wikipedia"></a>
				<!-- Google -->
				<% google = dataEntry.nombre_castellano ? "search?q="+dataEntry.nombre_castellano.toLowerCase() : "" %>
				<a class="logos" href="//google.com/<%= google %>" target="_blank"><img src="/imagenes/0-Base/Logos/BD-Google.jpg" title="Google"></a>
			</nav>
		</div>
	</section>
	<!-- Datos -->
	<section id="datos">
		<!--Primera columna-->
		<div id="primeraColumna">
			<!-- Primeros campos -->
			<% for (let registro of camposInput1) { %><%- include("PA3-DD1-Input", {registro, campo: registro.nombre}) %><% } %>
			<!-- País -->
			<%- include("PA3-DD2-Pais") %>
			<!-- Idioma original -->
			<%- include("PA3-DD3-Idioma", {idioma_id: dataEntry.idioma_original_id}) %>
			<!-- Siguientes campos -->
			<% for (let registro of camposInput2) { %><%- include("PA3-DD1-Input", {registro, campo: registro.nombre}) %><% } %>
			<!--Sinopsis-->
			<%- include("PA3-DD4-Sinopsis") %>
		</div>
		<!--Segunda columna-->
		<div id="segundaColumna" class="inputError">
			<% if (dataEntry.avatar_url) { %>
				<img src="/imagenes/0-Base/Avatar/Prod-Avatar-Generico.jpg" title="Usaremos la imagen de la derecha">
			<% } else { %>
				<label for="inputImagen" id="preview">
					<img src="/imagenes/0-Base/Avatar/Prod-Agrega-una-imagen.jpg">
				</label>
				<input name="avatar" id="inputImagen" type="file" accept="image/*" class="ocultar input">
				<%- include("CMP-Errores", {campo: "avatar"}) %>
			<% } %>
		</div>	
	</section>
	<!-- Flechas -->
	<section class="flechas">
		<a href="/producto/agregar/<%= origen %>" tabindex="-1" title="Volver al paso anterior"><i class="fa-solid fa-circle-left"></i></a>
		<i id="submit" class="fa-solid fa-circle-check inactivo" title="Avanzar" tabindex="0" autofocus></i>
	</section>
	<p id="entidad" class="ocultar"><%= dataEntry.entidad %></p>
</form>
