<div id="tituloPrincipal">
	<h1 id="titulo">
		Agregá un<%= dataEntry.entidad != "capitulos" ? "a" : "" %> <%= dataEntry.prodNombre %> a nuestra Base de Datos
	</h1>
</div>
<form method="POST" enctype = "multipart/form-data" id="dataEntry" class="flex-col" >
	<section id="titulos">
		<!-- Título y Ayuda -->
		<div id="tituloSecundario">
			<h2>Paso 3 de 5: Completá los Datos Duros</h2>
			<!-- Ayuda -->
			<div class="ayuda">
				<i class="fa-solid fa-circle-question ayudaClick despl_click">
					<ul class="ayudaMostrar ocultar despl_mostrar" type="dots">
						<li>Necesitamos que nos des la información que no disponemos.</li>
						<li>Arriba de la imagen, disponés de links útiles para conseguirla.</li>
					</ul>	
				</i>
			</div>
		</div>
		<!-- Links a otras páginas de consulta -->
		<div class="flex-col" id="links">
			<p>Si necesitás consultar algún dato</p>
			<nav class="flex-row">
				<!-- TMDB -->
				<% if (dataEntry.fuente!="TMDB") { %>
					<% tmdb = dataEntry.nombre_original ? "search?language=es&query=" + dataEntry.nombre_original : "" %>
					<a class="logos" href="//themoviedb.org/<%= tmdb %>" target="_blank"><img src="/imagenes/0-Logos/BD-TMDB.jpg" alt="TMDB"></a>
				<% } %>
				<!-- FA -->
				<% if (dataEntry.fuente!="FA") { %>
					<% fa = dataEntry.nombre_original ? "search.php?stext=" + dataEntry.nombre_original : "" %>
					<a class="logos" href="//filmaffinity.com/es/<%= fa %>" target="_blank"><img src="/imagenes/0-Logos/BD-FA.jpg" alt="FA"></a>
				<% } %>
				<!-- IMDB -->
				<% imdb = dataEntry.IMDB_id ? "title/"+dataEntry.IMDB_id+"/technical" : (dataEntry.nombre_original ? "find?q="+dataEntry.nombre_original : "") %>
				<a class="logos" href="//imdb.com/<%= imdb %>" target="_blank"><img src="/imagenes/0-Logos/BD-IMDB.jpg" alt="IMDB"></a>
				<% if (dataEntry.fuente!="IM") { %>
					<!-- Wikipedia -->
					<a class="logos" href="//es.wikipedia.org/wiki/<%= dataEntry.nombre_castellano.toLowerCase() %>" target="_blank"><img src="/imagenes/0-Logos/BD-Wiki.jpg" alt="Wikipedia"></a>
					<!-- Google -->
					<a class="logos" href="//google.com/search?q=<%= dataEntry.nombre_castellano.toLowerCase() %>" target="_blank"><img src="/imagenes/0-Logos/BD-Google.jpg" alt="Google"></a>
					
				<% } %>

			</nav>
		</div>
	</section>
	<!-- Datos -->
	<section id="datos">
		<!--Primera columna-->
		<div id="primeraColumna">
			<!-- Primeros campos -->
			<% for (let registro of camposDD1) { %><%- include("PA3-DD1-Input", {registro, campo: registro.nombre}) %><% } %>
			<!-- País -->
			<%- include("PA3-DD2-Pais") %>
			<!-- Idioma original -->
			<%- include("PA3-DD3-Idioma", {idioma_id: dataEntry.idioma_original_id}) %>
			<!-- Siguientes campos -->
			<% for (let registro of camposDD2) { %><%- include("PA3-DD1-Input", {registro, campo: registro.nombre}) %><% } %>
			<!--Sinopsis-->
			<%- include("PA3-DD4-Sinopsis") %>
		</div>
		<!--Segunda columna-->
		<div id="segundaColumna" class="inputError">
			<!-- Si existe una imagen y viene desde TMDB -->
			<% if (dataEntry.avatar && dataEntry.fuente == "TMDB") { %>
				<img src="<%= dataEntry.avatar %>" alt="afiche">
			<% } else { %>
				<label for="inputImagen" id="preview"></label>
				<!-- Si existe una imagen que no viene de TMDB -->
				<% if (dataEntry.avatar && dataEntry.fuente != "TMDB") { %>
					<button type="button">Hacé <em>click</em> acá y luego<br>pegá con <em>Ctrl + V</em></button>
					<p id="url" class="ocultar"><%= dataEntry.avatar %></p>
				<% } %>
				<!-- Si no existe una imagen -->
				<% if (!dataEntry.avatar) { %>
					<button type="button">Elegí una imagen<br>(puede ser una URL)</button>
				<% } %>
				<!-- Rutina para todos los casos -->
				<input name="avatar" id="inputImagen" type="file" accept="image/*" class="ocultar input">
				<!-- Errores/OK -->
				<%- include("CMP-Errores") %>
			<% } %>
		</div>	
	</section>
	<!-- Flechas y Botón -->
	<section id="flechas">
		<a href="/producto/agregar/<%= origen %>" tabindex="-1" title="Volver al paso anterior"><i class="fa-solid fa-circle-left"></i></a>
		<i id="submit" class="fa-solid fa-circle-check inactivo" title="Avanzar" tabindex="0" autofocus></i>
	</section>
	<p id="entidad" class="ocultar"><%= dataEntry.entidad %></p>
</form>
