<div id="tituloPrincipal">
	<h1 id="titulo">
		Agregá un<%= dataEntry.entidad != "capitulos" ? "a" : "" %> <%= dataEntry.prodNombre %> a nuestra Base de Datos
	</h1>
</div>
<form method="POST" id="dataEntry" class="flexCol" >
	<!-- Datos -->
	<section id="datos">
		<!--Primera columna-->
		<div id="primeraColumna">
			<!-- Título y Ayuda -->
			<div id="tituloSecundario">
				<h2>Paso 4 de 5: Datos Personalizados</h2>
				<!-- Ayuda -->
				<div class="ayuda">
					<i class="fa-solid fa-circle-question ayudaClick despl_click">
						<ul class="ayudaMostrar ocultar despl_mostrar" type="dots">
							<li>Necesitamos que nos des la información que no disponemos.</li>
							<li>Para cada dato, te sugerimos que consultes las ayudas.</li>
						</ul>	
					</i>
				</div>
			</div>
			<!-- Datos generales -->
			<div class="flexCol">
				<h3>Datos Generales</h3>
				<!--Categoría-->
				<%- include("PA4-DP1-Select", {campo: "categoria_id", nombre: "nombre"}) %>
				<!--Sub-categoría-->
				<%- include("PA4-DP2-Subcat", {campo: "subcategoria_id", nombre: "nombre"}) %>
				<!--Público sugerido-->
				<%- include("PA4-DP1-Select", {campo: "publico_sugerido_id", nombre: "nombre"}) %>
				<!--Es a Color-->
				<%- include("PA4-DP1-Select", {campo: "en_color_id", nombre: "productos"}) %>
			</div>
		</div>
		<!--Segunda columna (Avatar)-->
		<div id="segundaColumna">
			<!-- Tu calificación -->
			<div id="Calif" class="flexCol">
				<h3>Tu Calificación</h3>
				<!--No lo voy a responder ahora-->
				<%- include("PA4-DP4-Checkbox", {campo: "sinCalif", }) %>
				<div class="flexCol selects ocultar">
					<!--Inspira fe y/o valores-->
					<%- include("PA4-DP1-Select", {campo: "fe_valores_id", nombre: "nombre"}) %>
					<!--Entretiene-->
					<%- include("PA4-DP1-Select", {campo: "entretiene_id", nombre: "nombre"}) %>
					<!--Calidad Técnica-->
					<%- include("PA4-DP1-Select", {campo: "calidad_tecnica_id", nombre: "nombre"}) %>
				</div>
			</div>
			<!-- Relación con la vida -->
			<div id="RCLV" class="flexCol invisible">
				<h3 id="tituloRCLV" class="">Relación con la Vida</h3>
				<!--No lo voy a responder ahora-->
				<%- include("PA4-DP4-Checkbox", {campo: "sinRCLV", }) %>
				<div class="flexCol selects ocultar">
					<!--Personaje histórico-->
					<%- include("PA4-DP3-RCLV", {campo: "personaje_id"}) %>
					<!--Hecho histórico-->
					<%- include("PA4-DP3-RCLV", {campo: "hecho_id"}) %>
					<!--Valor-->
					<%- include("PA4-DP3-RCLV", {campo: "valor_id"}) %>
				</div>
			</div>
		</div>
	</section>
	<!-- Flechas y Botón -->
	<section class="flechas">
		<a href="/producto/agregar/datos-duros" tabindex="-1" title="Volver al paso anterior"><i class="fa-solid fa-circle-left"></i></a>
		<i id="submit" class="fa-solid fa-circle-check inactivo" title="Avanzar" tabindex="0"></i>
	</section>
</form>
