<div id="tituloPrincipal">
	<h1 id="titulo">
		Agregaste un<%= entidad != "capitulos" ? "a" : "" %> <%= prodNombre %> a nuestra Base de Datos
	</h1>
</div>
<section id="dataEntry" class="flex-col">
	<div class="flex-col">
		<!-- Título y Ayuda -->
		<div id="tituloSecundario">
			<h2>¡Terminaste!</h2>
		</div>
		<img id="gracias" src="<%= imagenMuchasGracias %>" alt="Muchas gracias">
		<ul id="datos">
			<li class="texto">La <%= prodNombre.toLowerCase() %> <strong style="font-size: inherit;"><em style="font-size: inherit;"><%= dataEntry.nombre_castellano %></em></strong> fue agregada a nuestra Base de Datos.</li>
			<div id="liConAyuda" class="inputError">
				<li class="texto">Nuestro equipo de Revisores analizará los datos ingresados.</li>
				<i class="fa-solid fa-circle-question ayudaClick despl_click">
					<ul type="disc" class="ayudaMostrar ocultar despl_mostrar">
						<li>Según la alineación del producto con nuestro perfil, el resultado será:</li>
						<ul id="subPuntos">
							<li><strong><em>Aprobado</em></strong>.</li>
							<li><strong><em>Desaprobado</em></strong>.</li>
						</ul>						
						<li>Si el registro queda aprobado, pasa a estar accesible en las consultas para todo el público.</li>
						<li>Enviamos un único mail con las novedades del día anterior.</li>
					</ul>
				</i>
			</div>
			<li class="texto">Mientras tanto, sólo <u style="font-size: inherit;">vos</u> y los revisores podrán ver el registro agregado.</li>
			<li class="texto">Si querés editarlo, podés hacerlo durante 1 hora desde que lo terminaste de agregar.</li>
			<!-- Colección -->
			<% if (entidad == "colecciones") { %>
				<% if (dataEntry.fuente == "TMDB") { %>
					<li id="partesAutomatico" class="texto"><span>Los capítulos de la colección se agregaron a nuestra BD en forma automática.</span></li>
				<% } else { %>
					<li class="texto">¡Muchas gracias! ¿Podrás ahora cargar los capítulos de la colección?</li>
				<% } %>
			<% } %>
		</ul>
	</div>
	<!-- Botones -->
	<div id="flechas">
		<% if (dataEntry.fuente != "TMDB" && entidad != "peliculas") { %>
			<a href="<%= ruta %>agregar/tipo-producto/?entidad=capitulos&id=<%= entidad == "colecciones" ? id : dataEntry.coleccion_id %>" autofocus>
				<i class="fa-solid fa-layer-group" title="Agregar un capítulo en forma manual"></i>
			</a>
		<% } %>
		<!-- Tridente 'Detalle', 'Edición', 'Links' -->
		<a href="<%= ruta + "detalle/?entidad=" + entidad + "&id=" + id %>">
			<i class="fa-solid fa-circle-info" autofocus title="Ir a la vista 'Detalle'"></i>
		</a>
		<a href="<%= ruta + "edicion/?entidad=" + entidad + "&id=" + id %>">
			<i class="fa-solid fa-pen" tabindex="-1" title="Ir a la vista 'Edición'"></i>
		</a>
		<a href="<%= "/links/abm/?entidad=" + entidad + "&id=" + id %>">
			<i class="fa-solid fa-link" tabindex="-1" title="Ir a la vista 'Links'"></i>
		</a>
	</div>	
</section>
