<% for (prod_nuevo of prod_nuevos) { %>
<li>
	<form action="<%= link %>" method="POST">
		<!-- Campos para luego enviar a Datos Duros -->
		<input class="ocultar" type="text" name="entidad_TMDB" value="<%= prod_nuevo.entidad_TMDB %>">
		<input class="ocultar" type="text" name="TMDB_id" value="<%= prod_nuevo.TMDB_id %>">
		<!-- Info a mostrar -->
		<button type="submit" class="flex-row" id= "prod_nuevo" <% if (prod_nuevo==prod_nuevos[0]) { %>autofocus<% } %>>
			<img id="imagenChica" 
				src="<%= "https://image.tmdb.org/t/p/original" + prod_nuevo.avatar %>"
				alt="<%= prod_nuevo.nombre_original %>" 
				title="<%= prod_nuevo.nombre_original %>"
			>
			<section id="texto">
				<!-- Datos del producto -->
				<div id="infoPeli">
					<p><strong><%= prod_nuevo.nombre_original %></strong></p>
					<p class="interlineadoChico"></p>
					<p><%= prod_nuevo.lanzamiento + " - " + prod_nuevo.producto %></p>
					<p class="interlineadoChico"></p>
					<p><em><%= prod_nuevo.nombre_castellano %></em></p>	
				</div>
				<!-- Coleccion -->
				<div id="coleccion" class="ocultar">
					<p>Si la elejís, serás redirigido para cargar la colección:</p>
					<p id="colec_nombre"></p>
				</div>
			</section>
		</button>
		<!-- Mensaje de Error -->
		<i class="fas fa-times-circle ocultar">
			<span class="mensajeError">
				<p>Esta película pertenece a una colección, que no figura en nuestra BD. Para avanzar, podés agregar la colección y la película se agregará automáticamente.</p>
			</span>
		</i>
	</form>
</li>
<% } %>
