<% for (let prod_enBD of prod_yaEnBD) { %>
<li>
	<a href="/producto/detalle/?entidad=<%= prod_enBD.entidad %>&id=<%= prod_enBD.YaEnBD %>">
		<!-- Campos para luego buscar los detalles -->
		<input class="ocultar" type="text" name="entidad" value="<%= prod_enBD.entidad %>">
		<input class="ocultar" type="text" name="id" value="<%= prod_enBD.YaEnBD %>">
		<!-- Info a mostrar -->
		<button type="text" class="flex-row" id= "prod_yaEnBD">
			<img id="imagenChica" src="https://image.tmdb.org/t/p/original<%= prod_enBD.avatar %>" alt="<%= prod_enBD.nombre_original %>" title="<%= prod_enBD.nombre_original %>">
			<div id="infoPeli" class="flex-col">
				<p><strong><%= prod_enBD.nombre_original %></strong></p>
				<p class="interlineadoChico"></p>
				<p><%= prod_enBD.lanzamiento + " - " + prod_enBD.prodNombre %></p>
				<p class="interlineadoChico"></p>
				<p><em><%= prod_enBD.nombre_castellano %></em></p>
			</div>
		</button>
	</a>
</li>
<% } %>
