<section class="label-input">
	<label><%= registro.titulo %></label>
	<!-- Data-entry y Errores -->
	<div class="input-error">
		<input type="text" class="input" name="<%= registro.campo %>" autocomplete="off"
			value="<%= dataEntry[registro.campo] %>"
			<% if (registro.numero) { %>id="numero" placeholder="sólo números"<% } %>
			<% if (dataEntry[registro.campo] && !errores[registro.campo]) { %>disabled<% } else { %>autofocus<% } %>
		>
		<!-- Ayuda -->
		<%- (dataEntry[registro.campo] && !errores[registro.campo]) ? include("39-DD-Mensajes") : "" %>
		<!-- Errores -->
		<i class="fas fa-times-circle <%= registro.campo %><%- !errores[registro.campo] ? ' ocultar' : '' %>">
			<span class="mensajeError <%= registro.campo %>"><%= errores[registro.campo] %></span>
		</i>
	</div>
</section>
