<% registro = camposDP.find(n => n.nombreDelCampo == campo) %>
<section class="label-input<% if (registro.grupo=="RCLV") { %> ocultar RCLV<% } %>">
	<label><%= registro.titulo %></label>
	<div class="input-error">
		<!-- Input -->
		<select name="<%= campo %>" class="input <%- registro.angosto ? 'angosto' : '' %>" <% if (dataEntry[campo] && !errores[campo]) { %>disabled<% } else { %>autofocus<% } %>>
			<option value="" class="ocultar" <% if (!dataEntry[campo]) { %>selected<% } %>>Elegí una opción</option>
			<% for (let valor of registro.valores) { %>
				<option value="<%= valor.id %>" 
					<% if (dataEntry[campo] == valor.id) { %>selected<% } %>
					<% if (campo == "subcategoria_id") { %>class="<%= valor.categoria_id %>"<% } %>
					<% if (dataEntry.entidad == "peliculas" && (campo == "en_castellano_id" || campo == "en_color_id") && valor.id == 2) { %>class="ocultar"<% } %>
				>
					<%= valor[nombre] %>
				</option>
				<!-- Agregar como selected si el valor de la opción coincide con el data-entry -->
				<!-- Agregar el valor de la categoría como clase -->
				<!-- Ocultar casos de parcial para idioma y color de películas -->
			<% } %>
		</select>
		<!-- Ayuda -->
		<i class="fa-solid fa-circle-question"></i>
		<ul type="dots" class="mensajeAyuda ocultar">
			<% if (registro.mensajePeli) {registro.mensajes = (dataEntry.entidad == "peliculas") ? registro.mensajePeli : registro.mensajeColec} %>
			<% for (let mensaje of registro.mensajes) { %><li><%= mensaje %></li><% } %> 
		</ul>
		<!-- Errores -->
		<i class="fa-solid fa-circle-xmark<%- !errores[campo] ? ' ocultar' : '' %>">
			<span class="mensajeError"><%= errores[campo] %></span>
		</i>
		<i class="fa-solid fa-circle-check ocultar" style="display: none;"></i>
		<!-- Link a Relación con la vida -->
		<% if (registro.grupo=="RCLV") { %>
			<a class="link <%= campo %>" title='Link a "Agregar <%= registro.titulo.toLowerCase() %>"' tabindex="-1"><i class="fa-solid fa-circle-plus"></i></a>
		<% } %>
	</div>
</section>
