<!-- Layout, Orden, Ascendente / Descendente -->
<section id="tituloPrincipal" class="flexRow">
	<!-- Entidad -->
	<select name="entidad_id" class="prefSimple" required>
		<% for (let entidad of cn_entidades) { %>
			<option value="<%= entidad.id %>"><%= entidad.nombre %></option>
		<% } %>
	</select>
	<!-- Orden -->
	<select name="orden_id" class="prefSimple" required>
		<optgroup label="Cuatro Películas">
			<% for (let orden of cn_ordenes.filter(n => n.cuatroPelis)) { %>
				<option value="<%= orden.id %>"><%= orden.nombre %></option>
			<% } %>
		</optgroup>
		<optgroup label="Listado">
			<% for (let orden of cn_ordenes.filter(n => !n.cuatroPelis)) { %>
				<option value="<%= orden.id %>"><%= orden.nombre %></option>
			<% } %>
		</optgroup>
	</select>
	<!-- Ayuda -->
	<div id="ayudaOrden">
		<i class="fa-solid fa-circle-question ayudaClick desplClick">
			<ul type="dots" class="ayudaMostrar ocultar desplMostrar">
				<li><span>Orden por Fecha del Año</span>: películas que acompañan la efemérides durante el año.</li>
				<li><span>Orden al Azar</span>: películas con una calificación ≥ 70%, elegidas al azar cada día.</li>
				<li><span>Orden por Nombre</span>: según el nombre de la entidad, orden ascendente.</li>
				<li><span>Orden por Año Histórico</span>: según el año en que nació el personaje u ocurrió el hecho.</li>
				<li><span>Orden por Fecha de Alta</span>: según la fecha en que la aprobamos.</li>
				<li><span>Orden por Calificación</span>: películas calificadas por los usuarios, orden descendente.</li>
			</ul>
		</i>
	</div>
</section>

<!-- Contador -->
<section id="derecha">
	<button type="text" id="contadorDeProds">...</button>
</section>
