<!--Filtros Guardados-->
<div id="configDeCabecera">
	<div id="configNueva" class="relative">
		<input name="nombre" type="text" class="absolute">
	</div>
	<select name="configCons_id">
		<option value="">Filtros Guardados...</option>
		<optgroup label="Propios">
			<% for (let configDeCabecera of configsDeCabecera.propios) { %>
				<option 
					value="<%= configDeCabecera.id %>"
					<% if (configDeCabecera.id == configCons_id) { %>selected<% } %>
				><%= configDeCabecera.nombre %></option>
			<% } %>
		</optgroup>
		<optgroup label="Predeterminados">
			<% for (let configDeCabecera of configsDeCabecera.elc) { %>
				<option 
					value="<%= configDeCabecera.id %>"
					<% if (configDeCabecera.id == configCons_id) { %>selected<% } %>
				><%= configDeCabecera.nombre %></option>
			<% } %>
		</optgroup>
	</select>
	<div id="iconos" class="flexRow">
		<i id="nuevo" class="fa-solid fa-file scale inactivo" title="Crea un filtro nuevo"></i>
		<i id="deshacer" class="fa-solid fa-rotate-left scale inactivo" title="Deshace los cambios"></i>
		<i id="guardar" class="fa-solid fa-floppy-disk scale inactivo" title="Guarda los cambios"></i>
		<i id="edicion" class="fa-solid fa-pen scale inactivo" title="Edición del nombre"></i>
		<i id="eliminar" class="fa-solid fa-trash-can scale inactivo" title="Elimina el filtro actual"></i>
	</div>
</div>
<!-- Campos -->
<div id="configsDeCampo" class="flexCol sectorConDesplV">
	<nav class="flexCol ocultar">
		<!-- PRIORITARIOS -->
		<!-- Relación con la Iglesia Católica -->
		<%- include('CN-FL-Selects', {asunto: configsConsCampos.cfc}) %>
		<!-- Epoca de Ocurrencia -->
		<%- include('CN-FL-Selects', {asunto: configsConsCampos.epocasOcurrencia}) %>
		<hr>

		<!-- EVENTUALES -->
		<!-- Basado en Hechos Reales -->
		<%- include('CN-FL-Selects', {asunto: configsConsCampos.bhr, eventual: true}) %>
		<!-- Aparición Mariana -->
		<%- include('CN-FL-Selects', {asunto: configsConsCampos.apMar, eventual: true}) %>
		<!-- Roles Iglesia -->
		<%- include('CN-FL-Selects', {asunto: configsConsCampos.rolesIgl, eventual: true}) %>
		<!-- Proceso de Canonización -->
		<%- include('CN-FL-Selects', {asunto: configsConsCampos.canons, eventual: true}) %>
		<hr>

		<!-- COLA DE PREFERENCIAS -->
		<!-- Público Recomendado -->
		<%- include('CN-FL-Selects', {asunto: configsConsCampos.publicos}) %>
		<!-- Época de Estreno -->
		<%- include('CN-FL-Selects', {asunto: configsConsCampos.epocasEstreno}) %>
		<!-- Preferencia por Película -->
		<%- include('CN-FL-Selects', {asunto: configsConsCampos.ppp_opciones}) %>
		<!-- Tipos de Link -->
		<%- include('CN-FL-Selects', {asunto: configsConsCampos.tiposLink}) %>
		<!-- Idioma Castellano -->
		<%- include('CN-FL-Selects', {asunto: configsConsCampos.castellano}) %>
		<!-- Tipo de Actuación -->
		<%- include('CN-FL-Selects', {asunto: configsConsCampos.tiposActuacion}) %>
		<!-- Musical -->
		<%- include('CN-FL-Selects', {asunto: configsConsCampos.musical}) %>
		<hr>

		<!-- Búsqueda -->
		<div id="palabrasClave" class="filtro mostrarSiempre"> 
			<input type="text" name="palabrasClave" placeholder="Buscar por palabras clave" class="prefSimple">
			<i class="fa-solid fa-circle-right" title="Aplicar las palabras"></i>
		</div>
	</nav>
</div>
