<% if (tema) { %>
	<div id="<%= tema.codigo %>" class="filtro select flexCol">
		<select name="<%= tema.codigo %>">
			<option value="" class="sinFiltro"><%= tema.titulo %></option>
			<% for (let opcion of tema.opciones) { %>
				<option value="<%= opcion.id %>"><%= opcion.nombre %></option>
			<% } %>
		</select>
	</div>
<% } %>
