<% if (tema) { %>
	<div id="<%= tema.codigo %>" class="filtro select flexCol">
		<select name="<%= tema.codigo %>">
			<option value="" class="sinFiltro"><%= tema.titulo %></option>
			<% let label %>
			<% let grupo = tema["grupo_" + tema.codigo] %>
			<% console.log(7,!!grupo, Object.keys(tema)) %> 
			<% let opciones = grupo ? grupo : tema.opciones %>
			<% for (let opcion of opciones) { %>
				<% if (typeof opcion == "string") { %>
					<% if (label) { %></optgroup><% } %>
					<% label = opcion %>
					<optgroup label="<%= label %>" class="<%= opcion.clase %>">
					<% continue %>
				<% } %>
				<option value="<%= opcion.id %>" class="<%= opcion.clase %>"><%= opcion.nombre %></option>
			<% } %>
			<% if (label) { %></optgroup><% } %>
		</select>
	</div>
<% } %>
