<div id="<%= asunto.codigo %>" class="filtro select">
	<select name="<%= asunto.codigo %>" class="<%= locals.eventual ? (asunto.codigo + 'ocultar') : 'presenciaEstable' %>">
		<option value=""><%= asunto.titulo %></option>
		<% for (let opcion of asunto.opciones) { %>
			<option 
				value="<%= opcion.id %>" class="<%= opcion.clase %>"
				<% if (opcion.id == prefsDeCampo[asunto.codigo]) { %>selected<% } %>
			><%= opcion.nombre %></option>
		<% } %>
	</select>
</div>
