<div id="<%= asunto.codigo %>" class="filtro select elegibleSimple <%= locals.class %>">
	<select name="<%= asunto.codigo %>" class="input">
		<option value=""><%= asunto.titulo %></option>
		<% let label %>
		<% let grupo = asunto["grupo_" + asunto.codigo] %>
		<% let opciones = grupo ? grupo : asunto.opciones %>
		<% for (let opcion of opciones) { %>
			<% if (!opcion.id) { %>
				<!-- Acciones si es un cambio de 'rubro' -->
				<% if (label) { %></optgroup><% } %>
				<% label = true %>
				<optgroup label="<%= opcion.nombre %>" class="<%= opcion.clase %>">
			<% } else { %>
				<!-- Acciones si es una opción dentro del mismo rubro -->
				<option 
					value="<%= opcion.id %>" class="<%= opcion.clase %>"
					<% if (opcion.id == opcionesElegidas[asunto.codigo]) { %>selected<% } %>
				><%= opcion.nombre %></option>
			<% } %>
		<% } %>
		<!-- Si se había abierto un rubro, lo cierra -->
		<% if (label) { %></optgroup><% } %>
	</select>
</div>
