<div id="<%= asunto.codigo %>" class="filtro select prefSimple <%= locals.class %>">
	<select name="<%= asunto.codigo %>" class="input">
		<option value=""><%= asunto.titulo %></option>
		<% for (let opcion of asunto.opciones) { %>
			<option 
				value="<%= opcion.id %>" class="<%= opcion.clase %>"
				<% if (opcion.id == opcionesElegidas[asunto.codigo]) { %>selected<% } %>
			><%= opcion.nombre %></option>
		<% } %>
	</select>
</div>
