<div id="tituloPrincipal" class="<%= tema %>">
	<h1 id="titulo"><%= titulo %></h1>
	<!-- Ayuda -->
	<div class="ayuda">
		<i class="fa-solid fa-circle-question ayudaClick desplClick">
			<ul type="dots" class="ayudaMostrar ocultar desplMostrar">
				<li>Estos registros están pendientes de revisar. Se necesita revisarlos a todos.</li>
				<li>En todos los casos, la novedad fue propuesta por otro usuario.</li>
				<li>Las <em>ediciones</em> a revisar son de registros aprobados.</li>
			</ul>
		</i>
	</div>
</div>
<!-- Datos -->
<% let familias, DE %>
<section id="familias">
	<div id="primeraColumna">
		<!-- PRODUCTOS -->
		<div class="bloques">
			<!-- Título y ayuda -->
			<div class="tituloSecundario">
				<!-- Título -->
				<% familias = "productos" %>
				<h2><%= familias.toUpperCase() %></h2>
				<!-- Ayuda -->
				<div class="ayuda">
					<i class="fa-solid fa-circle-question ayudaClick desplClick">
						<ul type="dots" class="ayudaMostrar ocultar desplMostrar">
							<p>Las columnas son: </p>
							<li>Fecha de la novedad</li>
							<li>Tipo de producto</li>
							<li>Nombre del producto</li>
							<li>Año de lanzamiento</li>
						</ul>
					</i>
				</div>
			</div>
			<!-- Registros -->
			<div class="temas">
				<% const rp = "revision/producto/" %>
				<% const dt = !usuario.rolUsuario.revisorPERL ? "producto/detalle" : "" %>
				<% const ed = !usuario.rolUsuario.revisorPERL ? "producto/edicion" : "" %>
				<% DE = dataEntry[familias] %>
				<% if (usuario.rolUsuario.revisorEnts) { %>
					<%- include("CMP-RegsTC", {DE, titulo: "Inactivar y Recuperar", regs: prods.IR, url: rp + "inactivar-o-recuperar"}) %>
					<%- include("CMP-RegsTC", {DE, titulo: "Ediciones", regs: prods.ED, url: rp + "edicion"}) %>
				<% } %>
				<%- include("CMP-RegsTC", {DE, titulo: "A completar - con Links", regs: prods.SE.filter(n => n.links), url: ed ? ed : "producto/edicion", mostrarOrigen: true}) %>
				<%- include("CMP-RegsTC", {DE, titulo: "A completar - sin Links", regs: prods.SE.filter(n => !n.links), url: ed ? ed : "producto/edicion", mostrarOrigen: true}) %>
				<% if (usuario.rolUsuario.revisorEnts) { %>
					<%- include("CMP-RegsTC", {DE, titulo: "A aprob/rech - con Links", regs: prods.AL.filter(n => n.links), url: dt ? dt : rp + "alta", mostrarOrigen: !!dt}) %>
					<%- include("CMP-RegsTC", {DE, titulo: "A aprob/rech - sin links", regs: prods.AL.filter(n => !n.links), url: dt ? dt : rp + "alta", mostrarOrigen: !!dt}) %>
				<% } %>
			</div>
		</div>
	</div>
	<% if (usuario.rolUsuario.revisorEnts) { %>
		<div id="segundaColumna">
			<% if (usuario.rolUsuario.revisorPERL) { %>
				<!-- RCLVs -->
				<div class="bloques" id="rclv">
					<!-- Título y ayuda -->
					<div class="tituloSecundario">
						<!-- Título -->
						<% familias = "rclvs" %>
						<h2><%= familias.toUpperCase() %></h2>
						<!-- Ayuda -->
						<div class="ayuda">
							<i class="fa-solid fa-circle-question ayudaClick desplClick">
								<ul type="none" class="ayudaMostrar ocultar desplMostrar">
									<li>Si en las altas se le cambia el nombre a algún registro, debe seguir refiriéndose a la misma entidad.</li>
								</ul>
							</i>
						</div>
					</div>
					<!-- Registros -->
					<div class="temas">
						<% let rr = "revision/rclv/" %>
						<% DE = dataEntry[familias] %>
						<%- include("CMP-RegsTC", {DE, titulo: "Inactivar y Recuperar", regs: rclvs.IR, url: rr + "inactivar-o-recuperar"}) %>
						<%- include("CMP-RegsTC", {DE, titulo: "Ediciones", regs: rclvs.ED, url: rr + "edicion"}) %>
						<%- include("CMP-RegsTC", {DE, titulo: "Altas", regs: rclvs.AL, url: rr + "alta"}) %>
						<%- include("CMP-RegsTC", {DE, titulo: "Solapamiento de Fechas", regs: rclvs.SL, url: rr + "solapamiento"}) %>
					</div>
				</div>
			<% } %>
			<% if (usuario.rolUsuario.revisorLinks) { %>
				<!-- Links -->
				<div class="bloques" id="links">
					<!-- Título y ayuda -->
					<div class="tituloSecundario">
						<!-- Título -->
						<% familias = "links" %>
						<h2><%= familias.toUpperCase() %></h2>
						<div id="porcentajeLinksAprobsEstaSem"><%= linksAprobsEstaSem + "/" + linksAprobsTotal + " = " + (Math.ceil((linksAprobsEstaSem / linksAprobsTotal) * 1000) / 10).toFixed(1) %>%</div>
						<!-- Ayuda -->
						<div class="ayuda">
							<i class="fa-solid fa-circle-question ayudaClick desplClick">
								<ul type="dots" class="ayudaMostrar ocultar desplMostrar">
									<p>Los <u>productos</u> cumplen estas condiciones:</p>
									<li>Están aprobados.</li>
									<li>Tienen algún link cuya novedad fue propuesta por otro usuario.</li>
								</ul>
							</i>
						</div>
					</div>
					<div class="temas">
						<% let rl = "revision/links" %>
						<% DE = dataEntry[familias] %>
						<%- include("CMP-RegsTC", {DE, titulo: "Primera Revisión", regs: prods.PR, url: rl}) %>
						<%- include("CMP-RegsTC", {DE, titulo: "Vencidos", regs: prods.VN, url: rl}) %>
						<%- include("CMP-RegsTC", {DE, titulo: "ABM", regs: prods.OT, url: rl}) %>
					</div>
				</div>
			<% } %>
		</div>
	<% } %>
</section>
