<div id="<%= tema.codigo %>" class="filtro checkbox vertical flexColAlign mostrar-siempre">
	<h3><%= tema.titulo %> </h3>
	<div id="label-inputs" class="flexRowAlign">
		<% for (let opcion of tema.opciones) { %>
			<div class="label-input flexRowAlign">
				<% let nombre = opcion.nombre %>
				<% if (nombre.length>5) nombre=opcion.nombre.slice(0, 5)+"." %> 
				<label><%= nombre %></label>
				<input type="checkbox" name="<%= tema.codigo %>" value="<%= opcion.id %>" class="input">
			</div>
		<% } %>
	</div>
</div>
