<div id="izquierda">
	<!-- Layout -->
	<select name="layout" required class="elegibleSimple">
		<option value="" class="ocultar siempre" selected>Elegí un layout...</option>
		<!-- Opciones en base de datos -->
		<% for (let layout of layouts) { %>
			<option value="<%= layout.codigo %>" <% if (layout.codigo == opcionesElegidas.layout) { %>selected<% } %>><%= layout.nombre %></option>
		<% } %>
	</select>
	<!-- Orden -->
	<select name="orden" required class="elegibleSimple">
		<option value="" class="ocultar siempre" selected>Ordenar por...</option>
		<!-- Opciones en base de datos -->
		<% for (let orden of ordenes) { %>
			<option 
				value="<%= orden.valor %>" 
				<% if (orden.valor == opcionesElegidas.orden && (orden.clase.includes("siempre") || orden.clase.includes(opcionesElegidas.layout))) { %>selected <% } %>
				class="<%= orden.clase + (!orden.clase.includes("siempre") && !orden.clase.includes(opcionesElegidas.layout) ? ' ocultar' : '') %>"
			><%= orden.nombre %></option>
		<% } %>
	</select>
	<!-- Ascendente / Descendente -->
	<div id="ascDes" class="flexCol">
		<div class="flexRow">
			<input type="radio" name="ascDes" value="des" id="descendente" checked class="elegiblesComplejos">
			<label for="descendente">Descendente</label>
		</div>
		<div class="flexRow">
			<input type="radio" name="ascDes" value="asc" id="ascendente" <% if (opcionesElegidas.ascDes=="asc") { %>checked<% } %> class="elegiblesComplejos">
			<label for="ascendente">Ascendente</label>
		</div>
	</div>
</div>
<div id="derecha">
	<!-- Contador -->
	<button type="text" id="contador-de-prods">Contador</button>
</div>
