<div id="<%= tema.codigo %>" class="filtro select flexCol">
	<select name="<%= tema.codigo %>" required>
		<option value=""><%= tema.titulo %></option>
		<option value="" id="sinFiltro">Sin filtro</option>
		<% for (let opcion of tema.opciones) { %>
			<option value="<%= opcion.valor %> "><%= opcion.nombre %></option>
		<% } %>
	</select>
</div>
